In [10]:
import pandas as pd

In [11]:
archivo = "C:/Users/jmartinez/Desktop/pamela/empresa_pamela.xlsx"
df1 = pd.read_excel(archivo)
df1['empresas'] = df1.empresas.str.lower()

df1.shape
df1.head

<bound method NDFrame.head of         NOMBRE        APELLIDO                            CARGO  \
0      Marcela            Hein            Total Rewards Manager
1      Osvaldo           Acuña                GERENTE PERSONAS
2      Paulina            Toro        Subgerente Compensaciones
3        FABIO  ALFIERI ARAUJO          SR Compensation Manager
4      Natalia        Sandoval                              C&B
..         ...             ...                              ...
831        Hug            Ruiz                VP COMPENSACIONES
832  Alejandro          Batres                 Gerente Comecial
833   Carolina    Díaz Infante                      Sub gerente
834      Pablo          Prieto                Jefe compensacion
835       Luz        Martínez   Subgerente Proposition Empresas

           empresas                          CORREO  dfdfd
0                3m                   mhein@mmm.com    NaN
1    abastible s.a.      osvaldo.acuna@abastible.cl    1.0
2    abastible s.a.       paulina.toro@abastible.cl    1.0
3               abb         FABIO.ARAUJO@BR.ABB.COM    1.0
4            abbott     natalia.sandoval@abbott.com    NaN
..              ...                             ...    ...
831        zucarmex              Hruiz@zucarmex.com    NaN
832          zurich  alejandro.batres@mx.zurich.com    1.0
833          zurich        Carolina.diaz@zurich.com    1.0
834          zurich         pablo.prieto@zurich.con    1.0
835          zurich   luz.maria.martinez@zurich.com    1.0

[836 rows x 6 columns]>

In [12]:
archivo2 = "C:/Users/jmartinez/Desktop/pamela/empresa_todas.xlsx"
df2 = pd.read_excel(archivo2)
df2.shape
df2.head

<bound method NDFrame.head of                                   empresas  0
0       "Apunto" Servicios De Alimentacion  1
1                                     #N/D  1
2                                       --  1
3                                     ....  1
4                      ...................  1
...                                    ... ..
6829           Zona Franca De Iquique S.A.  1
6830                     Zubale Chile Spa.  1
6831  Zublin International Gmbh Chile Spa.  1
6832                                Zurich  1
6833                        Ñanco Mix Spa.  1

[6834 rows x 2 columns]>

**Empresas Pamela**

In [13]:
otra = df1["empresas"].str.split(expand=True)
otra.columns = ['aa','bb','cc','dd','ee','ff','gg','hh','ii']

In [14]:
otra.head()

          aa    bb    cc    dd    ee    ff    gg    hh    ii
0         3m  None  None  None  None  None  None  None  None
1  abastible  s.a.  None  None  None  None  None  None  None
2  abastible  s.a.  None  None  None  None  None  None  None
3        abb  None  None  None  None  None  None  None  None
4     abbott  None  None  None  None  None  None  None  None

In [ ]:
salidaprueba = "C:/Users/jmartinez/Desktop/pamela/prueba_2.xlsx"
listado = otra['aa'].tolist()
i=0
for otro in listado:        
        df2['new'] = df2['empresas'].str.contains(listado[i])
        i+=1


print(listado)

#df2['empresas'].str.contains(listado)
otra.head()
otra.shape
otra.to_excel(salidaprueba)