In [65]:
import pandas as pd

In [66]:
archivo = "C:/Users/jmartinez/Desktop/pamela/empresa_pamela.xlsx"
df1 = pd.read_excel(archivo)
df1['empresas'] = df1.empresas.str.lower()

df1.shape
df1.head

<bound method NDFrame.head of         NOMBRE        APELLIDO                            CARGO  \
0      Marcela            Hein            Total Rewards Manager
1      Osvaldo           Acuña                GERENTE PERSONAS
2      Paulina            Toro        Subgerente Compensaciones
3        FABIO  ALFIERI ARAUJO          SR Compensation Manager
4      Natalia        Sandoval                              C&B
..         ...             ...                              ...
831        Hug            Ruiz                VP COMPENSACIONES
832  Alejandro          Batres                 Gerente Comecial
833   Carolina    Díaz Infante                      Sub gerente
834      Pablo          Prieto                Jefe compensacion
835       Luz        Martínez   Subgerente Proposition Empresas

           empresas                          CORREO
0                3m                   mhein@mmm.com
1    abastible s.a.      osvaldo.acuna@abastible.cl
2    abastible s.a.       paulina.toro@abastible.cl
3               abb         FABIO.ARAUJO@BR.ABB.COM
4            abbott     natalia.sandoval@abbott.com
..              ...                             ...
831        zucarmex              Hruiz@zucarmex.com
832          zurich  alejandro.batres@mx.zurich.com
833          zurich        Carolina.diaz@zurich.com
834          zurich         pablo.prieto@zurich.con
835          zurich   luz.maria.martinez@zurich.com

[836 rows x 5 columns]>

In [67]:
archivo2 = "C:/Users/jmartinez/Desktop/pamela/empresa_todas.xlsx"
df2 = pd.read_excel(archivo2)
df2.shape
df2.head

<bound method NDFrame.head of                                   empresas  0
0       "Apunto" Servicios De Alimentacion  1
1                                     #N/D  1
2                                       --  1
3                                     ....  1
4                      ...................  1
...                                    ... ..
6829           Zona Franca De Iquique S.A.  1
6830                     Zubale Chile Spa.  1
6831  Zublin International Gmbh Chile Spa.  1
6832                                Zurich  1
6833                        Ñanco Mix Spa.  1

[6834 rows x 2 columns]>

**Empresas Pamela**

In [68]:
otra = df1["empresas"].str.split(expand=True)
otra.columns = ['0','1','2','3','4','5','6','7','8']

In [69]:
otra.head()

           0     1     2     3     4     5     6     7     8
0         3m  None  None  None  None  None  None  None  None
1  abastible  s.a.  None  None  None  None  None  None  None
2  abastible  s.a.  None  None  None  None  None  None  None
3        abb  None  None  None  None  None  None  None  None
4     abbott  None  None  None  None  None  None  None  None

In [72]:
salidaprueba = "C:/Users/jmartinez/Desktop/pamela/prueba.xlsx"
listado = otra['0'].tolist()
i=0
for i in listado:
        df2['new'] = df2['empresas'].str.contains(listado[i])


print(listado)

#df2['empresas'].str.contains(listado)
otra.head()
otra.shape
otra.to_excel(salidaprueba)

TypeError: list indices must be integers or slices, not str