In [466]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
import shutil
import datetime
from datetime import datetime
import re
import json
from pandas.api.types import is_numeric_dtype
from simple_salesforce import Salesforce, format_soql, format_external_id
from simple_salesforce.exceptions import SalesforceMalformedRequest
import simpler_sf

simpler_sf.simple_salesforce()

In [467]:
with open("login.json", "r") as j:
    misDatos = json.load(j)

In [468]:
# para smart query
""" sf = simple_salesforce.Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
 """
# para lo demas
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
# paramiko.util.log_to_file("paramiko.log")
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")

Descarga de empresas en sistema

In [469]:
llamadaEmpresaAntiguas = "SELECT Id,Empresa__r.Id, Empresa__r.Name, Empresa__r.Holding__c, Empresa__r.Campa_a__c, Empresa__r.Id_Empresa__c, Empresa__r.Empleador__c, Empresa__r.poliza__c, Empresa__r.RUT_Empresa__c, Empresa__r.Corredor__c,Empresa__r.Padre_Empresa__c, Name FROM Programas_por_Empresas__c WHERE Empresa__r.Padre_Empresa__c = false"
vllamadaEmpresa = sf.smart_query(llamadaEmpresaAntiguas)
vllamadaEmpresa.to_excel("F:/Empresas SF/reportes/empresas_Antiguas.xlsx", index=False)
vllamadaEmpresa.head()

100%|██████████| 1/1 [00:10<00:00, 10.50s/it]

,Id,Empresa__r.Id,Empresa__r.Name,Empresa__r.Holding__c,Empresa__r.Campa_a__c,Empresa__r.Id_Empresa__c,Empresa__r.Empleador__c,Empresa__r.poliza__c,Empresa__r.RUT_Empresa__c,Empresa__r.Corredor__c,Empresa__r.Padre_Empresa__c,Name
0,a1W8c000007c5aIEAQ,0018c00002k9KwBAAU,Aldo Conti MX,-,Aldo Conti,EMP10376,Aldo Conti MX,-,-,-,False,A-9930
1,a1W8c000007c669EAA,0018c00002k9yOCAAY,Caja de Compensación de Asignación Familiar de...,Itaú,Vida Security,EMP10377,Caja de Compensación de Asignación Familiar de...,283144,81826800-9,-,False,A-9931
2,a1W8c000007c66AEAQ,0018c00002k9yODAAY,Itaú Corpbanca,Itaú,Vida Security,EMP10378,Itaú Corpbanca,283147,97023000-9,-,False,A-9932
3,a1W8c000007c66BEAQ,0018c00002k9yOEAAY,Itaú Corpbanca,Itaú - sin servicio,Vida Security,EMP10379,Itaú Corpbanca,283148,-,-,False,A-9933
4,a1W8c000007c66CEAQ,0018c00002k9yOFAAY,Itaú Corpbanca,Itaú,Vida Security,EMP10380,Itaú Corpbanca,283149,-,-,False,A-9934

vllamadaEmpresa.shape

In [470]:
# Recuperar empresas ID de salesforce desde Account
results = sf.query_all(
    """
  SELECT Id, name, Holding__c ,Campa_a__c,Id_Empresa__c,Empleador__c,poliza__c,RUT_Empresa__c  FROM account where ispersonaccount = false  AND Nueva_Estructura__c = False
    """
)
Empresas_SF = pd.DataFrame(results["records"])
Empresas_SF = Empresas_SF[
    [
        "Id",
        "Name",
        "Holding__c",
        "Campa_a__c",
        "Id_Empresa__c",
        "Empleador__c",
        "poliza__c",
        "RUT_Empresa__c",
    ]
]
Empresas_SF.shape

(8228, 8)

In [471]:
# buscar empresas desde Programas_por_Empresas__c datos de empresas
results = sf.query_all(
    """
   select Id,Empresa__c, Empresa_Padre__c,Nombre_Empresa__c, Name  from Programas_por_Empresas__c 
    """
)
Programas_por_empresa_SF = pd.DataFrame(results["records"])

Programas_por_empresa_SF = Programas_por_empresa_SF[
    ["Id", "Empresa__c", "Empresa_Padre__c", "Nombre_Empresa__c", "Name"]
]
Programas_por_empresa_SF.shape

(7912, 5)

In [472]:
# Union de Programas Empresa y empresas
Programas_empresas = pd.merge(
    left=Empresas_SF,
    right=Programas_por_empresa_SF,
    how="left",
    left_on="Id",
    right_on="Empresa__c",
)
Programas_empresas = Programas_empresas.rename(
    columns={
        "Id_x": "Id Account Empresa",
        "Name_x": "Nombre Empresa",
        "Holding__c": "Holding",
        "Campa_a__c": "Campaña",
        "Empleador__c": "Empleador",
        "poliza__c": "Poliza",
        "RUT_Empresa__c": "Rut Empresa",
        "Id_y": "Programas_por_Empresas__c",
        "Id_Empresa__c": "Codigo EMP",
        "Name_y": "Codigo A",
    }
)
Programas_empresas = Programas_empresas[
    [
        "Id Account Empresa",
        "Nombre Empresa",
        "Holding",
        "Campaña",
        "Empleador",
        "Poliza",
        "Rut Empresa",
        "Programas_por_Empresas__c",
        "Codigo EMP",
        "Codigo A",
    ]
]

Programas_empresas.shape

(8234, 10)

In [473]:
Programas_empresas.to_excel("F:/Empresas SF/reportes/empresas.xlsx", index=False)

In [474]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

100%|██████████| 1/1 [00:09<00:00,  9.71s/it]

,P_liza__c,Nombre_de_Empresa__c,Identificador__c,Rut_Empresa__c,Empresa_Padre__r.Name,Holding__c,Plan__c,Pais__c,Activo__c,Id,LLave,dato
0,Sin Póliza Asociada,Colaboradores Care Assistance Chile SPA,Colaboradores Care Assistance Chile SPA,775173998,Colaboradores,Siempre Chile SPA,Plan Gold,Chile,False,a3yRN0000006mmjYAA,775173998Sin Póliza Asociada,1
1,-,Apunto Servicios De Alimentacion,Apunto Servicios De Alimentacion,-,Consalud,Holding Consalud,-,Chile,False,a3yRN0000006rG9YAI,-,1
2,-,2M Inmobiliaria Spa.,2M Inmobiliaria Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGAYAY,-,1
3,-,360 Gms Capacitacion Spa.,360 Gms Capacitacion Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGBYAY,-,1
4,-,361 Gms Capacitacion Spa.,361 Gms Capacitacion Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGCYAY,-,1

fin empresas y comienzo de rescate de pacientes

In [475]:
# CArga de PAcientes
results = sf.query_all(
    """
    select Id, IdentificationId__pc,Name, Identification_Type__c, Ocupaci_n__c,  PersonTitle ,PersonDepartment,HealthCloudGA__Gender__pc,Phone,PersonContactId  from Account where ispersonaccount = True 
   """
)
Pacientes_SF = pd.DataFrame(results["records"])

Pacientes_SF = Pacientes_SF[
    [
        "Id",
        "IdentificationId__pc",
        "Name",
        "Identification_Type__c",
        "Ocupaci_n__c",
        "PersonTitle",
        "PersonDepartment",
        "HealthCloudGA__Gender__pc",
        "Phone",
        "PersonContactId",
    ]
]
Pacientes_SF = Pacientes_SF.rename(
    columns={
        "Id": "Id Account Paciente",
        "IdentificationId__pc": "Rut",
        "Name": "Nombre",
        "Ocupaci_n__c": "Ocupacion",
        "PersonTitle": "Cargo",
        "PersonDepartment": "Departamento",
        "HealthCloudGA__Gender__pc": "Sexo",
        "Phone": "Telefono",
        "Identification_Type__c": "Tipo de Documento",
        "PersonContactId": "Id Contacto",
    }
)
Pacientes_SF.shape

(1924709, 10)

In [476]:
def siPrimerCero(y):
    if len(y) <= 7:
        return "NONE"
    if y[0] == "0":
        y = y[1:]
    return y

In [477]:
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.upper()
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("-", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("–", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].apply(lambda y: siPrimerCero(y))
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2104\928634061.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")

In [478]:
Pacientes_Nones1 = Pacientes_SF[(Pacientes_SF["Rut"] == "NONE")]
Pacientes_SF = Pacientes_SF[(Pacientes_SF["Rut"] != "NONE")]
Pacientes_Nones1.to_excel("F:/Empresas SF/reportes/NONE1.xlsx", index=False)

Aca se comienzan a unir las relaciones de pacientes y empresas ya creadas.

# buscar empresas desde Paciente_Programas\_\_c relaciones de empresas con pacientes

results = sf.query_all(
"""
select Id,Paciente**c, Programas_por_Empresas**c,padre**c from Paciente_Programas**c  
 """
)
Paciente_Programas_SF = pd.DataFrame(results["records"])

Paciente_Programas_SF = Paciente_Programas_SF[
["Id", "Paciente__c", "Programas_por_Empresas__c", "padre__c"]
]
Paciente_Programas_SF = Paciente_Programas_SF.rename(
columns={
"Id": "Id Pacientes_Programas**c",
"Paciente**c": "Id Account",
"Programas_por_Empresas**c": "Programas_por_Empresas**c",
"padre\_\_c": "Nombre Campaña",
}
)
Paciente_Programas_SF.shape

# Union de Pacientes Programas y Programas por empresa

empresas_unidas = pd.merge(
left=Paciente_Programas_SF,
right=Programas_empresas,
how="left",
left_on="Programas_por_Empresas**c",
right_on="Programas_por_Empresas**c",
)
empresas_unidas.shape

Carga de Archivo carga

In [483]:
nuevos = "F:/Empresas SF/reportes/carga.xlsx"
campaña = "Willis Tower Watson"
Pais = "Chile"
# Pais = "México"

Pacientes_Archivo = pd.read_excel(nuevos)
# OJO se copia rut1 a rut le saca el guoion
Pacientes_Archivo.head(5)

,Rut Titular,rut1,rut2,Nombre,apellidos,nombres,email,nacimiento,Relación,poliza,Dirección,empleador,rutE
0,13298813-7,13298813-7,13298813-7,TRUJILLO JARA HERNAN LUIS,TRUJILLO JARA,HERNAN LUIS,H.TRUJILLO.J@GMAIL.COM ...,NaT,TITULAR,7769,NaN,7769,7769
1,NaN,16257448-5,13298813-7,ALVAREZ PRIETO ANGELA MICHELLE,ALVAREZ PRIETO,ANGELA MICHELLE,NaN,NaT,CONYUGE,7769,NaN,7769,7769
2,NaN,24367157-4,13298813-7,TRUJILLO ALVAREZ MAIKA MICHELLE,TRUJILLO ALVAREZ,MAIKA MICHELLE,NaN,2013-08-17,HIJO,7769,NaN,7769,7769
3,10585238-K,10585238-K,10585238-K,URRUTIA MARTINEZ JOHONNY ANTONIO,URRUTIA MARTINEZ,JOHONNY ANTONIO,romega945@gmail.com ...,1971-03-18,TITULAR,7769,NaN,7769,7769
4,NaN,21389880-9,10585238-K,URRUTIA GALIANO DAMARIS ARLETE,URRUTIA GALIANO,DAMARIS ARLETE,NaN,2013-09-13,HIJO,7769,NaN,7769,7769

In [484]:
Pacientes_Archivo.shape

(1079, 13)

In [485]:
Pacientes_IDrut = Pacientes_SF[
    [
        "Rut",
        "Id Account Paciente",
        "Id Contacto",
    ]
]

In [486]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut1"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("-", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("–", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.upper()
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.strip()

Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.upper()
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.strip()
Pacientes_Archivo.shape

Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].astype(str)
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.upper()
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("-", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("–", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2104\2565835100.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2104\2565835100.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")

(1079, 14)

In [487]:
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rut2"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("-", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("–", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.upper()
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2104\2296516763.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")

(1079, 15)

In [488]:
if ("nombres" in Pacientes_Archivo.columns) == True:
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(",", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("-", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.title()
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.strip()
    # Pacientes_Archivo["empresa"] = Pacientes_Archivo["empresa"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(",", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("-", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2104\1579381385.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2104\1579381385.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")

In [489]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo

# Pacientes_Nones = Pacientes_Archivo[(Pacientes_Archivo["rut"] == "NONE") | (Pacientes_Archivo["rutT"] == "NONE")]
# Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE") | (Pacientes_Archivo["rutT"] != "NONE")]

,Rut Titular,rut1,rut2,Nombre,apellidos,nombres,email,nacimiento,Relación,poliza,Dirección,empleador,rutE,rut,rutT
0,13298813-7,13298813-7,13298813-7,TRUJILLO JARA HERNAN LUIS,Trujillo Jara,Hernan Luis,H.TRUJILLO.J@GMAIL.COM ...,NaT,TITULAR,7769,NaN,7769,7769,132988137,132988137
1,NaN,16257448-5,13298813-7,ALVAREZ PRIETO ANGELA MICHELLE,Alvarez Prieto,Angela Michelle,NaN,NaT,CONYUGE,7769,NaN,7769,7769,162574485,132988137
2,NaN,24367157-4,13298813-7,TRUJILLO ALVAREZ MAIKA MICHELLE,Trujillo Alvarez,Maika Michelle,NaN,2013-08-17,HIJO,7769,NaN,7769,7769,243671574,132988137
3,10585238-K,10585238-K,10585238-K,URRUTIA MARTINEZ JOHONNY ANTONIO,Urrutia Martinez,Johonny Antonio,romega945@gmail.com ...,1971-03-18,TITULAR,7769,NaN,7769,7769,10585238K,10585238K
4,NaN,21389880-9,10585238-K,URRUTIA GALIANO DAMARIS ARLETE,Urrutia Galiano,Damaris Arlete,NaN,2013-09-13,HIJO,7769,NaN,7769,7769,213898809,10585238K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1074,NaN,12874953-5,12797734-8,ELIAS ALEJANDRO CONSTANCIO SALAZAR,Elias Alejandro,Constancio Salazar,NaN,1975-03-24,CONYUGE,7769,NaN,7769,7769,128749535,127977348
1075,NaN,20429614-6,12797734-8,MONDACA TRONCOSO EDUARDO,Mondaca Troncoso,Eduardo,NaN,2000-06-12,HIJO,7769,NaN,7769,7769,204296146,127977348
1076,NaN,22947754-4,12797734-8,CONSTANCIO TRONCOSO MARIA JOSE,Constancio Troncoso,Maria Jose,NaN,2009-02-16,HIJO,7769,NaN,7769,7769,229477544,127977348
1077,16210325-3,16210325-3,16210325-3,TRONCOSO MALEBRAN CRISTIAN ANDRES,Troncoso Malebran,Cristian Andres,CRISTIAN.TRONCOSO@WOODPLC.COM ...,1986-07-10,TITULAR,7769,NaN,7769,7769,162103253,162103253
1078,NaN,24209428-K,16210325-3,PRIETO DEL VAL ILSE JOAN,Prieto Del,Val Ilse Joan,NaN,1992-09-06,CONYUGE,7769,NaN,7769,7769,24209428K,162103253

In [ ]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo22.xlsx", index=False)

In [490]:
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE")]
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rutT"] != "NONE")]
# | (Pacientes_Archivo["rutT"] != "NONE")

PAcientes Programas

In [491]:
query_pacientePrograma = (
    "SELECT Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id from Paciente_Programas__c where padre__c =  '"
    + campaña
    + "'"
)
pacientePrograma = sf.smart_query(query_pacientePrograma)
pacientePrograma.head()

100%|██████████| 1/1 [00:08<00:00,  8.31s/it]

Empty DataFrame
Columns: [Paciente__r.IdentificationId__pc, Programas_por_Empresas__r.Empresa__c, Id, Paciente__c]
Index: []

In [492]:
pacientePrograma = pacientePrograma.rename(
    columns={
        "Id": "Id Paciente Programas",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Programas_por_Empresas__r.Empresa__c": "Id Account Empleador",
        "Paciente__c": "Id Account Paciente",
    }
)
pacientePrograma.head()

Empty DataFrame
Columns: [Rut, Id Account Empleador, Id Paciente Programas, Id Account Paciente]
Index: []

In [493]:
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("-", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("–", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.upper()
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.strip()
pacientePrograma.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2104\3172767859.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")

(0, 4)

In [494]:
PacientesProgramas_PacientesSF = pd.merge(
    left=pacientePrograma,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)

PacientesProgramas_PacientesSF.head()

Empty DataFrame
Columns: [Rut_x, Id Account Empleador, Id Paciente Programas, Rut_y, Id Account Paciente, Id Contacto]
Index: []

account contact relation

In [495]:
query_accountContact = (
    "select Id,ContactId, AccountId, RutContact__c ,Contact.AccountId from AccountContactRelation where Account.Campa_a__c = '"
    + campaña
    + "'"
)
accountContactRelation = sf.smart_query(query_accountContact)
accountContactRelation.head()

100%|██████████| 1/1 [00:03<00:00,  3.70s/it]

Empty DataFrame
Columns: [RutContact__c, ContactId, AccountId, Contact.AccountId, Id]
Index: []

In [496]:
accountContactRelation = accountContactRelation.rename(
    columns={
        "Id": "Id AccountContactRelation",
        "ContactId": "Id Contact Paciente",
        "AccountId": "Id Account Empresa",
        "RutContact__c": "Rut",
        "Contact.AccountId": "Id Account Paciente",
    }
)
accountContactRelation.head()

Empty DataFrame
Columns: [Rut, Id Contact Paciente, Id Account Empresa, Id Account Paciente, Id AccountContactRelation]
Index: []

In [497]:
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("-", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("–", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.upper()
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.strip()
accountContactRelation.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2104\2268980097.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")

(0, 5)

In [498]:
AccountContact_PacientesSF = pd.merge(
    left=accountContactRelation,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
AccountContact_PacientesSF.head()

Empty DataFrame
Columns: [Rut_x, Id Contact Paciente, Id Account Empresa, Id AccountContactRelation, Rut_y, Id Account Paciente, Id Contacto]
Index: []

empresa contacto convenio

In [499]:
query_empresacontactoconvenio = (
    "select Id,Paciente__r.IdentificationId__pc,  Empresa__c, Paciente__c,N_Documento_Titular__c from EmpresaContactoConvenios__c where Empresa__r.Campa_a__c = '"
    + campaña
    + "'"
)
empresacontactoconvenio = sf.smart_query(query_empresacontactoconvenio)
empresacontactoconvenio.head()

100%|██████████| 1/1 [00:09<00:00,  9.14s/it]

,Id,Paciente__r.IdentificationId__pc,Empresa__c,Paciente__c,N_Documento_Titular__c
0,a40RN000000yBdJYAU,134559640,a3yRN0000007nATYAY,0018c00002ghUXBAA2,134559640
1,a40RN000000yBdKYAU,178494600,a3yRN0000007nATYAY,0018c00002ghUXDAA2,178494600
2,a40RN000000yBdLYAU,135033049,a3yRN0000007nATYAY,0018c00002ghUQRAA2,135033049
3,a40RN000000yBdMYAU,150169437,a3yRN0000007nATYAY,0018c00002ghUXEAA2,150169437
4,a40RN000000yBdNYAU,110497210,a3yRN0000007nATYAY,0018c00002ghUQYAA2,110497210

In [500]:
empresacontactoconvenio = empresacontactoconvenio.rename(
    columns={
        "Id": "Id EmpresaContactoConvenio",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Empresa__c": "Id Convenio Empresa",
        "Paciente__c": "Id Account Paciente",
        "N_Documento_Titular__c": "Rut Titular",
    }
)
empresacontactoconvenio.head()

,Id EmpresaContactoConvenio,Rut,Id Convenio Empresa,Id Account Paciente,Rut Titular
0,a40RN000000yBdJYAU,134559640,a3yRN0000007nATYAY,0018c00002ghUXBAA2,134559640
1,a40RN000000yBdKYAU,178494600,a3yRN0000007nATYAY,0018c00002ghUXDAA2,178494600
2,a40RN000000yBdLYAU,135033049,a3yRN0000007nATYAY,0018c00002ghUQRAA2,135033049
3,a40RN000000yBdMYAU,150169437,a3yRN0000007nATYAY,0018c00002ghUXEAA2,150169437
4,a40RN000000yBdNYAU,110497210,a3yRN0000007nATYAY,0018c00002ghUQYAA2,110497210

In [501]:
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("-", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("–", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(" ", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.upper()
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.strip()
empresacontactoconvenio.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2104\2240900084.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")

(4393, 5)

In [502]:
empresacontactoconvenio_PacientesSF = pd.merge(
    left=empresacontactoconvenio,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
empresacontactoconvenio_PacientesSF.head()

,Id EmpresaContactoConvenio,Rut_x,Id Convenio Empresa,Id Account Paciente,Rut Titular,Rut_y,Id Contacto
0,a40RN000000yBdJYAU,134559640,a3yRN0000007nATYAY,0018c00002ghUXBAA2,134559640,134559640,0038c00003BY3yFAAT
1,a40RN000000yBdKYAU,178494600,a3yRN0000007nATYAY,0018c00002ghUXDAA2,178494600,178494600,0038c00003BY3yHAAT
2,a40RN000000yBdLYAU,135033049,a3yRN0000007nATYAY,0018c00002ghUQRAA2,135033049,135033049,0038c00003BY3rZAAT
3,a40RN000000yBdMYAU,150169437,a3yRN0000007nATYAY,0018c00002ghUXEAA2,150169437,150169437,0038c00003BY3yIAAT
4,a40RN000000yBdNYAU,110497210,a3yRN0000007nATYAY,0018c00002ghUQYAA2,110497210,110497210,0038c00003BY3rgAAD

In [ ]:
""" if(campaña!="MetLife"):
    pacientePrograma.to_excel("F:/Empresas SF/reportes/paciente_programas.xlsx", index=False) """

Rescatamos todos los ruts Id con su empresa desde la campaña

In [503]:
Pacientes_Archivo.head()

,Rut Titular,rut1,rut2,Nombre,apellidos,nombres,email,nacimiento,Relación,poliza,Dirección,empleador,rutE,rut,rutT
0,13298813-7,13298813-7,13298813-7,TRUJILLO JARA HERNAN LUIS,Trujillo Jara,Hernan Luis,H.TRUJILLO.J@GMAIL.COM ...,NaT,TITULAR,7769,NaN,7769,7769,132988137,132988137
1,NaN,16257448-5,13298813-7,ALVAREZ PRIETO ANGELA MICHELLE,Alvarez Prieto,Angela Michelle,NaN,NaT,CONYUGE,7769,NaN,7769,7769,162574485,132988137
2,NaN,24367157-4,13298813-7,TRUJILLO ALVAREZ MAIKA MICHELLE,Trujillo Alvarez,Maika Michelle,NaN,2013-08-17,HIJO,7769,NaN,7769,7769,243671574,132988137
3,10585238-K,10585238-K,10585238-K,URRUTIA MARTINEZ JOHONNY ANTONIO,Urrutia Martinez,Johonny Antonio,romega945@gmail.com ...,1971-03-18,TITULAR,7769,NaN,7769,7769,10585238K,10585238K
4,NaN,21389880-9,10585238-K,URRUTIA GALIANO DAMARIS ARLETE,Urrutia Galiano,Damaris Arlete,NaN,2013-09-13,HIJO,7769,NaN,7769,7769,213898809,10585238K

Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

Pacientes_Archivo.drop_duplicates(
[
"rut",
"rutT",
"LLaveEmpresa",
"LLAveRut",
],
keep="last",
)
Pacientes_Archivo.shape

In [504]:
print(campaña)

Willis Tower Watson

In [505]:
Pacientes_Archivo["RutEstaoNo"] = Pacientes_Archivo["rut"].isin(Pacientes_SF["Rut"])

In [ ]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo.xlsx", index=False)

In [506]:
# aca a los pacientes del archivo se les asigna sus datos en SF
Pacientes_con_id = pd.merge(
    left=Pacientes_Archivo,
    right=Pacientes_SF,
    how="left",
    left_on="rut",
    right_on="Rut",
)
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/Pacientes_con_id.xlsx", index=False)
Pacientes_con_id.shape

(1079, 26)

In [507]:
Pacientes_con_id.head()

,Rut Titular,rut1,rut2,Nombre_x,apellidos,nombres,email,nacimiento,Relación,poliza,...,Id Account Paciente,Rut,Nombre_y,Tipo de Documento,Ocupacion,Cargo,Departamento,Sexo,Telefono,Id Contacto
0,13298813-7,13298813-7,13298813-7,TRUJILLO JARA HERNAN LUIS,Trujillo Jara,Hernan Luis,H.TRUJILLO.J@GMAIL.COM ...,NaT,TITULAR,7769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,16257448-5,13298813-7,ALVAREZ PRIETO ANGELA MICHELLE,Alvarez Prieto,Angela Michelle,NaN,NaT,CONYUGE,7769,...,0018c00002ehmNtAAI,162574485,Alvarez Prieto Angela Michelle Alvarez Prieto,RUT,None,None,None,Otros,None,0038c000039HlRsAAK
2,NaN,24367157-4,13298813-7,TRUJILLO ALVAREZ MAIKA MICHELLE,Trujillo Alvarez,Maika Michelle,NaN,2013-08-17,HIJO,7769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10585238-K,10585238-K,10585238-K,URRUTIA MARTINEZ JOHONNY ANTONIO,Urrutia Martinez,Johonny Antonio,romega945@gmail.com ...,1971-03-18,TITULAR,7769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,21389880-9,10585238-K,URRUTIA GALIANO DAMARIS ARLETE,Urrutia Galiano,Damaris Arlete,NaN,2013-09-13,HIJO,7769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

In [508]:
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")


def isValid(email):
    if re.fullmatch(regex, email):
        return email
    else:
        return ""


def fechaValida(fecha):
    fecha = str(fecha)
    fecha1 = str(fecha)
    
    #datetime.strptime(fecha, '%Y-%m-%d')
    
    try:
        fecha = datetime.strptime(fecha, '%Y-%m-%d %H:%M:%S')
        date_string = fecha1
        print("date_string =", date_string)
        print("type of date_string =", type(date_string))

        date_object = datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")

        print("date_object =", date_object)
        print("type of date_object =", type(date_object))
        if fecha == "":
            return ""
        else:
            return fecha
    except ValueError:
        return ""

In [ ]:
Pacientes_con_id["dertyuiop"] = Pacientes_con_id["nacimiento"]
Pacientes_con_id["derty"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
Pacientes_con_id.head()

In [509]:


# Final_pacientes_y_empresa = Pacientes_con_ID
Subir_pacientes = pd.DataFrame()
# Subir_pacientes["Email_Seteado__c"] = ""
Subir_pacientes["RutEstaoNo"] = Pacientes_con_id["RutEstaoNo"]
# agrupar = empresasqfaltan[empresasqfaltan['si']==False]


if ("nombres" in Pacientes_con_id.columns) == True:
    Subir_pacientes["FirstName"] = Pacientes_con_id["nombres"]
if ("apellidos" in Pacientes_con_id.columns) == True:
    Subir_pacientes["LastName"] = Pacientes_con_id["apellidos"]
if ("rut" in Pacientes_con_id.columns) == True:
    Subir_pacientes["IdentificationId__pc"] = (
        Pacientes_con_id["rut"].astype(str).str.upper()
    )


if ("email" in Pacientes_con_id.columns) == True:
    # Pacientes_con_id["email"] = Pacientes_con_id["email"].astype(str).str.lower().replace("nan","")
    Subir_pacientes["PersonEmail"] = Pacientes_con_id["email"].astype(str).str.lower()
    Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].apply(
        lambda y: isValid(y)
    )
    Subir_pacientes["Email_Seteado__c"] = np.where(
        Subir_pacientes["PersonEmail"] != "", "True", "False"
    )

    # Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].str.replace("no informado", "")
#if ("nacimiento" in Pacientes_con_id.columns) == True:    
#    Subir_pacientes["PersonBirthdate"] = pd.to_datetime(Pacientes_con_id["nacimiento"].astype(str), format="%Y-%m-%d")  
if ("nacimiento" in Pacientes_con_id.columns) == True:    
    #try:
    Subir_pacientes["PersonBirthdate"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
    #except ValueError:
        #Subir_pacientes["PersonBirthdate"] = pd.to_datetime("1900-01-01", format="%Y-%m-%d")
 
if ("sexo" in Pacientes_con_id.columns) == True:
    Sexo = {
        "H": "Hombre",
        "m": "Hombre",
        "Masculino": "Hombre",
        "Femenino": "Mujer",
        "": "Prefiero no responder",
        "HOMBRE": "Hombre",
        "MUJER": "Mujer",
        "F": "Mujer",
        "O": "Prefiero no responder",
        "Ambos": "Prefiero no responder",
        "N": "Prefiero no responder",
        "Otro": "Prefiero no responder",
        "n": "Prefiero no responder",
        "N": "Prefiero no responder",
        "FEMENINO": "Mujer",
        "f": "Mujer",
        "MASCULINO": "Hombre",
        "m": "Hombre",
        "M ": "Hombre",
        "M": "Hombre",
        "F ": "Mujer",
        "Varón": "Hombre",
        "varon": "Hombre",
    }
    Pacientes_con_id.replace({"sexo": Sexo}, inplace=True)
    Subir_pacientes["HealthCloudGA__Gender__pc"] = Pacientes_con_id["sexo"]
if ("direccion" in Pacientes_con_id.columns) == True:
    Subir_pacientes["BillingStreet"] = (
        Pacientes_con_id["direccion"].str.lower().replace("nan", "")
    )
    # Subir_pacientes["BillingStreet"] = Final_pacientes_y_empresa["direccion"]
if ("comuna" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
    Subir_pacientes["BillingState"] = (
        Pacientes_con_id["comuna"].str.title().replace("NaN", "")
    )
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
if ("ciudad" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingCity"] = Final_pacientes_y_empresa["ciudad"]
    Subir_pacientes["BillingCity"] = (
        Pacientes_con_id["ciudad"].str.title().replace("NaN", "")
    )

if ("cargo" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonTitle"] = Pacientes_con_id["cargo"].str.title()

if ("division" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonDepartment"] = Pacientes_con_id["division"].str.title()

if ("celular" in Pacientes_con_id.columns) == True:
    Subir_pacientes["Phone"] = (
        Pacientes_con_id["celular"].apply(str).str.strip().replace("+", "")
    )
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NaN", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace(".", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("Nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("-", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("0", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("No Informado", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("_", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("/", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("+", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("null", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NULL", "")


Subir_pacientes["RecordTypeId"] = "0128c000002Byp4AAC"
Subir_pacientes["Cuenta_validada__c"] = "True"


if Pais == "Chile":
    Subir_pacientes["BillingCountry"] = "Chile"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtnEAE"
else:
    Subir_pacientes["BillingCountry"] = "México"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtsEAE"

Subir_pacientes_Que_no_Estan = Subir_pacientes
Subir_pacientes_Estan = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == True]
Subir_pacientes = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == False]


# Subir_pacientes.PersonEmail = Subir_pacientes.PersonEmail.fillna('')
Subir_pacientes.to_excel(
    "F:/Empresas SF/reportes/Pacientes_Que_No_Estaban.xlsx", index=False
)
Subir_pacientes.head()

date_string = 2013-08-17 00:00:00
type of date_string = <class 'str'>
date_object = 2013-08-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-03-18 00:00:00
type of date_string = <class 'str'>
date_object = 1971-03-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2013-09-13 00:00:00
type of date_string = <class 'str'>
date_object = 2013-09-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-07-13 00:00:00
type of date_string = <class 'str'>
date_object = 1978-07-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1981-05-02 00:00:00
type of date_string = <class 'str'>
date_object = 1981-05-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2014-10-10 00:00:00
type of date_string = <class 'str'>
date_object = 2014-10-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-07-22 00:00:00
type of date_string = <class 'str'>
date_object = 1975-07-22 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1980-11-24 00:00:00
type of date_string = <class 'str'>
date_object = 1980-11-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2008-07-03 00:00:00
type of date_string = <class 'str'>
date_object = 2008-07-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1977-05-25 00:00:00
type of date_string = <class 'str'>
date_object = 1977-05-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2005-04-10 00:00:00
type of date_string = <class 'str'>
date_object = 2005-04-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1989-07-24 00:00:00
type of date_string = <class 'str'>
date_object = 1989-07-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1987-12-15 00:00:00
type of date_string = <class 'str'>
date_object = 1987-12-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1988-03-09 00:00:00
type of date_string = <class 'str'>
date_object = 1988-03-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2012-10-27 00:00:00
type of date_string = <class 'str'>
date_object = 2012-10-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2019-11-05 00:00:00
type of date_string = <class 'str'>
date_object = 2019-11-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1991-09-17 00:00:00
type of date_string = <class 'str'>
date_object = 1991-09-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1992-07-21 00:00:00
type of date_string = <class 'str'>
date_object = 1992-07-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-01-10 00:00:00
type of date_string = <class 'str'>
date_object = 1971-01-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-07-20 00:00:00
type of date_string = <class 'str'>
date_object = 1972-07-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-09-07 00:00:00
type of date_string = <class 'str'>
date_object = 2000-09-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2011-12-24 00:00:00
type of date_string = <class 'str'>
date_object = 2011-12-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-10-21 00:00:00
type of date_string = <class 'str'>
date_object = 1972-10-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-07-19 00:00:00
type of date_string = <class 'str'>
date_object = 2000-07-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1988-08-21 00:00:00
type of date_string = <class 'str'>
date_object = 1988-08-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-02-22 00:00:00
type of date_string = <class 'str'>
date_object = 1976-02-22 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1979-04-18 00:00:00
type of date_string = <class 'str'>
date_object = 1979-04-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2004-07-09 00:00:00
type of date_string = <class 'str'>
date_object = 2004-07-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2006-11-10 00:00:00
type of date_string = <class 'str'>
date_object = 2006-11-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1981-08-01 00:00:00
type of date_string = <class 'str'>
date_object = 1981-08-01 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1983-03-05 00:00:00
type of date_string = <class 'str'>
date_object = 1983-03-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2006-01-31 00:00:00
type of date_string = <class 'str'>
date_object = 2006-01-31 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2013-03-15 00:00:00
type of date_string = <class 'str'>
date_object = 2013-03-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1959-06-07 00:00:00
type of date_string = <class 'str'>
date_object = 1959-06-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-03-26 00:00:00
type of date_string = <class 'str'>
date_object = 1974-03-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2020-07-21 00:00:00
type of date_string = <class 'str'>
date_object = 2020-07-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1961-06-05 00:00:00
type of date_string = <class 'str'>
date_object = 1961-06-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1967-02-02 00:00:00
type of date_string = <class 'str'>
date_object = 1967-02-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-10-16 00:00:00
type of date_string = <class 'str'>
date_object = 1968-10-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1980-04-18 00:00:00
type of date_string = <class 'str'>
date_object = 1980-04-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-09-18 00:00:00
type of date_string = <class 'str'>
date_object = 1978-09-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2007-12-11 00:00:00
type of date_string = <class 'str'>
date_object = 2007-12-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2009-08-09 00:00:00
type of date_string = <class 'str'>
date_object = 2009-08-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2011-10-19 00:00:00
type of date_string = <class 'str'>
date_object = 2011-10-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-12-28 00:00:00
type of date_string = <class 'str'>
date_object = 1974-12-28 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-09-05 00:00:00
type of date_string = <class 'str'>
date_object = 1975-09-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2009-06-02 00:00:00
type of date_string = <class 'str'>
date_object = 2009-06-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2012-06-06 00:00:00
type of date_string = <class 'str'>
date_object = 2012-06-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2012-06-06 00:00:00
type of date_string = <class 'str'>
date_object = 2012-06-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1987-11-17 00:00:00
type of date_string = <class 'str'>
date_object = 1987-11-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-05-25 00:00:00
type of date_string = <class 'str'>
date_object = 1974-05-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2012-02-14 00:00:00
type of date_string = <class 'str'>
date_object = 2012-02-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1990-03-13 00:00:00
type of date_string = <class 'str'>
date_object = 1990-03-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1990-06-24 00:00:00
type of date_string = <class 'str'>
date_object = 1990-06-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2011-11-10 00:00:00
type of date_string = <class 'str'>
date_object = 2011-11-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-03-21 00:00:00
type of date_string = <class 'str'>
date_object = 1969-03-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1973-01-24 00:00:00
type of date_string = <class 'str'>
date_object = 1973-01-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2002-12-18 00:00:00
type of date_string = <class 'str'>
date_object = 2002-12-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2009-06-04 00:00:00
type of date_string = <class 'str'>
date_object = 2009-06-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1981-09-11 00:00:00
type of date_string = <class 'str'>
date_object = 1981-09-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-12-02 00:00:00
type of date_string = <class 'str'>
date_object = 1975-12-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1984-04-07 00:00:00
type of date_string = <class 'str'>
date_object = 1984-04-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2013-09-06 00:00:00
type of date_string = <class 'str'>
date_object = 2013-09-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2016-01-04 00:00:00
type of date_string = <class 'str'>
date_object = 2016-01-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1980-12-16 00:00:00
type of date_string = <class 'str'>
date_object = 1980-12-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1989-12-19 00:00:00
type of date_string = <class 'str'>
date_object = 1989-12-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1984-08-21 00:00:00
type of date_string = <class 'str'>
date_object = 1984-08-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1993-02-08 00:00:00
type of date_string = <class 'str'>
date_object = 1993-02-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1996-02-24 00:00:00
type of date_string = <class 'str'>
date_object = 1996-02-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1965-02-27 00:00:00
type of date_string = <class 'str'>
date_object = 1965-02-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1965-05-18 00:00:00
type of date_string = <class 'str'>
date_object = 1965-05-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-03-14 00:00:00
type of date_string = <class 'str'>
date_object = 1968-03-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-11-18 00:00:00
type of date_string = <class 'str'>
date_object = 1998-11-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-12-31 00:00:00
type of date_string = <class 'str'>
date_object = 1978-12-31 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1980-09-17 00:00:00
type of date_string = <class 'str'>
date_object = 1980-09-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2009-09-17 00:00:00
type of date_string = <class 'str'>
date_object = 2009-09-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2011-01-07 00:00:00
type of date_string = <class 'str'>
date_object = 2011-01-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1959-07-20 00:00:00
type of date_string = <class 'str'>
date_object = 1959-07-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1953-04-23 00:00:00
type of date_string = <class 'str'>
date_object = 1953-04-23 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-07-06 00:00:00
type of date_string = <class 'str'>
date_object = 1974-07-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-09-11 00:00:00
type of date_string = <class 'str'>
date_object = 1969-09-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-08-04 00:00:00
type of date_string = <class 'str'>
date_object = 1999-08-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-11-30 00:00:00
type of date_string = <class 'str'>
date_object = 2000-11-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-12-30 00:00:00
type of date_string = <class 'str'>
date_object = 1969-12-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-05-20 00:00:00
type of date_string = <class 'str'>
date_object = 1972-05-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1973-05-07 00:00:00
type of date_string = <class 'str'>
date_object = 1973-05-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1958-03-01 00:00:00
type of date_string = <class 'str'>
date_object = 1958-03-01 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1962-01-31 00:00:00
type of date_string = <class 'str'>
date_object = 1962-01-31 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1983-12-19 00:00:00
type of date_string = <class 'str'>
date_object = 1983-12-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1980-10-26 00:00:00
type of date_string = <class 'str'>
date_object = 1980-10-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-06-30 00:00:00
type of date_string = <class 'str'>
date_object = 1968-06-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1967-05-17 00:00:00
type of date_string = <class 'str'>
date_object = 1967-05-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2004-05-10 00:00:00
type of date_string = <class 'str'>
date_object = 2004-05-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1964-02-01 00:00:00
type of date_string = <class 'str'>
date_object = 1964-02-01 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1963-07-16 00:00:00
type of date_string = <class 'str'>
date_object = 1963-07-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1989-12-16 00:00:00
type of date_string = <class 'str'>
date_object = 1989-12-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1991-12-06 00:00:00
type of date_string = <class 'str'>
date_object = 1991-12-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2015-05-26 00:00:00
type of date_string = <class 'str'>
date_object = 2015-05-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2022-05-09 00:00:00
type of date_string = <class 'str'>
date_object = 2022-05-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-06-25 00:00:00
type of date_string = <class 'str'>
date_object = 1975-06-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1988-02-08 00:00:00
type of date_string = <class 'str'>
date_object = 1988-02-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1987-05-15 00:00:00
type of date_string = <class 'str'>
date_object = 1987-05-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-01-01 00:00:00
type of date_string = <class 'str'>
date_object = 1969-01-01 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-07-30 00:00:00
type of date_string = <class 'str'>
date_object = 1976-07-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-06-23 00:00:00
type of date_string = <class 'str'>
date_object = 1976-06-23 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2015-04-26 00:00:00
type of date_string = <class 'str'>
date_object = 2015-04-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2017-02-08 00:00:00
type of date_string = <class 'str'>
date_object = 2017-02-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1960-09-05 00:00:00
type of date_string = <class 'str'>
date_object = 1960-09-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1961-01-06 00:00:00
type of date_string = <class 'str'>
date_object = 1961-01-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-05-29 00:00:00
type of date_string = <class 'str'>
date_object = 1974-05-29 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1980-06-07 00:00:00
type of date_string = <class 'str'>
date_object = 1980-06-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2013-02-09 00:00:00
type of date_string = <class 'str'>
date_object = 2013-02-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-12-25 00:00:00
type of date_string = <class 'str'>
date_object = 1968-12-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-09-11 00:00:00
type of date_string = <class 'str'>
date_object = 2001-09-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2008-03-12 00:00:00
type of date_string = <class 'str'>
date_object = 2008-03-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1997-03-11 00:00:00
type of date_string = <class 'str'>
date_object = 1997-03-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2012-05-23 00:00:00
type of date_string = <class 'str'>
date_object = 2012-05-23 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1965-02-15 00:00:00
type of date_string = <class 'str'>
date_object = 1965-02-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-09-12 00:00:00
type of date_string = <class 'str'>
date_object = 1974-09-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2013-06-28 00:00:00
type of date_string = <class 'str'>
date_object = 2013-06-28 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2017-12-26 00:00:00
type of date_string = <class 'str'>
date_object = 2017-12-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1979-11-01 00:00:00
type of date_string = <class 'str'>
date_object = 1979-11-01 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1979-06-25 00:00:00
type of date_string = <class 'str'>
date_object = 1979-06-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2002-11-20 00:00:00
type of date_string = <class 'str'>
date_object = 2002-11-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1990-01-12 00:00:00
type of date_string = <class 'str'>
date_object = 1990-01-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1985-06-10 00:00:00
type of date_string = <class 'str'>
date_object = 1985-06-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1990-04-27 00:00:00
type of date_string = <class 'str'>
date_object = 1990-04-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2015-02-24 00:00:00
type of date_string = <class 'str'>
date_object = 2015-02-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1965-03-11 00:00:00
type of date_string = <class 'str'>
date_object = 1965-03-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-12-26 00:00:00
type of date_string = <class 'str'>
date_object = 2000-12-26 00:00:00

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2104\1533575850.py:33: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  Subir_pacientes["PersonBirthdate"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,PersonEmail,Email_Seteado__c,PersonBirthdate,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
0,False,Hernan Luis,Trujillo Jara,132988137,,False,NaT,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
2,False,Maika Michelle,Trujillo Alvarez,243671574,,False,2013-08-17,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
3,False,Johonny Antonio,Urrutia Martinez,10585238K,,False,1971-03-18,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
4,False,Damaris Arlete,Urrutia Galiano,213898809,,False,2013-09-13,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
5,False,Marcelo,Urzua Salas,134991216,,False,1978-07-13,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE

In [510]:
Subir_pacientes.shape

(864, 12)

In [511]:
def traerId(rut):
    if len(rut) >= 8:
        busquedaDatos = "FIND {" + rut + "} RETURNING Account(Id,IdentificationId__pc)"
        derty = dict(sf.search(busquedaDatos))
        if derty["searchRecords"] != []:
            if derty["searchRecords"][0]["attributes"]["type"] == "Account":
                jote = derty["searchRecords"][0]["Id"]
                dertyd = derty["searchRecords"][0]["IdentificationId__pc"]
                print(jote + " " + dertyd)
                return jote
            else:
                print("no")
        else:
            print("vacio")
    else:
        return "None"


def traerContact(ide):
    ide = str(ide)
    if len(ide) >= 12:
        idcontact = sf.Account.get(ide)
        return idcontact["PersonContactId"]
    else:
        return "NONES"


def agregarPaciente(listado):
    vListado = listado.split(",")
    
    derty = None
    
        
        
    if (vListado[9] == ""):                               
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],  
                                          
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    else:
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],
                        "PersonBirthdate": vListado[9],
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    # Verify that the Contact was created successfully
    # created_contact = sf.Contact.get(sf_res['id'])
    # print(created_contact)


""" sf_res =None
try:
    # Create the new Contact record in Salesforce
    sf_res = sf.Contact.create(new_contact)
except SalesforceMalformedRequest as e:
    if 'duplicateResut' in e[0]:
        print(f"Malformed request error: {e}")
        # Handle the error here as needed
        #Bypass SF Email duplicate rule by removing the email to create a SF Lead
        del new_contact['Email']
        sf_res = sf.Contact.create(new_contact)


if sf_res is not None:
    # Verify that the Contact was created successfully
    created_contact = sf.Contact.get(sf_res['id'])
    print(created_contact) """

' sf_res =None\ntry:\n    # Create the new Contact record in Salesforce\n    sf_res = sf.Contact.create(new_contact)\nexcept SalesforceMalformedRequest as e:\n    if \'duplicateResut\' in e[0]:\n        print(f"Malformed request error: {e}")\n        # Handle the error here as needed\n        #Bypass SF Email duplicate rule by removing the email to create a SF Lead\n        del new_contact[\'Email\']\n        sf_res = sf.Contact.create(new_contact)\n\n\nif sf_res is not None:\n    # Verify that the Contact was created successfully\n    created_contact = sf.Contact.get(sf_res[\'id\'])\n    print(created_contact) '

In [512]:
Subir_pacientes.head()

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,PersonEmail,Email_Seteado__c,PersonBirthdate,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
0,False,Hernan Luis,Trujillo Jara,132988137,,False,NaT,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
2,False,Maika Michelle,Trujillo Alvarez,243671574,,False,2013-08-17,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
3,False,Johonny Antonio,Urrutia Martinez,10585238K,,False,1971-03-18,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
4,False,Damaris Arlete,Urrutia Galiano,213898809,,False,2013-09-13,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
5,False,Marcelo,Urzua Salas,134991216,,False,1978-07-13,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE

In [513]:
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)

Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(
    lambda y: traerId(y)
)

Subir_pacientes.shape

vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio

In [ ]:
Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)
Subir_pacientes = Subir_pacientes[Subir_pacientes["Id"].str.len() <= 12]
# Subir_pacientes["numero"] = Subir_pacientes["Id"].str.len()
Subir_pacientes.shape

In [ ]:
#Subir_pacientes["dato_account"].head()

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/Todesffff.xlsx", index=False)

In [ ]:
Subir_pacientes["dato_account"] = ""
if ("FirstName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + Subir_pacientes[
        "FirstName"
    ].astype(str)
if ("LastName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["LastName"].astype(str)
    )
if ("IdentificationId__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["IdentificationId__pc"].astype(str)
    )
if ("RecordTypeId" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["RecordTypeId"].astype(str)
    )
if ("BillingCountry" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCountry"].astype(str)
    )
if ("Identification_Type__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Identification_Type__c"].astype(str)
    )
if ("Pa_s_del_Paciente__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Pa_s_del_Paciente__c"].astype(str)
    )
if ("Cuenta_validada__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Cuenta_validada__c"].astype(str)
    )

if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["PersonEmail"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

if ("PersonBirthdate" in Subir_pacientes.columns) == True:
    #if Subir_pacientes["dato_account"] != "":
        #fecha = pd.to_datetime(Subir_pacientes["PersonBirthdate"].astype(str) + " 00:00:00").isoformat() + "Z" 
        #fecha = pd.to_datetime(Subir_pacientes["PersonBirthdate"].astype(str) + " 00:00:00")                       
        Subir_pacientes["dato_account"] = (Subir_pacientes["dato_account"] + "," + Subir_pacientes["PersonBirthdate"].astype(str)
            
        )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("HealthCloudGA__Gender__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["HealthCloudGA__Gender__pc"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("Phone" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["Phone"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingCity" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCity"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingState" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingState"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingStreet" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingStreet"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Email_Seteado__c"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

# Subir_pacientes["dato_account"] =  Subir_pacientes["dato_account"] =

Subir_pacientes["Id_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
)
""" Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
) """

In [ ]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c WHERE Empresa_Padre__r.Name = '" + campaña + "'"

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_asociadas.xlsx", index=False)
df2.head()

In [ ]:
Pacientes_con_id_no = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == False]
Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(
    lambda y: traerId(y)
)
Pacientes_con_id_no["Id Contacto"] = Pacientes_con_id_no["Id Account Paciente"].apply(
    lambda y: traerContact(y)
)
Pacientes_con_id_no.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_no.xlsx", index=False
)

Pacientes_con_id_si = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == True]
Pacientes_con_id_si.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_si.xlsx", index=False
)

Pacientes_con_id_final = pd.concat(
    [
        Pacientes_con_id_si,
        Pacientes_con_id_no,
    ],
    axis=0,
)

Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final.xlsx", index=False
)

if campaña == "Southbridge Plan Mujer":
    VpacientePrograma = "a1WRN0000007YwD2AU"
    VempresaaAccount = "001RN000003rwVaYAI"
    VempresaConvenio = "a3yRN0000006sVTYAY"
elif campaña == "Southbridge":
    VpacientePrograma = "a1W8c0000083pM9EAI"
    VempresaaAccount = "0018c00002f3Ev2AAE"
    VempresaConvenio = "a3yRN0000006sqYYAQ"
elif campaña == "Construmart":
    VpacientePrograma = "a1W8c0000083q9TEAQ"
    VempresaaAccount = "0018c00002ghJgBAAU"
    VempresaConvenio = "a3yRN0000006rlZYAQ"
elif campaña == "EY":
    VpacientePrograma = "a1W8c0000083laZEAQ"
    VempresaaAccount = "0018c00002eTboVAAS"
    VempresaConvenio = "a3yRN0000006rsTYAQ"
elif campaña == "Colmena":
    VpacientePrograma = "a1W8c0000083j8rEAA"
    VempresaaAccount = "0018c00002cXclQAAS"
    VempresaConvenio = "a3yRN0000006rf5YAA"
elif campaña == "Pedro De Valdivia":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sVzYAI"
elif campaña == "Forum":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s3SYAQ"
elif campaña == "Cruz Verde":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rsqYAA"
elif campaña == "Milan Fajanovic":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sR4YAI"
elif campaña == "ProChile":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rpsYAA"
elif campaña == "Farmacias Ahumada":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rspYAA"
elif campaña == "Minera El Abra":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006snOYAQ"
elif campaña == "Instruvalve":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s9DYAQ"
elif campaña == "VidaCel":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006suzYAA"
elif campaña == "Care Assistance Colaboradores":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006reXYA"
elif campaña == "Nexo":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sORYAY"
else:
    VpacientePrograma = "Buscarv"
    VempresaaAccount = "Buscarv"
    VempresaConvenio = "Buscarv"


Pacientes_con_id_final["esonoes"] = Pacientes_con_id_final["rut"].isin(
    PacientesProgramas_PacientesSF["Rut_y"]
)
Subir_programas_empresa = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes"] == False
]
Subir_programas_empresa["Paciente__c"] = Subir_programas_empresa["Id Account Paciente"]
Subir_programas_empresa["Programas_por_Empresas__c"] = VpacientePrograma
Subir_programas_empresa = Subir_programas_empresa[
    [
        # "empresa",
        "poliza",
        "Paciente__c",
        "Programas_por_Empresas__c",
    ]
]
Subir_programas_empresa.to_excel(
    "F:/Empresas SF/reportes/programas_empresa.xlsx", index=False
)


Pacientes_con_id_final["esonoes1"] = Pacientes_con_id_final["rut"].isin(
    AccountContact_PacientesSF["Rut_y"]
)
Subir_AccountContact = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes1"] == False
]
Subir_AccountContact["ContactId"] = Subir_AccountContact["Id Contacto"]
Subir_AccountContact["AccountId"] = VempresaaAccount

Subir_AccountContact = Subir_AccountContact[
    [
        # "empresa",
        "poliza",
        "ContactId",
        "AccountId",
    ]
]
Subir_AccountContact.to_excel(
    "F:/Empresas SF/reportes/account_Contact.xlsx", index=False
)

empresacontactoconvenio_PacientesSF["llave"] = empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
Pacientes_con_id_final["llaveA"] = Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]

Pacientes_con_id_final["esonoes2"] = Pacientes_con_id_final["llaveA"].isin(
    empresacontactoconvenio_PacientesSF["llave"]
)
Subir_empresacontactoconvenio = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes2"] == False
]
Subir_empresacontactoconvenio["Paciente__c"] = Subir_empresacontactoconvenio[
    "Id Account Paciente"
]
Subir_empresacontactoconvenio["N_Documento_Titular__c"] = Subir_empresacontactoconvenio[
    "rutT"
]
Subir_empresacontactoconvenio["Empresa__c"] = VempresaConvenio

Subir_empresacontactoconvenio = Subir_empresacontactoconvenio[
    [
        "empleador",
        "rutE",
        "poliza",
        "Paciente__c",
        "N_Documento_Titular__c",
        "Empresa__c",
    ]
]
Subir_empresacontactoconvenio.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio.xlsx", index=False)
Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final2.xlsx", index=False
)

In [ ]:
empresacontactoconvenio_PacientesSF.to_excel(
    "F:/Empresas SF/reportes/SFpacientes.xlsx", index=False)

In [ ]:
contactd = sf.Account.get("0018c00002lUyo0AAC")
contactd["PersonContactId"]

In [ ]:
# contactd["PersonContactId"]
print(datetime.now())

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/todes.xlsx", index=False)

query2 = "select P_liza**c, Nombre_de_Empresa**c, Rut_Empresa**c, Empresa_Padre**r.Name, Empresa**r.name,Holding**c, Plan**c, Pais**c, Activo**c, Id from Datos_Empresa**c "

df2 = sf.smart_query(query2)
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

Subir_pacientes.to_excel("F:/Empresas SF/reportes/111account.xlsx", index=False)

derty = Subir_pacientes["IdentificationId__pc"]
sf.Contact.create({"IdentificationId\_\_pc": "derty", "Email": "example@example.com"})

Subir_pacientes.head()

Subir_pacientes.head()
Subir_pacientes.to_excel("F:/Empresas SF/reportes/account\_\_l.xlsx", index=False)

In [ ]:
""" if campaña != "MetLife":
    pacientes_en_campaña = pd.merge(
        left=campaña_seleccionada,
        right=Pacientes_con_id,
        how="left",
        left_on="Id Account",
        right_on="Id Account Paciente",
    )
    pacientes_en_campaña["Paciente__c"] = "Id Pacientes"
    pacientes_en_campaña["Programas_por_Empresas__c"] = "Id Programas Por empresa"
    pacientes_en_campaña.to_excel(
        "F:/Empresas SF/reportes/campaña_empresa.xlsx", index=False
    )
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña.xlsx", index=False
    )
 """

In [ ]:
""" if campaña != "MetLife1":
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    if ("poliza" in campaña_en_pacientes.columns) == True:
        campaña_en_pacientes["poliza"] = campaña_en_pacientes["poliza"].astype(str)

    campaña_en_pacientes = campaña_en_pacientes.rename(
        columns={"Programas_por_Empresas__c": "programas por empresa"}
    )
    campaña_en_pacientes["Paciente__c"] = campaña_en_pacientes["Id Account Paciente"]
    campaña_en_pacientes["Programas_por_Empresas__c"] = campaña_en_pacientes[
        "programas por empresa"
    ]
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña2.xlsx", index=False
    ) """

In [ ]:
# apprix_1 = Pacientes_SF.iloc[:790552,:]
# apprix_2 = Pacientes_SF.iloc[790553:,:]
# apprix_1.to_excel("F:/Empresas SF/reportes/Ruts1.xlsx",index=False)
# apprix_2.to_excel("F:/Empresas SF/reportes/Ruts2.xlsx",index=False)

In [ ]:
campaña_en_pacientes2 = pd.merge(
    left=Pacientes_con_id,
    right=campaña_seleccionada,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)
if ("poliza" in campaña_en_pacientes2.columns) == True:
    campaña_en_pacientes2["poliza"] = campaña_en_pacientes2["poliza"].astype(str)

campaña_en_pacientes2 = campaña_en_pacientes2.rename(
    columns={"Programas_por_Empresas__c": "programas por empresa"}
)
campaña_en_pacientes2["Paciente__c"] = campaña_en_pacientes2["Id Account Paciente"]
campaña_en_pacientes2["Programas_por_Empresas__c"] = campaña_en_pacientes2[
    "programas por empresa"
]


""" campaña_en_pacientes2 = campaña_en_pacientes2[
    (campaña_en_pacientes2["Programas_por_Empresas__c"] == "")] """
campaña_en_pacientes2["Esta"] = campaña_en_pacientes2["programas por empresa"].isnull()
campaña_en_pacientes2 = campaña_en_pacientes2[campaña_en_pacientes2["Esta"]]
campaña_en_pacientes2.to_excel(
    "F:/Empresas SF/reportes/archivo_campaña3.xlsx", index=False
)

In [ ]:
campaña_en_pacientes2["rut"].shape

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
rutes = pd.DataFrame(columns=["rut"])
rutes["rut"] = Pacientes_Archivo["rut"]
rutes["rutT"] = Pacientes_Archivo["rut2"]
rutes["Contratante"] = Pacientes_Archivo["Contratante"]
# rutes["poliza"] = Pacientes_Archivo["poliza"]
rutes.head()

In [ ]:
rutes["rut"] = rutes["rut"].astype(str)
rutes["rut"] = rutes["rut"].str.replace(".", "")
rutes["rut"] = rutes["rut"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rut"] = rutes["rut"].str.upper()
rutes["rut"] = rutes["rut"].str.strip()

rutes["rutT"] = rutes["rutT"].astype(str)
rutes["rutT"] = rutes["rutT"].str.replace(".", "")
rutes["rutT"] = rutes["rutT"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rutT"] = rutes["rutT"].str.upper()
rutes["rutT"] = rutes["rutT"].str.strip()

""" rutes["poliza"] = rutes["poliza"].astype(str)
rutes["poliza"] = rutes["poliza"].str.replace(".", "")
rutes["poliza"] = rutes["poliza"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["poliza"] = rutes["poliza"].str.strip() """


rutes.head()

In [ ]:
# derty = rutes.to_numpy().transpose().tolist()


Pacientes_SF2 = Pacientes_SF[["Rut", "Id Account Paciente"]]

In [ ]:
rutesi = pd.merge(
    left=rutes,
    right=Pacientes_SF2,
    how="left",
    left_on="rut",
    right_on="Rut",
)
rutesi.shape
rutesi.to_excel("F:/Empresas SF/reportes/rutsyempresa.xlsx", index=False)

In [ ]:
rutesi.head()

In [ ]:
rutesi_antg = pd.merge(
    left=rutesi,
    right=empresas_unidas,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)

In [ ]:
rutesi_antg.head()

In [ ]:
# rutesi_antg .to_excel("F:/Empresas SF/reportes/ruts_empresas_antiguos.xlsx", index=False)

In [ ]:
import json
import pandas as pd
from simple_salesforce import Salesforce, format_soql, format_external_id
from json import loads, dumps
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)

In [ ]:
""" query = "select Id, Account.Name, RutContact__c from AccountContactRelation "

df1 = sf.smart_query(query) """

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
# rutes = Subir_pacientes["rut"]

In [ ]:
""" df1.head() """

In [ ]:
""" df1["rut"] = df1["RutContact__c"].astype(str)
df1["rut"] = df1["rut"].str.replace(".", "")
df1["rut"] = df1["rut"].str.replace(
    "-", ""
)  # aca se trabaja con el nuevo rut desde rut1 ojooooooo
df1["rut"] = df1["rut"].str.upper()
df1["rut"] = df1["rut"].str.strip()
df1.head() """

In [ ]:
""" rutes.head() """

In [ ]:
""" rutesi = pd.merge(
    left=rutes,
    right=df1,
    how="left",
    left_on="rut",
    right_on="rut",
) """

In [ ]:
""" rutesi.to_excel("F:/Empresas SF/reportes/rutesnuevos_accountcontactrelation.xlsx", index=False) """

In [ ]:
""" df2["P_liza__c"] = df2["P_liza__c"].astype(str)
df2["P_liza__c"] = df2["P_liza__c"].str.replace(".", "")
df2["P_liza__c"] = df2["P_liza__c"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
df2["P_liza__c"] = df2["P_liza__c"].str.upper()
df2["P_liza__c"] = df2["P_liza__c"].str.strip() """

In [ ]:
modelo_nuevo = pd.merge(
    left=rutesi,
    right=df2,
    how="left",
    left_on="poliza",
    right_on="P_liza__c",
)
modelo_nuevo.to_excel("F:/Empresas SF/reportes/modelo_nuevo.xlsx", index=False)

In [ ]:
modelo = pd.DataFrame()
modelo = modelo_nuevo[["rutT", "Id Account Paciente", "Id"]]

In [ ]:
modelo.head()