In [ ]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
import shutil
import datetime
from datetime import datetime
import re
import json
from pandas.api.types import is_numeric_dtype
from simple_salesforce import Salesforce, format_soql, format_external_id
from simple_salesforce.exceptions import SalesforceMalformedRequest
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)

In [ ]:
# para smart query
""" sf = simple_salesforce.Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
 """
# para lo demas
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
# paramiko.util.log_to_file("paramiko.log")
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")

Descarga de empresas en sistema

In [ ]:
llamadaEmpresaAntiguas = "SELECT Id,Empresa__r.Id, Empresa__r.Name, Empresa__r.Holding__c, Empresa__r.Campa_a__c, Empresa__r.Id_Empresa__c, Empresa__r.Empleador__c, Empresa__r.poliza__c, Empresa__r.RUT_Empresa__c, Empresa__r.Corredor__c,Empresa__r.Padre_Empresa__c, Name FROM Programas_por_Empresas__c WHERE Empresa__r.Padre_Empresa__c = false"
vllamadaEmpresa = sf.smart_query(llamadaEmpresaAntiguas)
vllamadaEmpresa.to_excel("F:/Empresas SF/reportes/empresas_Antiguas.xlsx", index=False)
vllamadaEmpresa.head()

vllamadaEmpresa.shape

In [ ]:
# Recuperar empresas ID de salesforce desde Account
results = sf.query_all(
    """
  SELECT Id, name, Holding__c ,Campa_a__c,Id_Empresa__c,Empleador__c,poliza__c,RUT_Empresa__c  FROM account where ispersonaccount = false  AND Nueva_Estructura__c = False
    """
)
Empresas_SF = pd.DataFrame(results["records"])
Empresas_SF = Empresas_SF[
    [
        "Id",
        "Name",
        "Holding__c",
        "Campa_a__c",
        "Id_Empresa__c",
        "Empleador__c",
        "poliza__c",
        "RUT_Empresa__c",
    ]
]
Empresas_SF.shape

In [ ]:
# buscar empresas desde Programas_por_Empresas__c datos de empresas
results = sf.query_all(
    """
   select Id,Empresa__c, Empresa_Padre__c,Nombre_Empresa__c, Name  from Programas_por_Empresas__c 
    """
)
Programas_por_empresa_SF = pd.DataFrame(results["records"])

Programas_por_empresa_SF = Programas_por_empresa_SF[
    ["Id", "Empresa__c", "Empresa_Padre__c", "Nombre_Empresa__c", "Name"]
]
Programas_por_empresa_SF.shape

In [ ]:
# Union de Programas Empresa y empresas
Programas_empresas = pd.merge(
    left=Empresas_SF,
    right=Programas_por_empresa_SF,
    how="left",
    left_on="Id",
    right_on="Empresa__c",
)
Programas_empresas = Programas_empresas.rename(
    columns={
        "Id_x": "Id Account Empresa",
        "Name_x": "Nombre Empresa",
        "Holding__c": "Holding",
        "Campa_a__c": "Campaña",
        "Empleador__c": "Empleador",
        "poliza__c": "Poliza",
        "RUT_Empresa__c": "Rut Empresa",
        "Id_y": "Programas_por_Empresas__c",
        "Id_Empresa__c": "Codigo EMP",
        "Name_y": "Codigo A",
    }
)
Programas_empresas = Programas_empresas[
    [
        "Id Account Empresa",
        "Nombre Empresa",
        "Holding",
        "Campaña",
        "Empleador",
        "Poliza",
        "Rut Empresa",
        "Programas_por_Empresas__c",
        "Codigo EMP",
        "Codigo A",
    ]
]

Programas_empresas.shape

In [ ]:
Programas_empresas.to_excel("F:/Empresas SF/reportes/empresas.xlsx", index=False)

In [10]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

100%|██████████| 1/1 [00:09<00:00,  9.63s/it]

,P_liza__c,Nombre_de_Empresa__c,Identificador__c,Rut_Empresa__c,Empresa_Padre__r.Name,Holding__c,Plan__c,Pais__c,Activo__c,Id,LLave,dato
0,Sin Póliza Asociada,Colaboradores Care Assistance Chile SPA,Colaboradores Care Assistance Chile SPA,775173998,Colaboradores,Siempre Chile SPA,Plan Gold,Chile,False,a3yRN0000006mmjYAA,775173998Sin Póliza Asociada,1
1,-,Apunto Servicios De Alimentacion,Apunto Servicios De Alimentacion,-,Consalud,Holding Consalud,-,Chile,False,a3yRN0000006rG9YAI,-,1
2,-,2M Inmobiliaria Spa.,2M Inmobiliaria Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGAYAY,-,1
3,-,360 Gms Capacitacion Spa.,360 Gms Capacitacion Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGBYAY,-,1
4,-,361 Gms Capacitacion Spa.,361 Gms Capacitacion Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGCYAY,-,1

fin empresas y comienzo de rescate de pacientes

In [11]:
# CArga de PAcientes
results = sf.query_all(
    """
    select Id, IdentificationId__pc,Name, Identification_Type__c, Ocupaci_n__c,  PersonTitle ,PersonDepartment,HealthCloudGA__Gender__pc,Phone,PersonContactId  from Account where ispersonaccount = True 
   """
)
Pacientes_SF = pd.DataFrame(results["records"])

Pacientes_SF = Pacientes_SF[
    [
        "Id",
        "IdentificationId__pc",
        "Name",
        "Identification_Type__c",
        "Ocupaci_n__c",
        "PersonTitle",
        "PersonDepartment",
        "HealthCloudGA__Gender__pc",
        "Phone",
        "PersonContactId",
    ]
]
Pacientes_SF = Pacientes_SF.rename(
    columns={
        "Id": "Id Account Paciente",
        "IdentificationId__pc": "Rut",
        "Name": "Nombre",
        "Ocupaci_n__c": "Ocupacion",
        "PersonTitle": "Cargo",
        "PersonDepartment": "Departamento",
        "HealthCloudGA__Gender__pc": "Sexo",
        "Phone": "Telefono",
        "Identification_Type__c": "Tipo de Documento",
        "PersonContactId": "Id Contacto",
    }
)
Pacientes_SF.shape

(1934746, 10)

In [12]:
def siPrimerCero(y):
    if len(y) <= 7:
        return "NONE"
    if y[0] == "0":
        y = y[1:]
    return y

In [13]:
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.upper()
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("-", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("–", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].apply(lambda y: siPrimerCero(y))
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\928634061.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")

In [14]:
Pacientes_Nones1 = Pacientes_SF[(Pacientes_SF["Rut"] == "NONE")]
Pacientes_SF = Pacientes_SF[(Pacientes_SF["Rut"] != "NONE")]
Pacientes_Nones1.to_excel("F:/Empresas SF/reportes/NONE1.xlsx", index=False)

Aca se comienzan a unir las relaciones de pacientes y empresas ya creadas.

# buscar empresas desde Paciente_Programas\_\_c relaciones de empresas con pacientes

results = sf.query_all(
"""
select Id,Paciente**c, Programas_por_Empresas**c,padre**c from Paciente_Programas**c  
 """
)
Paciente_Programas_SF = pd.DataFrame(results["records"])

Paciente_Programas_SF = Paciente_Programas_SF[
["Id", "Paciente__c", "Programas_por_Empresas__c", "padre__c"]
]
Paciente_Programas_SF = Paciente_Programas_SF.rename(
columns={
"Id": "Id Pacientes_Programas**c",
"Paciente**c": "Id Account",
"Programas_por_Empresas**c": "Programas_por_Empresas**c",
"padre\_\_c": "Nombre Campaña",
}
)
Paciente_Programas_SF.shape

# Union de Pacientes Programas y Programas por empresa

empresas_unidas = pd.merge(
left=Paciente_Programas_SF,
right=Programas_empresas,
how="left",
left_on="Programas_por_Empresas**c",
right_on="Programas_por_Empresas**c",
)
empresas_unidas.shape

Carga de Archivo carga

In [93]:
nuevos = "F:/Empresas SF/reportes/carga.xlsx"
campaña = "ITW Global Safety"
#Pais = "Chile"
baseFinal = True
Pais = "México"

Pacientes_Archivo = pd.read_excel(nuevos)
# OJO se copia rut1 a rut le saca el guoion
Pacientes_Archivo.head(5)

,Nombre,apellidos,nombres,Antiguedad,sexo,nacimiento,Edad,rutE,empleador,rut1,rut2,poliza,email
0,"ESPINOSA GONZALEZ, HECTOR JAVI",ESPINOSA GONZALEZ,", HECTOR JAVI",2006-02-27,M,1974-01-30,50.01,TECNICO LIDER,EIGH740130QB5,EIGH740130HNLSNC04,EIGH740130HNLSNC04,43927492645,1030hjavier@gmail.com
1,"CARRILLO SALAZAR, ZAIRA MILDRE",CARRILLO SALAZAR,", ZAIRA MILDRE",2007-01-02,F,1983-05-05,40.75,GERENTE DE PROYECTOS SR.,CASZ8305055N4,CASZ830505MNLRLR08,CASZ830505MNLRLR08,43038323275,zaira_mcs@hotmail.com
2,"SIFUENTES CERVANTES, MARIA OLI",SIFUENTES CERVANTES,", MARIA OLI",2007-05-14,F,1972-09-10,51.39,OPERADOR,SICO720910IU3,SICO720910MTSFRL02,SICO720910MTSFRL02,47887221506,olviasc1972@hotmail.com
3,"HERNANDEZ MARROQUIN, YOLANDA",HERNANDEZ MARROQUIN,", YOLANDA",2007-07-16,F,1970-11-09,53.23,INGENIERO DE CALIDAD INTERNA,HEMY701109HT6,HEMY701109MNLRRL09,HEMY701109MNLRRL09,43897047023,hemy7@hotmail.com
4,"VIDALES CUEVAS, MARIA DE LOS A",VIDALES CUEVAS,", MARIA DE LOS A",2007-08-18,F,1973-02-03,51.00,OPERADOR LIDER,VICA730203D92,VICA730203MNLDVN05,VICA730203MNLDVN05,43897321675,mariavidales73@gmail.com

In [94]:
Pacientes_Archivo.shape

(215, 13)

In [95]:
Pacientes_IDrut = Pacientes_SF[
    [
        "Rut",
        "Id Account Paciente",
        "Id Contacto",
    ]
]

In [96]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut1"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("-", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("–", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.upper()
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.strip()

Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace("-", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace("–", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(".", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(" ", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.upper()
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.strip()
Pacientes_Archivo.shape

Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].astype(str)
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.upper()
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("-", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("–", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\1490231206.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\1490231206.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\1490231206.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")

(215, 14)

In [97]:
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rut2"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("-", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("–", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.upper()
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2296516763.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")

(215, 15)

In [98]:
if ("nombres" in Pacientes_Archivo.columns) == True:
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(",", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("-", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("┐", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("═", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("╔", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("┌", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.title()
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.strip()
    # Pacientes_Archivo["empresa"] = Pacientes_Archivo["empresa"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(",", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("-", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("┐", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("═", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("╔", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("┌", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\3410721566.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\3410721566.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")

In [99]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo

# Pacientes_Nones = Pacientes_Archivo[(Pacientes_Archivo["rut"] == "NONE") | (Pacientes_Archivo["rutT"] == "NONE")]
# Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE") | (Pacientes_Archivo["rutT"] != "NONE")]

,Nombre,apellidos,nombres,Antiguedad,sexo,nacimiento,Edad,rutE,empleador,rut1,rut2,poliza,email,rut,rutT
0,"ESPINOSA GONZALEZ, HECTOR JAVI",Espinosa Gonzalez,Hector Javi,2006-02-27,M,1974-01-30,50.01,TECNICO LIDER,EIGH740130QB5,EIGH740130HNLSNC04,EIGH740130HNLSNC04,43927492645,1030hjavier@gmail.com,EIGH740130HNLSNC04,EIGH740130HNLSNC04
1,"CARRILLO SALAZAR, ZAIRA MILDRE",Carrillo Salazar,Zaira Mildre,2007-01-02,F,1983-05-05,40.75,GERENTE DE PROYECTOS SR,CASZ8305055N4,CASZ830505MNLRLR08,CASZ830505MNLRLR08,43038323275,zaira_mcs@hotmail.com,CASZ830505MNLRLR08,CASZ830505MNLRLR08
2,"SIFUENTES CERVANTES, MARIA OLI",Sifuentes Cervantes,Maria Oli,2007-05-14,F,1972-09-10,51.39,OPERADOR,SICO720910IU3,SICO720910MTSFRL02,SICO720910MTSFRL02,47887221506,olviasc1972@hotmail.com,SICO720910MTSFRL02,SICO720910MTSFRL02
3,"HERNANDEZ MARROQUIN, YOLANDA",Hernandez Marroquin,Yolanda,2007-07-16,F,1970-11-09,53.23,INGENIERO DE CALIDAD INTERNA,HEMY701109HT6,HEMY701109MNLRRL09,HEMY701109MNLRRL09,43897047023,hemy7@hotmail.com,HEMY701109MNLRRL09,HEMY701109MNLRRL09
4,"VIDALES CUEVAS, MARIA DE LOS A",Vidales Cuevas,Maria De Los A,2007-08-18,F,1973-02-03,51.00,OPERADOR LIDER,VICA730203D92,VICA730203MNLDVN05,VICA730203MNLDVN05,43897321675,mariavidales73@gmail.com,VICA730203MNLDVN05,VICA730203MNLDVN05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,"MARROQUIN FUENTES, MONSERRAT",Marroquin Fuentes,Monserrat,2024-01-22,F,1991-07-12,32.56,OPERADOR,MAFM910712P77,MAFM910712MNLRNN06,MAFM910712MNLRNN06,43119119634,monseonce2@gmail.com,MAFM910712MNLRNN06,MAFM910712MNLRNN06
211,"CRUZ ANGELES, LUCINDA",Cruz Angeles,Lucinda,2024-01-22,F,2004-09-28,19.35,OPERADOR,CUAL0409289R8,CUAL020604MHGRNCB3,CUAL020604MHGRNCB3,7160243825,lucindacruzangel@gmail.com,CUAL020604MHGRNCB3,CUAL020604MHGRNCB3
212,"GALVAN ZAPATA, ADOLFO ANGEL",Galvan Zapata,Adolfo Angel,2024-01-22,M,1993-12-27,30.10,TECNICO DE MANTENIMIENTO,GAZA9312279F2,GAZA931227HSPLPD01,GAZA931227HSPLPD01,13169332114,3,GAZA931227HSPLPD01,GAZA931227HSPLPD01
213,"NI¥O SALAZAR, JONATHAN ELIGIO",Ni¥O Salazar,Jonathan Eligio,2024-01-29,M,1989-09-27,34.35,TECNICO DE MANTENIMIENTO,NISJ8909277E0,NISJ890927HNLXLN04,NISJ890927HNLXLN04,43068926161,jon.salazar2709@hotmail.com,NISJ890927HNLXLN04,NISJ890927HNLXLN04
214,"BARRIOS ENCINAS, JONATHAN ANTO",Barrios Encinas,Jonathan Anto,2024-01-29,M,2004-02-12,19.97,OPERADOR,BAEJ0402127VA,BAEJ040212HNLRNNA7,BAEJ040212HNLRNNA7,66190420076,jonathana.barriose@gmail.com,BAEJ040212HNLRNNA7,BAEJ040212HNLRNNA7

In [ ]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo22.xlsx", index=False)

In [100]:
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE")]
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rutT"] != "NONE")]
# | (Pacientes_Archivo["rutT"] != "NONE")

In [ ]:
Pacientes_Archivo["Llave"] = Pacientes_Archivo["rutT"] + Pacientes_Archivo["rut"]
Pacientes_Archivo["PolizaLlave"] = Pacientes_Archivo["poliza"] +  Pacientes_Archivo["rutT"] + Pacientes_Archivo["rut"]

Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/eliminar2.xlsx", index=False)

PAcientes Programas

In [101]:
query_pacientePrograma = (
    "SELECT Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id from Paciente_Programas__c where padre__c =  '"
    + campaña
    + "'"
)
pacientePrograma = sf.smart_query(query_pacientePrograma)
pacientePrograma.head()

100%|██████████| 1/1 [00:02<00:00,  2.79s/it]

Empty DataFrame
Columns: [Paciente__c, Paciente__r.IdentificationId__pc, Programas_por_Empresas__r.Empresa__c, Id]
Index: []

In [102]:
pacientePrograma = pacientePrograma.rename(
    columns={
        "Id": "Id Paciente Programas",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Programas_por_Empresas__r.Empresa__c": "Id Account Empleador",
        "Paciente__c": "Id Account Paciente",
    }
)
pacientePrograma.head()

Empty DataFrame
Columns: [Id Account Paciente, Rut, Id Account Empleador, Id Paciente Programas]
Index: []

In [103]:
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("-", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("–", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.upper()
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.strip()
pacientePrograma.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\3172767859.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")

(0, 4)

In [104]:
PacientesProgramas_PacientesSF = pd.merge(
    left=pacientePrograma,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)

PacientesProgramas_PacientesSF.head()

Empty DataFrame
Columns: [Rut_x, Id Account Empleador, Id Paciente Programas, Rut_y, Id Account Paciente, Id Contacto]
Index: []

account contact relation

In [105]:
query_accountContact = (
    "select Id,ContactId, AccountId, RutContact__c ,Contact.AccountId from AccountContactRelation where Account.Campa_a__c = '"
    + campaña
    + "'"
)
accountContactRelation = sf.smart_query(query_accountContact)
accountContactRelation.head()

100%|██████████| 1/1 [00:03<00:00,  3.51s/it]

Empty DataFrame
Columns: [RutContact__c, Id, ContactId, AccountId, Contact.AccountId]
Index: []

In [106]:
accountContactRelation = accountContactRelation.rename(
    columns={
        "Id": "Id AccountContactRelation",
        "ContactId": "Id Contact Paciente",
        "AccountId": "Id Account Empresa",
        "RutContact__c": "Rut",
        "Contact.AccountId": "Id Account Paciente",
    }
)
accountContactRelation.head()

Empty DataFrame
Columns: [Rut, Id AccountContactRelation, Id Contact Paciente, Id Account Empresa, Id Account Paciente]
Index: []

In [107]:
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("-", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("–", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.upper()
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.strip()
accountContactRelation.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2268980097.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")

(0, 5)

In [108]:
AccountContact_PacientesSF = pd.merge(
    left=accountContactRelation,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
AccountContact_PacientesSF.head()

Empty DataFrame
Columns: [Rut_x, Id AccountContactRelation, Id Contact Paciente, Id Account Empresa, Rut_y, Id Account Paciente, Id Contacto]
Index: []

empresa contacto convenio

In [109]:
query_empresacontactoconvenio = (
    "select Id,Paciente__r.IdentificationId__pc, Empresa__r.P_liza__c, Empresa__c, Paciente__c,N_Documento_Titular__c from EmpresaContactoConvenios__c where Empresa__r.Campa_a__c = '"
    + campaña
    + "'"
)
empresacontactoconvenio = sf.smart_query(query_empresacontactoconvenio)
empresacontactoconvenio.head()

100%|██████████| 1/1 [00:02<00:00,  2.89s/it]

Empty DataFrame
Columns: [Id, N_Documento_Titular__c, Empresa__r.P_liza__c, Paciente__r.IdentificationId__pc, Empresa__c, Paciente__c]
Index: []

In [110]:
empresacontactoconvenio = empresacontactoconvenio.rename(
    columns={
        "Id": "Id EmpresaContactoConvenio",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Empresa__c": "Id Convenio Empresa",
        "Paciente__c": "Id Account Paciente",
        "N_Documento_Titular__c": "Rut Titular",
        "Empresa__r.P_liza__c":"Poliza",
    }
)
empresacontactoconvenio.head()

Empty DataFrame
Columns: [Id EmpresaContactoConvenio, Rut Titular, Poliza, Rut, Id Convenio Empresa, Id Account Paciente]
Index: []

In [111]:
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("-", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("–", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(" ", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.upper()
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.strip()
empresacontactoconvenio.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2240900084.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")

(0, 6)

In [112]:
empresacontactoconvenio_PacientesSF = pd.merge(
    left=empresacontactoconvenio,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
empresacontactoconvenio_PacientesSF.head()

Empty DataFrame
Columns: [Id EmpresaContactoConvenio, Rut Titular, Poliza, Rut_x, Id Convenio Empresa, Rut_y, Id Account Paciente, Id Contacto]
Index: []

In [ ]:
""" if(campaña!="MetLife"):
    pacientePrograma.to_excel("F:/Empresas SF/reportes/paciente_programas.xlsx", index=False) """

Rescatamos todos los ruts Id con su empresa desde la campaña

In [113]:
Pacientes_Archivo.head()

,Nombre,apellidos,nombres,Antiguedad,sexo,nacimiento,Edad,rutE,empleador,rut1,rut2,poliza,email,rut,rutT
0,"ESPINOSA GONZALEZ, HECTOR JAVI",Espinosa Gonzalez,Hector Javi,2006-02-27,M,1974-01-30,50.01,TECNICO LIDER,EIGH740130QB5,EIGH740130HNLSNC04,EIGH740130HNLSNC04,43927492645,1030hjavier@gmail.com,EIGH740130HNLSNC04,EIGH740130HNLSNC04
1,"CARRILLO SALAZAR, ZAIRA MILDRE",Carrillo Salazar,Zaira Mildre,2007-01-02,F,1983-05-05,40.75,GERENTE DE PROYECTOS SR,CASZ8305055N4,CASZ830505MNLRLR08,CASZ830505MNLRLR08,43038323275,zaira_mcs@hotmail.com,CASZ830505MNLRLR08,CASZ830505MNLRLR08
2,"SIFUENTES CERVANTES, MARIA OLI",Sifuentes Cervantes,Maria Oli,2007-05-14,F,1972-09-10,51.39,OPERADOR,SICO720910IU3,SICO720910MTSFRL02,SICO720910MTSFRL02,47887221506,olviasc1972@hotmail.com,SICO720910MTSFRL02,SICO720910MTSFRL02
3,"HERNANDEZ MARROQUIN, YOLANDA",Hernandez Marroquin,Yolanda,2007-07-16,F,1970-11-09,53.23,INGENIERO DE CALIDAD INTERNA,HEMY701109HT6,HEMY701109MNLRRL09,HEMY701109MNLRRL09,43897047023,hemy7@hotmail.com,HEMY701109MNLRRL09,HEMY701109MNLRRL09
4,"VIDALES CUEVAS, MARIA DE LOS A",Vidales Cuevas,Maria De Los A,2007-08-18,F,1973-02-03,51.00,OPERADOR LIDER,VICA730203D92,VICA730203MNLDVN05,VICA730203MNLDVN05,43897321675,mariavidales73@gmail.com,VICA730203MNLDVN05,VICA730203MNLDVN05

Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

Pacientes_Archivo.drop_duplicates(
[
"rut",
"rutT",
"LLaveEmpresa",
"LLAveRut",
],
keep="last",
)
Pacientes_Archivo.shape

In [114]:
print(campaña)

ITW Global Safety

In [115]:
Pacientes_Archivo["RutEstaoNo"] = Pacientes_Archivo["rut"].isin(Pacientes_SF["Rut"])

In [ ]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo.xlsx", index=False)

In [116]:
# aca a los pacientes del archivo se les asigna sus datos en SF
Pacientes_con_id = pd.merge(
    left=Pacientes_Archivo,
    right=Pacientes_SF,
    how="left",
    left_on="rut",
    right_on="Rut",
)
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/Pacientes_con_id.xlsx", index=False)
Pacientes_con_id.shape

(215, 26)

In [117]:
Pacientes_con_id.head()

,Nombre_x,apellidos,nombres,Antiguedad,sexo,nacimiento,Edad,rutE,empleador,rut1,...,Id Account Paciente,Rut,Nombre_y,Tipo de Documento,Ocupacion,Cargo,Departamento,Sexo,Telefono,Id Contacto
0,"ESPINOSA GONZALEZ, HECTOR JAVI",Espinosa Gonzalez,Hector Javi,2006-02-27,M,1974-01-30,50.01,TECNICO LIDER,EIGH740130QB5,EIGH740130HNLSNC04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"CARRILLO SALAZAR, ZAIRA MILDRE",Carrillo Salazar,Zaira Mildre,2007-01-02,F,1983-05-05,40.75,GERENTE DE PROYECTOS SR,CASZ8305055N4,CASZ830505MNLRLR08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"SIFUENTES CERVANTES, MARIA OLI",Sifuentes Cervantes,Maria Oli,2007-05-14,F,1972-09-10,51.39,OPERADOR,SICO720910IU3,SICO720910MTSFRL02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"HERNANDEZ MARROQUIN, YOLANDA",Hernandez Marroquin,Yolanda,2007-07-16,F,1970-11-09,53.23,INGENIERO DE CALIDAD INTERNA,HEMY701109HT6,HEMY701109MNLRRL09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"VIDALES CUEVAS, MARIA DE LOS A",Vidales Cuevas,Maria De Los A,2007-08-18,F,1973-02-03,51.00,OPERADOR LIDER,VICA730203D92,VICA730203MNLDVN05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

In [118]:
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")


def isValid(email):
    if re.fullmatch(regex, email):
        return email
    else:
        return ""


def fechaValida(fecha):
    if (len(str(fecha)) <= 9 ):
        fecha = ""
        
    fecha = str(fecha)
    fecha1 = str(fecha)
    
    #datetime.strptime(fecha, '%Y-%m-%d')
    
    try:
        fecha = datetime.strptime(fecha, '%Y-%m-%d %H:%M:%S')
        date_string = fecha1
        print("date_string =", date_string)
        print("type of date_string =", type(date_string))

        date_object = datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")

        print("date_object =", date_object)
        print("type of date_object =", type(date_object))
        return date_object
    except ValueError:
        return datetime.utcnow().strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
Pacientes_con_id["dertyuiop"] = Pacientes_con_id["nacimiento"]
Pacientes_con_id["derty"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
Pacientes_con_id.head()

In [119]:


# Final_pacientes_y_empresa = Pacientes_con_ID
Subir_pacientes = pd.DataFrame()
# Subir_pacientes["Email_Seteado__c"] = ""
Subir_pacientes["RutEstaoNo"] = Pacientes_con_id["RutEstaoNo"]
# agrupar = empresasqfaltan[empresasqfaltan['si']==False]


if ("nombres" in Pacientes_con_id.columns) == True:
    Subir_pacientes["FirstName"] = Pacientes_con_id["nombres"]
if ("apellidos" in Pacientes_con_id.columns) == True:
    Subir_pacientes["LastName"] = Pacientes_con_id["apellidos"]
if ("rut" in Pacientes_con_id.columns) == True:
    Subir_pacientes["IdentificationId__pc"] = (
        Pacientes_con_id["rut"].astype(str).str.upper()
    )


if ("email" in Pacientes_con_id.columns) == True:
    # Pacientes_con_id["email"] = Pacientes_con_id["email"].astype(str).str.lower().replace("nan","")
    Subir_pacientes["PersonEmail"] = Pacientes_con_id["email"].astype(str).str.lower()
    Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].apply(
        lambda y: isValid(y)
    )
    Subir_pacientes["Email_Seteado__c"] = np.where(
        Subir_pacientes["PersonEmail"] != "", "True", "False"
    )

    # Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].str.replace("no informado", "")
#if ("nacimiento" in Pacientes_con_id.columns) == True:    
#    Subir_pacientes["PersonBirthdate"] = pd.to_datetime(Pacientes_con_id["nacimiento"].astype(str), format="%Y-%m-%d")  
if ("nacimiento" in Pacientes_con_id.columns) == True:    
    #try:
    Subir_pacientes["PersonBirthdate"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
    Subir_pacientes["derty"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
    #except ValueError:
        #Subir_pacientes["PersonBirthdate"] = pd.to_datetime("1900-01-01", format="%Y-%m-%d")
 
if ("sexo" in Pacientes_con_id.columns) == True:
    Sexo = {
        "H": "Hombre",
        "m": "Hombre",
        "Masculino": "Hombre",
        "Femenino": "Mujer",
        "": "Prefiero no responder",
        "HOMBRE": "Hombre",
        "MUJER": "Mujer",
        "F": "Mujer",
        "O": "Prefiero no responder",
        "Ambos": "Prefiero no responder",
        "N": "Prefiero no responder",
        "Otro": "Prefiero no responder",
        "n": "Prefiero no responder",
        "N": "Prefiero no responder",
        "FEMENINO": "Mujer",
        "f": "Mujer",
        "MASCULINO": "Hombre",
        "m": "Hombre",
        "M ": "Hombre",
        "M": "Hombre",
        "F ": "Mujer",
        "Varón": "Hombre",
        "varon": "Hombre",
    }
    Pacientes_con_id.replace({"sexo": Sexo}, inplace=True)
    Subir_pacientes["HealthCloudGA__Gender__pc"] = Pacientes_con_id["sexo"]
if ("direccion" in Pacientes_con_id.columns) == True:
    Subir_pacientes["BillingStreet"] = (
        Pacientes_con_id["direccion"].str.lower().replace("nan", "")
    )
    # Subir_pacientes["BillingStreet"] = Final_pacientes_y_empresa["direccion"]
if ("comuna" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
    Subir_pacientes["BillingState"] = (
        Pacientes_con_id["comuna"].str.title().replace("NaN", "")
    )
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
if ("ciudad" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingCity"] = Final_pacientes_y_empresa["ciudad"]
    Subir_pacientes["BillingCity"] = (
        Pacientes_con_id["ciudad"].str.title().replace("NaN", "")
    )

if ("cargo" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonTitle"] = Pacientes_con_id["cargo"].str.title()

if ("division" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonDepartment"] = Pacientes_con_id["division"].str.title()

if ("celular" in Pacientes_con_id.columns) == True:
    Subir_pacientes["Phone"] = (
        Pacientes_con_id["celular"].apply(str).str.strip().replace("+", "")
    )
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NaN", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace(".", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("Nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("-", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("0", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("No Informado", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("_", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("/", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("+", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("null", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NULL", "")


Subir_pacientes["RecordTypeId"] = "0128c000002Byp4AAC"
Subir_pacientes["Cuenta_validada__c"] = "True"


if Pais == "Chile":
    Subir_pacientes["BillingCountry"] = "Chile"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtnEAE"
else:
    Subir_pacientes["BillingCountry"] = "México"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtsEAE"

Subir_pacientes_Que_no_Estan = Subir_pacientes
Subir_pacientes_Estan = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == True]
Subir_pacientes = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == False]

#Subir_pacientes["PersonBirthdate"] = Subir_pacientes["PersonBirthdate"].str.replace("0001-01-01 00:00:00", "")

# Subir_pacientes.PersonEmail = Subir_pacientes.PersonEmail.fillna('')
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)
Subir_pacientes.to_excel(
    "F:/Empresas SF/reportes/Pacientes_Que_No_Estaban.xlsx", index=False
)
Subir_pacientes.head()

date_string = 1974-01-30 00:00:00
type of date_string = <class 'str'>
date_object = 1974-01-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1983-05-05 00:00:00
type of date_string = <class 'str'>
date_object = 1983-05-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-09-10 00:00:00
type of date_string = <class 'str'>
date_object = 1972-09-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1970-11-09 00:00:00
type of date_string = <class 'str'>
date_object = 1970-11-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1973-02-03 00:00:00
type of date_string = <class 'str'>
date_object = 1973-02-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-03-13 00:00:00
type of date_string = <class 'str'>
date_object = 1969-03-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-11-04 00:00:00
type of date_string = <class 'str'>
date_object = 1976-11-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1970-07-20 00:00:00
type of date_string = <class 'str'>
date_object = 1970-07-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1987-04-28 00:00:00
type of date_string = <class 'str'>
date_object = 1987-04-28 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-07-30 00:00:00
type of date_string = <class 'str'>
date_object = 1975-07-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1990-12-30 00:00:00
type of date_string = <class 'str'>
date_object = 1990-12-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-10-07 00:00:00
type of date_string = <class 'str'>
date_object = 1975-10-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1977-04-07 00:00:00
type of date_string = <class 'str'>
date_object = 1977-04-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1979-07-28 00:00:00
type of date_string = <class 'str'>
date_object = 1979-07-28 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-05-17 00:00:00
type of date_string = <class 'str'>
date_object = 1976-05-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1985-11-07 00:00:00
type of date_string = <class 'str'>
date_object = 1985-11-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1988-04-02 00:00:00
type of date_string = <class 'str'>
date_object = 1988-04-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1973-11-13 00:00:00
type of date_string = <class 'str'>
date_object = 1973-11-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1990-04-24 00:00:00
type of date_string = <class 'str'>
date_object = 1990-04-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-07-20 00:00:00
type of date_string = <class 'str'>
date_object = 1969-07-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-08-15 00:00:00
type of date_string = <class 'str'>
date_object = 1974-08-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-08-03 00:00:00
type of date_string = <class 'str'>
date_object = 1976-08-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-01-04 00:00:00
type of date_string = <class 'str'>
date_object = 1978-01-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1988-07-14 00:00:00
type of date_string = <class 'str'>
date_object = 1988-07-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1983-04-14 00:00:00
type of date_string = <class 'str'>
date_object = 1983-04-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1990-12-19 00:00:00
type of date_string = <class 'str'>
date_object = 1990-12-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-06-02 00:00:00
type of date_string = <class 'str'>
date_object = 1976-06-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-01-16 00:00:00
type of date_string = <class 'str'>
date_object = 1978-01-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-07-03 00:00:00
type of date_string = <class 'str'>
date_object = 1976-07-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1988-12-20 00:00:00
type of date_string = <class 'str'>
date_object = 1988-12-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1983-10-19 00:00:00
type of date_string = <class 'str'>
date_object = 1983-10-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-06-09 00:00:00
type of date_string = <class 'str'>
date_object = 1969-06-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1988-07-23 00:00:00
type of date_string = <class 'str'>
date_object = 1988-07-23 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1984-06-14 00:00:00
type of date_string = <class 'str'>
date_object = 1984-06-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1991-10-14 00:00:00
type of date_string = <class 'str'>
date_object = 1991-10-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1992-06-08 00:00:00
type of date_string = <class 'str'>
date_object = 1992-06-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-08-18 00:00:00
type of date_string = <class 'str'>
date_object = 1972-08-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-05-11 00:00:00
type of date_string = <class 'str'>
date_object = 1972-05-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-03-12 00:00:00
type of date_string = <class 'str'>
date_object = 1971-03-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1990-06-13 00:00:00
type of date_string = <class 'str'>
date_object = 1990-06-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1980-07-16 00:00:00
type of date_string = <class 'str'>
date_object = 1980-07-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1995-07-02 00:00:00
type of date_string = <class 'str'>
date_object = 1995-07-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1986-05-21 00:00:00
type of date_string = <class 'str'>
date_object = 1986-05-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1990-06-28 00:00:00
type of date_string = <class 'str'>
date_object = 1990-06-28 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-06-01 00:00:00
type of date_string = <class 'str'>
date_object = 1974-06-01 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1993-08-11 00:00:00
type of date_string = <class 'str'>
date_object = 1993-08-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1982-08-28 00:00:00
type of date_string = <class 'str'>
date_object = 1982-08-28 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-06-15 00:00:00
type of date_string = <class 'str'>
date_object = 1969-06-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1977-05-28 00:00:00
type of date_string = <class 'str'>
date_object = 1977-05-28 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1984-01-16 00:00:00
type of date_string = <class 'str'>
date_object = 1984-01-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1966-06-22 00:00:00
type of date_string = <class 'str'>
date_object = 1966-06-22 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-11-09 00:00:00
type of date_string = <class 'str'>
date_object = 1978-11-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1964-08-02 00:00:00
type of date_string = <class 'str'>
date_object = 1964-08-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1982-05-26 00:00:00
type of date_string = <class 'str'>
date_object = 1982-05-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-04-25 00:00:00
type of date_string = <class 'str'>
date_object = 1978-04-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1970-06-07 00:00:00
type of date_string = <class 'str'>
date_object = 1970-06-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1983-05-11 00:00:00
type of date_string = <class 'str'>
date_object = 1983-05-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-04-30 00:00:00
type of date_string = <class 'str'>
date_object = 1971-04-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1994-09-21 00:00:00
type of date_string = <class 'str'>
date_object = 1994-09-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-01-09 00:00:00
type of date_string = <class 'str'>
date_object = 1999-01-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1964-12-12 00:00:00
type of date_string = <class 'str'>
date_object = 1964-12-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1967-05-08 00:00:00
type of date_string = <class 'str'>
date_object = 1967-05-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1984-04-11 00:00:00
type of date_string = <class 'str'>
date_object = 1984-04-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1989-03-23 00:00:00
type of date_string = <class 'str'>
date_object = 1989-03-23 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1966-06-18 00:00:00
type of date_string = <class 'str'>
date_object = 1966-06-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1988-01-10 00:00:00
type of date_string = <class 'str'>
date_object = 1988-01-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1973-09-22 00:00:00
type of date_string = <class 'str'>
date_object = 1973-09-22 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1964-12-02 00:00:00
type of date_string = <class 'str'>
date_object = 1964-12-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-11-09 00:00:00
type of date_string = <class 'str'>
date_object = 1978-11-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1981-02-06 00:00:00
type of date_string = <class 'str'>
date_object = 1981-02-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1997-06-04 00:00:00
type of date_string = <class 'str'>
date_object = 1997-06-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1981-01-18 00:00:00
type of date_string = <class 'str'>
date_object = 1981-01-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-11-04 00:00:00
type of date_string = <class 'str'>
date_object = 1969-11-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1973-07-25 00:00:00
type of date_string = <class 'str'>
date_object = 1973-07-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1993-10-17 00:00:00
type of date_string = <class 'str'>
date_object = 1993-10-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1990-04-14 00:00:00
type of date_string = <class 'str'>
date_object = 1990-04-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1979-10-12 00:00:00
type of date_string = <class 'str'>
date_object = 1979-10-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-02-07 00:00:00
type of date_string = <class 'str'>
date_object = 1971-02-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1988-12-19 00:00:00
type of date_string = <class 'str'>
date_object = 1988-12-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1984-06-03 00:00:00
type of date_string = <class 'str'>
date_object = 1984-06-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1979-10-17 00:00:00
type of date_string = <class 'str'>
date_object = 1979-10-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-01-10 00:00:00
type of date_string = <class 'str'>
date_object = 1976-01-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1994-08-12 00:00:00
type of date_string = <class 'str'>
date_object = 1994-08-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1997-07-05 00:00:00
type of date_string = <class 'str'>
date_object = 1997-07-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1991-08-31 00:00:00
type of date_string = <class 'str'>
date_object = 1991-08-31 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1993-10-20 00:00:00
type of date_string = <class 'str'>
date_object = 1993-10-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1983-03-04 00:00:00
type of date_string = <class 'str'>
date_object = 1983-03-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1977-03-02 00:00:00
type of date_string = <class 'str'>
date_object = 1977-03-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1967-06-18 00:00:00
type of date_string = <class 'str'>
date_object = 1967-06-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1981-03-05 00:00:00
type of date_string = <class 'str'>
date_object = 1981-03-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-01-13 00:00:00
type of date_string = <class 'str'>
date_object = 1969-01-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1991-07-19 00:00:00
type of date_string = <class 'str'>
date_object = 1991-07-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1985-09-19 00:00:00
type of date_string = <class 'str'>
date_object = 1985-09-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1987-10-20 00:00:00
type of date_string = <class 'str'>
date_object = 1987-10-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1982-06-04 00:00:00
type of date_string = <class 'str'>
date_object = 1982-06-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1995-12-05 00:00:00
type of date_string = <class 'str'>
date_object = 1995-12-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1992-05-06 00:00:00
type of date_string = <class 'str'>
date_object = 1992-05-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-09-27 00:00:00
type of date_string = <class 'str'>
date_object = 1999-09-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-08-04 00:00:00
type of date_string = <class 'str'>
date_object = 2001-08-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1996-10-05 00:00:00
type of date_string = <class 'str'>
date_object = 1996-10-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1997-12-11 00:00:00
type of date_string = <class 'str'>
date_object = 1997-12-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1987-01-04 00:00:00
type of date_string = <class 'str'>
date_object = 1987-01-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-01-16 00:00:00
type of date_string = <class 'str'>
date_object = 1999-01-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1995-02-03 00:00:00
type of date_string = <class 'str'>
date_object = 1995-02-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-01-09 00:00:00
type of date_string = <class 'str'>
date_object = 2001-01-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1991-05-21 00:00:00
type of date_string = <class 'str'>
date_object = 1991-05-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-12-02 00:00:00
type of date_string = <class 'str'>
date_object = 1969-12-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1994-01-03 00:00:00
type of date_string = <class 'str'>
date_object = 1994-01-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-11-15 00:00:00
type of date_string = <class 'str'>
date_object = 1978-11-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-04-02 00:00:00
type of date_string = <class 'str'>
date_object = 1969-04-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1970-03-13 00:00:00
type of date_string = <class 'str'>
date_object = 1970-03-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-03-16 00:00:00
type of date_string = <class 'str'>
date_object = 1978-03-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1977-09-21 00:00:00
type of date_string = <class 'str'>
date_object = 1977-09-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-03-27 00:00:00
type of date_string = <class 'str'>
date_object = 1969-03-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-11-27 00:00:00
type of date_string = <class 'str'>
date_object = 1999-11-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2003-04-10 00:00:00
type of date_string = <class 'str'>
date_object = 2003-04-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2003-02-17 00:00:00
type of date_string = <class 'str'>
date_object = 2003-02-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-01-11 00:00:00
type of date_string = <class 'str'>
date_object = 1978-01-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1979-06-27 00:00:00
type of date_string = <class 'str'>
date_object = 1979-06-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-10-03 00:00:00
type of date_string = <class 'str'>
date_object = 1971-10-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-02-22 00:00:00
type of date_string = <class 'str'>
date_object = 1975-02-22 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1977-03-11 00:00:00
type of date_string = <class 'str'>
date_object = 1977-03-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-11-24 00:00:00
type of date_string = <class 'str'>
date_object = 1975-11-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-11-11 00:00:00
type of date_string = <class 'str'>
date_object = 1998-11-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-05-09 00:00:00
type of date_string = <class 'str'>
date_object = 1998-05-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1996-12-20 00:00:00
type of date_string = <class 'str'>
date_object = 1996-12-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1991-01-26 00:00:00
type of date_string = <class 'str'>
date_object = 1991-01-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-01-29 00:00:00
type of date_string = <class 'str'>
date_object = 1975-01-29 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1985-10-10 00:00:00
type of date_string = <class 'str'>
date_object = 1985-10-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2003-02-13 00:00:00
type of date_string = <class 'str'>
date_object = 2003-02-13 00:00:00

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,PersonEmail,Email_Seteado__c,PersonBirthdate,derty,HealthCloudGA__Gender__pc,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
0,False,Hector Javi,Espinosa Gonzalez,EIGH740130HNLSNC04,1030hjavier@gmail.com,True,1974-01-30,1974-01-30,Hombre,0128c000002Byp4AAC,True,México,RUT,a1U8c000005dAtsEAE
1,False,Zaira Mildre,Carrillo Salazar,CASZ830505MNLRLR08,zaira_mcs@hotmail.com,True,1983-05-05,1983-05-05,Mujer,0128c000002Byp4AAC,True,México,RUT,a1U8c000005dAtsEAE
2,False,Maria Oli,Sifuentes Cervantes,SICO720910MTSFRL02,olviasc1972@hotmail.com,True,1972-09-10,1972-09-10,Mujer,0128c000002Byp4AAC,True,México,RUT,a1U8c000005dAtsEAE
3,False,Yolanda,Hernandez Marroquin,HEMY701109MNLRRL09,hemy7@hotmail.com,True,1970-11-09,1970-11-09,Mujer,0128c000002Byp4AAC,True,México,RUT,a1U8c000005dAtsEAE
4,False,Maria De Los A,Vidales Cuevas,VICA730203MNLDVN05,mariavidales73@gmail.com,True,1973-02-03,1973-02-03,Mujer,0128c000002Byp4AAC,True,México,RUT,a1U8c000005dAtsEAE

In [120]:
Subir_pacientes.shape

(215, 14)

In [121]:
def traerId(rut):
    if len(rut) >= 8:
        busquedaDatos = "FIND {" + rut + "} RETURNING Account(Id,IdentificationId__pc)"
        derty = dict(sf.search(busquedaDatos))
        if derty["searchRecords"] != []:
            if derty["searchRecords"][0]["attributes"]["type"] == "Account":
                jote = derty["searchRecords"][0]["Id"]
                dertyd = derty["searchRecords"][0]["IdentificationId__pc"]
                print(jote + " " + dertyd)
                return jote
            else:
                print("no")
        else:
            print("vacio")
    else:
        return "None"


def traerContact(ide):
    ide = str(ide)
    if len(ide) >= 12:
        idcontact = sf.Account.get(ide)
        return idcontact["PersonContactId"]
    else:
        return "NONES"


def agregarPaciente(listado):
    vListado = listado.split(",")
    
    derty = None
    #vListado[9] = datetime.strptime(vListado[9], "%Y-%m-%d %H:%M:%S")
        
        
    if (vListado[9] == ""):                               
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],  
                                          
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    else:
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],
                        "PersonBirthdate": vListado[9] ,
                        #"PersonBirthdate":datetime.strptime(vListado[9], "%Y-%m-%d %H:%M:%S").formatGMT('yyyy-MM-dd\'T\'HH:mm:ss.SSS\'Z\'' + '"'),
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    # Verify that the Contact was created successfully
    # created_contact = sf.Contact.get(sf_res['id'])
    # print(created_contact)


""" sf_res =None
try:
    # Create the new Contact record in Salesforce
    sf_res = sf.Contact.create(new_contact)
except SalesforceMalformedRequest as e:
    if 'duplicateResut' in e[0]:
        print(f"Malformed request error: {e}")
        # Handle the error here as needed
        #Bypass SF Email duplicate rule by removing the email to create a SF Lead
        del new_contact['Email']
        sf_res = sf.Contact.create(new_contact)


if sf_res is not None:
    # Verify that the Contact was created successfully
    created_contact = sf.Contact.get(sf_res['id'])
    print(created_contact) """

' sf_res =None\ntry:\n    # Create the new Contact record in Salesforce\n    sf_res = sf.Contact.create(new_contact)\nexcept SalesforceMalformedRequest as e:\n    if \'duplicateResut\' in e[0]:\n        print(f"Malformed request error: {e}")\n        # Handle the error here as needed\n        #Bypass SF Email duplicate rule by removing the email to create a SF Lead\n        del new_contact[\'Email\']\n        sf_res = sf.Contact.create(new_contact)\n\n\nif sf_res is not None:\n    # Verify that the Contact was created successfully\n    created_contact = sf.Contact.get(sf_res[\'id\'])\n    print(created_contact) '

In [122]:
Subir_pacientes.head()

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,PersonEmail,Email_Seteado__c,PersonBirthdate,derty,HealthCloudGA__Gender__pc,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
0,False,Hector Javi,Espinosa Gonzalez,EIGH740130HNLSNC04,1030hjavier@gmail.com,True,1974-01-30,1974-01-30,Hombre,0128c000002Byp4AAC,True,México,RUT,a1U8c000005dAtsEAE
1,False,Zaira Mildre,Carrillo Salazar,CASZ830505MNLRLR08,zaira_mcs@hotmail.com,True,1983-05-05,1983-05-05,Mujer,0128c000002Byp4AAC,True,México,RUT,a1U8c000005dAtsEAE
2,False,Maria Oli,Sifuentes Cervantes,SICO720910MTSFRL02,olviasc1972@hotmail.com,True,1972-09-10,1972-09-10,Mujer,0128c000002Byp4AAC,True,México,RUT,a1U8c000005dAtsEAE
3,False,Yolanda,Hernandez Marroquin,HEMY701109MNLRRL09,hemy7@hotmail.com,True,1970-11-09,1970-11-09,Mujer,0128c000002Byp4AAC,True,México,RUT,a1U8c000005dAtsEAE
4,False,Maria De Los A,Vidales Cuevas,VICA730203MNLDVN05,mariavidales73@gmail.com,True,1973-02-03,1973-02-03,Mujer,0128c000002Byp4AAC,True,México,RUT,a1U8c000005dAtsEAE

In [123]:
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)

Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(
    lambda y: traerId(y)
)

Subir_pacientes.shape

vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio

(215, 15)

In [124]:
Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)
Subir_pacientes = Subir_pacientes[Subir_pacientes["Id"].str.len() <= 12]
# Subir_pacientes["numero"] = Subir_pacientes["Id"].str.len()
Subir_pacientes.shape

(215, 15)

In [ ]:
#Subir_pacientes["dato_account"].head()

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/Todesffff.xlsx", index=False)

In [125]:
Subir_pacientes["dato_account"] = ""
if ("FirstName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + Subir_pacientes[
        "FirstName"
    ].astype(str)
if ("LastName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["LastName"].astype(str)
    )
if ("IdentificationId__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["IdentificationId__pc"].astype(str)
    )
if ("RecordTypeId" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["RecordTypeId"].astype(str)
    )
if ("BillingCountry" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCountry"].astype(str)
    )
if ("Identification_Type__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Identification_Type__c"].astype(str)
    )
if ("Pa_s_del_Paciente__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Pa_s_del_Paciente__c"].astype(str)
    )
if ("Cuenta_validada__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Cuenta_validada__c"].astype(str)
    )

if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["PersonEmail"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

if ("PersonBirthdate" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (Subir_pacientes["dato_account"] + "," + Subir_pacientes["PersonBirthdate"].apply(lambda x: x.isoformat() + "Z"))
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("HealthCloudGA__Gender__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["HealthCloudGA__Gender__pc"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("Phone" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["Phone"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingCity" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCity"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingState" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingState"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingStreet" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingStreet"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Email_Seteado__c"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

# Subir_pacientes["dato_account"] =  Subir_pacientes["dato_account"] =

Subir_pacientes["Id_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
)
""" Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
) """

' Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(\n    lambda x: agregarPaciente(x)\n) '

In [126]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c WHERE Empresa_Padre__r.Name = '" + campaña + "'"

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_asociadas.xlsx", index=False)
df2.head()

100%|██████████| 1/1 [00:02<00:00,  2.23s/it]

,P_liza__c,Nombre_de_Empresa__c,Identificador__c,Rut_Empresa__c,Empresa_Padre__r.Name,Holding__c,Plan__c,Pais__c,Activo__c,Id,LLave,dato
0,-,ITW Global Safety MX,ITW Global Safety MX,-,ITW Global Safety,-,-,México,True,a3yRN0000008YHRYA2,-,1

In [128]:
df2.shape

(1, 12)

In [129]:
Pacientes_con_id_no = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == False]
Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(
    lambda y: traerId(y)
)
Pacientes_con_id_no["Id Contacto"] = Pacientes_con_id_no["Id Account Paciente"].apply(
    lambda y: traerContact(y)
)
Pacientes_con_id_no.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_no.xlsx", index=False
)

Pacientes_con_id_si = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == True]
Pacientes_con_id_si.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_si.xlsx", index=False
)

Pacientes_con_id_final = pd.concat(
    [
        Pacientes_con_id_si,
        Pacientes_con_id_no,
    ],
    axis=0,
)

Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final.xlsx", index=False
)

if campaña == "Southbridge Plan Mujer":
    VpacientePrograma = "a1WRN0000007YwD2AU"
    VempresaaAccount = "001RN000003rwVaYAI"
    VempresaConvenio = "a3yRN0000006sVTYAY"
elif campaña == "Southbridge":
    VpacientePrograma = "a1W8c0000083pM9EAI"
    VempresaaAccount = "0018c00002f3Ev2AAE"
    VempresaConvenio = "a3yRN0000006sqYYAQ"
elif campaña == "Construmart":
    VpacientePrograma = "a1W8c0000083q9TEAQ"
    VempresaaAccount = "0018c00002ghJgBAAU"
    VempresaConvenio = "a3yRN0000006rlZYAQ"
elif campaña == "EY":
    VpacientePrograma = "a1W8c0000083laZEAQ"
    VempresaaAccount = "0018c00002eTboVAAS"
    VempresaConvenio = "a3yRN0000006rsTYAQ"
elif campaña == "Colmena":
    VpacientePrograma = "a1W8c0000083j8rEAA"
    VempresaaAccount = "0018c00002cXclQAAS"
    VempresaConvenio = "a3yRN0000006rf5YAA"
elif campaña == "Pedro De Valdivia":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sVzYAI"
elif campaña == "Forum":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s3SYAQ"
elif campaña == "Cruz Verde":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rsqYAA"
elif campaña == "Milan Fajanovic":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sR4YAI"
elif campaña == "ProChile":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rpsYAA"
elif campaña == "Farmacias Ahumada":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rspYAA"
elif campaña == "Minera El Abra":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006snOYAQ"
elif campaña == "Instruvalve":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s9DYAQ"
elif campaña == "VidaCel":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006suzYAA"
elif campaña == "Care Assistance Colaboradores":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006reXYA"
elif campaña == "Nexo":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sORYAY"
elif campaña == "Talo":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006t10YAA"
else:
    VpacientePrograma = "Buscarv"
    VempresaaAccount = "Buscarv"
    VempresaConvenio = "Buscarv"

#Programas por empresas
Pacientes_con_id_final["esonoes"] = Pacientes_con_id_final["rut"].isin(
    PacientesProgramas_PacientesSF["Rut_y"]
)
Subir_programas_empresa = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes"] == False
]
Subir_programas_empresa["Paciente__c"] = Subir_programas_empresa["Id Account Paciente"]
Subir_programas_empresa["Programas_por_Empresas__c"] = VpacientePrograma
Subir_programas_empresa = Subir_programas_empresa[
    [
        # "empresa",
        "poliza",
        "Paciente__c",
        "Programas_por_Empresas__c",
    ]
]
Subir_programas_empresa.to_excel(
    "F:/Empresas SF/reportes/programas_empresa.xlsx", index=False
)

#
Pacientes_con_id_final["esonoes1"] = Pacientes_con_id_final["rut"].isin(
    AccountContact_PacientesSF["Rut_y"]
)
Subir_AccountContact = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes1"] == False
]
Subir_AccountContact["ContactId"] = Subir_AccountContact["Id Contacto"]
Subir_AccountContact["AccountId"] = VempresaaAccount

Subir_AccountContact = Subir_AccountContact[
    [
        # "empresa",
        "poliza",
        "ContactId",
        "AccountId",
    ]
]
Subir_AccountContact.to_excel(
    "F:/Empresas SF/reportes/account_Contact.xlsx", index=False
)
if(campaña == "MetLife"):
    empresacontactoconvenio_PacientesSF["llave"] = empresacontactoconvenio_PacientesSF["Poliza"] +empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llaveA"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]
    Pacientes_con_id_final["llavepa"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]
    empresacontactoconvenio_PacientesSF["polizallavepa"] = empresacontactoconvenio_PacientesSF["Poliza"] + empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
else:
    empresacontactoconvenio_PacientesSF["llave"] = empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llaveA"] = Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]    
    empresacontactoconvenio_PacientesSF["polizallavepa"] = empresacontactoconvenio_PacientesSF["Poliza"] + empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llavepa"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]




Pacientes_con_id_final["esonoes2"] = Pacientes_con_id_final["llaveA"].isin(
    empresacontactoconvenio_PacientesSF["llave"]
)
Pacientes_con_id_final["sionose"] = Pacientes_con_id_final["llavepa"].isin(
    empresacontactoconvenio_PacientesSF["polizallavepa"]
)

Subir_empresacontactoconvenio = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes2"] == False
]
Subir_empresacontactoconvenio2 = Pacientes_con_id_final[
    Pacientes_con_id_final["sionose"] == False
]


Subir_empresacontactoconvenio["Paciente__c"] = Subir_empresacontactoconvenio[
    "Id Account Paciente"
]

Subir_empresacontactoconvenio["N_Documento_Titular__c"] = Subir_empresacontactoconvenio[
    "rutT"
]
Subir_empresacontactoconvenio["Empresa__c"] = VempresaConvenio

Subir_empresacontactoconvenio = Subir_empresacontactoconvenio[
    [
        "empleador",
        "rutE",
        "poliza",
        "Paciente__c",
        "N_Documento_Titular__c",
        "Empresa__c",
    ]
]
Subir_empresacontactoconvenio.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio.xlsx", index=False)
Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final2.xlsx", index=False
    
)
Subir_empresacontactoconvenio2.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio2.xlsx", index=False)

001RN000006Str2YAC EIGH740130HNLSNC04
001RN000006Sws5YAC CASZ830505MNLRLR08
001RN000006SkamYAC SICO720910MTSFRL02
001RN000006SrcIYAS HEMY701109MNLRRL09
001RN000006SyXIYA0 VICA730203MNLDVN05
001RN000006T38lYAC MODE690313MNLNRV04
001RN000006T3OrYAK NERM761104MTSTCL04
001RN000006T0dvYAC QUBI700720MZSRTS07
001RN000006T0qoYAC JUMJ870428HNLRNS03
001RN000006T3QTYA0 SAIR750730HDGNBM02
001RN000006T1OgYAK FAGA901230HDGRTL08
001RN000006Sy4GYAS BAOR751007HTSRRS05
001RN000006SygxYAC NAMD770407HNLVRV02
001RN000006T3DaYAK EIBC790728HNLLNS05
001RN000006StMKYA0 OELO760517HNLRNS05
001RN000006SzpyYAC MACJ851107HNLLHS01
001RN000006SxksYAC COZP880402HNLNMD00
001RN000006SwAWYA0 AARI731113HNLLDS08
001RN000006T1tKYAS MACV900424HNLRRC05
001RN000006SyXJYA0 MOHL690720MNLRRR05
001RN000006SvmRYAS MAAM740815MHGRLR02
001RN000006SwP5YAK GACI760803MNLRNR00
001RN000006T0ytYAC PAGM780104MNLZRR08
001RN000006SrCWYA0 MARV880714HNLRSC02
001RN000006SrCXYA0 GOGI830414MNLNRL07
001RN000006T2HWYA0 LORY901219MNLPDL05
001RN000006T3S5YAK HEUF760602HTSRRR09
001RN000006T1dDYAS MACO780116HNLRRS08
001RN000006T3ThYAK COFC760703MVZRLL06
001RN000006T0iqYAC SAZL881220HNLLPS08
001RN000006SzLGYA0 MOCN831019HDGNNS01
001RN000006SyNfYAK MORG690609MSPNBR05
001RN000006Ss6xYAC VICA880723HNLLRB03
001RN000006SwnHYAS RACE840614HNLNSD05
001RN000006Syp6YAC SALJ911014HNLNZR04
001RN000006T1dEYAS GOPN920608MNLNDH05
001RN000006T1uxYAC GOHJ720818HNLNNS09
001RN000006SlTfYAK GODC720511HDFNRR03
001RN000006T1eoYAC CETR710312MNLRRS02
001RN000006Sx0EYAS MESR900613HNLLNB00
001RN000006T3VJYA0 CARM800716HNLLBR07
001RN000006SxhkYAC TOAJ950702HSPLNS05
001RN000006SvrCYAS PERH860521HNLCDG04
001RN000006SzjVYAS CATF900628HNLMRR06
001RN000006T3YXYA0 MACJ740601HCCRMR08
001RN000006T3a9YAC RORJ930811HNLJSS05
001RN000006T3YYYA0 HEPG820828MNLLRM06
001RN000006SzWaYAK SISA690615HDFLLN01
001RN000006T3blYAC SASJ770528HNLNCM01
001RN000006SkanYAC RUHN840116MSPZRR02
001RN000006T3dNYAS TARA660622HNLMMS08
001RN000006SySQYA0 GAGJ781109HNLRRS03
001RN000006SyYvYAK GAGJ640802HNLRMS01
001RN000006SudSYAS EACY820526MNLSSS03
001RN000006T15NYAS GOZM780425HNLNXR02
001RN000006T378YAC MARJ700607HNLRSV09
001RN000006T3ezYAC VERA830511MTSGDN02
001RN000006SrilYAC PEMA710430HNLXNR08
001RN000006SzwRYAS EASM940921MNLSLR02
001RN000006SzBdYAK MARG990109HNLRDR02
001RN000006T1N5YAK LOSV641212HTSPLC05
001RN000006SxZfYAK OOGR670508MNLCNB09
001RN000006T3OsYAK AALB840411MNLLPL07
001RN000006T3gbYAC MARE890323HVZRYL08
001RN000006StixYAC GUFS660618MNLRRR01
001RN000006SsjgYAC PIAM880110HNLCLR08
001RN000006T3jpYAC LOGL730922MTSRRR06
001RN000006T3aAYAS CAPV641202MNLSRR06
001RN000006T3lRYAS EANB781109MNLSXR01
001RN000006T2xSYAS COMN810206HVZBDL05
001RN000006T3bmYAC ROEE970604HVZDSM05
001RN000006T1GcYAK MURA810118MNLXDL03
001RN000006T0irYAC AEVC691104HNLRCR05
001RN000006Sw8tYAC MAMR730725HNLCRF03
001RN000006Su2IYAS SEJL931017HNLGRS09
001RN000006T3GoYAK CAMI900414HTSRRS07
001RN000006SoUmYAK GADA791012HNLRZN03
001RN000006T3n3YAC COHM710207MVZRRN04
001RN000006T3ofYAC CIHM881219HNLDRR01
001RN000006T3QUYA0 RERD840603HNLSMV06
001RN000006StiyYAC GUGR791017HNLRRC08
001RN000006T2XeYAK ROTS760110HTSDRN03
001RN000006SsWmYAK AERE940812HNLLDD01
001RN000006Sx1mYAC EOGA970705MNLSRL05
001RN000006SrPPYA0 GAZC910831HOCRRR01
001RN000006SrcJYAS PAGB931020MNLLVR04
001RN000006T3WxYAK MORE830304MNLNMR01
001RN000006T3qHYAS BAHI770302MVZTRS05
001RN000006T2B4YAK OINF670618HNLRRR09
001RN000006SwAXYA0 GABA810305HNLRRL05
001RN000006T3f0YAC LEBL690113HNLLRS07
001RN000006T2XfYAK GOGE910719MDFNRS03
001RN000006T3IQYA0 LEDB850919MMCNZR09
001RN000006StizYAC BALA871020HBCLNR05
001RN000006T0qpYAC ROCL820604HVZMRS09
001RN000006T3rtYAC MASL951205MNLRLC02
001RN000006Syp7YAC ROPE920506HTSDRS00
001RN000006T10UYAS RULL990927MNLZRS01
001RN000006SrPQYA0 VIMJ010804HTSLRN08
001RN000006T3WyYAK LOTK961005MNLRVR01
001RN000006T3TiYAK SATL971211MMSLRL09
001RN000006T3tVYAS SABG870104MNLNLD01
001RN000006T3v7YAC SAGD990116HVZNRG08
001RN000006SvPlYAK MOHM950203HNLLRR03
001RN000006T38mYAC RUDC010109HNLZMR01
001RN000006T24dYAC RECC910521MNLNRL00
001RN000006T0isYAC AACI691202MNLRRR06
001RN000006SyNhYAK OEGR940103HVZRNY07
001RN000006StuEYAS ROMR781115MGTCRS02
001RN000006Ss6yYAC MAGJ690402HNLRRL02
001RN000006SrfUYAS MOMR700313HNLRRD05
001RN000006SofyYAC TEPE780316MNLRRL09
001RN000006T2vqYAC GAGF770921HNLLNR00
001RN000006SthJYAS GOHC690327MNLNRR04
001RN000006SwP7YAK TOAD991127MNLRGN05
001RN000006SzI4YAK VAAB030410HNLLBR00
001RN000006T3wjYAC LUGD030217HNLCMR05
001RN000006SygyYAC MALF780111HNLRRR02
001RN000006SyU2YAK RUMV790627MNLVRR04
001RN000006T3FCYA0 MAOF711003MNLRBR08
001RN000006SzRjYAK GALM750222MTSRNR07
001RN000006SmXmYAK CAAN770311MNLRGR07
001RN000006SvOBYA0 FUAM751124MNLNLN00
001RN000006T0NmYAK CUVA981111HNLRLL03
001RN000006SzRkYAK HEHR980509HSPRRC05
001RN000006SofzYAC ROPV961220MNLDDL04
001RN000006Sx1nYAC GAGM910126MDGLLN01
001RN000006SwiNYAS MUCL750129MNLXHL01
001RN000006SzGUYA0 ROLM851010HCLMMS05
001RN000006T2EIYA0 CIVD030213MMSHLL07
001RN000006T0R2YAK HECE930815HSPRRD00
001RN000006SursYAC CERM740810MZSPCG02
001RN000006Sy7UYAS CAGF860919HNLNRR09
001RN000006SnQbYAK MASN980416MNLRDT02
001RN000006SvPmYAK GOHE901030HSPVRR06
001RN000006SnQcYAK SIFL730712HNLFLS06
001RN000006SxZgYAK RARA780125MNLMVM03
001RN000006T3zxYAC AARN700926MNLRNH00
001RN000006T41ZYAS HERI891130MNLRSS00
001RN000006T43BYAS EARI721209MNLSYR09
001RN000006SwVTYA0 AARM670510MNLLDR08
001RN000006T2r0YAC VARY840604MDFLDL08
001RN000006SsILYA0 CUVI651020MNLRLR03
001RN000006SkxLYAS EOMU900528HNLSRR09
001RN000006T0R3YAK GAAY980911MNLRRR00
001RN000006SwiOYAS MARE820717MNLTMR03
001RN000006T44nYAC COCM861211MNLHVR04
001RN000006Sw8uYAC MAGE861006HNLGNR03
001RN000006T0cNYAS PEVI730705MNLRZD07
001RN000006SuS4YAK AARC710129MNLLDR05
001RN000006T1lHYAS MOPF641116MNLYRR01
001RN000006Sx6gYAC HEBD740720MTSRRL03
001RN000006T16wYAC SISL040110HNLFLS01
001RN000006T3jqYAC GAPK960412MNLRCN00
001RN000006Sw8vYAC SOCG850712HCLLSS05
001RN000006SutTYAS SUVB841105MNLRLL02
001RN000006SzJiYAK ZAGE970630HTSPLD00
001RN000006SsBnYAK VAGJ870108HNLLTS02
001RN000006T2xTYAS VENE880215MNLRVR00
001RN000006T3jrYAC RACM720620MNLMNR05
001RN000006T46PYAS NUCD911126MTSXRL01
001RN000006SuS5YAK NOML730401HDFGNS08
001RN000006Sxt2YAC GOVM010128HNLMZG04
001RN000006St4eYAC AATC890306HNLLRH03
001RN000006SqI5YAK MAGK010508HNLRMV01
001RN000006T0hCYAS BEGG971012MSPRMN09
001RN000006SzTLYA0 RACS990407MNLMNM08
001RN000006Sy97YAC MOVV890209MNLRLN09
001RN000006SySRYA0 AAFC000217HNLLLS06
001RN000006SygzYAC VADR870803MNLRRM07
001RN000006T1gRYAS SARN980419HNLNMX02
001RN000006T481YAC PUBA010526HNLNNL04
001RN000006SydkYAC HECL651106HNLRMN03
001RN000006T32IYAS ROGE950614HNLDRR08
001RN000006T27rYAC MAMK000817MNLRRY01
001RN000006Sv4lYAC CUFA900120HNLRLL00
001RN000006SnQdYAK LARX971224MNLRDM06
001RN000006T49dYAC ZALC860716MNLVXR02
001RN000006T1uyYAC FARJ970129HNLRSV03
001RN000006T3n4YAC CACR960109HMSSRN06
001RN000006T1IGYA0 AAHN981019MNLLRN01
001RN000006SfUgYAK FARG810506MVZRVL01
001RN000006SkaoYAC HUML891121HNLRRS07
001RN000006SsenYAC PASA891220HNLNLD04
001RN000006SyNiYAK LOCJ840102HNLPNS05
001RN000006SwqTYAS LOVM670110MNLPRR00
001RN000006T1BxYAK GOIY810114MNLNSS01
001RN000006T0yuYAC CARO891205HNLSSS02
001RN000006SnQeYAK AAVS861215HNLRLR03
001RN000006T1riYAC DEMS831018HNLLDR02
001RN000006T4BFYA0 VEPP931020HNLRTX08
001RN000006SqJdYAK QUHJ950527HNLNRS04
001RN000006SoL1YAK GARB020824HCLLDR02
001RN000006T4CrYAK CULM030605HNLLPR05
001RN000006SnjxYAC MACA901012MTSRSM04
001RN000006SuyKYAS CORF830906MTSRSL03
001RN000006SqEoYAK GOAP740830MNLNLR03
001RN000006T4ETYA0 MALA961201MNLRMD01
001RN000006T2mAYAS HEHM991018MNLRRR08
001RN000006SNWHYA4 ROBS921110MNLDZC07
001RN000006Sy2gYAC DECA000703HNLLNN03
001RN000006T4G5YAK EARX030120MNLSDM04
001RN000006SyAlYAK CUYO831027HNLRXM19
001RN000006T4HhYAK PECA890910HNLSRN05
001RN000006SvSzYAK RORM940208HSPSVR09
001RN000006SyU3YAK VAGD980701MNLZRN11
001RN000006T1N6YAK MAPD990829MTCRRN02
001RN000006Sw44YAC GOAF970228MMCNYR00
001RN000006T0m2YAC FAMG961127MNLBRR04
001RN000006SnjyYAC LILC641213MNLMNN09
001RN000006T38nYAC MAFM910712MNLRNN06
001RN000006SzegYAC CUAL020604MHGRNCB3
001RN000006T4JJYA0 GAZA931227HSPLPD01
001RN000006T0AtYAK NISJ890927HNLXLN04
001RN000006T2XgYAK BAEJ040212HNLRNNA7

Cuadrar eliminar pacientes q no estan en el listado
//-----------------------------------------------------------//

In [ ]:
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "163820064")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "153298939")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "191710940")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "182470082")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16277865")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16277865K")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "HEGJ930928HMNRRL06")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16007258K")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "86676540")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "202201466")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "105233469")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "130949185")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "255356798")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "34005945")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "185410072")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "197415029")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "254468134")].index, inplace=True)



empresacontactoconvenio_PacientesSF.head()

In [ ]:
empresacontactoconvenio_PacientesSF.to_excel(
    "F:/Empresas SF/reportes/SFpacientes.xlsx", index=False)

In [ ]:
contactd = sf.Account.get("0018c00002lUyo0AAC")
contactd["PersonContactId"]

In [ ]:
# contactd["PersonContactId"]
print(datetime.now())

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/tod  es.xlsx", index=False)

query2 = "select P_liza**c, Nombre_de_Empresa**c, Rut_Empresa**c, Empresa_Padre**r.Name, Empresa**r.name,Holding**c, Plan**c, Pais**c, Activo**c, Id from Datos_Empresa**c "

df2 = sf.smart_query(query2)
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

Subir_pacientes.to_excel("F:/Empresas SF/reportes/111account.xlsx", index=False)

derty = Subir_pacientes["IdentificationId__pc"]
sf.Contact.create({"IdentificationId\_\_pc": "derty", "Email": "example@example.com"})

Subir_pacientes.head()

Subir_pacientes.head()
Subir_pacientes.to_excel("F:/Empresas SF/reportes/account\_\_l.xlsx", index=False)

In [ ]:
""" if campaña != "MetLife":
    pacientes_en_campaña = pd.merge(
        left=campaña_seleccionada,
        right=Pacientes_con_id,
        how="left",
        left_on="Id Account",
        right_on="Id Account Paciente",
    )
    pacientes_en_campaña["Paciente__c"] = "Id Pacientes"
    pacientes_en_campaña["Programas_por_Empresas__c"] = "Id Programas Por empresa"
    pacientes_en_campaña.to_excel(
        "F:/Empresas SF/reportes/campaña_empresa.xlsx", index=False
    )
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña.xlsx", index=False
    )
 """

In [ ]:
""" if campaña != "MetLife1":
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    if ("poliza" in campaña_en_pacientes.columns) == True:
        campaña_en_pacientes["poliza"] = campaña_en_pacientes["poliza"].astype(str)

    campaña_en_pacientes = campaña_en_pacientes.rename(
        columns={"Programas_por_Empresas__c": "programas por empresa"}
    )
    campaña_en_pacientes["Paciente__c"] = campaña_en_pacientes["Id Account Paciente"]
    campaña_en_pacientes["Programas_por_Empresas__c"] = campaña_en_pacientes[
        "programas por empresa"
    ]
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña2.xlsx", index=False
    ) """

In [ ]:
# apprix_1 = Pacientes_SF.iloc[:790552,:]
# apprix_2 = Pacientes_SF.iloc[790553:,:]
# apprix_1.to_excel("F:/Empresas SF/reportes/Ruts1.xlsx",index=False)
# apprix_2.to_excel("F:/Empresas SF/reportes/Ruts2.xlsx",index=False)

In [ ]:
campaña_en_pacientes2 = pd.merge(
    left=Pacientes_con_id,
    right=campaña_seleccionada,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)
if ("poliza" in campaña_en_pacientes2.columns) == True:
    campaña_en_pacientes2["poliza"] = campaña_en_pacientes2["poliza"].astype(str)

campaña_en_pacientes2 = campaña_en_pacientes2.rename(
    columns={"Programas_por_Empresas__c": "programas por empresa"}
)
campaña_en_pacientes2["Paciente__c"] = campaña_en_pacientes2["Id Account Paciente"]
campaña_en_pacientes2["Programas_por_Empresas__c"] = campaña_en_pacientes2[
    "programas por empresa"
]


""" campaña_en_pacientes2 = campaña_en_pacientes2[
    (campaña_en_pacientes2["Programas_por_Empresas__c"] == "")] """
campaña_en_pacientes2["Esta"] = campaña_en_pacientes2["programas por empresa"].isnull()
campaña_en_pacientes2 = campaña_en_pacientes2[campaña_en_pacientes2["Esta"]]
campaña_en_pacientes2.to_excel(
    "F:/Empresas SF/reportes/archivo_campaña3.xlsx", index=False
)

In [ ]:
campaña_en_pacientes2["rut"].shape

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
rutes = pd.DataFrame(columns=["rut"])
rutes["rut"] = Pacientes_Archivo["rut"]
rutes["rutT"] = Pacientes_Archivo["rut2"]
rutes["Contratante"] = Pacientes_Archivo["Contratante"]
# rutes["poliza"] = Pacientes_Archivo["poliza"]
rutes.head()

In [ ]:
rutes["rut"] = rutes["rut"].astype(str)
rutes["rut"] = rutes["rut"].str.replace(".", "")
rutes["rut"] = rutes["rut"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rut"] = rutes["rut"].str.upper()
rutes["rut"] = rutes["rut"].str.strip()

rutes["rutT"] = rutes["rutT"].astype(str)
rutes["rutT"] = rutes["rutT"].str.replace(".", "")
rutes["rutT"] = rutes["rutT"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rutT"] = rutes["rutT"].str.upper()
rutes["rutT"] = rutes["rutT"].str.strip()

""" rutes["poliza"] = rutes["poliza"].astype(str)
rutes["poliza"] = rutes["poliza"].str.replace(".", "")
rutes["poliza"] = rutes["poliza"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["poliza"] = rutes["poliza"].str.strip() """


rutes.head()

In [ ]:
# derty = rutes.to_numpy().transpose().tolist()


Pacientes_SF2 = Pacientes_SF[["Rut", "Id Account Paciente"]]

In [ ]:
rutesi = pd.merge(
    left=rutes,
    right=Pacientes_SF2,
    how="left",
    left_on="rut",
    right_on="Rut",
)
rutesi.shape
rutesi.to_excel("F:/Empresas SF/reportes/rutsyempresa.xlsx", index=False)

In [ ]:
rutesi.head()

In [ ]:
rutesi_antg = pd.merge(
    left=rutesi,
    right=empresas_unidas,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)

In [ ]:
rutesi_antg.head()

In [ ]:
# rutesi_antg .to_excel("F:/Empresas SF/reportes/ruts_empresas_antiguos.xlsx", index=False)

In [ ]:
import json
import pandas as pd
from simple_salesforce import Salesforce, format_soql, format_external_id
from json import loads, dumps
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)

In [ ]:
""" query = "select Id, Account.Name, RutContact__c from AccountContactRelation "

df1 = sf.smart_query(query) """

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
# rutes = Subir_pacientes["rut"]

In [ ]:
""" df1.head() """

In [ ]:
""" df1["rut"] = df1["RutContact__c"].astype(str)
df1["rut"] = df1["rut"].str.replace(".", "")
df1["rut"] = df1["rut"].str.replace(
    "-", ""
)  # aca se trabaja con el nuevo rut desde rut1 ojooooooo
df1["rut"] = df1["rut"].str.upper()
df1["rut"] = df1["rut"].str.strip()
df1.head() """

In [ ]:
""" rutes.head() """

In [ ]:
""" rutesi = pd.merge(
    left=rutes,
    right=df1,
    how="left",
    left_on="rut",
    right_on="rut",
) """

In [ ]:
""" rutesi.to_excel("F:/Empresas SF/reportes/rutesnuevos_accountcontactrelation.xlsx", index=False) """

In [ ]:
""" df2["P_liza__c"] = df2["P_liza__c"].astype(str)
df2["P_liza__c"] = df2["P_liza__c"].str.replace(".", "")
df2["P_liza__c"] = df2["P_liza__c"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
df2["P_liza__c"] = df2["P_liza__c"].str.upper()
df2["P_liza__c"] = df2["P_liza__c"].str.strip() """

In [ ]:
modelo_nuevo = pd.merge(
    left=rutesi,
    right=df2,
    how="left",
    left_on="poliza",
    right_on="P_liza__c",
)
modelo_nuevo.to_excel("F:/Empresas SF/reportes/modelo_nuevo.xlsx", index=False)

In [ ]:
modelo = pd.DataFrame()
modelo = modelo_nuevo[["rutT", "Id Account Paciente", "Id"]]

In [ ]:
modelo.head()