In [ ]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
import shutil
import datetime
from datetime import datetime
import re
import json
from pandas.api.types import is_numeric_dtype
from simple_salesforce import Salesforce, format_soql, format_external_id
from simple_salesforce.exceptions import SalesforceMalformedRequest
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)

In [ ]:
# para smart query
""" sf = simple_salesforce.Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
 """
# para lo demas
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
# paramiko.util.log_to_file("paramiko.log")
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")

Descarga de empresas en sistema

In [ ]:
llamadaEmpresaAntiguas = "SELECT Id,Empresa__r.Id, Empresa__r.Name, Empresa__r.Holding__c, Empresa__r.Campa_a__c, Empresa__r.Id_Empresa__c, Empresa__r.Empleador__c, Empresa__r.poliza__c, Empresa__r.RUT_Empresa__c, Empresa__r.Corredor__c,Empresa__r.Padre_Empresa__c, Name FROM Programas_por_Empresas__c WHERE Empresa__r.Padre_Empresa__c = false"
vllamadaEmpresa = sf.smart_query(llamadaEmpresaAntiguas)
vllamadaEmpresa.to_excel("F:/Empresas SF/reportes/empresas_Antiguas.xlsx", index=False)
vllamadaEmpresa.head()

vllamadaEmpresa.shape

In [ ]:
# Recuperar empresas ID de salesforce desde Account
results = sf.query_all(
    """
  SELECT Id, name, Holding__c ,Campa_a__c,Id_Empresa__c,Empleador__c,poliza__c,RUT_Empresa__c  FROM account where ispersonaccount = false  AND Nueva_Estructura__c = False
    """
)
Empresas_SF = pd.DataFrame(results["records"])
Empresas_SF = Empresas_SF[
    [
        "Id",
        "Name",
        "Holding__c",
        "Campa_a__c",
        "Id_Empresa__c",
        "Empleador__c",
        "poliza__c",
        "RUT_Empresa__c",
    ]
]
Empresas_SF.shape

In [ ]:
# buscar empresas desde Programas_por_Empresas__c datos de empresas
results = sf.query_all(
    """
   select Id,Empresa__c, Empresa_Padre__c,Nombre_Empresa__c, Name  from Programas_por_Empresas__c 
    """
)
Programas_por_empresa_SF = pd.DataFrame(results["records"])

Programas_por_empresa_SF = Programas_por_empresa_SF[
    ["Id", "Empresa__c", "Empresa_Padre__c", "Nombre_Empresa__c", "Name"]
]
Programas_por_empresa_SF.shape

In [ ]:
# Union de Programas Empresa y empresas
Programas_empresas = pd.merge(
    left=Empresas_SF,
    right=Programas_por_empresa_SF,
    how="left",
    left_on="Id",
    right_on="Empresa__c",
)
Programas_empresas = Programas_empresas.rename(
    columns={
        "Id_x": "Id Account Empresa",
        "Name_x": "Nombre Empresa",
        "Holding__c": "Holding",
        "Campa_a__c": "Campaña",
        "Empleador__c": "Empleador",
        "poliza__c": "Poliza",
        "RUT_Empresa__c": "Rut Empresa",
        "Id_y": "Programas_por_Empresas__c",
        "Id_Empresa__c": "Codigo EMP",
        "Name_y": "Codigo A",
    }
)
Programas_empresas = Programas_empresas[
    [
        "Id Account Empresa",
        "Nombre Empresa",
        "Holding",
        "Campaña",
        "Empleador",
        "Poliza",
        "Rut Empresa",
        "Programas_por_Empresas__c",
        "Codigo EMP",
        "Codigo A",
    ]
]

Programas_empresas.shape

In [ ]:
Programas_empresas.to_excel("F:/Empresas SF/reportes/empresas.xlsx", index=False)

In [ ]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

fin empresas y comienzo de rescate de pacientes

In [ ]:
# CArga de PAcientes
results = sf.query_all(
    """
    select Id, IdentificationId__pc,Name, Identification_Type__c, Ocupaci_n__c,  PersonTitle ,PersonDepartment,HealthCloudGA__Gender__pc,Phone,PersonContactId  from Account where ispersonaccount = True 
   """
)
Pacientes_SF = pd.DataFrame(results["records"])

Pacientes_SF = Pacientes_SF[
    [
        "Id",
        "IdentificationId__pc",
        "Name",
        "Identification_Type__c",
        "Ocupaci_n__c",
        "PersonTitle",
        "PersonDepartment",
        "HealthCloudGA__Gender__pc",
        "Phone",
        "PersonContactId",
    ]
]
Pacientes_SF = Pacientes_SF.rename(
    columns={
        "Id": "Id Account Paciente",
        "IdentificationId__pc": "Rut",
        "Name": "Nombre",
        "Ocupaci_n__c": "Ocupacion",
        "PersonTitle": "Cargo",
        "PersonDepartment": "Departamento",
        "HealthCloudGA__Gender__pc": "Sexo",
        "Phone": "Telefono",
        "Identification_Type__c": "Tipo de Documento",
        "PersonContactId": "Id Contacto",
    }
)
Pacientes_SF.shape

In [ ]:
def siPrimerCero(y):
    if len(y) <= 7:
        return "NONE"
    if y[0] == "0":
        y = y[1:]
    return y

In [ ]:
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.upper()
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("-", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("–", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].apply(lambda y: siPrimerCero(y))
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.strip()

In [ ]:
Pacientes_Nones1 = Pacientes_SF[(Pacientes_SF["Rut"] == "NONE")]
Pacientes_SF = Pacientes_SF[(Pacientes_SF["Rut"] != "NONE")]
Pacientes_Nones1.to_excel("F:/Empresas SF/reportes/NONE1.xlsx", index=False)

Aca se comienzan a unir las relaciones de pacientes y empresas ya creadas.

# buscar empresas desde Paciente_Programas\_\_c relaciones de empresas con pacientes

results = sf.query_all(
"""
select Id,Paciente**c, Programas_por_Empresas**c,padre**c from Paciente_Programas**c  
 """
)
Paciente_Programas_SF = pd.DataFrame(results["records"])

Paciente_Programas_SF = Paciente_Programas_SF[
["Id", "Paciente__c", "Programas_por_Empresas__c", "padre__c"]
]
Paciente_Programas_SF = Paciente_Programas_SF.rename(
columns={
"Id": "Id Pacientes_Programas**c",
"Paciente**c": "Id Account",
"Programas_por_Empresas**c": "Programas_por_Empresas**c",
"padre\_\_c": "Nombre Campaña",
}
)
Paciente_Programas_SF.shape

# Union de Pacientes Programas y Programas por empresa

empresas_unidas = pd.merge(
left=Paciente_Programas_SF,
right=Programas_empresas,
how="left",
left_on="Programas_por_Empresas**c",
right_on="Programas_por_Empresas**c",
)
empresas_unidas.shape

Carga de Archivo carga

In [177]:
nuevos = "F:/Empresas SF/reportes/carga.xlsx"
campaña = "Cruz Verde"
Pais = "Chile"
# Pais = "México"

Pacientes_Archivo = pd.read_excel(nuevos)
# OJO se copia rut1 a rut le saca el guoion
Pacientes_Archivo.head(5)

,rut1,rut2,NOMBRE,nombres,apellidos,poliza,rutE
0,16006297-5,16006297-5,CRISTINA SONIA SERRANO ZARCO,CRISTINA SORIA,SERRANO ZARCO,cruz verde,cruz verde
1,15783910-1,15783910-1,LEOPOLDO ANTONIO CEPEDA CASTRO,LEOPOLDO ANTONIO,CEPEDA CASTRO,cruz verde,cruz verde
2,13794000-0,13794000-0,JAIME PEDRO ZARATE ZARATE,JAIME PEDRO,ZARATE ZARATE,cruz verde,cruz verde
3,17281827-7,17281827-7,SEBASTIAN ENRIQUE HERNANDEZ REÑILAO,SEBASTIAN ENRIQUE,HERNANDEZ REÑILAO,cruz verde,cruz verde
4,13673484-9,13673484-9,MARCELA VERONICA ROJAS VALENZUELA,MARCELA VERONICA,ROJAS VALENZUELA,cruz verde,cruz verde

In [178]:
Pacientes_Archivo.shape

(6574, 7)

In [179]:
Pacientes_IDrut = Pacientes_SF[
    [
        "Rut",
        "Id Account Paciente",
        "Id Contacto",
    ]
]

In [180]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut1"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("-", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("–", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.upper()
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.strip()

Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.upper()
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.strip()
Pacientes_Archivo.shape

Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].astype(str)
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.upper()
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("-", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("–", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2565835100.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2565835100.py:19: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")

(6574, 8)

In [181]:
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rut2"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("-", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("–", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.upper()
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2296516763.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")

(6574, 9)

In [182]:
if ("nombres" in Pacientes_Archivo.columns) == True:
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(",", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("-", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.title()
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.strip()
    # Pacientes_Archivo["empresa"] = Pacientes_Archivo["empresa"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(",", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("-", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\1579381385.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\1579381385.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")

In [183]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo

# Pacientes_Nones = Pacientes_Archivo[(Pacientes_Archivo["rut"] == "NONE") | (Pacientes_Archivo["rutT"] == "NONE")]
# Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE") | (Pacientes_Archivo["rutT"] != "NONE")]

,rut1,rut2,NOMBRE,nombres,apellidos,poliza,rutE,rut,rutT
0,16006297-5,16006297-5,CRISTINA SONIA SERRANO ZARCO,Cristina Soria,Serrano Zarco,CRUZ VERDE,CRUZ VERDE,160062975,160062975
1,15783910-1,15783910-1,LEOPOLDO ANTONIO CEPEDA CASTRO,Leopoldo Antonio,Cepeda Castro,CRUZ VERDE,CRUZ VERDE,157839101,157839101
2,13794000-0,13794000-0,JAIME PEDRO ZARATE ZARATE,Jaime Pedro,Zarate Zarate,CRUZ VERDE,CRUZ VERDE,137940000,137940000
3,17281827-7,17281827-7,SEBASTIAN ENRIQUE HERNANDEZ REÑILAO,Sebastian Enrique,Hernandez Reñilao,CRUZ VERDE,CRUZ VERDE,172818277,172818277
4,13673484-9,13673484-9,MARCELA VERONICA ROJAS VALENZUELA,Marcela Veronica,Rojas Valenzuela,CRUZ VERDE,CRUZ VERDE,136734849,136734849
...,...,...,...,...,...,...,...,...,...
6569,13160679-6,13160679-6,PAOLA ISABEL ARELLANO RISCO,Paola Isabel,Arellano Risco,CRUZ VERDE,CRUZ VERDE,131606796,131606796
6570,9072636-6,9072636-6,MONICA ELIANA SEGURA GOMEZ,Monica Eliana,Segura Gomez,CRUZ VERDE,CRUZ VERDE,90726366,90726366
6571,10632796-3,10632796-3,PEDRO ELIECER ACEVEDO SAAVEDRA,Pedro Eliecer,Acevedo Saavedra,CRUZ VERDE,CRUZ VERDE,106327963,106327963
6572,13519784-K,13519784-K,MAURICIO ALEJANDRO HUAIQUIMILLA BRANJE,Mauricio Alejandro,Huaiquimilla Branje,CRUZ VERDE,CRUZ VERDE,13519784K,13519784K
6573,12684418-2,12684418-2,JOHNNY WILSON FERNANDEZ ROSAS,Johnny Wilson,Fernandez Rosas,CRUZ VERDE,CRUZ VERDE,126844182,126844182

In [184]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo22.xlsx", index=False)

In [185]:
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE")]
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rutT"] != "NONE")]
# | (Pacientes_Archivo["rutT"] != "NONE")

PAcientes Programas

In [186]:
query_pacientePrograma = (
    "SELECT Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id from Paciente_Programas__c where padre__c =  '"
    + campaña
    + "'"
)
pacientePrograma = sf.smart_query(query_pacientePrograma)
pacientePrograma.head()

100%|██████████| 1/1 [00:14<00:00, 14.18s/it]

Empty DataFrame
Columns: [Programas_por_Empresas__r.Empresa__c, Paciente__r.IdentificationId__pc, Paciente__c, Id]
Index: []

In [187]:
pacientePrograma = pacientePrograma.rename(
    columns={
        "Id": "Id Paciente Programas",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Programas_por_Empresas__r.Empresa__c": "Id Account Empleador",
        "Paciente__c": "Id Account Paciente",
    }
)
pacientePrograma.head()

Empty DataFrame
Columns: [Id Account Empleador, Rut, Id Account Paciente, Id Paciente Programas]
Index: []

In [188]:
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("-", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("–", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.upper()
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.strip()
pacientePrograma.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\3172767859.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")

(0, 4)

In [189]:
PacientesProgramas_PacientesSF = pd.merge(
    left=pacientePrograma,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)

PacientesProgramas_PacientesSF.head()

Empty DataFrame
Columns: [Id Account Empleador, Rut_x, Id Paciente Programas, Rut_y, Id Account Paciente, Id Contacto]
Index: []

account contact relation

In [190]:
query_accountContact = (
    "select Id,ContactId, AccountId, RutContact__c ,Contact.AccountId from AccountContactRelation where Account.Campa_a__c = '"
    + campaña
    + "'"
)
accountContactRelation = sf.smart_query(query_accountContact)
accountContactRelation.head()

100%|██████████| 1/1 [00:03<00:00,  3.54s/it]

Empty DataFrame
Columns: [RutContact__c, AccountId, ContactId, Id, Contact.AccountId]
Index: []

In [191]:
accountContactRelation = accountContactRelation.rename(
    columns={
        "Id": "Id AccountContactRelation",
        "ContactId": "Id Contact Paciente",
        "AccountId": "Id Account Empresa",
        "RutContact__c": "Rut",
        "Contact.AccountId": "Id Account Paciente",
    }
)
accountContactRelation.head()

Empty DataFrame
Columns: [Rut, Id Account Empresa, Id Contact Paciente, Id AccountContactRelation, Id Account Paciente]
Index: []

In [192]:
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("-", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("–", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.upper()
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.strip()
accountContactRelation.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2268980097.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")

(0, 5)

In [193]:
AccountContact_PacientesSF = pd.merge(
    left=accountContactRelation,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
AccountContact_PacientesSF.head()

Empty DataFrame
Columns: [Rut_x, Id Account Empresa, Id Contact Paciente, Id AccountContactRelation, Rut_y, Id Account Paciente, Id Contacto]
Index: []

empresa contacto convenio

In [194]:
query_empresacontactoconvenio = (
    "select Id,Paciente__r.IdentificationId__pc,  Empresa__c, Paciente__c,N_Documento_Titular__c from EmpresaContactoConvenios__c where Empresa__r.Campa_a__c = '"
    + campaña
    + "'"
)
empresacontactoconvenio = sf.smart_query(query_empresacontactoconvenio)
empresacontactoconvenio.head()

100%|██████████| 1/1 [00:02<00:00,  2.35s/it]

Empty DataFrame
Columns: [Id, Empresa__c, Paciente__c, N_Documento_Titular__c, Paciente__r.IdentificationId__pc]
Index: []

In [195]:
empresacontactoconvenio = empresacontactoconvenio.rename(
    columns={
        "Id": "Id EmpresaContactoConvenio",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Empresa__c": "Id Convenio Empresa",
        "Paciente__c": "Id Account Paciente",
        "N_Documento_Titular__c": "Rut Titular",
    }
)
empresacontactoconvenio.head()

Empty DataFrame
Columns: [Id EmpresaContactoConvenio, Id Convenio Empresa, Id Account Paciente, Rut Titular, Rut]
Index: []

In [196]:
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("-", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("–", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.upper()
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.strip()
empresacontactoconvenio.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2534521553.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")

(0, 5)

In [197]:
empresacontactoconvenio_PacientesSF = pd.merge(
    left=empresacontactoconvenio,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
empresacontactoconvenio_PacientesSF.head()

Empty DataFrame
Columns: [Id EmpresaContactoConvenio, Id Convenio Empresa, Rut Titular, Rut_x, Rut_y, Id Account Paciente, Id Contacto]
Index: []

In [198]:
""" if(campaña!="MetLife"):
    pacientePrograma.to_excel("F:/Empresas SF/reportes/paciente_programas.xlsx", index=False) """

' if(campaña!="MetLife"):\n    pacientePrograma.to_excel("F:/Empresas SF/reportes/paciente_programas.xlsx", index=False) '

Rescatamos todos los ruts Id con su empresa desde la campaña

In [199]:
Pacientes_Archivo.head()

,rut1,rut2,NOMBRE,nombres,apellidos,poliza,rutE,rut,rutT
0,16006297-5,16006297-5,CRISTINA SONIA SERRANO ZARCO,Cristina Soria,Serrano Zarco,CRUZ VERDE,CRUZ VERDE,160062975,160062975
1,15783910-1,15783910-1,LEOPOLDO ANTONIO CEPEDA CASTRO,Leopoldo Antonio,Cepeda Castro,CRUZ VERDE,CRUZ VERDE,157839101,157839101
2,13794000-0,13794000-0,JAIME PEDRO ZARATE ZARATE,Jaime Pedro,Zarate Zarate,CRUZ VERDE,CRUZ VERDE,137940000,137940000
3,17281827-7,17281827-7,SEBASTIAN ENRIQUE HERNANDEZ REÑILAO,Sebastian Enrique,Hernandez Reñilao,CRUZ VERDE,CRUZ VERDE,172818277,172818277
4,13673484-9,13673484-9,MARCELA VERONICA ROJAS VALENZUELA,Marcela Veronica,Rojas Valenzuela,CRUZ VERDE,CRUZ VERDE,136734849,136734849

Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

Pacientes_Archivo.drop_duplicates(
[
"rut",
"rutT",
"LLaveEmpresa",
"LLAveRut",
],
keep="last",
)
Pacientes_Archivo.shape

In [200]:
print(campaña)

Cruz Verde

In [201]:
Pacientes_Archivo["RutEstaoNo"] = Pacientes_Archivo["rut"].isin(Pacientes_SF["Rut"])

In [202]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo.xlsx", index=False)

In [203]:
# aca a los pacientes del archivo se les asigna sus datos en SF
Pacientes_con_id = pd.merge(
    left=Pacientes_Archivo,
    right=Pacientes_SF,
    how="left",
    left_on="rut",
    right_on="Rut",
)
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/Pacientes_con_id.xlsx", index=False)
Pacientes_con_id.shape

(6574, 20)

In [204]:
Pacientes_con_id.head()

,rut1,rut2,NOMBRE,nombres,apellidos,poliza,rutE,rut,rutT,RutEstaoNo,Id Account Paciente,Rut,Nombre,Tipo de Documento,Ocupacion,Cargo,Departamento,Sexo,Telefono,Id Contacto
0,16006297-5,16006297-5,CRISTINA SONIA SERRANO ZARCO,Cristina Soria,Serrano Zarco,CRUZ VERDE,CRUZ VERDE,160062975,160062975,True,0018c00002f3HpzAAE,160062975,Cristina Sonia Serrano Zarco,RUT,None,None,None,None,None,0038c000039oairAAA
1,15783910-1,15783910-1,LEOPOLDO ANTONIO CEPEDA CASTRO,Leopoldo Antonio,Cepeda Castro,CRUZ VERDE,CRUZ VERDE,157839101,157839101,True,0018c00002egiZ0AAI,157839101,Leopoldo Antonio Cepeda Castro,RUT,None,None,None,Hombre,None,0038c000039GhVfAAK
2,13794000-0,13794000-0,JAIME PEDRO ZARATE ZARATE,Jaime Pedro,Zarate Zarate,CRUZ VERDE,CRUZ VERDE,137940000,137940000,True,0018c00002azhF7AAI,137940000,Jaime Pedro Zarate Zarate,RUT,None,None,None,Hombre,None,0038c000035rr85AAA
3,17281827-7,17281827-7,SEBASTIAN ENRIQUE HERNANDEZ REÑILAO,Sebastian Enrique,Hernandez Reñilao,CRUZ VERDE,CRUZ VERDE,172818277,172818277,True,0018c00002egjUXAAY,172818277,Sebastian Enrique Hernandez Reñilao,RUT,None,None,None,Hombre,None,0038c000039GiROAA0
4,13673484-9,13673484-9,MARCELA VERONICA ROJAS VALENZUELA,Marcela Veronica,Rojas Valenzuela,CRUZ VERDE,CRUZ VERDE,136734849,136734849,True,0018c00002jWWqVAAW,136734849,Marcela Veronica Rojas Valenzuela,RUT,None,Asistente Mesa De Ayuda Convenios,None,Mujer,None,0038c00003F3gFXAAZ

In [205]:
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

In [206]:
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")


def isValid(email):
    if re.fullmatch(regex, email):
        return email
    else:
        return ""

In [207]:
import datetime

# Final_pacientes_y_empresa = Pacientes_con_ID
Subir_pacientes = pd.DataFrame()
# Subir_pacientes["Email_Seteado__c"] = ""
Subir_pacientes["RutEstaoNo"] = Pacientes_con_id["RutEstaoNo"]
# agrupar = empresasqfaltan[empresasqfaltan['si']==False]


if ("nombres" in Pacientes_con_id.columns) == True:
    Subir_pacientes["FirstName"] = Pacientes_con_id["nombres"]
if ("apellidos" in Pacientes_con_id.columns) == True:
    Subir_pacientes["LastName"] = Pacientes_con_id["apellidos"]
if ("rut" in Pacientes_con_id.columns) == True:
    Subir_pacientes["IdentificationId__pc"] = (
        Pacientes_con_id["rut"].astype(str).str.upper()
    )


if ("email" in Pacientes_con_id.columns) == True:
    # Pacientes_con_id["email"] = Pacientes_con_id["email"].astype(str).str.lower().replace("nan","")
    Subir_pacientes["PersonEmail"] = Pacientes_con_id["email"].astype(str).str.lower()
    Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].apply(
        lambda y: isValid(y)
    )
    Subir_pacientes["Email_Seteado__c"] = np.where(
        Subir_pacientes["PersonEmail"] != "", "True", "False"
    )

    # Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].str.replace("no informado", "")
if ("nacimiento" in Pacientes_con_id.columns) == True:
    try:
        Subir_pacientes["PersonBirthdate"] = pd.to_datetime(
            Pacientes_con_id["nacimiento"].astype(str), format="%Y-%m-%d"
        )
    except ValueError:
        Subir_pacientes[
            "PersonBirthdate"
        ] = (
            datetime.datetime.now()
        )  # Provide a default value when the format doesn't match

if ("sexo" in Pacientes_con_id.columns) == True:
    Sexo = {
        "H": "Hombre",
        "m": "Hombre",
        "Masculino": "Hombre",
        "Femenino": "Mujer",
        "": "Prefiero no responder",
        "HOMBRE": "Hombre",
        "MUJER": "Mujer",
        "F": "Mujer",
        "O": "Prefiero no responder",
        "Ambos": "Prefiero no responder",
        "N": "Prefiero no responder",
        "Otro": "Prefiero no responder",
        "n": "Prefiero no responder",
        "N": "Prefiero no responder",
        "FEMENINO": "Mujer",
        "f": "Mujer",
        "MASCULINO": "Hombre",
        "m": "Hombre",
        "M ": "Hombre",
        "M": "Hombre",
        "F ": "Mujer",
        "Varón": "Hombre",
        "varon": "Hombre",
    }
    Pacientes_con_id.replace({"sexo": Sexo}, inplace=True)
    Subir_pacientes["HealthCloudGA__Gender__pc"] = Pacientes_con_id["sexo"]
if ("direccion" in Pacientes_con_id.columns) == True:
    Subir_pacientes["BillingStreet"] = (
        Pacientes_con_id["direccion"].str.lower().replace("nan", "")
    )
    # Subir_pacientes["BillingStreet"] = Final_pacientes_y_empresa["direccion"]
if ("comuna" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
    Subir_pacientes["BillingState"] = (
        Pacientes_con_id["comuna"].str.title().replace("NaN", "")
    )
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
if ("ciudad" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingCity"] = Final_pacientes_y_empresa["ciudad"]
    Subir_pacientes["BillingCity"] = (
        Pacientes_con_id["ciudad"].str.title().replace("NaN", "")
    )

if ("cargo" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonTitle"] = Pacientes_con_id["cargo"].str.title()

if ("division" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonDepartment"] = Pacientes_con_id["division"].str.title()

if ("celular" in Pacientes_con_id.columns) == True:
    Subir_pacientes["Phone"] = (
        Pacientes_con_id["celular"].apply(str).str.strip().replace("+", "")
    )
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NaN", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace(".", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("Nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("-", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("0", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("No Informado", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("_", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("/", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("+", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("null", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NULL", "")


Subir_pacientes["RecordTypeId"] = "0128c000002Byp4AAC"
Subir_pacientes["Cuenta_validada__c"] = "True"


if Pais == "Chile":
    Subir_pacientes["BillingCountry"] = "Chile"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtnEAE"
else:
    Subir_pacientes["BillingCountry"] = "México"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtsEAE"

Subir_pacientes_Que_no_Estan = Subir_pacientes
Subir_pacientes_Estan = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == True]
Subir_pacientes = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == False]


# Subir_pacientes.PersonEmail = Subir_pacientes.PersonEmail.fillna('')
Subir_pacientes.to_excel(
    "F:/Empresas SF/reportes/Pacientes_Que_No_Estaban.xlsx", index=False
)
Subir_pacientes.head()

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
6,False,Mattheo Valentin,Torres Gaete,162822438,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
8,False,Rocio De Jorge,Jorge Benavente,258972996,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
13,False,Leandro Magno,Galarza Freire,283030571,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
14,False,Jonathan Victor,Ramos Sanches,282600676,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
15,False,Amanda Carvalho,De Almeida,282600684,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE

In [208]:
Subir_pacientes.shape

(666, 9)

In [209]:
def traerId(rut):
    if len(rut) >= 8:
        busquedaDatos = "FIND {" + rut + "} RETURNING Account(Id,IdentificationId__pc)"
        derty = dict(sf.search(busquedaDatos))
        if derty["searchRecords"] != []:
            if derty["searchRecords"][0]["attributes"]["type"] == "Account":
                jote = derty["searchRecords"][0]["Id"]
                dertyd = derty["searchRecords"][0]["IdentificationId__pc"]
                print(jote + " " + dertyd)
                return jote
            else:
                print("no")
        else:
            print("vacio")
    else:
        return "None"


def traerContact(ide):
    ide = str(ide)
    if len(ide) >= 12:
        idcontact = sf.Account.get(ide)
        return idcontact["PersonContactId"]
    else:
        return "NONES"


def agregarPaciente(listado):
    vListado = listado.split(",")
    
    derty = None
    
        
        
    if (vListado[9] == ""):                               
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],  
                                          
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    else:
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],
                        "PersonBirthdate": vListado[9],
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    # Verify that the Contact was created successfully
    # created_contact = sf.Contact.get(sf_res['id'])
    # print(created_contact)


""" sf_res =None
try:
    # Create the new Contact record in Salesforce
    sf_res = sf.Contact.create(new_contact)
except SalesforceMalformedRequest as e:
    if 'duplicateResut' in e[0]:
        print(f"Malformed request error: {e}")
        # Handle the error here as needed
        #Bypass SF Email duplicate rule by removing the email to create a SF Lead
        del new_contact['Email']
        sf_res = sf.Contact.create(new_contact)


if sf_res is not None:
    # Verify that the Contact was created successfully
    created_contact = sf.Contact.get(sf_res['id'])
    print(created_contact) """

' sf_res =None\ntry:\n    # Create the new Contact record in Salesforce\n    sf_res = sf.Contact.create(new_contact)\nexcept SalesforceMalformedRequest as e:\n    if \'duplicateResut\' in e[0]:\n        print(f"Malformed request error: {e}")\n        # Handle the error here as needed\n        #Bypass SF Email duplicate rule by removing the email to create a SF Lead\n        del new_contact[\'Email\']\n        sf_res = sf.Contact.create(new_contact)\n\n\nif sf_res is not None:\n    # Verify that the Contact was created successfully\n    created_contact = sf.Contact.get(sf_res[\'id\'])\n    print(created_contact) '

In [210]:
Subir_pacientes.head()

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
6,False,Mattheo Valentin,Torres Gaete,162822438,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
8,False,Rocio De Jorge,Jorge Benavente,258972996,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
13,False,Leandro Magno,Galarza Freire,283030571,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
14,False,Jonathan Victor,Ramos Sanches,282600676,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
15,False,Amanda Carvalho,De Almeida,282600684,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE

In [211]:
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)

Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(
    lambda y: traerId(y)
)

Subir_pacientes.shape

vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2950418267.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(

(666, 10)

In [212]:
Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)
Subir_pacientes = Subir_pacientes[Subir_pacientes["Id"].str.len() <= 12]
# Subir_pacientes["numero"] = Subir_pacientes["Id"].str.len()
Subir_pacientes.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2892125083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)

(666, 10)

In [213]:
#Subir_pacientes["dato_account"].head()

In [214]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/Todesffff.xlsx", index=False)

In [215]:
Subir_pacientes["dato_account"] = ""
if ("FirstName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + Subir_pacientes[
        "FirstName"
    ].astype(str)
if ("LastName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["LastName"].astype(str)
    )
if ("IdentificationId__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["IdentificationId__pc"].astype(str)
    )
if ("RecordTypeId" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["RecordTypeId"].astype(str)
    )
if ("BillingCountry" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCountry"].astype(str)
    )
if ("Identification_Type__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Identification_Type__c"].astype(str)
    )
if ("Pa_s_del_Paciente__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Pa_s_del_Paciente__c"].astype(str)
    )
if ("Cuenta_validada__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Cuenta_validada__c"].astype(str)
    )

if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["PersonEmail"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

if ("PersonBirthdate" in Subir_pacientes.columns) == True:
    #if Subir_pacientes["dato_account"] != "":
        #fecha = pd.to_datetime(Subir_pacientes["PersonBirthdate"].astype(str) + " 00:00:00").isoformat() + "Z" 
        #fecha = pd.to_datetime(Subir_pacientes["PersonBirthdate"].astype(str) + " 00:00:00")                       
        Subir_pacientes["dato_account"] = (Subir_pacientes["dato_account"] + "," + Subir_pacientes["PersonBirthdate"].astype(str)
            
        )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("HealthCloudGA__Gender__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["HealthCloudGA__Gender__pc"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("Phone" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["Phone"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingCity" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCity"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingState" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingState"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingStreet" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingStreet"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Email_Seteado__c"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

# Subir_pacientes["dato_account"] =  Subir_pacientes["dato_account"] =

Subir_pacientes["Id_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
)
""" Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
) """

' Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(\n    lambda x: agregarPaciente(x)\n) '

In [216]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c WHERE Empresa_Padre__r.Name = '" + campaña + "'"

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_asociadas.xlsx", index=False)
df2.head()

100%|██████████| 1/1 [00:08<00:00,  8.80s/it]

Empty DataFrame
Columns: [Empresa__r.name, Rut_Empresa__c, Nombre_de_Empresa__c, Pais__c, Empresa_Padre__r.Name, P_liza__c, Id, Plan__c, Holding__c, Identificador__c, Activo__c, LLave, dato]
Index: []

In [217]:
Pacientes_con_id_no = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == False]
Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(
    lambda y: traerId(y)
)
Pacientes_con_id_no["Id Contacto"] = Pacientes_con_id_no["Id Account Paciente"].apply(
    lambda y: traerContact(y)
)
Pacientes_con_id_no.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_no.xlsx", index=False
)

Pacientes_con_id_si = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == True]
Pacientes_con_id_si.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_si.xlsx", index=False
)

Pacientes_con_id_final = pd.concat(
    [
        Pacientes_con_id_si,
        Pacientes_con_id_no,
    ],
    axis=0,
)

Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final.xlsx", index=False
)

if campaña == "Southbridge Plan Mujer":
    VpacientePrograma = "a1WRN0000007YwD2AU"
    VempresaaAccount = "001RN000003rwVaYAI"
    VempresaConvenio = "a3yRN0000006sVTYAY"
elif campaña == "Southbridge":
    VpacientePrograma = "a1W8c0000083pM9EAI"
    VempresaaAccount = "0018c00002f3Ev2AAE"
    VempresaConvenio = "a3yRN0000006sqYYAQ"
elif campaña == "Construmart":
    VpacientePrograma = "a1W8c0000083q9TEAQ"
    VempresaaAccount = "0018c00002ghJgBAAU"
    VempresaConvenio = "a3yRN0000006rlZYAQ"
elif campaña == "EY":
    VpacientePrograma = "a1W8c0000083laZEAQ"
    VempresaaAccount = "0018c00002eTboVAAS"
    VempresaConvenio = "a3yRN0000006rsTYAQ"
elif campaña == "Colmena":
    VpacientePrograma = "a1W8c0000083j8rEAA"
    VempresaaAccount = "0018c00002cXclQAAS"
    VempresaConvenio = "a3yRN0000006rf5YAA"
elif campaña == "Pedro De Valdivia":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sVzYAI"
elif campaña == "Forum":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s3SYAQ"
elif campaña == "Cruz Verde":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rsqYAA"
else:
    VpacientePrograma = "Buscarv"
    VempresaaAccount = "Buscarv"
    VempresaConvenio = "Buscarv"


Pacientes_con_id_final["esonoes"] = Pacientes_con_id_final["rut"].isin(
    PacientesProgramas_PacientesSF["Rut_y"]
)
Subir_programas_empresa = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes"] == False
]
Subir_programas_empresa["Paciente__c"] = Subir_programas_empresa["Id Account Paciente"]
Subir_programas_empresa["Programas_por_Empresas__c"] = VpacientePrograma
Subir_programas_empresa = Subir_programas_empresa[
    [
        # "empresa",
        "poliza",
        "Paciente__c",
        "Programas_por_Empresas__c",
    ]
]
Subir_programas_empresa.to_excel(
    "F:/Empresas SF/reportes/programas_empresa.xlsx", index=False
)


Pacientes_con_id_final["esonoes1"] = Pacientes_con_id_final["rut"].isin(
    AccountContact_PacientesSF["Rut_y"]
)
Subir_AccountContact = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes1"] == False
]
Subir_AccountContact["ContactId"] = Subir_AccountContact["Id Contacto"]
Subir_AccountContact["AccountId"] = VempresaaAccount

Subir_AccountContact = Subir_AccountContact[
    [
        # "empresa",
        "poliza",
        "ContactId",
        "AccountId",
    ]
]
Subir_AccountContact.to_excel(
    "F:/Empresas SF/reportes/account_Contact.xlsx", index=False
)


Pacientes_con_id_final["esonoes2"] = Pacientes_con_id_final["rut"].isin(
    empresacontactoconvenio_PacientesSF["Rut_y"]
)
Subir_empresacontactoconvenio = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes2"] == False
]
Subir_empresacontactoconvenio["Paciente__c"] = Subir_empresacontactoconvenio[
    "Id Account Paciente"
]
Subir_empresacontactoconvenio["N_Documento_Titular__c"] = Subir_empresacontactoconvenio[
    "rutT"
]
Subir_empresacontactoconvenio["Empresa__c"] = VempresaConvenio

Subir_empresacontactoconvenio = Subir_empresacontactoconvenio[
    [
        # "empresa",
        "poliza",
        "Paciente__c",
        "N_Documento_Titular__c",
        "Empresa__c",
    ]
]
Subir_empresacontactoconvenio.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio.xlsx", index=False
)

001RN000005tdcDYAQ 162822438
001RN000005ti0jYAA 258972996
001RN000005tdFbYAI 283030571
001RN000005tSiSYAU 282600676
001RN000005tdU7YAI 282600684
001RN000005tfu6YAA 282599813
001RN000005ti3xYAA 186133404
001RN000005ti5ZYAQ 195676097
001RN000005tfMFYAY 190582035
001RN000005tV3YYAU 184084252
001RN000005tfAwYAI 186521609
001RN000005tdAmYAI 185447561
001RN000005tcWSYAY 193514030
001RN000005tFGYYA2 170504658
001RN000005thZKYAY 187317444
001RN000005taT2YAI 133045929
001RN000005tgAFYAY 126451180
001RN000005taRTYAY 211909781
001RN000005taT3YAI 193443508
001RN000005tY6GYAU 281215175
001RN000005tfJ1YAI 103435277
001RN000005tfXXYAY 113310421
001RN000005tZVMYA2 195949476
001RN000005tgbeYAA 214774631
001RN000005tUaYYAU 170432592
001RN000005tey4YAA 193337082
001RN000005tfXYYAY 97582939
001RN000005tdVjYAI 166014255
001RN000005tffaYAA 188082777
001RN000005tSSJYA2 187286662
001RN000005ti8nYAA 187464870
001RN000005tiAPYAY 17273233K
001RN000005tiC1YAI 138939510
001RN000005tP7mYAE 16600926K
001RN000005tiDdYAI 190897001
001RN000005tachYAA 151833039
001RN000005tiDeYAI 140604739
001RN000005tiFFYAY 151755712
001RN000005tUaZYAU 200329139
001RN000005tf67YAA 166343372
001RN000005tiGrYAI 151798047
001RN000005taxhYAA 168633017
001RN000005tMBbYAM 193933572
001RN000005tSVWYA2 183388053
001RN000005tewQYAQ 181951036
001RN000005ta86YAA 100847922
001RN000005taEXYAY 185296865
001RN000005tbddYAA 124291259
001RN000005thhOYAQ 162801465
001RN000005tiITYAY 100884089
001RN000005thJDYAY 142548631
001RN000005tfdzYAA 176224851
001RN000005theCYAQ 177275581
001RN000005tiGsYAI 21633843K
001RN000005tiK5YAI 199540807
001RN000005tgBrYAI 209886901
001RN000005tiLhYAI 83952032
001RN000005tcxtYAA 189774990
001RN000005tNItYAM 191873416
001RN000005tRo1YAE 163910349
001RN000005taL2YAI 282702851
001RN000005tcMlYAI 206357762
001RN000005te5DYAQ 176087978
001RN000005tiNJYAY 171389615
001RN000005tYhQYAU 93751507
001RN000005teJkYAI 18402778K
001RN000005tZSDYA2 186821300
001RN000005tffbYAA 189170246
001RN000005thRGYAY 18680998K
001RN000005td2jYAA 271854587
001RN000005tiOvYAI 178838199
001RN000005tcjOYAQ 188506909
001RN000005tiS9YAI 187306159
001RN000005tfShYAI 167646565
001RN000005tfyxYAA 138467589
001RN000005tM0GYAU 20121632K
001RN000005tTbHYAU 124670454
001RN000005tiVNYAY 134499230
001RN000005teLOYAY 182340693
001RN000005thZLYAY 189874561
001RN000005tgAGYAY 199215973
001RN000005tiYbYAI 278541282
001RN000005taHpYAI 196896864
001RN000005tcg6YAA 18899220K
001RN000005tOZxYAM 199955322
001RN000005tg8dYAA 173433034
001RN000005tSLsYAM 195776873
001RN000005tYMNYA2 177756946
001RN000005tcZgYAI 177980803
001RN000005tSVXYA2 281616706
001RN000005td2kYAA 131881738
001RN000005tYKsYAM 216473469
001RN000005thW6YAI 182969850
001RN000005tYeAYAU 282178966
001RN000005tceXYAQ 114391700
001RN000005tidRYAQ 155030461
001RN000005tif3YAA 281476653
001RN000005tYz5YAE 257751007
001RN000005tigfYAA 146216102
001RN000005tiiHYAQ 20399625K
001RN000005tSLtYAM 155766115
001RN000005tijtYAA 205407251
001RN000005tKrLYAU 157244892
001RN000005tbTyYAI 166245176
001RN000005tXS1YAM 180613099
001RN000005thcYYAQ 184073056
001RN000005thcZYAQ 166532744
001RN000005tYvtYAE 19342256K
001RN000005tilVYAQ 227890770
001RN000005thpSYAQ 177769665
001RN000005tin7YAA 203229038
001RN000005tS8uYAE 198119121
001RN000005teQBYAY 191631609
001RN000005tZbnYAE 105737521
001RN000005thStYAI 280948950
001RN000005tXi6YAE 188057136
001RN000005tiojYAA 188851401
001RN000005tf2sYAA 19001245K
001RN000005tgbfYAA 15199475K
001RN000005tiGtYAI 152250029
001RN000005tWnfYAE 193114458
001RN000005tin8YAA 202094511
001RN000005tSDqYAM 183193910
001RN000005tivBYAQ 193427774
001RN000005tb8yYAA 209524317
001RN000005tbSLYAY 179895617
001RN000005tg2BYAQ 19646039K
001RN000005tI81YAE 165858476
001RN000005tZ0hYAE 193318770
001RN000005tP2zYAE 183593846
001RN000005tezfYAA 178423630
001RN000005tfXZYAY 158417715
001RN000005tSybYAE 153692017
001RN000005tZTnYAM 115910027
001RN000005te1tYAA 281599887
001RN000005tZdSYAU 201312353
001RN000005tdPKYAY 194741219
001RN000005tiwnYAA 170518551
001RN000005ta87YAA 159574512
001RN000005tYSsYAM 17026696K
001RN000005tYO1YAM 167402569
001RN000005tfFoYAI 94470412
001RN000005tceYYAQ 214361930
001RN000005tfu7YAA 20010806K
001RN000005tSLuYAM 201213711
001RN000005tgyHYAQ 157905570
001RN000005tDy0YAE 124780640
001RN000005tilWYAQ 152686064
001RN000005te1yYAA 144208897
001RN000005tebSYAQ 190951391
001RN000005tZtXYAU 180649425
001RN000005tfNrYAI 196430873
001RN000005taZTYAY 191868358
001RN000005te1uYAA 102062841
001RN000005tYO2YAM 202648908
001RN000005tfcOYAQ 178936514
001RN000005tccsYAA 189035691
001RN000005thxWYAQ 178761730
001RN000005tYr9YAE 194102895
001RN000005teOZYAY 208681117
001RN000005taciYAA 185772020
001RN000005tcMmYAI 184546884
001RN000005tfe0YAA 282702649
001RN000005tS8vYAE 193170587
001RN000005teEwYAI 143766462
001RN000005tSQgYAM 183301950
001RN000005thFyYAI 17071587K
001RN000005tijuYAA 19088631K
001RN000005tb10YAA 117742814
001RN000005tiYcYAI 189541058
001RN000005tZvAYAU 197453621
001RN000005taOIYAY 182101575
001RN000005teoOYAQ 171869382
001RN000005tiyPYAQ 199800701
001RN000005titaYAA 196603034
001RN000005tTReYAM 280649872
001RN000005tVutYAE 186429826
001RN000005tceZYAQ 191348249
001RN000005tYvuYAE 106459053
001RN000005tc55YAA 281131109
001RN000005tYCjYAM 130376355
001RN000005tdQwYAI 76007756
001RN000005tSvPYAU 208881329
001RN000005tgBsYAI 190674797
001RN000005tVRmYAM 184200317
001RN000005thJFYAY 165903870
001RN000005tdPLYAY 167124771
001RN000005tj1dYAA 202687970
001RN000005taOJYAY 163259036
001RN000005tj3FYAQ 131828489
001RN000005tZISYA2 201778204
001RN000005teOaYAI 19148875K
001RN000005tgzrYAA 204616035
001RN000005tfvkYAA 207664200
001RN000005tj4rYAA 143317730
001RN000005tcD6YAI 114563188
001RN000005tSiTYAU 174902208
001RN000005teJlYAI 282165228
001RN000005tTHsYAM 210801367
001RN000005tiDfYAI 190325067
001RN000005tSfFYAU 16839070K
001RN000005taPpYAI 188626106
001RN000005tj6TYAQ 202044263
001RN000005taPqYAI 161942154
001RN000005tc8FYAQ 195094799
001RN000005tOdJYAU 205127763
001RN000005tZtYYAU 165037170
001RN000005tFGZYA2 201039819
001RN000005tb7OYAQ 143330044
001RN000005tfVuYAI 197315814
001RN000005tacjYAA 107726942
001RN000005tMcxYAE 179112329
001RN000005tj9hYAA 174603251
001RN000005tRXtYAM 17163489K
001RN000005thvuYAA 116204223
001RN000005ta88YAA 184574594
001RN000005tdqiYAA 103868807
001RN000005tTbIYAU 210445552
001RN000005tXjkYAE 193391079
001RN000005ta02YAA 201617510
001RN000005ta9mYAA 201973848
001RN000005thkcYAA 180996451
001RN000005tcmdYAA 188290329
001RN000005tZVNYA2 132344108
001RN000005th4kYAA 150165423
001RN000005tVmjYAE 180387277
001RN000005tbCCYAY 174200068
001RN000005tdU8YAI 190349047
001RN000005tbwzYAA 197248319
001RN000005taBGYAY 201164842
001RN000005tf1IYAQ 19600145K
001RN000005tahZYAQ 163966379
001RN000005tc0FYAQ 14069861K
001RN000005tceaYAA 158103974
001RN000005tcWTYAY 166449278
001RN000005th1SYAQ 181824999
001RN000005thxXYAQ 181021500
001RN000005thuJYAQ 135563234
001RN000005thFzYAI 178694561
001RN000005tiIUYAY 158687976
001RN000005tdYxYAI 195686882
001RN000005tXi7YAE 166762820
001RN000005tZ3xYAE 171338263
001RN000005teExYAI 193322336
001RN000005thZMYAY 203241984
001RN000005tgLYYAY 133197559
001RN000005ti3yYAA 193415563
001RN000005tYeBYAU 111149763
001RN000005tZOvYAM 14328039K
001RN000005tNQyYAM 196240551
001RN000005tc8GYAQ 152657412
001RN000005tj9iYAA 191748956
001RN000005tc1nYAA 194303076
001RN000005tjJNYAY 176937432
001RN000005tZboYAE 197030941
001RN000005tVl9YAE 131210256
001RN000005tj9jYAA 196094822
001RN000005tXmuYAE 17298083K
001RN000005tjKzYAI 176353996
001RN000005thPgYAI 159034011
001RN000005tjMbYAI 133232486
001RN000005tiAQYAY 209509032
001RN000005tfJ2YAI 167533779
001RN000005tebTYAQ 184713845
001RN000005tX5NYAU 178460722
001RN000005tZOwYAM 175571531
001RN000005tbouYAA 153758654
001RN000005tdPMYAY 107169024
001RN000005ti3zYAA 202582133
001RN000005tWngYAE 281204122
001RN000005taMaYAI 152384742
001RN000005tZbpYAE 164340708
001RN000005tj1eYAA 171283809
001RN000005teDJYAY 195506531
001RN000005thHbYAI 137104490
001RN000005tjBNYAY 151098401
001RN000005tc56YAA 15128146K
001RN000005th6NYAQ 164548198
001RN000005ta6UYAQ 166840279
001RN000005tfsUYAQ 198179809
001RN000005tW64YAE 155356391
001RN000005tWFoYAM 217160790
001RN000005tcMnYAI 99510633
001RN000005tdSVYAY 147193203
001RN000005tjPpYAI 191321529
001RN000005th4lYAA 126720602
001RN000005teWjYAI 19384426K
001RN000005tiggYAA 200046897
001RN000005tcWUYAY 28219581K
001RN000005teZsYAI 191404394
001RN000005tdE1YAI 196206213
001RN000005tjRRYAY 16066469K
001RN000005tSqVYAU 202542344
001RN000005tivCYAQ 109157805
001RN000005tafwYAA 128145931
001RN000005tjT3YAI 124357977
001RN000005tdQxYAI 175527494
001RN000005taOKYAY 189430604
001RN000005teDKYAY 160556609
001RN000005tj1fYAA 208844369
001RN000005tdtwYAA 188263925
001RN000005tb8zYAA 183707736
001RN000005tfm5YAA 176080507
001RN000005tel8YAA 194348363
001RN000005tI82YAE 189002653
001RN000005tjUfYAI 136414542
001RN000005tiARYAY 150097975
001RN000005tjWHYAY 136421425
001RN000005tbNSYAY 18006205K
001RN000005teA3YAI 150250056
001RN000005tjWIYAY 156908347
001RN000005teoPYAQ 205031499
001RN000005tjUgYAI 249326321
001RN000005thkdYAA 194357788
001RN000005tSfGYAU 108112905
001RN000005tbvLYAQ 242404440
001RN000005tQ2HYAU 189598505
001RN000005tTzRYAU 128658173
001RN000005tdtxYAA 199515993
001RN000005tYxTYAU 27447744K
001RN000005tjZVYAY 164508994
001RN000005teYHYAY 280915440
001RN000005tgF5YAI 141130706
001RN000005tfCaYAI 133939628
001RN000005tg3mYAA 222840740
001RN000005tf1JYAQ 181832959
001RN000005tZtZYAU 19825763K
001RN000005tMBcYAM 181247371
001RN000005thr8YAA 220123723
001RN000005tel9YAA 132173524
001RN000005th6OYAQ 174968977
001RN000005tcWVYAY 210443207
001RN000005thW7YAI 135296031
001RN000005thvvYAA 145570204
001RN000005tdSWYAY 190343790
001RN000005thnqYAA 179739488
001RN000005tb7PYAQ 203523858
001RN000005tiDgYAI 198248479
001RN000005tjcjYAA 124358698
001RN000005tgzsYAA 150161347
001RN000005tjeLYAQ 189682565
001RN000005tZqNYAU 194520662
001RN000005tchoYAA 137117908
001RN000005tiVOYAY 162486098
001RN000005tct0YAA 280816736
001RN000005tXuwYAE 199109308
001RN000005tFGaYAM 199056530
001RN000005tjfxYAA 175043004
001RN000005tVTTYA2 162853821
001RN000005tb90YAA 282544628
001RN000005tfiqYAA 259377293
001RN000005tdCOYAY 194920083
001RN000005tct1YAA 136504517
001RN000005th6PYAQ 184957299
001RN000005tdE2YAI 10032671K
001RN000005teYIYAY 10496091K
001RN000005tin9YAA 112253122
001RN000005tjfyYAA 166977738
001RN000005tga3YAA 200989449
001RN000005ta1fYAA 199403508
001RN000005tgtOYAQ 105117051
001RN000005tgYSYAY 137018950
001RN000005tgetYAA 203975864
001RN000005tjhZYAQ 182500747
001RN000005tdFcYAI 183908936
001RN000005tSIbYAM 198584835
001RN000005tdluYAA 190353095
001RN000005thJHYAY 105460155
001RN000005tczSYAQ 169668418
001RN000005thkfYAA 109698385
001RN000005tis2YAA 91293412
001RN000005tjjBYAQ 208590723
001RN000005thshYAA 281210122
001RN000005tTbJYAU 199021427
001RN000005tgjiYAA 211195495
001RN000005tg72YAA 192326095
001RN000005tg73YAA 166259428
001RN000005thkgYAA 97367450
001RN000005tivDYAQ 191158121
001RN000005tfcPYAQ 157657909
001RN000005thZNYAY 206430192
001RN000005tTD5YAM 24439552K
001RN000005tgYTYAY 97054347
001RN000005tSqWYAU 184960583
001RN000005tjknYAA 282376377
001RN000005tibqYAA 197271469
001RN000005tZITYA2 203589700
001RN000005tj3GYAQ 168915551
001RN000005tb11YAA 200750632
001RN000005tZn9YAE 150608724
001RN000005tU9CYAU 163305380
001RN000005tjmPYAQ 217404126
001RN000005tjfzYAA 159745996
001RN000005tc9tYAA 177897728
001RN000005tOZyYAM 194877714
001RN000005tS44YAE 282726653
001RN000005tdp6YAA 196127801
001RN000005tXDTYA2 118635477
001RN000005tackYAA 200942728
001RN000005tg3nYAA 163339250
001RN000005tU7VYAU 22433317K
001RN000005tiqMYAQ 157196278
001RN000005tiIVYAY 193804470
001RN000005tgF6YAI 185741877
001RN000005tfSiYAI 127944180
001RN000005tYG3YAM 207226300
001RN000005tdynYAA 7229646K
001RN000005tarIYAQ 174816301
001RN000005tWnhYAE 105138164
001RN000005tjrFYAQ 135124486
001RN000005tiqNYAQ 188143660
001RN000005tgTaYAI 161534307
001RN000005tiIWYAY 195947007
001RN000005tinAYAQ 179478315
001RN000005tf7iYAA 267211892
001RN000005thW8YAI 170425456
001RN000005tbdeYAA 194155220
001RN000005tcg7YAA 200816226
001RN000005tbdfYAA 197665386
001RN000005tafxYAA 154572732
001RN000005tZ0jYAE 184359766
001RN000005tSfHYAU 154103716
001RN000005td4SYAQ 163188767
001RN000005tcxvYAA 164257169
001RN000005teraYAA 191971264
001RN000005tgtPYAQ 270816037
001RN000005tjmQYAQ 183771957
001RN000005tegJYAQ 165408705
001RN000005tjmRYAQ 196901205
001RN000005tiSAYAY 194795157
001RN000005tZvBYAU 174430276
001RN000005tc9uYAA 107479090
001RN000005tfMHYAY 143367576
001RN000005tdfVYAQ 9604903K
001RN000005tjCwYAI 137575884
001RN000005tbX8YAI 273941096
001RN000005tf4UYAQ 169092222
001RN000005tUu0YAE 132024693
001RN000005tYeCYAU 281015400
001RN000005tjsrYAA 140450138
001RN000005tao0YAA 128987746
001RN000005tetGYAQ 128645357
001RN000005tjuTYAQ 281204114
001RN000005tTbKYAU 168649088
001RN000005tZVOYA2 18070678K
001RN000005tYW3YAM 201378990
001RN000005tdVlYAI 155106433
001RN000005thO4YAI 16646580K
001RN000005thZOYAY 183462113
001RN000005ta89YAA 203970021
001RN000005tbLwYAI 135538531
001RN000005tcpqYAA 88617037
001RN000005tgRyYAI 104446558
001RN000005tfVvYAI 261909502
001RN000005thW9YAI 173015712
001RN000005tjeMYAQ 132414130
001RN000005taEZYAY 193728413
001RN000005tbgyYAA 206525800
001RN000005tc1pYAA 180900543
001RN000005tgDUYAY 114823082
001RN000005tk0vYAA 106762708
001RN000005tcBYYAY 203371047
001RN000005tibrYAA 192235146
001RN000005tZvCYAU 189418574
001RN000005thCkYAI 14459844K
001RN000005thRHYAY 278989666
001RN000005tiGvYAI 199565656
001RN000005thhRYAQ 154104097
001RN000005tiC2YAI 200556011
001RN000005tivEYAQ 186749030
001RN000005thWAYAY 193740421
001RN000005tdqjYAA 172791948
001RN000005tebUYAQ 174561745
001RN000005tgtQYAQ 173979622
001RN000005tcl2YAA 202197388
001RN000005tYvvYAE 213212230
001RN000005tjkoYAA 165640667
001RN000005tk2XYAQ 189248687
001RN000005tk5lYAA 182501662
001RN000005tVRnYAM 120475053
001RN000005thHcYAI 98768912
001RN000005tRw5YAE 195726450
001RN000005tc57YAA 140929719
001RN000005tZToYAM 186989325
001RN000005tk4AYAQ 227358890
001RN000005tk8zYAA 132441421
001RN000005tf9PYAQ 19933056K
001RN000005tcUqYAI 166303486
001RN000005tOBnYAM 161744344
001RN000005tVlAYAU 128132147
001RN000005tkAbYAI 18380622K
001RN000005tSqYYAU 141405969
001RN000005tNqoYAE 15892224K
001RN000005tjUhYAI 18632742K
001RN000005tdAoYAI 172440436
001RN000005taw3YAA 247559523
001RN000005taMcYAI 233218944
001RN000005tSfIYAU 119040450
001RN000005tTzSYAU 162066463
001RN000005tidSYAQ 256413442
001RN000005tYPdYAM 256413342
001RN000005tcRfYAI 281347462
001RN000005tU7WYAU 132754381
001RN000005tc0GYAQ 262258122
001RN000005theDYAQ 138549089
001RN000005tcUrYAI 12675521K
001RN000005tebVYAQ 157810359
001RN000005tSLvYAM 107214488
001RN000005tYz7YAE 182514179
001RN000005tYStYAM 208992163
001RN000005tWZ8YAM 192586267
001RN000005ti0kYAA 204017689
001RN000005tV0MYAU 198604267
001RN000005tg0YYAQ 174273421
001RN000005tf2tYAA 134762780
001RN000005tSkAYAU 15790485K
001RN000005tZ3yYAE 17520167K
001RN000005teGXYAY 198580422
001RN000005tbIkYAI 216606663
001RN000005thmFYAQ 94042550
001RN000005tjw9YAA 204531889
001RN000005tG7lYAE 191644999
001RN000005tdYyYAI 170273729
001RN000005tj86YAA 19958376K
001RN000005tgmwYAA 126355734
001RN000005tapfYAA 18239811K
001RN000005tivFYAQ 202405487
001RN000005tivGYAQ 105678754
001RN000005ti7EYAQ 126980051
001RN000005tfUIYAY 180595309
001RN000005tgrmYAA 203279019
001RN000005tkDpYAI 21092535K
001RN000005thEMYAY 195443955
001RN000005tkFRYAY 187213215
001RN000005tewRYAQ 190960277
001RN000005tfHPYAY 157165135
001RN000005tTbLYAU 138686019
001RN000005tkIfYAI 106643784
001RN000005tiwoYAA 198471542
001RN000005tamSYAQ 212504416
001RN000005teehYAA 202265898
001RN000005taGFYAY 282702630
001RN000005tg3pYAA 268065687
001RN000005tZrwYAE 215289508
001RN000005tfXaYAI 17495626K
001RN000005tdyqYAA 178208004
001RN000005tdaZYAQ 141959301
001RN000005tjMcYAI 281754769
001RN000005tkLtYAI 282537559
001RN000005tb46YAA 169280460
001RN000005tbgzYAA 183907549
001RN000005tYsjYAE 159015211
001RN000005tfFrYAI 281546295
001RN000005thfoYAA 155148306
001RN000005tkQjYAI 279732502
001RN000005thPhYAI 199411985
001RN000005tk90YAA 177899615
001RN000005tbh0YAA 282195364
001RN000005tkSLYAY 178227092
001RN000005teJmYAI 220390047
001RN000005tjssYAA 216067975
001RN000005tetHYAQ 178701525
001RN000005tUlsYAE 214605333
001RN000005tezhYAA 250081774
001RN000005tkTxYAI 12458518K
001RN000005tejXYAQ 215133257
001RN000005tglKYAQ 204950806
001RN000005tc8HYAQ 142348896
001RN000005tSaTYAU 153638756
001RN000005tkYnYAI 269550376
001RN000005tdnXYAQ 180983309
001RN000005taZUYAY 181260890
001RN000005thB9YAI 194456859
001RN000005tiQcYAI 185134601
001RN000005tSIcYAM 212191639
001RN000005th34YAA 183290312
001RN000005taeNYAQ 282544601
001RN000005tgRzYAI 17221844K
001RN000005tdApYAI 200620208
001RN000005te20YAA 20409425K
001RN000005tkc1YAA 259203414
001RN000005tkddYAA 176558040
001RN000005tcBZYAY 190198081
001RN000005tajIYAQ 116580659
001RN000005tkVaYAI 206611960
001RN000005taWFYAY 141576550
001RN000005tSfJYAU 192858194
001RN000005tk11YAA 137177625
001RN000005tkfFYAQ 119490057
001RN000005tI83YAE 162530771
001RN000005tffcYAA 188905757
001RN000005tYCkYAM 168464630
001RN000005tkgrYAA 185363627
001RN000005tfSkYAI 177174181
001RN000005tSNTYA2 164622983
001RN000005tcZiYAI 178484486
001RN000005ti42YAA 13257636K
001RN000005tbVXYAY 262590542
001RN000005tk12YAA 204203032
001RN000005tWZ9YAM 193027539
001RN000005taZVYAY 174873798
001RN000005tarJYAQ 184286378
001RN000005tj9kYAA 195440301
001RN000005tchpYAA 203172044
001RN000005taT4YAI 17203571K
001RN000005tiC4YAI 281358421
001RN000005tfAyYAI 191075579
001RN000005tgYUYAY 198223360
001RN000005thZRYAY 191224671
001RN000005tWR2YAM 204259887
001RN000005td1BYAQ 201440386
001RN000005tiVPYAY 214807211
001RN000005tW4TYAU 207740152
001RN000005tUNcYAM 154189076
001RN000005tgTcYAI 159504255
001RN000005taUhYAI 136794604
001RN000005tdAqYAI 188327788
001RN000005tjjEYAQ 216570405
001RN000005tg0ZYAQ 214634473
001RN000005tcjQYAQ 198478180
001RN000005tG7mYAE 282376369
001RN000005tgrnYAA 282702622
001RN000005tkiTYAQ 84149381
001RN000005tZK3YAM 187684633
001RN000005tSnHYAU 180478396
001RN000005tfR9YAI 189371713
001RN000005td9CYAQ 178223593
001RN000005tfe1YAA 176079592
001RN000005tkVbYAI 198311081
001RN000005tZOyYAM 124975913
001RN000005tZGtYAM 120621491
001RN000005ti0lYAA 187395968
001RN000005tfcQYAQ 174151679
001RN000005tPKlYAM 192603161
001RN000005tVA1YAM 170225333
001RN000005tc6eYAA 203002408
001RN000005tk91YAA 195218277
001RN000005tis3YAA 20171821K
001RN000005tfJ3YAI 281244698
001RN000005tjb8YAA 99172118
001RN000005teJnYAI 118212657
001RN000005tSIdYAM 183061372
001RN000005teziYAA 17984799K
001RN000005tUsEYAU 177957380
001RN000005tdyrYAA 170976479
001RN000005thPiYAI 219600429
001RN000005tYvwYAE 106834164
001RN000005tSfLYAU 157054554
001RN000005tklhYAA 193859844
001RN000005tdidYAA 189957270
001RN000005tcOQYAY 16039157K
001RN000005thRJYAY 180570527
001RN000005tknJYAQ 15759141K
001RN000005tQjpYAE 171986621
001RN000005theEYAQ 109582379
001RN000005tNIwYAM 193701027
001RN000005tgjjYAA 201786711
001RN000005tc0HYAQ 169425930
001RN000005tkKIYAY 213731580
001RN000005tbvGYAQ 233119857
001RN000005tcBaYAI 182930024
001RN000005tbCHYAY 166242517
001RN000005tUsFYAU 188619924
001RN000005tbTzYAI 193779646
001RN000005tUaaYAE 172789056
001RN000005tbvMYAQ 166479223

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2838546165.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2838546165.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pacientes_con_id_no["Id Contacto"] = Pacientes_con_id_no["Id Account Paciente"].apply(

In [218]:
Pacientes_con_id_no.head()

,rut1,rut2,NOMBRE,nombres,apellidos,poliza,rutE,rut,rutT,RutEstaoNo,Id Account Paciente,Rut,Nombre,Tipo de Documento,Ocupacion,Cargo,Departamento,Sexo,Telefono,Id Contacto
6,16282243-8,16282243-8,MATTHEO VALENTIN TORRES GAETE,Mattheo Valentin,Torres Gaete,CRUZ VERDE,CRUZ VERDE,162822438,162822438,False,001RN000005tdcDYAQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,003RN00000Ii5LSYAZ
8,25897299-6,25897299-6,ROCIO DE JORGE BENAVENTE,Rocio De Jorge,Jorge Benavente,CRUZ VERDE,CRUZ VERDE,258972996,258972996,False,001RN000005ti0jYAA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,003RN00000Ii8nYYAR
13,28303057-1,28303057-1,LEANDRO MAGNO GALARZA FREIRE,Leandro Magno,Galarza Freire,CRUZ VERDE,CRUZ VERDE,283030571,283030571,False,001RN000005tdFbYAI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,003RN00000Ii134YAB
14,28260067-6,28260067-6,JONATHAN VICTOR RAMOS SANCHES,Jonathan Victor,Ramos Sanches,CRUZ VERDE,CRUZ VERDE,282600676,282600676,False,001RN000005tSiSYAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,003RN00000Ii0mvYAB
15,28260068-4,28260068-4,AMANDA CARVALHO BARRERIROS DE ALMEIDA,Amanda Carvalho,De Almeida,CRUZ VERDE,CRUZ VERDE,282600684,282600684,False,001RN000005tdU7YAI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,003RN00000Ii7D8YAJ

In [219]:
contactd = sf.Account.get("0018c00002lUyo0AAC")
contactd["PersonContactId"]

'0038c00003HhmVJAAZ'

In [220]:
# contactd["PersonContactId"]
print(datetime.now())

AttributeError: module 'datetime' has no attribute 'now'

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/todes.xlsx", index=False)

query2 = "select P_liza**c, Nombre_de_Empresa**c, Rut_Empresa**c, Empresa_Padre**r.Name, Empresa**r.name,Holding**c, Plan**c, Pais**c, Activo**c, Id from Datos_Empresa**c "

df2 = sf.smart_query(query2)
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

Subir_pacientes.to_excel("F:/Empresas SF/reportes/111account.xlsx", index=False)

derty = Subir_pacientes["IdentificationId__pc"]
sf.Contact.create({"IdentificationId\_\_pc": "derty", "Email": "example@example.com"})

Subir_pacientes.head()

Subir_pacientes.head()
Subir_pacientes.to_excel("F:/Empresas SF/reportes/account\_\_l.xlsx", index=False)

In [ ]:
""" if campaña != "MetLife":
    pacientes_en_campaña = pd.merge(
        left=campaña_seleccionada,
        right=Pacientes_con_id,
        how="left",
        left_on="Id Account",
        right_on="Id Account Paciente",
    )
    pacientes_en_campaña["Paciente__c"] = "Id Pacientes"
    pacientes_en_campaña["Programas_por_Empresas__c"] = "Id Programas Por empresa"
    pacientes_en_campaña.to_excel(
        "F:/Empresas SF/reportes/campaña_empresa.xlsx", index=False
    )
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña.xlsx", index=False
    )
 """

In [ ]:
""" if campaña != "MetLife1":
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    if ("poliza" in campaña_en_pacientes.columns) == True:
        campaña_en_pacientes["poliza"] = campaña_en_pacientes["poliza"].astype(str)

    campaña_en_pacientes = campaña_en_pacientes.rename(
        columns={"Programas_por_Empresas__c": "programas por empresa"}
    )
    campaña_en_pacientes["Paciente__c"] = campaña_en_pacientes["Id Account Paciente"]
    campaña_en_pacientes["Programas_por_Empresas__c"] = campaña_en_pacientes[
        "programas por empresa"
    ]
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña2.xlsx", index=False
    ) """

In [ ]:
# apprix_1 = Pacientes_SF.iloc[:790552,:]
# apprix_2 = Pacientes_SF.iloc[790553:,:]
# apprix_1.to_excel("F:/Empresas SF/reportes/Ruts1.xlsx",index=False)
# apprix_2.to_excel("F:/Empresas SF/reportes/Ruts2.xlsx",index=False)

In [ ]:
campaña_en_pacientes2 = pd.merge(
    left=Pacientes_con_id,
    right=campaña_seleccionada,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)
if ("poliza" in campaña_en_pacientes2.columns) == True:
    campaña_en_pacientes2["poliza"] = campaña_en_pacientes2["poliza"].astype(str)

campaña_en_pacientes2 = campaña_en_pacientes2.rename(
    columns={"Programas_por_Empresas__c": "programas por empresa"}
)
campaña_en_pacientes2["Paciente__c"] = campaña_en_pacientes2["Id Account Paciente"]
campaña_en_pacientes2["Programas_por_Empresas__c"] = campaña_en_pacientes2[
    "programas por empresa"
]


""" campaña_en_pacientes2 = campaña_en_pacientes2[
    (campaña_en_pacientes2["Programas_por_Empresas__c"] == "")] """
campaña_en_pacientes2["Esta"] = campaña_en_pacientes2["programas por empresa"].isnull()
campaña_en_pacientes2 = campaña_en_pacientes2[campaña_en_pacientes2["Esta"]]
campaña_en_pacientes2.to_excel(
    "F:/Empresas SF/reportes/archivo_campaña3.xlsx", index=False
)

In [ ]:
campaña_en_pacientes2["rut"].shape

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
rutes = pd.DataFrame(columns=["rut"])
rutes["rut"] = Pacientes_Archivo["rut"]
rutes["rutT"] = Pacientes_Archivo["rut2"]
rutes["Contratante"] = Pacientes_Archivo["Contratante"]
# rutes["poliza"] = Pacientes_Archivo["poliza"]
rutes.head()

In [ ]:
rutes["rut"] = rutes["rut"].astype(str)
rutes["rut"] = rutes["rut"].str.replace(".", "")
rutes["rut"] = rutes["rut"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rut"] = rutes["rut"].str.upper()
rutes["rut"] = rutes["rut"].str.strip()

rutes["rutT"] = rutes["rutT"].astype(str)
rutes["rutT"] = rutes["rutT"].str.replace(".", "")
rutes["rutT"] = rutes["rutT"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rutT"] = rutes["rutT"].str.upper()
rutes["rutT"] = rutes["rutT"].str.strip()

""" rutes["poliza"] = rutes["poliza"].astype(str)
rutes["poliza"] = rutes["poliza"].str.replace(".", "")
rutes["poliza"] = rutes["poliza"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["poliza"] = rutes["poliza"].str.strip() """


rutes.head()

In [ ]:
# derty = rutes.to_numpy().transpose().tolist()


Pacientes_SF2 = Pacientes_SF[["Rut", "Id Account Paciente"]]

In [ ]:
rutesi = pd.merge(
    left=rutes,
    right=Pacientes_SF2,
    how="left",
    left_on="rut",
    right_on="Rut",
)
rutesi.shape
rutesi.to_excel("F:/Empresas SF/reportes/rutsyempresa.xlsx", index=False)

In [ ]:
rutesi.head()

In [ ]:
rutesi_antg = pd.merge(
    left=rutesi,
    right=empresas_unidas,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)

In [ ]:
rutesi_antg.head()

In [ ]:
# rutesi_antg .to_excel("F:/Empresas SF/reportes/ruts_empresas_antiguos.xlsx", index=False)

In [ ]:
import json
import pandas as pd
from simple_salesforce import Salesforce, format_soql, format_external_id
from json import loads, dumps
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)

In [ ]:
""" query = "select Id, Account.Name, RutContact__c from AccountContactRelation "

df1 = sf.smart_query(query) """

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
# rutes = Subir_pacientes["rut"]

In [ ]:
""" df1.head() """

In [ ]:
""" df1["rut"] = df1["RutContact__c"].astype(str)
df1["rut"] = df1["rut"].str.replace(".", "")
df1["rut"] = df1["rut"].str.replace(
    "-", ""
)  # aca se trabaja con el nuevo rut desde rut1 ojooooooo
df1["rut"] = df1["rut"].str.upper()
df1["rut"] = df1["rut"].str.strip()
df1.head() """

In [ ]:
""" rutes.head() """

In [ ]:
""" rutesi = pd.merge(
    left=rutes,
    right=df1,
    how="left",
    left_on="rut",
    right_on="rut",
) """

In [ ]:
""" rutesi.to_excel("F:/Empresas SF/reportes/rutesnuevos_accountcontactrelation.xlsx", index=False) """

In [ ]:
""" df2["P_liza__c"] = df2["P_liza__c"].astype(str)
df2["P_liza__c"] = df2["P_liza__c"].str.replace(".", "")
df2["P_liza__c"] = df2["P_liza__c"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
df2["P_liza__c"] = df2["P_liza__c"].str.upper()
df2["P_liza__c"] = df2["P_liza__c"].str.strip() """

In [ ]:
modelo_nuevo = pd.merge(
    left=rutesi,
    right=df2,
    how="left",
    left_on="poliza",
    right_on="P_liza__c",
)
modelo_nuevo.to_excel("F:/Empresas SF/reportes/modelo_nuevo.xlsx", index=False)

In [ ]:
modelo = pd.DataFrame()
modelo = modelo_nuevo[["rutT", "Id Account Paciente", "Id"]]

In [ ]:
modelo.head()