In [ ]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
import shutil
import datetime
from datetime import datetime
import re
import json
from pandas.api.types import is_numeric_dtype
from simple_salesforce import Salesforce, format_soql, format_external_id
from simple_salesforce.exceptions import SalesforceMalformedRequest
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)

In [ ]:
# para smart query
""" sf = simple_salesforce.Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
 """
# para lo demas
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
# paramiko.util.log_to_file("paramiko.log")
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")

Descarga de empresas en sistema

In [ ]:
llamadaEmpresaAntiguas = "SELECT Id,Empresa__r.Id, Empresa__r.Name, Empresa__r.Holding__c, Empresa__r.Campa_a__c, Empresa__r.Id_Empresa__c, Empresa__r.Empleador__c, Empresa__r.poliza__c, Empresa__r.RUT_Empresa__c, Empresa__r.Corredor__c,Empresa__r.Padre_Empresa__c, Name FROM Programas_por_Empresas__c WHERE Empresa__r.Padre_Empresa__c = false"
vllamadaEmpresa = sf.smart_query(llamadaEmpresaAntiguas)
vllamadaEmpresa.to_excel("F:/Empresas SF/reportes/empresas_Antiguas.xlsx", index=False)
vllamadaEmpresa.head()

vllamadaEmpresa.shape

In [ ]:
# Recuperar empresas ID de salesforce desde Account
results = sf.query_all(
    """
  SELECT Id, name, Holding__c ,Campa_a__c,Id_Empresa__c,Empleador__c,poliza__c,RUT_Empresa__c  FROM account where ispersonaccount = false  AND Nueva_Estructura__c = False
    """
)
Empresas_SF = pd.DataFrame(results["records"])
Empresas_SF = Empresas_SF[
    [
        "Id",
        "Name",
        "Holding__c",
        "Campa_a__c",
        "Id_Empresa__c",
        "Empleador__c",
        "poliza__c",
        "RUT_Empresa__c",
    ]
]
Empresas_SF.shape

In [ ]:
# buscar empresas desde Programas_por_Empresas__c datos de empresas
results = sf.query_all(
    """
   select Id,Empresa__c, Empresa_Padre__c,Nombre_Empresa__c, Name  from Programas_por_Empresas__c 
    """
)
Programas_por_empresa_SF = pd.DataFrame(results["records"])

Programas_por_empresa_SF = Programas_por_empresa_SF[
    ["Id", "Empresa__c", "Empresa_Padre__c", "Nombre_Empresa__c", "Name"]
]
Programas_por_empresa_SF.shape

In [ ]:
# Union de Programas Empresa y empresas
Programas_empresas = pd.merge(
    left=Empresas_SF,
    right=Programas_por_empresa_SF,
    how="left",
    left_on="Id",
    right_on="Empresa__c",
)
Programas_empresas = Programas_empresas.rename(
    columns={
        "Id_x": "Id Account Empresa",
        "Name_x": "Nombre Empresa",
        "Holding__c": "Holding",
        "Campa_a__c": "Campaña",
        "Empleador__c": "Empleador",
        "poliza__c": "Poliza",
        "RUT_Empresa__c": "Rut Empresa",
        "Id_y": "Programas_por_Empresas__c",
        "Id_Empresa__c": "Codigo EMP",
        "Name_y": "Codigo A",
    }
)
Programas_empresas = Programas_empresas[
    [
        "Id Account Empresa",
        "Nombre Empresa",
        "Holding",
        "Campaña",
        "Empleador",
        "Poliza",
        "Rut Empresa",
        "Programas_por_Empresas__c",
        "Codigo EMP",
        "Codigo A",
    ]
]

Programas_empresas.shape

In [ ]:
Programas_empresas.to_excel("F:/Empresas SF/reportes/empresas.xlsx", index=False)

In [ ]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

fin empresas y comienzo de rescate de pacientes

In [ ]:
# CArga de PAcientes
results = sf.query_all(
    """
    select Id, IdentificationId__pc,Name, Identification_Type__c, Ocupaci_n__c,  PersonTitle ,PersonDepartment,HealthCloudGA__Gender__pc,Phone,PersonContactId  from Account where ispersonaccount = True 
   """
)
Pacientes_SF = pd.DataFrame(results["records"])

Pacientes_SF = Pacientes_SF[
    [
        "Id",
        "IdentificationId__pc",
        "Name",
        "Identification_Type__c",
        "Ocupaci_n__c",
        "PersonTitle",
        "PersonDepartment",
        "HealthCloudGA__Gender__pc",
        "Phone",
        "PersonContactId",
    ]
]
Pacientes_SF = Pacientes_SF.rename(
    columns={
        "Id": "Id Account Paciente",
        "IdentificationId__pc": "Rut",
        "Name": "Nombre",
        "Ocupaci_n__c": "Ocupacion",
        "PersonTitle": "Cargo",
        "PersonDepartment": "Departamento",
        "HealthCloudGA__Gender__pc": "Sexo",
        "Phone": "Telefono",
        "Identification_Type__c": "Tipo de Documento",
        "PersonContactId": "Id Contacto",
    }
)
Pacientes_SF.shape

In [ ]:
def siPrimerCero(y):
    if len(y) <= 7:
        return "NONE"
    if y[0] == "0":
        y = y[1:]
    return y

In [ ]:
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.upper()
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("-", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("–", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].apply(lambda y: siPrimerCero(y))
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.strip()

In [ ]:
Pacientes_Nones1 = Pacientes_SF[(Pacientes_SF["Rut"] == "NONE")]
Pacientes_SF = Pacientes_SF[(Pacientes_SF["Rut"] != "NONE")]
Pacientes_Nones1.to_excel("F:/Empresas SF/reportes/NONE1.xlsx", index=False)

Aca se comienzan a unir las relaciones de pacientes y empresas ya creadas.

# buscar empresas desde Paciente_Programas\_\_c relaciones de empresas con pacientes

results = sf.query_all(
"""
select Id,Paciente**c, Programas_por_Empresas**c,padre**c from Paciente_Programas**c  
 """
)
Paciente_Programas_SF = pd.DataFrame(results["records"])

Paciente_Programas_SF = Paciente_Programas_SF[
["Id", "Paciente__c", "Programas_por_Empresas__c", "padre__c"]
]
Paciente_Programas_SF = Paciente_Programas_SF.rename(
columns={
"Id": "Id Pacientes_Programas**c",
"Paciente**c": "Id Account",
"Programas_por_Empresas**c": "Programas_por_Empresas**c",
"padre\_\_c": "Nombre Campaña",
}
)
Paciente_Programas_SF.shape

# Union de Pacientes Programas y Programas por empresa

empresas_unidas = pd.merge(
left=Paciente_Programas_SF,
right=Programas_empresas,
how="left",
left_on="Programas_por_Empresas**c",
right_on="Programas_por_Empresas**c",
)
empresas_unidas.shape

Carga de Archivo carga

In [843]:
nuevos = "F:/Empresas SF/reportes/carga.xlsx"
campaña = "MetLife"
Pais = "Chile"
baseFinal = True
#Pais = "México"

Pacientes_Archivo = pd.read_excel(nuevos)
# OJO se copia rut1 a rut le saca el guoion
Pacientes_Archivo.head(5)

,poliza,rutE,empleador,RUTASEGURADO,DV,rut2,RUTBENEFICIARIO,RUTBENEFIARIO_DV,rut1,nacimiento,sexo,TELEFONO,RELACION,DESDE,NOMBRE,apellidos,nombres,TITULAR,email,celular
0,340024880,1,Asegurados,10094649,1,10094649-1,10094649,1,10094649-1,1964-10-25,M,NaN,AS,45323,González López Darlio,González López,Darlio,González López Darlio,darlio2000@gmail.com,NaN
1,340024880,1,Asegurados,10094649,1,10094649-1,9010114,5,9010114-5,1961-03-13,F,NaN,CO,45323,Mosqueira Montecinos Maria Soledad,Mosqueira Montecinos,Maria Soledad,González López Darlio,darlio2000@gmail.com,NaN
2,340024880,1,Asegurados,10094649,1,10094649-1,21878876,9,21878876-9,2005-07-04,F,NaN,HI,45323,Gonzalez Mosqueira Silvana Ignacia,Gonzalez Mosqueira,Silvana Ignacia,González López Darlio,darlio2000@gmail.com,NaN
3,340024880,1,Asegurados,10116017,3,10116017-3,10116017,3,10116017-3,1965-09-04,M,NaN,AS,45323,Castro Pinochet Leopoldo Alberto,Castro Pinochet,Leopoldo Alberto,Castro Pinochet Leopoldo Alberto,lcastrop13@gmail.com,NaN
4,340024880,1,Asegurados,10116017,3,10116017-3,10258180,6,10258180-6,1965-01-31,F,NaN,CO,45323,Nachar Godoy Ninfa,Nachar Godoy,Ninfa,Castro Pinochet Leopoldo Alberto,lcastrop13@gmail.com,NaN

In [844]:
Pacientes_Archivo.shape

(691, 20)

In [845]:
Pacientes_IDrut = Pacientes_SF[
    [
        "Rut",
        "Id Account Paciente",
        "Id Contacto",
    ]
]

In [846]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut1"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("-", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("–", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.upper()
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.strip()

Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace("-", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace("–", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(".", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(" ", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.upper()
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.strip()
Pacientes_Archivo.shape

Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].astype(str)
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.upper()
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("-", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("–", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\1490231206.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\1490231206.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\1490231206.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")

(691, 21)

In [847]:
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rut2"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("-", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("–", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.upper()
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2296516763.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")

(691, 22)

In [848]:
if ("nombres" in Pacientes_Archivo.columns) == True:
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(",", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("-", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("┐", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("═", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("╔", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("┌", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.title()
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.strip()
    # Pacientes_Archivo["empresa"] = Pacientes_Archivo["empresa"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(",", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("-", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("┐", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("═", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("╔", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("┌", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\3410721566.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\3410721566.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")

In [849]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo

# Pacientes_Nones = Pacientes_Archivo[(Pacientes_Archivo["rut"] == "NONE") | (Pacientes_Archivo["rutT"] == "NONE")]
# Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE") | (Pacientes_Archivo["rutT"] != "NONE")]

,poliza,rutE,empleador,RUTASEGURADO,DV,rut2,RUTBENEFICIARIO,RUTBENEFIARIO_DV,rut1,nacimiento,...,RELACION,DESDE,NOMBRE,apellidos,nombres,TITULAR,email,celular,rut,rutT
0,340024880,1,Asegurados,10094649,1,10094649-1,10094649,1,10094649-1,1964-10-25,...,AS,45323,González López Darlio,González López,Darlio,González López Darlio,darlio2000@gmail.com,NaN,100946491,100946491
1,340024880,1,Asegurados,10094649,1,10094649-1,9010114,5,9010114-5,1961-03-13,...,CO,45323,Mosqueira Montecinos Maria Soledad,Mosqueira Montecinos,Maria Soledad,González López Darlio,darlio2000@gmail.com,NaN,90101145,100946491
2,340024880,1,Asegurados,10094649,1,10094649-1,21878876,9,21878876-9,2005-07-04,...,HI,45323,Gonzalez Mosqueira Silvana Ignacia,Gonzalez Mosqueira,Silvana Ignacia,González López Darlio,darlio2000@gmail.com,NaN,218788769,100946491
3,340024880,1,Asegurados,10116017,3,10116017-3,10116017,3,10116017-3,1965-09-04,...,AS,45323,Castro Pinochet Leopoldo Alberto,Castro Pinochet,Leopoldo Alberto,Castro Pinochet Leopoldo Alberto,lcastrop13@gmail.com,NaN,101160173,101160173
4,340024880,1,Asegurados,10116017,3,10116017-3,10258180,6,10258180-6,1965-01-31,...,CO,45323,Nachar Godoy Ninfa,Nachar Godoy,Ninfa,Castro Pinochet Leopoldo Alberto,lcastrop13@gmail.com,NaN,102581806,101160173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
686,340024880,1,Asegurados,9889688,0,9889688-0,10073586,5,10073586-5,1968-01-10,...,CO,45323,Araos Cantero Maria Raquel,Araos Cantero,Maria Raquel,Cantero Cajas Lincoyán,linco.cantero@gmail.com,NaN,100735865,98896880
687,340024880,1,Asegurados,9917433,1,9917433-1,9917433,1,9917433-1,1966-05-11,...,AS,45323,González Valladares Hernán Iván,González Valladares,Hernán Iván,González Valladares Hernán Iván,hernan.gonzalezv@gmail.com,NaN,99174331,99174331
688,340024880,1,Asegurados,9917433,1,9917433-1,21831480,5,21831480-5,2005-04-27,...,HI,45323,González Gonzalez Benjamin,González Gonzalez,Benjamin,González Valladares Hernán Iván,hernan.gonzalezv@gmail.com,NaN,218314805,99174331
689,340024880,1,Asegurados,9917433,1,9917433-1,21238688,K,21238688-K,2003-02-24,...,HI,45323,Gonzalez Franco Sofia Macarena,Gonzalez Franco,Sofia Macarena,González Valladares Hernán Iván,hernan.gonzalezv@gmail.com,NaN,21238688K,99174331
690,340024880,1,Asegurados,9991390,8,9991390-8,9991390,8,9991390-8,1969-05-22,...,AS,45323,Vizcaya Gubbins Maria Cecilia,Vizcaya Gubbins,Maria Cecilia,Vizcaya Gubbins Maria Cecilia,mcvizcay@yahoo.es,NaN,99913908,99913908

In [ ]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo22.xlsx", index=False)

In [850]:
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE")]
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rutT"] != "NONE")]
# | (Pacientes_Archivo["rutT"] != "NONE")

In [ ]:
Pacientes_Archivo["Llave"] = Pacientes_Archivo["rutT"] + Pacientes_Archivo["rut"]
Pacientes_Archivo["PolizaLlave"] = Pacientes_Archivo["poliza"] +  Pacientes_Archivo["rutT"] + Pacientes_Archivo["rut"]

Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/eliminar2.xlsx", index=False)

PAcientes Programas

In [851]:
query_pacientePrograma = (
    "SELECT Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id from Paciente_Programas__c where padre__c =  '"
    + campaña
    + "'"
)
pacientePrograma = sf.smart_query(query_pacientePrograma)
pacientePrograma.head()

100%|██████████| 1/1 [03:58<00:00, 238.80s/it]

,Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id
0,0018c00002amM6wAAE,0018c00002axQXrAAM,87177467,a1Y8c00000C5avSEAR
1,0018c00002amPGEAA2,0018c00002axQXrAAM,253741139,a1Y8c00000C5bQ1EAJ
2,0018c00002amPXdAAM,0018c00002axQXrAAM,141396692,a1Y8c00000C5bRmEAJ
3,0018c00002amQ3rAAE,0018c00002axQXrAAM,203297092,a1Y8c00000C5bUOEAZ
4,0018c00002amQICAA2,0018c00002axQXrAAM,209736918,a1Y8c00000C5bVTEAZ

In [852]:
pacientePrograma = pacientePrograma.rename(
    columns={
        "Id": "Id Paciente Programas",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Programas_por_Empresas__r.Empresa__c": "Id Account Empleador",
        "Paciente__c": "Id Account Paciente",
    }
)
pacientePrograma.head()

  Id Account Paciente Id Account Empleador        Rut Id Paciente Programas
0  0018c00002amM6wAAE   0018c00002axQXrAAM   87177467    a1Y8c00000C5avSEAR
1  0018c00002amPGEAA2   0018c00002axQXrAAM  253741139    a1Y8c00000C5bQ1EAJ
2  0018c00002amPXdAAM   0018c00002axQXrAAM  141396692    a1Y8c00000C5bRmEAJ
3  0018c00002amQ3rAAE   0018c00002axQXrAAM  203297092    a1Y8c00000C5bUOEAZ
4  0018c00002amQICAA2   0018c00002axQXrAAM  209736918    a1Y8c00000C5bVTEAZ

In [853]:
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("-", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("–", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.upper()
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.strip()
pacientePrograma.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\3172767859.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")

(1011165, 4)

In [854]:
PacientesProgramas_PacientesSF = pd.merge(
    left=pacientePrograma,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)

PacientesProgramas_PacientesSF.head()

,Id Account Paciente,Id Account Empleador,Rut_x,Id Paciente Programas,Rut_y,Id Contacto
0,0018c00002amM6wAAE,0018c00002axQXrAAM,87177467,a1Y8c00000C5avSEAR,87177467,0038c000035CVmaAAG
1,0018c00002amPGEAA2,0018c00002axQXrAAM,253741139,a1Y8c00000C5bQ1EAJ,253741139,0038c000035CYwXAAW
2,0018c00002amPXdAAM,0018c00002axQXrAAM,141396692,a1Y8c00000C5bRmEAJ,141396692,0038c000035CZDpAAO
3,0018c00002amQ3rAAE,0018c00002axQXrAAM,203297092,a1Y8c00000C5bUOEAZ,203297092,0038c000035CZk5AAG
4,0018c00002amQICAA2,0018c00002axQXrAAM,209736918,a1Y8c00000C5bVTEAZ,209736918,0038c000035CZyIAAW

account contact relation

In [855]:
query_accountContact = (
    "select Id,ContactId, AccountId, RutContact__c ,Contact.AccountId from AccountContactRelation where Account.Campa_a__c = '"
    + campaña
    + "'"
)
accountContactRelation = sf.smart_query(query_accountContact)
accountContactRelation.head()

100%|██████████| 1/1 [03:01<00:00, 181.06s/it]

,Id,ContactId,AccountId,RutContact__c,Contact.AccountId
0,07k8c00000RGnshAAD,0038c000035CYwXAAW,0018c00002axQXrAAM,253741139,0018c00002amPGEAA2
1,07k8c00000RGnskAAD,0038c000035CVmaAAG,0018c00002axQXrAAM,87177467,0018c00002amM6wAAE
2,07k8c00000RGnslAAD,0038c000035CbnFAAS,0018c00002axQXrAAM,122766802,0018c00002amS79AAE
3,07k8c00000RGnsmAAD,0038c000035CZDpAAO,0018c00002axQXrAAM,141396692,0018c00002amPXdAAM
4,07k8c00000RGnsnAAD,0038c000035CZyIAAW,0018c00002axQXrAAM,209736918,0018c00002amQICAA2

In [856]:
accountContactRelation = accountContactRelation.rename(
    columns={
        "Id": "Id AccountContactRelation",
        "ContactId": "Id Contact Paciente",
        "AccountId": "Id Account Empresa",
        "RutContact__c": "Rut",
        "Contact.AccountId": "Id Account Paciente",
    }
)
accountContactRelation.head()

,Id AccountContactRelation,Id Contact Paciente,Id Account Empresa,Rut,Id Account Paciente
0,07k8c00000RGnshAAD,0038c000035CYwXAAW,0018c00002axQXrAAM,253741139,0018c00002amPGEAA2
1,07k8c00000RGnskAAD,0038c000035CVmaAAG,0018c00002axQXrAAM,87177467,0018c00002amM6wAAE
2,07k8c00000RGnslAAD,0038c000035CbnFAAS,0018c00002axQXrAAM,122766802,0018c00002amS79AAE
3,07k8c00000RGnsmAAD,0038c000035CZDpAAO,0018c00002axQXrAAM,141396692,0018c00002amPXdAAM
4,07k8c00000RGnsnAAD,0038c000035CZyIAAW,0018c00002axQXrAAM,209736918,0018c00002amQICAA2

In [857]:
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("-", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("–", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.upper()
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.strip()
accountContactRelation.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2268980097.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")

(916786, 5)

In [858]:
AccountContact_PacientesSF = pd.merge(
    left=accountContactRelation,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
AccountContact_PacientesSF.head()

,Id AccountContactRelation,Id Contact Paciente,Id Account Empresa,Rut_x,Id Account Paciente,Rut_y,Id Contacto
0,07k8c00000RGnshAAD,0038c000035CYwXAAW,0018c00002axQXrAAM,253741139,0018c00002amPGEAA2,253741139,0038c000035CYwXAAW
1,07k8c00000RGnskAAD,0038c000035CVmaAAG,0018c00002axQXrAAM,87177467,0018c00002amM6wAAE,87177467,0038c000035CVmaAAG
2,07k8c00000RGnslAAD,0038c000035CbnFAAS,0018c00002axQXrAAM,122766802,0018c00002amS79AAE,122766802,0038c000035CbnFAAS
3,07k8c00000RGnsmAAD,0038c000035CZDpAAO,0018c00002axQXrAAM,141396692,0018c00002amPXdAAM,141396692,0038c000035CZDpAAO
4,07k8c00000RGnsnAAD,0038c000035CZyIAAW,0018c00002axQXrAAM,209736918,0018c00002amQICAA2,209736918,0038c000035CZyIAAW

empresa contacto convenio

In [859]:
query_empresacontactoconvenio = (
    "select Id,Paciente__r.IdentificationId__pc, Empresa__r.P_liza__c, Empresa__c, Paciente__c,N_Documento_Titular__c from EmpresaContactoConvenios__c where Empresa__r.Campa_a__c = '"
    + campaña
    + "'"
)
empresacontactoconvenio = sf.smart_query(query_empresacontactoconvenio)
empresacontactoconvenio.head()

100%|██████████| 1/1 [02:43<00:00, 163.06s/it]

,Id,Paciente__r.IdentificationId__pc,Empresa__r.P_liza__c,Empresa__c,Paciente__c,N_Documento_Titular__c
0,a40RN000000q575YAA,199175742,340023542,a3yRN0000006sFLYAY,0018c00002bJkewAAC,199175742
1,a40RN000000q8BDYAY,15638903K,340023542,a3yRN0000006sFLYAY,0018c00002b043oAAA,15638903K
2,a40RN000000qC04YAE,184271516,340023542,a3yRN0000006sFLYAY,0018c00002b049FAAQ,176591048
3,a40RN000000qFbOYAU,272172277,340023542,a3yRN0000006sFLYAY,0018c00002oNqQxAAK,272172277
4,a40RN000000qGwJYAU,197504749,340023542,a3yRN0000006sFLYAY,0018c00002cXFvaAAG,197504749

In [860]:
empresacontactoconvenio = empresacontactoconvenio.rename(
    columns={
        "Id": "Id EmpresaContactoConvenio",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Empresa__c": "Id Convenio Empresa",
        "Paciente__c": "Id Account Paciente",
        "N_Documento_Titular__c": "Rut Titular",
        "Empresa__r.P_liza__c":"Poliza",
    }
)
empresacontactoconvenio.head()

,Id EmpresaContactoConvenio,Rut,Poliza,Id Convenio Empresa,Id Account Paciente,Rut Titular
0,a40RN000000q575YAA,199175742,340023542,a3yRN0000006sFLYAY,0018c00002bJkewAAC,199175742
1,a40RN000000q8BDYAY,15638903K,340023542,a3yRN0000006sFLYAY,0018c00002b043oAAA,15638903K
2,a40RN000000qC04YAE,184271516,340023542,a3yRN0000006sFLYAY,0018c00002b049FAAQ,176591048
3,a40RN000000qFbOYAU,272172277,340023542,a3yRN0000006sFLYAY,0018c00002oNqQxAAK,272172277
4,a40RN000000qGwJYAU,197504749,340023542,a3yRN0000006sFLYAY,0018c00002cXFvaAAG,197504749

In [861]:
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("-", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("–", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(" ", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.upper()
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.strip()
empresacontactoconvenio.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2240900084.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")

(832761, 6)

In [862]:
empresacontactoconvenio_PacientesSF = pd.merge(
    left=empresacontactoconvenio,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
empresacontactoconvenio_PacientesSF.head()

,Id EmpresaContactoConvenio,Rut_x,Poliza,Id Convenio Empresa,Id Account Paciente,Rut Titular,Rut_y,Id Contacto
0,a40RN000000q575YAA,199175742,340023542,a3yRN0000006sFLYAY,0018c00002bJkewAAC,199175742,199175742,0038c000035v8MPAAY
1,a40RN000000q8BDYAY,15638903K,340023542,a3yRN0000006sFLYAY,0018c00002b043oAAA,15638903K,15638903K,0038c000035sDzdAAE
2,a40RN000000qC04YAE,184271516,340023542,a3yRN0000006sFLYAY,0018c00002b049FAAQ,176591048,184271516,0038c000035sE4qAAE
3,a40RN000000qFbOYAU,272172277,340023542,a3yRN0000006sFLYAY,0018c00002oNqQxAAK,272172277,272172277,0038c00003KEDi8AAH
4,a40RN000000qGwJYAU,197504749,340023542,a3yRN0000006sFLYAY,0018c00002cXFvaAAG,197504749,197504749,0038c000036lOhDAAU

In [ ]:
""" if(campaña!="MetLife"):
    pacientePrograma.to_excel("F:/Empresas SF/reportes/paciente_programas.xlsx", index=False) """

Rescatamos todos los ruts Id con su empresa desde la campaña

In [863]:
Pacientes_Archivo.head()

,poliza,rutE,empleador,RUTASEGURADO,DV,rut2,RUTBENEFICIARIO,RUTBENEFIARIO_DV,rut1,nacimiento,...,RELACION,DESDE,NOMBRE,apellidos,nombres,TITULAR,email,celular,rut,rutT
0,340024880,1,Asegurados,10094649,1,10094649-1,10094649,1,10094649-1,1964-10-25,...,AS,45323,González López Darlio,González López,Darlio,González López Darlio,darlio2000@gmail.com,NaN,100946491,100946491
1,340024880,1,Asegurados,10094649,1,10094649-1,9010114,5,9010114-5,1961-03-13,...,CO,45323,Mosqueira Montecinos Maria Soledad,Mosqueira Montecinos,Maria Soledad,González López Darlio,darlio2000@gmail.com,NaN,90101145,100946491
2,340024880,1,Asegurados,10094649,1,10094649-1,21878876,9,21878876-9,2005-07-04,...,HI,45323,Gonzalez Mosqueira Silvana Ignacia,Gonzalez Mosqueira,Silvana Ignacia,González López Darlio,darlio2000@gmail.com,NaN,218788769,100946491
3,340024880,1,Asegurados,10116017,3,10116017-3,10116017,3,10116017-3,1965-09-04,...,AS,45323,Castro Pinochet Leopoldo Alberto,Castro Pinochet,Leopoldo Alberto,Castro Pinochet Leopoldo Alberto,lcastrop13@gmail.com,NaN,101160173,101160173
4,340024880,1,Asegurados,10116017,3,10116017-3,10258180,6,10258180-6,1965-01-31,...,CO,45323,Nachar Godoy Ninfa,Nachar Godoy,Ninfa,Castro Pinochet Leopoldo Alberto,lcastrop13@gmail.com,NaN,102581806,101160173

Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

Pacientes_Archivo.drop_duplicates(
[
"rut",
"rutT",
"LLaveEmpresa",
"LLAveRut",
],
keep="last",
)
Pacientes_Archivo.shape

In [864]:
print(campaña)

MetLife

In [865]:
Pacientes_Archivo["RutEstaoNo"] = Pacientes_Archivo["rut"].isin(Pacientes_SF["Rut"])

In [ ]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo.xlsx", index=False)

In [866]:
# aca a los pacientes del archivo se les asigna sus datos en SF
Pacientes_con_id = pd.merge(
    left=Pacientes_Archivo,
    right=Pacientes_SF,
    how="left",
    left_on="rut",
    right_on="Rut",
)
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/Pacientes_con_id.xlsx", index=False)
Pacientes_con_id.shape

(691, 33)

In [867]:
Pacientes_con_id.head()

,poliza,rutE,empleador,RUTASEGURADO,DV,rut2,RUTBENEFICIARIO,RUTBENEFIARIO_DV,rut1,nacimiento,...,Id Account Paciente,Rut,Nombre,Tipo de Documento,Ocupacion,Cargo,Departamento,Sexo,Telefono,Id Contacto
0,340024880,1,Asegurados,10094649,1,10094649-1,10094649,1,10094649-1,1964-10-25,...,0018c00002eh1rDAAQ,100946491,Darlio Luis Gonzalez Lopez,RUT,None,None,None,Otros,None,0038c000039H0oLAAS
1,340024880,1,Asegurados,10094649,1,10094649-1,9010114,5,9010114-5,1961-03-13,...,001RN000006QFL1YAO,90101145,Maria Soledad Mosqueira Montecinos,RUT,None,None,None,Mujer,None,003RN00000JIwkJYAT
2,340024880,1,Asegurados,10094649,1,10094649-1,21878876,9,21878876-9,2005-07-04,...,001RN000006Q4MJYA0,218788769,Silvana Ignacia Gonzalez Mosqueira,RUT,None,None,None,Mujer,None,003RN00000JIl2ZYAT
3,340024880,1,Asegurados,10116017,3,10116017-3,10116017,3,10116017-3,1965-09-04,...,0018c00002eh1trAAA,101160173,Leopoldo Castro Pinochet,RUT,None,None,None,Otros,None,0038c000039H0r3AAC
4,340024880,1,Asegurados,10116017,3,10116017-3,10258180,6,10258180-6,1965-01-31,...,001RN000006QPFRYA4,102581806,Ninfa Nachar Godoy,RUT,None,None,None,Mujer,None,003RN00000JIwqiYAD

In [ ]:
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

In [868]:
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")


def isValid(email):
    if re.fullmatch(regex, email):
        return email
    else:
        return ""


def fechaValida(fecha):
    if (len(str(fecha)) <= 9 ):
        fecha = ""
        
    fecha = str(fecha)
    fecha1 = str(fecha)
    
    #datetime.strptime(fecha, '%Y-%m-%d')
    
    try:
        fecha = datetime.strptime(fecha, '%Y-%m-%d %H:%M:%S')
        date_string = fecha1
        print("date_string =", date_string)
        print("type of date_string =", type(date_string))

        date_object = datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")

        print("date_object =", date_object)
        print("type of date_object =", type(date_object))
        return date_object
    except ValueError:
        return datetime.utcnow().strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
Pacientes_con_id["dertyuiop"] = Pacientes_con_id["nacimiento"]
Pacientes_con_id["derty"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
Pacientes_con_id.head()

In [869]:


# Final_pacientes_y_empresa = Pacientes_con_ID
Subir_pacientes = pd.DataFrame()
# Subir_pacientes["Email_Seteado__c"] = ""
Subir_pacientes["RutEstaoNo"] = Pacientes_con_id["RutEstaoNo"]
# agrupar = empresasqfaltan[empresasqfaltan['si']==False]


if ("nombres" in Pacientes_con_id.columns) == True:
    Subir_pacientes["FirstName"] = Pacientes_con_id["nombres"]
if ("apellidos" in Pacientes_con_id.columns) == True:
    Subir_pacientes["LastName"] = Pacientes_con_id["apellidos"]
if ("rut" in Pacientes_con_id.columns) == True:
    Subir_pacientes["IdentificationId__pc"] = (
        Pacientes_con_id["rut"].astype(str).str.upper()
    )


if ("email" in Pacientes_con_id.columns) == True:
    # Pacientes_con_id["email"] = Pacientes_con_id["email"].astype(str).str.lower().replace("nan","")
    Subir_pacientes["PersonEmail"] = Pacientes_con_id["email"].astype(str).str.lower()
    Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].apply(
        lambda y: isValid(y)
    )
    Subir_pacientes["Email_Seteado__c"] = np.where(
        Subir_pacientes["PersonEmail"] != "", "True", "False"
    )

    # Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].str.replace("no informado", "")
#if ("nacimiento" in Pacientes_con_id.columns) == True:    
#    Subir_pacientes["PersonBirthdate"] = pd.to_datetime(Pacientes_con_id["nacimiento"].astype(str), format="%Y-%m-%d")  
if ("nacimiento" in Pacientes_con_id.columns) == True:    
    #try:
    Subir_pacientes["PersonBirthdate"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
    Subir_pacientes["derty"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
    #except ValueError:
        #Subir_pacientes["PersonBirthdate"] = pd.to_datetime("1900-01-01", format="%Y-%m-%d")
 
if ("sexo" in Pacientes_con_id.columns) == True:
    Sexo = {
        "H": "Hombre",
        "m": "Hombre",
        "Masculino": "Hombre",
        "Femenino": "Mujer",
        "": "Prefiero no responder",
        "HOMBRE": "Hombre",
        "MUJER": "Mujer",
        "F": "Mujer",
        "O": "Prefiero no responder",
        "Ambos": "Prefiero no responder",
        "N": "Prefiero no responder",
        "Otro": "Prefiero no responder",
        "n": "Prefiero no responder",
        "N": "Prefiero no responder",
        "FEMENINO": "Mujer",
        "f": "Mujer",
        "MASCULINO": "Hombre",
        "m": "Hombre",
        "M ": "Hombre",
        "M": "Hombre",
        "F ": "Mujer",
        "Varón": "Hombre",
        "varon": "Hombre",
    }
    Pacientes_con_id.replace({"sexo": Sexo}, inplace=True)
    Subir_pacientes["HealthCloudGA__Gender__pc"] = Pacientes_con_id["sexo"]
if ("direccion" in Pacientes_con_id.columns) == True:
    Subir_pacientes["BillingStreet"] = (
        Pacientes_con_id["direccion"].str.lower().replace("nan", "")
    )
    # Subir_pacientes["BillingStreet"] = Final_pacientes_y_empresa["direccion"]
if ("comuna" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
    Subir_pacientes["BillingState"] = (
        Pacientes_con_id["comuna"].str.title().replace("NaN", "")
    )
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
if ("ciudad" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingCity"] = Final_pacientes_y_empresa["ciudad"]
    Subir_pacientes["BillingCity"] = (
        Pacientes_con_id["ciudad"].str.title().replace("NaN", "")
    )

if ("cargo" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonTitle"] = Pacientes_con_id["cargo"].str.title()

if ("division" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonDepartment"] = Pacientes_con_id["division"].str.title()

if ("celular" in Pacientes_con_id.columns) == True:
    Subir_pacientes["Phone"] = (
        Pacientes_con_id["celular"].apply(str).str.strip().replace("+", "")
    )
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NaN", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace(".", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("Nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("-", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("0", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("No Informado", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("_", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("/", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("+", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("null", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NULL", "")


Subir_pacientes["RecordTypeId"] = "0128c000002Byp4AAC"
Subir_pacientes["Cuenta_validada__c"] = "True"


if Pais == "Chile":
    Subir_pacientes["BillingCountry"] = "Chile"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtnEAE"
else:
    Subir_pacientes["BillingCountry"] = "México"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtsEAE"

Subir_pacientes_Que_no_Estan = Subir_pacientes
Subir_pacientes_Estan = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == True]
Subir_pacientes = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == False]

#Subir_pacientes["PersonBirthdate"] = Subir_pacientes["PersonBirthdate"].str.replace("0001-01-01 00:00:00", "")

# Subir_pacientes.PersonEmail = Subir_pacientes.PersonEmail.fillna('')
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)
Subir_pacientes.to_excel(
    "F:/Empresas SF/reportes/Pacientes_Que_No_Estaban.xlsx", index=False
)
Subir_pacientes.head()

date_string = 1964-10-25 00:00:00
type of date_string = <class 'str'>
date_object = 1964-10-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1961-03-13 00:00:00
type of date_string = <class 'str'>
date_object = 1961-03-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2005-07-04 00:00:00
type of date_string = <class 'str'>
date_object = 2005-07-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1965-09-04 00:00:00
type of date_string = <class 'str'>
date_object = 1965-09-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1965-01-31 00:00:00
type of date_string = <class 'str'>
date_object = 1965-01-31 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-01-09 00:00:00
type of date_string = <class 'str'>
date_object = 1968-01-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-04-09 00:00:00
type of date_string = <class 'str'>
date_object = 1969-04-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2005-09-02 00:00:00
type of date_string = <class 'str'>
date_object = 2005-09-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-07-09 00:00:00
type of date_string = <class 'str'>
date_object = 1975-07-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-08-25 00:00:00
type of date_string = <class 'str'>
date_object = 1978-08-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2017-04-19 00:00:00
type of date_string = <class 'str'>
date_object = 2017-04-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2005-02-06 00:00:00
type of date_string = <class 'str'>
date_object = 2005-02-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2008-10-14 00:00:00
type of date_string = <class 'str'>
date_object = 2008-10-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1966-09-05 00:00:00
type of date_string = <class 'str'>
date_object = 1966-09-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1966-12-05 00:00:00
type of date_string = <class 'str'>
date_object = 1966-12-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1966-01-16 00:00:00
type of date_string = <class 'str'>
date_object = 1966-01-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1966-09-30 00:00:00
type of date_string = <class 'str'>
date_object = 1966-09-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-03-12 00:00:00
type of date_string = <class 'str'>
date_object = 1999-03-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-04-03 00:00:00
type of date_string = <class 'str'>
date_object = 1971-04-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2007-09-05 00:00:00
type of date_string = <class 'str'>
date_object = 2007-09-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2009-09-24 00:00:00
type of date_string = <class 'str'>
date_object = 2009-09-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1967-11-08 00:00:00
type of date_string = <class 'str'>
date_object = 1967-11-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2004-08-16 00:00:00
type of date_string = <class 'str'>
date_object = 2004-08-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2010-12-02 00:00:00
type of date_string = <class 'str'>
date_object = 2010-12-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2015-02-08 00:00:00
type of date_string = <class 'str'>
date_object = 2015-02-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-06-20 00:00:00
type of date_string = <class 'str'>
date_object = 1975-06-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1966-11-05 00:00:00
type of date_string = <class 'str'>
date_object = 1966-11-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-07-24 00:00:00
type of date_string = <class 'str'>
date_object = 1969-07-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-09-12 00:00:00
type of date_string = <class 'str'>
date_object = 2000-09-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1973-02-08 00:00:00
type of date_string = <class 'str'>
date_object = 1973-02-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2003-06-11 00:00:00
type of date_string = <class 'str'>
date_object = 2003-06-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-01-02 00:00:00
type of date_string = <class 'str'>
date_object = 1976-01-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2005-07-26 00:00:00
type of date_string = <class 'str'>
date_object = 2005-07-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2016-06-09 00:00:00
type of date_string = <class 'str'>
date_object = 2016-06-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1967-02-23 00:00:00
type of date_string = <class 'str'>
date_object = 1967-02-23 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-12-20 00:00:00
type of date_string = <class 'str'>
date_object = 1999-12-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-11-22 00:00:00
type of date_string = <class 'str'>
date_object = 1968-11-22 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-01-30 00:00:00
type of date_string = <class 'str'>
date_object = 1969-01-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-07-16 00:00:00
type of date_string = <class 'str'>
date_object = 1969-07-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2008-01-20 00:00:00
type of date_string = <class 'str'>
date_object = 2008-01-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1977-09-16 00:00:00
type of date_string = <class 'str'>
date_object = 1977-09-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1976-01-18 00:00:00
type of date_string = <class 'str'>
date_object = 1976-01-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2018-10-22 00:00:00
type of date_string = <class 'str'>
date_object = 2018-10-22 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-10-22 00:00:00
type of date_string = <class 'str'>
date_object = 1974-10-22 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1978-02-09 00:00:00
type of date_string = <class 'str'>
date_object = 1978-02-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2008-05-05 00:00:00
type of date_string = <class 'str'>
date_object = 2008-05-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2004-08-27 00:00:00
type of date_string = <class 'str'>
date_object = 2004-08-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2002-11-26 00:00:00
type of date_string = <class 'str'>
date_object = 2002-11-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2011-09-13 00:00:00
type of date_string = <class 'str'>
date_object = 2011-09-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-01-11 00:00:00
type of date_string = <class 'str'>
date_object = 1968-01-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2006-10-09 00:00:00
type of date_string = <class 'str'>
date_object = 2006-10-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-11-25 00:00:00
type of date_string = <class 'str'>
date_object = 1968-11-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2002-07-18 00:00:00
type of date_string = <class 'str'>
date_object = 2002-07-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-09-08 00:00:00
type of date_string = <class 'str'>
date_object = 1971-09-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-09-09 00:00:00
type of date_string = <class 'str'>
date_object = 1975-09-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2010-02-20 00:00:00
type of date_string = <class 'str'>
date_object = 2010-02-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2012-02-21 00:00:00
type of date_string = <class 'str'>
date_object = 2012-02-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-06-18 00:00:00
type of date_string = <class 'str'>
date_object = 1971-06-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-07-07 00:00:00
type of date_string = <class 'str'>
date_object = 1972-07-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-02-10 00:00:00
type of date_string = <class 'str'>
date_object = 1999-02-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-08-10 00:00:00
type of date_string = <class 'str'>
date_object = 2000-08-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-02-20 00:00:00
type of date_string = <class 'str'>
date_object = 1968-02-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2005-09-05 00:00:00
type of date_string = <class 'str'>
date_object = 2005-09-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1967-11-10 00:00:00
type of date_string = <class 'str'>
date_object = 1967-11-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-12-18 00:00:00
type of date_string = <class 'str'>
date_object = 1999-12-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-06-21 00:00:00
type of date_string = <class 'str'>
date_object = 1969-06-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-12-01 00:00:00
type of date_string = <class 'str'>
date_object = 1968-12-01 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-09-14 00:00:00
type of date_string = <class 'str'>
date_object = 1999-09-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-07-12 00:00:00
type of date_string = <class 'str'>
date_object = 1969-07-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-05-31 00:00:00
type of date_string = <class 'str'>
date_object = 1968-05-31 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-05-11 00:00:00
type of date_string = <class 'str'>
date_object = 1999-05-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2003-02-05 00:00:00
type of date_string = <class 'str'>
date_object = 2003-02-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1970-09-30 00:00:00
type of date_string = <class 'str'>
date_object = 1970-09-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-01-06 00:00:00
type of date_string = <class 'str'>
date_object = 1971-01-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1966-03-17 00:00:00
type of date_string = <class 'str'>
date_object = 1966-03-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2003-08-07 00:00:00
type of date_string = <class 'str'>
date_object = 2003-08-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-10-15 00:00:00
type of date_string = <class 'str'>
date_object = 1971-10-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2010-02-05 00:00:00
type of date_string = <class 'str'>
date_object = 2010-02-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1968-03-14 00:00:00
type of date_string = <class 'str'>
date_object = 1968-03-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2014-04-08 00:00:00
type of date_string = <class 'str'>
date_object = 2014-04-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-05-20 00:00:00
type of date_string = <class 'str'>
date_object = 1971-05-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-02-08 00:00:00
type of date_string = <class 'str'>
date_object = 1971-02-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2004-06-04 00:00:00
type of date_string = <class 'str'>
date_object = 2004-06-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-09-27 00:00:00
type of date_string = <class 'str'>
date_object = 1971-09-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2004-05-18 00:00:00
type of date_string = <class 'str'>
date_object = 2004-05-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2010-11-02 00:00:00
type of date_string = <class 'str'>
date_object = 2010-11-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-02-06 00:00:00
type of date_string = <class 'str'>
date_object = 1972-02-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-03-24 00:00:00
type of date_string = <class 'str'>
date_object = 1975-03-24 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2009-03-28 00:00:00
type of date_string = <class 'str'>
date_object = 2009-03-28 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2010-10-11 00:00:00
type of date_string = <class 'str'>
date_object = 2010-10-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-08-03 00:00:00
type of date_string = <class 'str'>
date_object = 1974-08-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2007-10-29 00:00:00
type of date_string = <class 'str'>
date_object = 2007-10-29 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-08-14 00:00:00
type of date_string = <class 'str'>
date_object = 1972-08-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-08-30 00:00:00
type of date_string = <class 'str'>
date_object = 1975-08-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2009-09-21 00:00:00
type of date_string = <class 'str'>
date_object = 2009-09-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2015-01-16 00:00:00
type of date_string = <class 'str'>
date_object = 2015-01-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-10-05 00:00:00
type of date_string = <class 'str'>
date_object = 1972-10-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1973-05-19 00:00:00
type of date_string = <class 'str'>
date_object = 1973-05-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2012-10-26 00:00:00
type of date_string = <class 'str'>
date_object = 2012-10-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-04-08 00:00:00
type of date_string = <class 'str'>
date_object = 1999-04-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1973-01-18 00:00:00
type of date_string = <class 'str'>
date_object = 1973-01-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2008-08-10 00:00:00
type of date_string = <class 'str'>
date_object = 2008-08-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1973-11-04 00:00:00
type of date_string = <class 'str'>
date_object = 1973-11-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1969-05-19 00:00:00
type of date_string = <class 'str'>
date_object = 1969-05-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2003-07-09 00:00:00
type of date_string = <class 'str'>
date_object = 2003-07-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-12-07 00:00:00
type of date_string = <class 'str'>
date_object = 1972-12-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2007-09-13 00:00:00
type of date_string = <class 'str'>
date_object = 2007-09-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-12-08 00:00:00
type of date_string = <class 'str'>
date_object = 2001-12-08 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-04-12 00:00:00
type of date_string = <class 'str'>
date_object = 1974-04-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1970-05-26 00:00:00
type of date_string = <class 'str'>
date_object = 1970-05-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2006-05-23 00:00:00
type of date_string = <class 'str'>
date_object = 2006-05-23 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-02-13 00:00:00
type of date_string = <class 'str'>
date_object = 1974-02-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2014-07-11 00:00:00
type of date_string = <class 'str'>
date_object = 2014-07-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-02-28 00:00:00
type of date_string = <class 'str'>
date_object = 1974-02-28 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1971-05-18 00:00:00
type of date_string = <class 'str'>
date_object = 1971-05-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2015-09-30 00:00:00
type of date_string = <class 'str'>
date_object = 2015-09-30 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-04-15 00:00:00
type of date_string = <class 'str'>
date_object = 1974-04-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-03-12 00:00:00
type of date_string = <class 'str'>
date_object = 1974-03-12 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-06-04 00:00:00
type of date_string = <class 'str'>
date_object = 1974-06-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-06-06 00:00:00
type of date_string = <class 'str'>
date_object = 1974-06-06 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2008-04-13 00:00:00
type of date_string = <class 'str'>
date_object = 2008-04-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2017-04-27 00:00:00
type of date_string = <class 'str'>
date_object = 2017-04-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1974-12-29 00:00:00
type of date_string = <class 'str'>
date_object = 1974-12-29 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-01-27 00:00:00
type of date_string = <class 'str'>
date_object = 1972-01-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-07-07 00:00:00
type of date_string = <class 'str'>
date_object = 2001-07-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-11-05 00:00:00
type of date_string = <class 'str'>
date_object = 1975-11-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-12-05 00:00:00
type of date_string = <class 'str'>
date_object = 1975-12-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2008-03-18 00:00:00
type of date_string = <class 'str'>
date_object = 2008-03-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2010-05-05 00:00:00
type of date_string = <class 'str'>
date_object = 2010-05-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-02-13 00:00:00
type of date_string = <class 'str'>
date_object = 1975-02-13 00:00:00

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\3736595435.py:94: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\3736595435.py:101: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("+", "")

Empty DataFrame
Columns: [RutEstaoNo, FirstName, LastName, IdentificationId__pc, PersonEmail, Email_Seteado__c, PersonBirthdate, derty, HealthCloudGA__Gender__pc, Phone, RecordTypeId, Cuenta_validada__c, BillingCountry, Identification_Type__c, Pa_s_del_Paciente__c]
Index: []

In [870]:
Subir_pacientes.shape

(0, 15)

In [871]:
def traerId(rut):
    if len(rut) >= 8:
        busquedaDatos = "FIND {" + rut + "} RETURNING Account(Id,IdentificationId__pc)"
        derty = dict(sf.search(busquedaDatos))
        if derty["searchRecords"] != []:
            if derty["searchRecords"][0]["attributes"]["type"] == "Account":
                jote = derty["searchRecords"][0]["Id"]
                dertyd = derty["searchRecords"][0]["IdentificationId__pc"]
                print(jote + " " + dertyd)
                return jote
            else:
                print("no")
        else:
            print("vacio")
    else:
        return "None"


def traerContact(ide):
    ide = str(ide)
    if len(ide) >= 12:
        idcontact = sf.Account.get(ide)
        return idcontact["PersonContactId"]
    else:
        return "NONES"


def agregarPaciente(listado):
    vListado = listado.split(",")
    
    derty = None
    #vListado[9] = datetime.strptime(vListado[9], "%Y-%m-%d %H:%M:%S")
        
        
    if (vListado[9] == ""):                               
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],  
                                          
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    else:
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],
                        "PersonBirthdate": vListado[9] ,
                        #"PersonBirthdate":datetime.strptime(vListado[9], "%Y-%m-%d %H:%M:%S").formatGMT('yyyy-MM-dd\'T\'HH:mm:ss.SSS\'Z\'' + '"'),
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    # Verify that the Contact was created successfully
    # created_contact = sf.Contact.get(sf_res['id'])
    # print(created_contact)


""" sf_res =None
try:
    # Create the new Contact record in Salesforce
    sf_res = sf.Contact.create(new_contact)
except SalesforceMalformedRequest as e:
    if 'duplicateResut' in e[0]:
        print(f"Malformed request error: {e}")
        # Handle the error here as needed
        #Bypass SF Email duplicate rule by removing the email to create a SF Lead
        del new_contact['Email']
        sf_res = sf.Contact.create(new_contact)


if sf_res is not None:
    # Verify that the Contact was created successfully
    created_contact = sf.Contact.get(sf_res['id'])
    print(created_contact) """

' sf_res =None\ntry:\n    # Create the new Contact record in Salesforce\n    sf_res = sf.Contact.create(new_contact)\nexcept SalesforceMalformedRequest as e:\n    if \'duplicateResut\' in e[0]:\n        print(f"Malformed request error: {e}")\n        # Handle the error here as needed\n        #Bypass SF Email duplicate rule by removing the email to create a SF Lead\n        del new_contact[\'Email\']\n        sf_res = sf.Contact.create(new_contact)\n\n\nif sf_res is not None:\n    # Verify that the Contact was created successfully\n    created_contact = sf.Contact.get(sf_res[\'id\'])\n    print(created_contact) '

In [872]:
Subir_pacientes.head()

Empty DataFrame
Columns: [RutEstaoNo, FirstName, LastName, IdentificationId__pc, PersonEmail, Email_Seteado__c, PersonBirthdate, derty, HealthCloudGA__Gender__pc, Phone, RecordTypeId, Cuenta_validada__c, BillingCountry, Identification_Type__c, Pa_s_del_Paciente__c]
Index: []

In [873]:
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)

Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(
    lambda y: traerId(y)
)

Subir_pacientes.shape

(0, 16)

In [874]:
Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)
Subir_pacientes = Subir_pacientes[Subir_pacientes["Id"].str.len() <= 12]
# Subir_pacientes["numero"] = Subir_pacientes["Id"].str.len()
Subir_pacientes.shape

(0, 16)

In [ ]:
#Subir_pacientes["dato_account"].head()

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/Todesffff.xlsx", index=False)

In [875]:
Subir_pacientes["dato_account"] = ""
if ("FirstName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + Subir_pacientes[
        "FirstName"
    ].astype(str)
if ("LastName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["LastName"].astype(str)
    )
if ("IdentificationId__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["IdentificationId__pc"].astype(str)
    )
if ("RecordTypeId" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["RecordTypeId"].astype(str)
    )
if ("BillingCountry" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCountry"].astype(str)
    )
if ("Identification_Type__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Identification_Type__c"].astype(str)
    )
if ("Pa_s_del_Paciente__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Pa_s_del_Paciente__c"].astype(str)
    )
if ("Cuenta_validada__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Cuenta_validada__c"].astype(str)
    )

if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["PersonEmail"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

if ("PersonBirthdate" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (Subir_pacientes["dato_account"] + "," + Subir_pacientes["PersonBirthdate"].apply(lambda x: x.isoformat() + "Z"))
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("HealthCloudGA__Gender__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["HealthCloudGA__Gender__pc"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("Phone" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["Phone"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingCity" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCity"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingState" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingState"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingStreet" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingStreet"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Email_Seteado__c"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

# Subir_pacientes["dato_account"] =  Subir_pacientes["dato_account"] =

Subir_pacientes["Id_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
)
""" Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
) """

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\3281223076.py:57: PerformanceWarning: Adding/subtracting object-dtype array to DatetimeArray not vectorized.
  Subir_pacientes["dato_account"] = (Subir_pacientes["dato_account"] + "," + Subir_pacientes["PersonBirthdate"].apply(lambda x: x.isoformat() + "Z"))

' Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(\n    lambda x: agregarPaciente(x)\n) '

In [880]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c WHERE Empresa_Padre__r.Name = '" + campaña + "'"

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_asociadas.xlsx", index=False)
df2.head()

100%|██████████| 1/1 [00:09<00:00,  9.72s/it]

,P_liza__c,Nombre_de_Empresa__c,Identificador__c,Rut_Empresa__c,Empresa_Padre__r.Name,Holding__c,Plan__c,Pais__c,Activo__c,Id,LLave,dato
0,340023542,Uber Rides Chile SPA,Uber Rides Chile SPA,-,MetLife,Uber,MetLife Orienta,Chile,True,a3yRN0000006sFLYAY,340023542,1
1,340023542,Uber Rides Chile SPA,Uber Rides Chile SPA,-,MetLife,Uber,MetLife Orienta,Chile,True,a3yRN0000006sFMYAY,340023542,1
2,340019779,Ultramar Agencia Maritima Ltda.,Ultramar Agencia Maritima Ltda.,-,MetLife,Ultramar - Agencias,MetLife Orienta,Chile,True,a3yRN0000006sFNYAY,340019779,1
3,340017378,Ultrapoly S.A.,Ultrapoly S.A.,-,MetLife,CTTA Codelco - El Teniente,MetLife Orienta,Chile,False,a3yRN0000006sFOYAY,340017378,1
4,340023511,Ultrapoly S.A.,Ultrapoly S.A.,-,MetLife,Agema EECC - DCH,MetLife Orienta,Chile,False,a3yRN0000006sFPYAY,340023511,1

In [881]:
df2.shape

(3115, 12)

In [879]:
Pacientes_con_id_no = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == False]
Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(
    lambda y: traerId(y)
)
Pacientes_con_id_no["Id Contacto"] = Pacientes_con_id_no["Id Account Paciente"].apply(
    lambda y: traerContact(y)
)
Pacientes_con_id_no.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_no.xlsx", index=False
)

Pacientes_con_id_si = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == True]
Pacientes_con_id_si.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_si.xlsx", index=False
)

Pacientes_con_id_final = pd.concat(
    [
        Pacientes_con_id_si,
        Pacientes_con_id_no,
    ],
    axis=0,
)

Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final.xlsx", index=False
)

if campaña == "Southbridge Plan Mujer":
    VpacientePrograma = "a1WRN0000007YwD2AU"
    VempresaaAccount = "001RN000003rwVaYAI"
    VempresaConvenio = "a3yRN0000006sVTYAY"
elif campaña == "Southbridge":
    VpacientePrograma = "a1W8c0000083pM9EAI"
    VempresaaAccount = "0018c00002f3Ev2AAE"
    VempresaConvenio = "a3yRN0000006sqYYAQ"
elif campaña == "Construmart":
    VpacientePrograma = "a1W8c0000083q9TEAQ"
    VempresaaAccount = "0018c00002ghJgBAAU"
    VempresaConvenio = "a3yRN0000006rlZYAQ"
elif campaña == "EY":
    VpacientePrograma = "a1W8c0000083laZEAQ"
    VempresaaAccount = "0018c00002eTboVAAS"
    VempresaConvenio = "a3yRN0000006rsTYAQ"
elif campaña == "Colmena":
    VpacientePrograma = "a1W8c0000083j8rEAA"
    VempresaaAccount = "0018c00002cXclQAAS"
    VempresaConvenio = "a3yRN0000006rf5YAA"
elif campaña == "Pedro De Valdivia":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sVzYAI"
elif campaña == "Forum":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s3SYAQ"
elif campaña == "Cruz Verde":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rsqYAA"
elif campaña == "Milan Fajanovic":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sR4YAI"
elif campaña == "ProChile":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rpsYAA"
elif campaña == "Farmacias Ahumada":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rspYAA"
elif campaña == "Minera El Abra":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006snOYAQ"
elif campaña == "Instruvalve":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s9DYAQ"
elif campaña == "VidaCel":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006suzYAA"
elif campaña == "Care Assistance Colaboradores":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006reXYA"
elif campaña == "Nexo":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sORYAY"
elif campaña == "Talo":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006t10YAA"
else:
    VpacientePrograma = "Buscarv"
    VempresaaAccount = "Buscarv"
    VempresaConvenio = "Buscarv"

#Programas por empresas
Pacientes_con_id_final["esonoes"] = Pacientes_con_id_final["rut"].isin(
    PacientesProgramas_PacientesSF["Rut_y"]
)
Subir_programas_empresa = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes"] == False
]
Subir_programas_empresa["Paciente__c"] = Subir_programas_empresa["Id Account Paciente"]
Subir_programas_empresa["Programas_por_Empresas__c"] = VpacientePrograma
Subir_programas_empresa = Subir_programas_empresa[
    [
        # "empresa",
        "poliza",
        "Paciente__c",
        "Programas_por_Empresas__c",
    ]
]
Subir_programas_empresa.to_excel(
    "F:/Empresas SF/reportes/programas_empresa.xlsx", index=False
)

#
Pacientes_con_id_final["esonoes1"] = Pacientes_con_id_final["rut"].isin(
    AccountContact_PacientesSF["Rut_y"]
)
Subir_AccountContact = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes1"] == False
]
Subir_AccountContact["ContactId"] = Subir_AccountContact["Id Contacto"]
Subir_AccountContact["AccountId"] = VempresaaAccount

Subir_AccountContact = Subir_AccountContact[
    [
        # "empresa",
        "poliza",
        "ContactId",
        "AccountId",
    ]
]
Subir_AccountContact.to_excel(
    "F:/Empresas SF/reportes/account_Contact.xlsx", index=False
)
if(campaña == "MetLife"):
    empresacontactoconvenio_PacientesSF["llave"] = empresacontactoconvenio_PacientesSF["Poliza"] +empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llaveA"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]
    Pacientes_con_id_final["llavepa"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]
    empresacontactoconvenio_PacientesSF["polizallavepa"] = empresacontactoconvenio_PacientesSF["Poliza"] + empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
else:
    empresacontactoconvenio_PacientesSF["llave"] = empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llaveA"] = Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]    
    empresacontactoconvenio_PacientesSF["polizallavepa"] = empresacontactoconvenio_PacientesSF["Poliza"] + empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llavepa"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]




Pacientes_con_id_final["esonoes2"] = Pacientes_con_id_final["llaveA"].isin(
    empresacontactoconvenio_PacientesSF["llave"]
)
Pacientes_con_id_final["sionose"] = Pacientes_con_id_final["llavepa"].isin(
    empresacontactoconvenio_PacientesSF["polizallavepa"]
)

Subir_empresacontactoconvenio = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes2"] == False
]
Subir_empresacontactoconvenio2 = Pacientes_con_id_final[
    Pacientes_con_id_final["sionose"] == False
]


Subir_empresacontactoconvenio["Paciente__c"] = Subir_empresacontactoconvenio[
    "Id Account Paciente"
]

Subir_empresacontactoconvenio["N_Documento_Titular__c"] = Subir_empresacontactoconvenio[
    "rutT"
]
Subir_empresacontactoconvenio["Empresa__c"] = VempresaConvenio

Subir_empresacontactoconvenio = Subir_empresacontactoconvenio[
    [
        "empleador",
        "rutE",
        "poliza",
        "Paciente__c",
        "N_Documento_Titular__c",
        "Empresa__c",
    ]
]
Subir_empresacontactoconvenio.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio.xlsx", index=False)
Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final2.xlsx", index=False
    
)
Subir_empresacontactoconvenio2.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio2.xlsx", index=False)

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_programas_empresa["Paciente__c"] = Subir_programas_empresa["Id Account Paciente"]
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_programas_empresa["Programas_por_Empresas__c"] = VpacientePrograma
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_AccountContact["ContactId"] = Subir_AccountContact["Id Contacto"]
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_AccountContact["AccountId"] = VempresaaAccount

Cuadrar eliminar pacientes q no estan en el listado
//-----------------------------------------------------------//

In [ ]:
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "163820064")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "153298939")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "191710940")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "182470082")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16277865")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16277865K")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "HEGJ930928HMNRRL06")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16007258K")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "86676540")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "202201466")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "105233469")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "130949185")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "255356798")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "34005945")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "185410072")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "197415029")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "254468134")].index, inplace=True)



empresacontactoconvenio_PacientesSF.head()

In [ ]:
empresacontactoconvenio_PacientesSF.to_excel(
    "F:/Empresas SF/reportes/SFpacientes.xlsx", index=False)

In [ ]:
contactd = sf.Account.get("0018c00002lUyo0AAC")
contactd["PersonContactId"]

In [ ]:
# contactd["PersonContactId"]
print(datetime.now())

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/tod  es.xlsx", index=False)

query2 = "select P_liza**c, Nombre_de_Empresa**c, Rut_Empresa**c, Empresa_Padre**r.Name, Empresa**r.name,Holding**c, Plan**c, Pais**c, Activo**c, Id from Datos_Empresa**c "

df2 = sf.smart_query(query2)
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

Subir_pacientes.to_excel("F:/Empresas SF/reportes/111account.xlsx", index=False)

derty = Subir_pacientes["IdentificationId__pc"]
sf.Contact.create({"IdentificationId\_\_pc": "derty", "Email": "example@example.com"})

Subir_pacientes.head()

Subir_pacientes.head()
Subir_pacientes.to_excel("F:/Empresas SF/reportes/account\_\_l.xlsx", index=False)

In [ ]:
""" if campaña != "MetLife":
    pacientes_en_campaña = pd.merge(
        left=campaña_seleccionada,
        right=Pacientes_con_id,
        how="left",
        left_on="Id Account",
        right_on="Id Account Paciente",
    )
    pacientes_en_campaña["Paciente__c"] = "Id Pacientes"
    pacientes_en_campaña["Programas_por_Empresas__c"] = "Id Programas Por empresa"
    pacientes_en_campaña.to_excel(
        "F:/Empresas SF/reportes/campaña_empresa.xlsx", index=False
    )
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña.xlsx", index=False
    )
 """

In [ ]:
""" if campaña != "MetLife1":
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    if ("poliza" in campaña_en_pacientes.columns) == True:
        campaña_en_pacientes["poliza"] = campaña_en_pacientes["poliza"].astype(str)

    campaña_en_pacientes = campaña_en_pacientes.rename(
        columns={"Programas_por_Empresas__c": "programas por empresa"}
    )
    campaña_en_pacientes["Paciente__c"] = campaña_en_pacientes["Id Account Paciente"]
    campaña_en_pacientes["Programas_por_Empresas__c"] = campaña_en_pacientes[
        "programas por empresa"
    ]
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña2.xlsx", index=False
    ) """

In [ ]:
# apprix_1 = Pacientes_SF.iloc[:790552,:]
# apprix_2 = Pacientes_SF.iloc[790553:,:]
# apprix_1.to_excel("F:/Empresas SF/reportes/Ruts1.xlsx",index=False)
# apprix_2.to_excel("F:/Empresas SF/reportes/Ruts2.xlsx",index=False)

In [ ]:
campaña_en_pacientes2 = pd.merge(
    left=Pacientes_con_id,
    right=campaña_seleccionada,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)
if ("poliza" in campaña_en_pacientes2.columns) == True:
    campaña_en_pacientes2["poliza"] = campaña_en_pacientes2["poliza"].astype(str)

campaña_en_pacientes2 = campaña_en_pacientes2.rename(
    columns={"Programas_por_Empresas__c": "programas por empresa"}
)
campaña_en_pacientes2["Paciente__c"] = campaña_en_pacientes2["Id Account Paciente"]
campaña_en_pacientes2["Programas_por_Empresas__c"] = campaña_en_pacientes2[
    "programas por empresa"
]


""" campaña_en_pacientes2 = campaña_en_pacientes2[
    (campaña_en_pacientes2["Programas_por_Empresas__c"] == "")] """
campaña_en_pacientes2["Esta"] = campaña_en_pacientes2["programas por empresa"].isnull()
campaña_en_pacientes2 = campaña_en_pacientes2[campaña_en_pacientes2["Esta"]]
campaña_en_pacientes2.to_excel(
    "F:/Empresas SF/reportes/archivo_campaña3.xlsx", index=False
)

In [ ]:
campaña_en_pacientes2["rut"].shape

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
rutes = pd.DataFrame(columns=["rut"])
rutes["rut"] = Pacientes_Archivo["rut"]
rutes["rutT"] = Pacientes_Archivo["rut2"]
rutes["Contratante"] = Pacientes_Archivo["Contratante"]
# rutes["poliza"] = Pacientes_Archivo["poliza"]
rutes.head()

In [ ]:
rutes["rut"] = rutes["rut"].astype(str)
rutes["rut"] = rutes["rut"].str.replace(".", "")
rutes["rut"] = rutes["rut"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rut"] = rutes["rut"].str.upper()
rutes["rut"] = rutes["rut"].str.strip()

rutes["rutT"] = rutes["rutT"].astype(str)
rutes["rutT"] = rutes["rutT"].str.replace(".", "")
rutes["rutT"] = rutes["rutT"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rutT"] = rutes["rutT"].str.upper()
rutes["rutT"] = rutes["rutT"].str.strip()

""" rutes["poliza"] = rutes["poliza"].astype(str)
rutes["poliza"] = rutes["poliza"].str.replace(".", "")
rutes["poliza"] = rutes["poliza"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["poliza"] = rutes["poliza"].str.strip() """


rutes.head()

In [ ]:
# derty = rutes.to_numpy().transpose().tolist()


Pacientes_SF2 = Pacientes_SF[["Rut", "Id Account Paciente"]]

In [ ]:
rutesi = pd.merge(
    left=rutes,
    right=Pacientes_SF2,
    how="left",
    left_on="rut",
    right_on="Rut",
)
rutesi.shape
rutesi.to_excel("F:/Empresas SF/reportes/rutsyempresa.xlsx", index=False)

In [ ]:
rutesi.head()

In [ ]:
rutesi_antg = pd.merge(
    left=rutesi,
    right=empresas_unidas,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)

In [ ]:
rutesi_antg.head()

In [ ]:
# rutesi_antg .to_excel("F:/Empresas SF/reportes/ruts_empresas_antiguos.xlsx", index=False)

In [ ]:
import json
import pandas as pd
from simple_salesforce import Salesforce, format_soql, format_external_id
from json import loads, dumps
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)

In [ ]:
""" query = "select Id, Account.Name, RutContact__c from AccountContactRelation "

df1 = sf.smart_query(query) """

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
# rutes = Subir_pacientes["rut"]

In [ ]:
""" df1.head() """

In [ ]:
""" df1["rut"] = df1["RutContact__c"].astype(str)
df1["rut"] = df1["rut"].str.replace(".", "")
df1["rut"] = df1["rut"].str.replace(
    "-", ""
)  # aca se trabaja con el nuevo rut desde rut1 ojooooooo
df1["rut"] = df1["rut"].str.upper()
df1["rut"] = df1["rut"].str.strip()
df1.head() """

In [ ]:
""" rutes.head() """

In [ ]:
""" rutesi = pd.merge(
    left=rutes,
    right=df1,
    how="left",
    left_on="rut",
    right_on="rut",
) """

In [ ]:
""" rutesi.to_excel("F:/Empresas SF/reportes/rutesnuevos_accountcontactrelation.xlsx", index=False) """

In [ ]:
""" df2["P_liza__c"] = df2["P_liza__c"].astype(str)
df2["P_liza__c"] = df2["P_liza__c"].str.replace(".", "")
df2["P_liza__c"] = df2["P_liza__c"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
df2["P_liza__c"] = df2["P_liza__c"].str.upper()
df2["P_liza__c"] = df2["P_liza__c"].str.strip() """

In [ ]:
modelo_nuevo = pd.merge(
    left=rutesi,
    right=df2,
    how="left",
    left_on="poliza",
    right_on="P_liza__c",
)
modelo_nuevo.to_excel("F:/Empresas SF/reportes/modelo_nuevo.xlsx", index=False)

In [ ]:
modelo = pd.DataFrame()
modelo = modelo_nuevo[["rutT", "Id Account Paciente", "Id"]]

In [ ]:
modelo.head()