In [183]:
from pathlib import Path 
import requests
import pandas as pd
import numpy as np
from io import StringIO
from simple_salesforce import Salesforce,api
import shutil
import datetime
from datetime import date


sf = Salesforce(
    username="jmartinez@careassistance.com",
    password="Jcmm010483",
    security_token="nc20DsgxOHWVR9OHZ78s7TRp",
)

In [184]:
# Recuperar empresas ID de salesforce desde Account
results = sf.query_all(
    """
  select Id, name, Holding__c ,Campa_a__c,Id_Empresa__c,Empleador__c,poliza__c  from account where ispersonaccount = false 
    """
)
Empresas_SF = pd.DataFrame(results["records"])
Empresas_SF = Empresas_SF[
    [
        "Id",
        "Name",
        "Holding__c",
        "Campa_a__c",
        "Id_Empresa__c",
        "Empleador__c",
        "poliza__c",
    ]
]
Empresas_SF.shape

(6754, 7)

In [185]:
# buscar empresas desde Programas_por_Empresas__c datos de empresas
results = sf.query_all(
    """
   select Id,Empresa__c, Empresa_Padre__c,Nombre_Empresa__c, Name  from Programas_por_Empresas__c 
    """
)
Programas_por_empresa_SF = pd.DataFrame(results["records"])

Programas_por_empresa_SF = Programas_por_empresa_SF[
    ["Id", "Empresa__c", "Empresa_Padre__c", "Nombre_Empresa__c", "Name"]
]
Programas_por_empresa_SF.shape

(6743, 5)

In [186]:
#Union de Programas Empresa y empresas
Programas_empresas = pd.merge(
    left=Empresas_SF,
    right=Programas_por_empresa_SF,
    how="left",
    left_on="Id",
    right_on="Empresa__c",
)
Programas_empresas = Programas_empresas.rename(
    columns={
        "Id_x": "Id Account Empresa",
        "Name_x": "Nombre Empresa",
        "Holding__c": "Holding",
        "Campa_a__c": "Campa単a",
        "Empleador__c": "Empleador",
        "poliza__c": "Poliza",
        "Id_y": "Programas_por_Empresas__c",
        "Id_Empresa__c": "Codigo EMP",
        "Name_y": "Codigo A",
    }
)
Programas_empresas = Programas_empresas[
    [
        "Id Account Empresa",
        "Nombre Empresa",
        "Holding",
        "Campa単a",
        "Empleador",
        "Poliza",
        "Programas_por_Empresas__c",
        "Codigo EMP",
        "Codigo A"
    ]
]

Programas_empresas.shape

(6760, 9)

fin empresas y comienzo de rescate de pacientes

In [187]:
#CArga de PAcientes
results = sf.query_all(
    """
    select Id, IdentificationId__pc,Name, Identification_Type__c, Ocupaci_n__c,  PersonTitle ,PersonDepartment,HealthCloudGA__Gender__pc,Phone  from Account where ispersonaccount = True
   """
)
Pacientes_SF = pd.DataFrame(results["records"])

Pacientes_SF = Pacientes_SF[
    [
        "Id",
        "IdentificationId__pc",
        "Name",
        "Identification_Type__c",
        "Ocupaci_n__c",
        "PersonTitle",
        "PersonDepartment",
        "HealthCloudGA__Gender__pc",
        'Phone'
        
    ]
]
Pacientes_SF = Pacientes_SF.rename(
    columns={
        "Id": "Id Account Paciente",
        "IdentificationId__pc": "Rut",
        "Name": "Nombre",
        "Ocupaci_n__c": "Ocupacion",
        "PersonTitle": "Cargo",
        "PersonDepartment": "Departamento",
        "HealthCloudGA__Gender__pc": "Sexo",
        "Phone": "Telefono",
        "Identification_Type__c": "Tipo de Documento",
    }
)
Pacientes_SF.shape

(1597658, 9)

Aca se comienzan a unir las relaciones de pacientes y empresas ya creadas.

In [188]:
#buscar empresas desde Paciente_Programas__c relaciones de empresas con pacientes
results = sf.query_all(
    """
    select Id,Paciente__c, Programas_por_Empresas__c,padre__c from Paciente_Programas__c  
    """
)
Paciente_Programas_SF = pd.DataFrame(results["records"])

Paciente_Programas_SF = Paciente_Programas_SF[
    ["Id", "Paciente__c", "Programas_por_Empresas__c", "padre__c"]
]
Paciente_Programas_SF = Paciente_Programas_SF.rename(
    columns={
        "Id": "Id Pacientes_Programas__c",
        "Paciente__c": "Id Account",
        "Programas_por_Empresas__c": "Programas_por_Empresas__c",
        "padre__c": "Nombre Campa単a"        
    }
)
Paciente_Programas_SF.shape

(1158318, 4)

In [189]:
#Union de Pacientes Programas y Programas por empresa
empresas_unidas = pd.merge(
    left=Paciente_Programas_SF,
    right=Programas_empresas,
    how="left",
    left_on="Programas_por_Empresas__c",
    right_on="Programas_por_Empresas__c", 
)
empresas_unidas.shape

(1158318, 12)

In [ ]:
empresas_unidas.head()

In [ ]:
#pacientes_empresas22 = pd.merge(
    #left=Pacientes_SF,
    #right=empresas_unidas,
    #how="left",
    #left_on="Id Account Paciente",
    #right_on="Id Account", 
#)
#pacientes_empresas22 = pacientes_empresas22.drop_duplicates(['Rut'], keep='last')
#pacientes_empresas22 = pacientes_empresas22[
    #["Rut", "Nombre", "Nombre Campa単a", "Nombre Empresa"]
#]

In [ ]:
#pacientes_empresas22.shape

In [ ]:
#apprix_1 = pacientes_empresas22.iloc[:848826,:]

#apprix_1.to_excel("F:/Empresas SF/reportes/Ruts_habilitados1.xlsx",index=False)

In [ ]:
#apprix_2 = pacientes_empresas22.iloc[848827:,:]#
#apprix_2.to_excel("F:/Empresas SF/reportes/Ruts_habilitados2.xlsx",index=False)

In [ ]:
#pacientes_empresas22.head()

Carga de Archivo carga

In [190]:
nuevos = "F:/Empresas SF/reportes/carga.xlsx"
campa単a = "BCI"
Pais = "Chile"


Pacientes_Archivo = pd.read_excel(nuevos)
# OJO se copia rut1 a rut le saca el guoion
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut1"].str.replace("-", "")

Pacientes_Archivo.head()

,rut,Unnamed: 1,rut1,Nombre Asegurado,apellidos,nombres,Fecha Nacimiento,poliza
0,270467202,27.046.720-2,27046720-2,Darwing Gallego Gonzalez,Gonzalez,Darwing Gallego,03-11-1992,2398163
1,141813870,14.181.387-0,14181387-0,JORGE ANDRES DEL RIO TRONCOSO,TRONCOSO,JORGE ANDRES DEL RIO,06-01-1981,2398163
2,235877686,23.587.768-6,23587768-6,Sharahin Jaimes Lopez,Lopez,Sharahin Jaimes,22-01-1983,2398163
3,256325519,25.632.551-9,25632551-9,Angel Morales Castillo,Castillo,Angel Morales,31-10-1981,2398163
4,136692070,13.669.207-0,13669207-0,Lissette Rebolledo Albornoz,Albornoz,Lissette Rebolledo,20-10-1979,2398163

In [191]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")

# aca se trabaja con el nuevo rut desde rut1 ojooooooo
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.upper()
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.strip()
Pacientes_Archivo.head()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2888\1036101616.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")

,rut,Unnamed: 1,rut1,Nombre Asegurado,apellidos,nombres,Fecha Nacimiento,poliza
0,270467202,27.046.720-2,27046720-2,Darwing Gallego Gonzalez,Gonzalez,Darwing Gallego,03-11-1992,2398163
1,141813870,14.181.387-0,14181387-0,JORGE ANDRES DEL RIO TRONCOSO,TRONCOSO,JORGE ANDRES DEL RIO,06-01-1981,2398163
2,235877686,23.587.768-6,23587768-6,Sharahin Jaimes Lopez,Lopez,Sharahin Jaimes,22-01-1983,2398163
3,256325519,25.632.551-9,25632551-9,Angel Morales Castillo,Castillo,Angel Morales,31-10-1981,2398163
4,136692070,13.669.207-0,13669207-0,Lissette Rebolledo Albornoz,Albornoz,Lissette Rebolledo,20-10-1979,2398163

In [192]:
Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(",", "")
Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("-", "")
Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.title()
Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.strip()
#Pacientes_Archivo["empresa"] = Pacientes_Archivo["empresa"].str.title()
Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(",", "")
Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")
Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("-", "")
Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.title()
Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.strip()
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.upper()
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.strip()
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(
    "-", ""
)


Pacientes_Archivo["RutEstaoNo"] = Pacientes_Archivo["rut"].isin(
    Pacientes_SF["Rut"])

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2888\2096211457.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_2888\2096211457.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")

In [193]:
#aca a los pacientes del archivo se les asigna sus datos en SF
Pacientes_con_id = pd.merge(
    left=Pacientes_Archivo,
    right=Pacientes_SF,
    how="left",
    left_on="rut",
    right_on="Rut",
)
Pacientes_con_id.shape

(721, 18)

In [194]:
Pacientes_con_id.head()

,rut,Unnamed: 1,rut1,Nombre Asegurado,apellidos,nombres,Fecha Nacimiento,poliza,RutEstaoNo,Id Account Paciente,Rut,Nombre,Tipo de Documento,Ocupacion,Cargo,Departamento,Sexo,Telefono
0,270467202,27.046.720-2,27046720-2,Darwing Gallego Gonzalez,Gonzalez,Darwing Gallego,03-11-1992,2398163,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,141813870,14.181.387-0,14181387-0,JORGE ANDRES DEL RIO TRONCOSO,Troncoso,Jorge Andres Del Rio,06-01-1981,2398163,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,235877686,23.587.768-6,23587768-6,Sharahin Jaimes Lopez,Lopez,Sharahin Jaimes,22-01-1983,2398163,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,256325519,25.632.551-9,25632551-9,Angel Morales Castillo,Castillo,Angel Morales,31-10-1981,2398163,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,136692070,13.669.207-0,13669207-0,Lissette Rebolledo Albornoz,Albornoz,Lissette Rebolledo,20-10-1979,2398163,True,0018c00002f3UyRAAU,136692070,Lissette Rebolledo Albornoz,RUT,None,None,None,Mujer,955265348

In [195]:
Programas_empresas.to_excel("F:/Empresas SF/reportes/empresas.xlsx",index=False)

In [196]:
# Final_pacientes_y_empresa = Pacientes_con_ID
Subir_pacientes = pd.DataFrame()
Subir_pacientes["RutEstaoNo"] = Pacientes_con_id["RutEstaoNo"]
# agrupar = empresasqfaltan[empresasqfaltan['si']==False]


if ("nombres" in Pacientes_con_id.columns) == True:
    Subir_pacientes["FirstName"] = Pacientes_con_id["nombres"]
if ("apellidos" in Pacientes_con_id.columns) == True:
    Subir_pacientes["LastName"] = Pacientes_con_id["apellidos"]
if ("rut" in Pacientes_con_id.columns) == True:
    Subir_pacientes["IdentificationId__pc"] = Pacientes_con_id["rut"]
if ("email" in Pacientes_con_id.columns) == True:
    # Pacientes_con_id["email"] = Pacientes_con_id["email"].astype(str).str.lower().replace("nan","")
    Subir_pacientes["PersonEmail"] = (
        Pacientes_con_id["email"].astype(str).str.lower().replace("nan", "")
    )
if ("nacimiento" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonBirthdate"] = Pacientes_con_id["nacimiento"]
if ("sexo" in Pacientes_con_id.columns) == True:
    Sexo = {
        "M": "Hombre",
        "m": "Hombre",
        "Masculino": "Hombre",
        "Femenino": "Mujer",
        "": "Prefiero no responder",
        "HOMBRE": "Hombre",
        "MUJER": "Mujer",
        "F": "Mujer",
        "O": "O",
        "Ambos": "Prefiero no responder",
        "N": "Prefiero no responder",
        "Otro": "Prefiero no responder",
        "n": "Prefiero no responder",
        "N": "Prefiero no responder",
        "FEMENINO": "Mujer",
        "f": "Mujer",
        "MASCULINO": "Hombre",
        "m": "Hombre",
        "M ": "Hombre",
        "F ": "Mujer",
        'Var坦n':'Hombre'      
        
    }
    Pacientes_con_id.replace({"sexo": Sexo}, inplace=True)
    Subir_pacientes["HealthCloudGA__Gender__pc"] = Pacientes_con_id["sexo"]
if ("direccion" in Pacientes_con_id.columns) == True:
    Subir_pacientes["BillingStreet"] = (
        Pacientes_con_id["direccion"].str.title().replace("NaN", "")
    )
    # Subir_pacientes["BillingStreet"] = Final_pacientes_y_empresa["direccion"]
if ("comuna" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
    Subir_pacientes["BillingState"] = (
        Pacientes_con_id["comuna"].str.title().replace("NaN", "")
    )
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
if ("ciudad" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingCity"] = Final_pacientes_y_empresa["ciudad"]
    Subir_pacientes["BillingCity"] = (
        Pacientes_con_id["ciudad"].str.title().replace("NaN", "")
    )

if ("cargo" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonTitle"] = Pacientes_con_id["cargo"].str.title()

if ("division" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonDepartment"] = Pacientes_con_id["division"].str.title()

if ("celular" in Pacientes_con_id.columns) == True:
    Subir_pacientes["Phone"] = Pacientes_con_id["celular"]

Subir_pacientes["RecordTypeId"] = "0128c000002Byp4AAC"




if Pais == 'Chile':        
    Subir_pacientes["BillingCountry"] = "Chile"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes['Pa_s_del_Paciente__c'] = 'a1U8c000005dAtnEAE'
else:    
    Subir_pacientes["BillingCountry"] = "Mexico"
    Subir_pacientes["Identification_Type__c"] = "CURP"
    Subir_pacientes['Pa_s_del_Paciente__c'] = 'a1U8c000005dAtsEAE'


Subir_pacientes = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == False]


# Subir_pacientes.PersonEmail = Subir_pacientes.PersonEmail.fillna('')
Subir_pacientes.to_excel("F:/Empresas SF/reportes/account.xlsx", index=False)
Subir_pacientes.head()

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,RecordTypeId,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
0,False,Darwing Gallego,Gonzalez,270467202,0128c000002Byp4AAC,Chile,RUT,a1U8c000005dAtnEAE
1,False,Jorge Andres Del Rio,Troncoso,141813870,0128c000002Byp4AAC,Chile,RUT,a1U8c000005dAtnEAE
2,False,Sharahin Jaimes,Lopez,235877686,0128c000002Byp4AAC,Chile,RUT,a1U8c000005dAtnEAE
3,False,Angel Morales,Castillo,256325519,0128c000002Byp4AAC,Chile,RUT,a1U8c000005dAtnEAE
5,False,Maria Torres,Contreras,259823749,0128c000002Byp4AAC,Chile,RUT,a1U8c000005dAtnEAE

In [197]:
    
clinica_virtual = pd.DataFrame()    
clinica_virtual['rut'] = Pacientes_con_id["rut1"].str.upper().str.strip()
clinica_virtual['firstName'] = Pacientes_con_id['nombres'].str.title().str.strip()
clinica_virtual['lastName'] = Pacientes_con_id['apellidos'].str.title().str.strip()
clinica_virtual['accountId'] = campa単a



Codigos_Clinica_Virtual = {
'BCI':'1',
'Farmacias Ahumada':'2',
'MetLife':'3',
'Vida Security':'4',
'Willis':'5',
'Entel':'6',
'Testing':'7',
'3SP':'8',
'HomeCare':'9',
'Pedro de Valdivia':'10',
'Colaboradores':'11',
'MineraAbra':'12',
'CMPC':'13',
'Lipigas':'14',
'Asismed':'15',
'Siempre Per炭':'16',
'Farmacias Cruz Verde':'17',
'WFS Food Services':'18',
'VidaCel':'19',
'Dermik':'20',
'EY':'21',
'IND':'22',
'Sindicato Walmart':'23',
'Instruvalve':'24',
'VidaCel Colaboradores':'25',
'Socofar':'26',
'Milan Fajanovic':'27',
'THBseguros':'28',
'Pesco':'29',
'Burgos - Consorcio':'30',
'COFAMA-SILENTIUM':'31',
'KAUFMANN':'32',
'QuePlan':'33',
'Zurich':'34',
'Colaboradores Siempre Chile':'35',
'Talo':'36',
'Transvip':'37',
'Vida Security Colaboradores':'38',
'FORUS':'39',
'SURA':'40',
'Southbrige':'41',
'Construmart':'42',
'BICE Vida':'43'

}

clinica_virtual.replace({"accountId": Codigos_Clinica_Virtual}, inplace=True)
clinica_virtual.to_excel("F:/Empresas SF/reportes/Clinica_Virtual.xlsx", index=False)

In [198]:
campa単a_seleccionada = empresas_unidas[empresas_unidas["Campa単a"] == campa単a]
campa単a_seleccionada.head()

,Id Pacientes_Programas__c,Id Account,Programas_por_Empresas__c,Nombre Campa単a,Id Account Empresa,Nombre Empresa,Holding,Campa単a,Empleador,Poliza,Codigo EMP,Codigo A
829487,a1Y8c00000DxiTUEAZ,0018c00002f4R81AAE,a1W8c0000083pySEAQ,BCI,0018c00002f4R2YAAU,Club De Golf Brisas De Santo Domingo,Club De Golf Brisas De Santo Domingo,BCI,Club De Golf Brisas De Santo Domingo,1034216,EMP9072,A-8101
829488,a1Y8c00000DxiTVEAZ,0018c00002f4R82AAE,a1W8c0000083pySEAQ,BCI,0018c00002f4R2YAAU,Club De Golf Brisas De Santo Domingo,Club De Golf Brisas De Santo Domingo,BCI,Club De Golf Brisas De Santo Domingo,1034216,EMP9072,A-8101
829489,a1Y8c00000DxiTWEAZ,0018c00002f4R83AAE,a1W8c0000083pySEAQ,BCI,0018c00002f4R2YAAU,Club De Golf Brisas De Santo Domingo,Club De Golf Brisas De Santo Domingo,BCI,Club De Golf Brisas De Santo Domingo,1034216,EMP9072,A-8101
829490,a1Y8c00000DxiTXEAZ,0018c00002f4R84AAE,a1W8c0000083pySEAQ,BCI,0018c00002f4R2YAAU,Club De Golf Brisas De Santo Domingo,Club De Golf Brisas De Santo Domingo,BCI,Club De Golf Brisas De Santo Domingo,1034216,EMP9072,A-8101
829491,a1Y8c00000DxiTYEAZ,0018c00002f4R85AAE,a1W8c0000083pySEAQ,BCI,0018c00002f4R2YAAU,Club De Golf Brisas De Santo Domingo,Club De Golf Brisas De Santo Domingo,BCI,Club De Golf Brisas De Santo Domingo,1034216,EMP9072,A-8101

In [199]:
campa単a_seleccionada.shape

(20718, 12)

In [200]:
if campa単a != "MetLife":
    pacientes_en_campa単a = pd.merge(
        left=campa単a_seleccionada,
        right=Pacientes_con_id,
        how="left",
        left_on="Id Account",
        right_on="Id Account Paciente",
    )
    pacientes_en_campa単a["Paciente__c"] = "Id Pacientes"
    pacientes_en_campa単a["Programas_por_Empresas__c"] = "Id Programas Por empresa"
    pacientes_en_campa単a.to_excel(
        "F:/Empresas SF/reportes/campa単a_empresa.xlsx", index=False
    )
    campa単a_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campa単a_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    campa単a_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campa単a.xlsx", index=False
    )

In [201]:

#apprix_1 = Pacientes_SF.iloc[:790552,:]
#apprix_2 = Pacientes_SF.iloc[790553:,:]
#apprix_1.to_excel("F:/Empresas SF/reportes/Ruts1.xlsx",index=False)
#apprix_2.to_excel("F:/Empresas SF/reportes/Ruts2.xlsx",index=False)