In [ ]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
import shutil
import datetime
from datetime import datetime
import re
import json
from pandas.api.types import is_numeric_dtype
from simple_salesforce import Salesforce, format_soql, format_external_id
from simple_salesforce.exceptions import SalesforceMalformedRequest
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)

In [ ]:
# para smart query
""" sf = simple_salesforce.Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
 """
# para lo demas
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
# paramiko.util.log_to_file("paramiko.log")
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")

Descarga de empresas en sistema

In [ ]:
llamadaEmpresaAntiguas = "SELECT Id,Empresa__r.Id, Empresa__r.Name, Empresa__r.Holding__c, Empresa__r.Campa_a__c, Empresa__r.Id_Empresa__c, Empresa__r.Empleador__c, Empresa__r.poliza__c, Empresa__r.RUT_Empresa__c, Empresa__r.Corredor__c,Empresa__r.Padre_Empresa__c, Name FROM Programas_por_Empresas__c WHERE Empresa__r.Padre_Empresa__c = false"
vllamadaEmpresa = sf.smart_query(llamadaEmpresaAntiguas)
vllamadaEmpresa.to_excel("F:/Empresas SF/reportes/empresas_Antiguas.xlsx", index=False)
vllamadaEmpresa.head()

vllamadaEmpresa.shape

In [ ]:
# Recuperar empresas ID de salesforce desde Account
results = sf.query_all(
    """
  SELECT Id, name, Holding__c ,Campa_a__c,Id_Empresa__c,Empleador__c,poliza__c,RUT_Empresa__c  FROM account where ispersonaccount = false  AND Nueva_Estructura__c = False
    """
)
Empresas_SF = pd.DataFrame(results["records"])
Empresas_SF = Empresas_SF[
    [
        "Id",
        "Name",
        "Holding__c",
        "Campa_a__c",
        "Id_Empresa__c",
        "Empleador__c",
        "poliza__c",
        "RUT_Empresa__c",
    ]
]
Empresas_SF.shape

In [ ]:
# buscar empresas desde Programas_por_Empresas__c datos de empresas
results = sf.query_all(
    """
   select Id,Empresa__c, Empresa_Padre__c,Nombre_Empresa__c, Name  from Programas_por_Empresas__c 
    """
)
Programas_por_empresa_SF = pd.DataFrame(results["records"])

Programas_por_empresa_SF = Programas_por_empresa_SF[
    ["Id", "Empresa__c", "Empresa_Padre__c", "Nombre_Empresa__c", "Name"]
]
Programas_por_empresa_SF.shape

In [ ]:
# Union de Programas Empresa y empresas
Programas_empresas = pd.merge(
    left=Empresas_SF,
    right=Programas_por_empresa_SF,
    how="left",
    left_on="Id",
    right_on="Empresa__c",
)
Programas_empresas = Programas_empresas.rename(
    columns={
        "Id_x": "Id Account Empresa",
        "Name_x": "Nombre Empresa",
        "Holding__c": "Holding",
        "Campa_a__c": "Campaña",
        "Empleador__c": "Empleador",
        "poliza__c": "Poliza",
        "RUT_Empresa__c": "Rut Empresa",
        "Id_y": "Programas_por_Empresas__c",
        "Id_Empresa__c": "Codigo EMP",
        "Name_y": "Codigo A",
    }
)
Programas_empresas = Programas_empresas[
    [
        "Id Account Empresa",
        "Nombre Empresa",
        "Holding",
        "Campaña",
        "Empleador",
        "Poliza",
        "Rut Empresa",
        "Programas_por_Empresas__c",
        "Codigo EMP",
        "Codigo A",
    ]
]

Programas_empresas.shape

In [ ]:
Programas_empresas.to_excel("F:/Empresas SF/reportes/empresas.xlsx", index=False)

In [10]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

100%|██████████| 1/1 [00:09<00:00,  9.63s/it]

,P_liza__c,Nombre_de_Empresa__c,Identificador__c,Rut_Empresa__c,Empresa_Padre__r.Name,Holding__c,Plan__c,Pais__c,Activo__c,Id,LLave,dato
0,Sin Póliza Asociada,Colaboradores Care Assistance Chile SPA,Colaboradores Care Assistance Chile SPA,775173998,Colaboradores,Siempre Chile SPA,Plan Gold,Chile,False,a3yRN0000006mmjYAA,775173998Sin Póliza Asociada,1
1,-,Apunto Servicios De Alimentacion,Apunto Servicios De Alimentacion,-,Consalud,Holding Consalud,-,Chile,False,a3yRN0000006rG9YAI,-,1
2,-,2M Inmobiliaria Spa.,2M Inmobiliaria Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGAYAY,-,1
3,-,360 Gms Capacitacion Spa.,360 Gms Capacitacion Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGBYAY,-,1
4,-,361 Gms Capacitacion Spa.,361 Gms Capacitacion Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGCYAY,-,1

fin empresas y comienzo de rescate de pacientes

In [11]:
# CArga de PAcientes
results = sf.query_all(
    """
    select Id, IdentificationId__pc,Name, Identification_Type__c, Ocupaci_n__c,  PersonTitle ,PersonDepartment,HealthCloudGA__Gender__pc,Phone,PersonContactId  from Account where ispersonaccount = True 
   """
)
Pacientes_SF = pd.DataFrame(results["records"])

Pacientes_SF = Pacientes_SF[
    [
        "Id",
        "IdentificationId__pc",
        "Name",
        "Identification_Type__c",
        "Ocupaci_n__c",
        "PersonTitle",
        "PersonDepartment",
        "HealthCloudGA__Gender__pc",
        "Phone",
        "PersonContactId",
    ]
]
Pacientes_SF = Pacientes_SF.rename(
    columns={
        "Id": "Id Account Paciente",
        "IdentificationId__pc": "Rut",
        "Name": "Nombre",
        "Ocupaci_n__c": "Ocupacion",
        "PersonTitle": "Cargo",
        "PersonDepartment": "Departamento",
        "HealthCloudGA__Gender__pc": "Sexo",
        "Phone": "Telefono",
        "Identification_Type__c": "Tipo de Documento",
        "PersonContactId": "Id Contacto",
    }
)
Pacientes_SF.shape

(1934746, 10)

In [12]:
def siPrimerCero(y):
    if len(y) <= 7:
        return "NONE"
    if y[0] == "0":
        y = y[1:]
    return y

In [13]:
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.upper()
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("-", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("–", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].apply(lambda y: siPrimerCero(y))
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\928634061.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")

In [14]:
Pacientes_Nones1 = Pacientes_SF[(Pacientes_SF["Rut"] == "NONE")]
Pacientes_SF = Pacientes_SF[(Pacientes_SF["Rut"] != "NONE")]
Pacientes_Nones1.to_excel("F:/Empresas SF/reportes/NONE1.xlsx", index=False)

Aca se comienzan a unir las relaciones de pacientes y empresas ya creadas.

# buscar empresas desde Paciente_Programas\_\_c relaciones de empresas con pacientes

results = sf.query_all(
"""
select Id,Paciente**c, Programas_por_Empresas**c,padre**c from Paciente_Programas**c  
 """
)
Paciente_Programas_SF = pd.DataFrame(results["records"])

Paciente_Programas_SF = Paciente_Programas_SF[
["Id", "Paciente__c", "Programas_por_Empresas__c", "padre__c"]
]
Paciente_Programas_SF = Paciente_Programas_SF.rename(
columns={
"Id": "Id Pacientes_Programas**c",
"Paciente**c": "Id Account",
"Programas_por_Empresas**c": "Programas_por_Empresas**c",
"padre\_\_c": "Nombre Campaña",
}
)
Paciente_Programas_SF.shape

# Union de Pacientes Programas y Programas por empresa

empresas_unidas = pd.merge(
left=Paciente_Programas_SF,
right=Programas_empresas,
how="left",
left_on="Programas_por_Empresas**c",
right_on="Programas_por_Empresas**c",
)
empresas_unidas.shape

Carga de Archivo carga

In [55]:
nuevos = "F:/Empresas SF/reportes/carga.xlsx"
campaña = "EY"
Pais = "Chile"
baseFinal = True
#Pais = "México"

Pacientes_Archivo = pd.read_excel(nuevos)
# OJO se copia rut1 a rut le saca el guoion
Pacientes_Archivo.head(5)

,email,empleador,Service Line,Rank,Fecha de nacimiento,nacimiento,Rut Titular,Dv Titular,rut2,poliza,Dv Asegurado,rut1,sexo,rutE,nombres,apellidos,Fecha Nacimiento,Correo,Telefono
0,Valeria.Meza@cl.ey.com,EY,Assurance,Staff,1997-05-16,1997-05-16,19490703,6,19490703-6,19490703,6,19490703-6,F,Titular,Valeria Nicole,Meza Ureta,1997-05-16 00:00:00,Valeria.Meza@cl.ey.com,N.A
1,David.Jimenez1@cl.ey.com,EY,Assurance,Staff,2002-11-09,2002-11-09,21159688,0,21159688-0,21159688,0,21159688-0,M,Titular,David Isaac,Jimenez Castro,2002-11-09 00:00:00,David.Jimenez1@cl.ey.com,N.A
2,Constanza.Vasquez@cl.ey.com,EY,Assurance,Staff,2000-08-11,2000-08-11,20376617,3,20376617-3,20376617,3,20376617-3,F,Titular,Constanza Estefania,Vasquez Urrutia,2000-08-11 00:00:00,Constanza.Vasquez@cl.ey.com,N.A
3,Matias.Villarreal@cl.ey.com,EY,Assurance,Staff,2001-12-21,2001-12-21,20941435,K,20941435-K,20941435,K,20941435-K,M,Titular,Matias Camilo,Villarreal Mateau,2001-12-21 00:00:00,Matias.Villarreal@cl.ey.com,N.A
4,Jorge.Riquelme@cl.ey.com,EY,Assurance,Staff,2001-04-18,2001-04-18,20753185,5,20753185-5,20753185,5,20753185-5,M,Titular,Jorge Andres,Acuña Riquelme,2001-04-18 00:00:00,Jorge.Riquelme@cl.ey.com,N.A

In [56]:
Pacientes_Archivo.shape

(33, 19)

In [57]:
Pacientes_IDrut = Pacientes_SF[
    [
        "Rut",
        "Id Account Paciente",
        "Id Contacto",
    ]
]

In [58]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut1"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("-", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("–", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.upper()
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.strip()

Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace("-", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace("–", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(".", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(" ", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.upper()
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.strip()
Pacientes_Archivo.shape

Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].astype(str)
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.upper()
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("-", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("–", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\1490231206.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\1490231206.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\1490231206.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")

(33, 20)

In [59]:
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rut2"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("-", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("–", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.upper()
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2296516763.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")

(33, 21)

In [60]:
if ("nombres" in Pacientes_Archivo.columns) == True:
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(",", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("-", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("┐", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("═", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("╔", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("┌", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.title()
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.strip()
    # Pacientes_Archivo["empresa"] = Pacientes_Archivo["empresa"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(",", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("-", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("┐", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("═", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("╔", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("┌", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\3410721566.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\3410721566.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")

In [61]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo

# Pacientes_Nones = Pacientes_Archivo[(Pacientes_Archivo["rut"] == "NONE") | (Pacientes_Archivo["rutT"] == "NONE")]
# Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE") | (Pacientes_Archivo["rutT"] != "NONE")]

,email,empleador,Service Line,Rank,Fecha de nacimiento,nacimiento,Rut Titular,Dv Titular,rut2,poliza,...,rut1,sexo,rutE,nombres,apellidos,Fecha Nacimiento,Correo,Telefono,rut,rutT
0,Valeria.Meza@cl.ey.com,EY,Assurance,Staff,1997-05-16,1997-05-16,19490703,6,19490703-6,19490703,...,19490703-6,F,TITULAR,Valeria Nicole,Meza Ureta,1997-05-16 00:00:00,Valeria.Meza@cl.ey.com,N.A,194907036,194907036
1,David.Jimenez1@cl.ey.com,EY,Assurance,Staff,2002-11-09,2002-11-09,21159688,0,21159688-0,21159688,...,21159688-0,M,TITULAR,David Isaac,Jimenez Castro,2002-11-09 00:00:00,David.Jimenez1@cl.ey.com,N.A,211596880,211596880
2,Constanza.Vasquez@cl.ey.com,EY,Assurance,Staff,2000-08-11,2000-08-11,20376617,3,20376617-3,20376617,...,20376617-3,F,TITULAR,Constanza Estefania,Vasquez Urrutia,2000-08-11 00:00:00,Constanza.Vasquez@cl.ey.com,N.A,203766173,203766173
3,Matias.Villarreal@cl.ey.com,EY,Assurance,Staff,2001-12-21,2001-12-21,20941435,K,20941435-K,20941435,...,20941435-K,M,TITULAR,Matias Camilo,Villarreal Mateau,2001-12-21 00:00:00,Matias.Villarreal@cl.ey.com,N.A,20941435K,20941435K
4,Jorge.Riquelme@cl.ey.com,EY,Assurance,Staff,2001-04-18,2001-04-18,20753185,5,20753185-5,20753185,...,20753185-5,M,TITULAR,Jorge Andres,Acuña Riquelme,2001-04-18 00:00:00,Jorge.Riquelme@cl.ey.com,N.A,207531855,207531855
5,Jim.Palavicino@cl.ey.com,EY,Assurance,Staff,1997-02-19,1997-02-19,19559095,8,19559095-8,19559095,...,19559095-8,M,TITULAR,Jim Alejandro,Palavicino Gallegos,1997-02-19 00:00:00,Jim.Palavicino@cl.ey.com,N.A,195590958,195590958
6,Denise.Rojas@cl.ey.com,EY,Assurance,Staff,1995-07-07,1995-07-07,19037675,3,19037675-3,19037675,...,19037675-3,F,TITULAR,Denise Karina,Rojas Herrera,1995-07-07 00:00:00,Denise.Rojas@cl.ey.com,N.A,190376753,190376753
7,Christopher.Araya@cl.ey.com,EY,Assurance,Staff,1997-09-16,1997-09-16,19696814,8,19696814-8,19696814,...,19696814-8,M,TITULAR,Christopher Ignacio,Araya Muñoz,1997-09-16 00:00:00,Christopher.Araya@cl.ey.com,N.A,196968148,196968148
8,Diego.Molina1@cl.ey.com,EY,Assurance,Staff,1994-11-04,1994-11-04,18938785,7,18938785-7,18938785,...,18938785-7,M,TITULAR,Diego Misael,Molina Vargas,1994-11-04 00:00:00,Diego.Molina1@cl.ey.com,N.A,189387857,189387857
9,Yocelin.Cabrera@cl.ey.com,EY,Assurance,Staff,1998-04-21,1998-04-21,19923564,8,19923564-8,19923564,...,19923564-8,F,TITULAR,Yocelin Jannette,Cabrera Iturriaga,1998-04-21 00:00:00,Yocelin.Cabrera@cl.ey.com,N.A,199235648,199235648
10,Ignacio.Yanez@cl.ey.com,EY,NaN,Senior,1996-03-02,1996-03-02,19274255,2,19274255-2,19274255,...,19274255-2,M,TITULAR,Ignacio Andres,Yañez Vidal,1996-03-02 00:00:00,Ignacio.Yanez@cl.ey.com,N.A,192742552,192742552
11,Valentina.Castro2@cl.ey.com,EY,Assurance,Staff,2002-02-11,2002-02-11,20757999,8,20757999-8,20757999,...,20757999-8,F,TITULAR,Valentina Pamela,Castro Gallardo,2002-02-11 00:00:00,Valentina.Castro2@cl.ey.com,N.A,207579998,207579998
12,Francisco.Gajardo@cl.ey.com,EY,SaT,Staff,1998-08-13,1998-08-13,19853438,2,19853438-2,19853438,...,19853438-2,M,TITULAR,Francisco Antonio,Gajardo Branada,1998-08-13 00:00:00,Francisco.Gajardo@cl.ey.com,N.A,198534382,198534382
13,Rosario.Carcamo@cl.ey.com,EY,SaT,Staff,1998-05-19,1998-05-19,19940521,7,19940521-7,19940521,...,19940521-7,F,TITULAR,Rosario Pilar,Carcamo Meyer,1998-05-19 00:00:00,Rosario.Carcamo@cl.ey.com,N.A,199405217,199405217
14,Bosco.Escribano@cl.ey.com,EY,TAX,Staff,1996-05-14,1996-05-14,19297454,2,19297454-2,19297454,...,19297454-2,M,TITULAR,Bosco Simon,Lara Escribano,1996-05-14 00:00:00,Bosco.Escribano@cl.ey.com,N.A,192974542,192974542
15,Jorge.Torres1@cl.ey.com,EY,Consulting,Manager,1975-11-26,1975-11-26,12078116,2,12078116-2,12078116,...,12078116-2,M,TITULAR,Jorge Patricio,Torres Soza,1975-11-26 00:00:00,Jorge.Torres1@cl.ey.com,N.A,120781162,120781162
16,Carlos.Cuevas@cl.ey.com,EY,TAX,Staff,2001-09-01,2001-09-01,20503078,6,20503078-6,20503078,...,20503078-6,M,TITULAR,Carlos Javier,Cuevas Veloso,2001-09-01 00:00:00,Carlos.Cuevas@cl.ey.com,N.A,205030786,205030786
17,Daniela.Jara2@cl.ey.com,EY,TAX,Staff,1998-04-05,1998-04-05,19879841,K,19879841-K,19879841,...,19879841-K,F,TITULAR,Daniela Alejandra,Jara Raiman,1998-04-05 00:00:00,Daniela.Jara2@cl.ey.com,N.A,19879841K,19879841K
18,Diego.Astudillo@cl.ey.com,EY,TAX,Staff,1996-08-27,1996-08-27,19513413,8,19513413-8,19513413,...,19513413-8,M,TITULAR,Diego Pablo,Astudillo Rengifo,1996-08-27 00:00:00,Diego.Astudillo@cl.ey.com,N.A,195134138,195134138
19,Luz.Silva@cl.ey.com,EY,Assurance,Staff,1998-12-14,1998-12-14,24474501,6,24474501-6,24474501,...,24474501-6,F,TITULAR,Luz Maria,Silva Durand,1998-12-14 00:00:00,Luz.Silva@cl.ey.com,N.A,244745016,244745016
20,Ignacio.Gonzalez2@cl.ey.com,EY,Assurance,Staff,2000-08-27,2000-08-27,20372089,0,20372089-0,20372089,...,20372089-0,M,TITULAR,Miguel Ignacio,Gonzalez Brito,2000-08-27 00:00:00,Ignacio.Gonzalez2@cl.ey.com,N.A,203720890,203720890
21,Gustavo.Granzotto@cl.ey.com,EY,Assurance,Staff,2001-09-23,2001-09-23,25840890,k,25840890-k,25840890,...,25840890-k,M,TITULAR,Gustavo,Rocha Granzotto,2001-09-23 00:00:00,Gustavo.Granzotto@cl.ey.com,N.A,25840890K,25840890K
22,Estefania.Arenas@cl.ey.com,EY,Assurance,Staff,2001-06-29,2001-06-29,20678881,k,20678881-k,20678881,...,20678881-k,F,TITULAR,Estefania Elizabeth,Arenas Antillanca,2001-06-29 00:00:00,Estefania.Arenas@cl.ey.com,N.A,20678881K,20678881K
23,Bernardo.Zuniga@cl.ey.com,EY,Assurance,Staff,1998-02-25,1998-02-25,19649698,3,19649698-3,19649698,...,19649698-3,M,TITULAR,Bernardo Ignacio,Zuñiga Allende,1998-02-25 00:00:00,Bernardo.Zuniga@cl.ey.com,N.A,196496983,196496983
24,Cristian.Carrillo@cl.ey.com,EY,TAX,Senior,1985-02-10,1985-02-10,15985958,4,15985958-4,15985958,...,15985958-4,M,TITULAR,Cristian Roberto,Jara Carrillo,1985-02-10 00:00:00,Cristian.Carrillo@cl.ey.com,N.A,159859584,159859584
25,Nicole.Cerda1@cl.ey.com,EY,TAX,Staff,2000-07-18,2000-07-18,20166802,6,20166802-6,20166802,...,20166802-6,F,TITULAR,Nicole Scarleth,Martinez Cerda,2000-07-18 00:00:00,Nicole.Cerda1@cl.ey.com,N.A,201668026,201668026
26,jacquelinecarmen2013@gmail.com,EY,0,Senior,1967-12-18,1967-12-18,17925343,7,17925343-7,10795750,...,10795750-2,Femenino,MAMÁ,Jacqueline Del Carmen,Alarcón Cheuquepal,24824,NaN,NaN,107957502,179253437
27,diego.d.ignacio@gmail.com,EY,0,Staff/Assistant,1999-12-20,1999-12-20,20162574,2,20162574-2,20288955,...,20288955-7,Masculino,PAREJA,Diego Ignacio,Vengas Rojas,36514,NaN,NaN,202889557,201625742
28,ruthnochesrojas478@gmail.com,EY,0,Staff/Assistant,1972-05-27,1972-05-27,19409554,6,19409554-6,11974746,...,11974746-5,Femenino,MAMÁ,Ruth Adriana,Noches Rojas,26446,NaN,NaN,119747465,194095546
29,d.a.s.j.e1955@gmail.com,EY,0,Staff/Assistant,1955-03-03,1955-03-03,19409554,6,19409554-6,7087150,...,7087150-5,Masculino,PAPÁ,Dario Alberto,Jimenez Escobar,20151,NaN,NaN,70871505,194095546
30,eli.jaimehelqui@gmail.com,EY,0,Staff/Assistant,1994-03-15,1994-03-15,20158395,0,20158395-0,18666312,...,18666312-8,Femenino,PAREJA,Eliana Paz,Jaime Helqui,34408,NaN,NaN,186663128,201583950
31,barbara.astudillo.aguilera@gmail.com,EY,0,Manager,1989-11-13,1989-11-13,26022851,K,26022851-K,17280414,...,17280414-4,Femenino,PERSONA DE LA 3RA EDAD QUE COMPARTE DOMICILIO,Barbara,Astudillo,32825,NaN,NaN,172804144,26022851K
32,zenaidcadiz17@gmail.com,EY,0,Manager,2003-11-17,2003-11-17,26022851,K,26022851-K,26022851,...,26022851-K,Femenino,HIJO/A,Zenaid,Cadiz,37942,NaN,NaN,26022851K,26022851K

In [ ]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo22.xlsx", index=False)

In [62]:
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE")]
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rutT"] != "NONE")]
# | (Pacientes_Archivo["rutT"] != "NONE")

In [ ]:
Pacientes_Archivo["Llave"] = Pacientes_Archivo["rutT"] + Pacientes_Archivo["rut"]
Pacientes_Archivo["PolizaLlave"] = Pacientes_Archivo["poliza"] +  Pacientes_Archivo["rutT"] + Pacientes_Archivo["rut"]

Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/eliminar2.xlsx", index=False)

PAcientes Programas

In [63]:
query_pacientePrograma = (
    "SELECT Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id from Paciente_Programas__c where padre__c =  '"
    + campaña
    + "'"
)
pacientePrograma = sf.smart_query(query_pacientePrograma)
pacientePrograma.head()

100%|██████████| 1/1 [00:09<00:00,  9.09s/it]

,Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id
0,0018c00002jWdRjAAK,0018c00002eTboVAAS,41127683K,a1Y8c00000Cxrk7EAB
1,0018c00002jWeeQAAS,0018c00002eTboVAAS,255858025,a1Y8c00000Cxwk8EAB
2,0018c00002mSc20AAC,0018c00002eTboVAAS,27950819K,a1Y8c00000CyAM9EAN
3,0018c00002mSmWoAAK,0018c00002eTboVAAS,255067192,a1Y8c00000CyAN2EAN
4,0018c00002mTHQqAAO,0018c00002eTboVAAS,192759633,a1Y8c00000Cyzv1EAB

In [64]:
pacientePrograma = pacientePrograma.rename(
    columns={
        "Id": "Id Paciente Programas",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Programas_por_Empresas__r.Empresa__c": "Id Account Empleador",
        "Paciente__c": "Id Account Paciente",
    }
)
pacientePrograma.head()

  Id Account Paciente Id Account Empleador        Rut Id Paciente Programas
0  0018c00002jWdRjAAK   0018c00002eTboVAAS  41127683K    a1Y8c00000Cxrk7EAB
1  0018c00002jWeeQAAS   0018c00002eTboVAAS  255858025    a1Y8c00000Cxwk8EAB
2  0018c00002mSc20AAC   0018c00002eTboVAAS  27950819K    a1Y8c00000CyAM9EAN
3  0018c00002mSmWoAAK   0018c00002eTboVAAS  255067192    a1Y8c00000CyAN2EAN
4  0018c00002mTHQqAAO   0018c00002eTboVAAS  192759633    a1Y8c00000Cyzv1EAB

In [65]:
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("-", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("–", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.upper()
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.strip()
pacientePrograma.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\3172767859.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")

(4411, 4)

In [66]:
PacientesProgramas_PacientesSF = pd.merge(
    left=pacientePrograma,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)

PacientesProgramas_PacientesSF.head()

,Id Account Paciente,Id Account Empleador,Rut_x,Id Paciente Programas,Rut_y,Id Contacto
0,0018c00002jWdRjAAK,0018c00002eTboVAAS,41127683K,a1Y8c00000Cxrk7EAB,41127683K,0038c00003F3sV6AAJ
1,0018c00002jWeeQAAS,0018c00002eTboVAAS,255858025,a1Y8c00000Cxwk8EAB,255858025,0038c00003F3u7NAAR
2,0018c00002mSc20AAC,0018c00002eTboVAAS,27950819K,a1Y8c00000CyAM9EAN,27950819K,0038c00003HiuKxAAJ
3,0018c00002mSmWoAAK,0018c00002eTboVAAS,255067192,a1Y8c00000CyAN2EAN,255067192,0038c00003Hj1m5AAB
4,0018c00002mTHQqAAO,0018c00002eTboVAAS,192759633,a1Y8c00000Cyzv1EAB,192759633,0038c00003IcI4OAAV

account contact relation

In [67]:
query_accountContact = (
    "select Id,ContactId, AccountId, RutContact__c ,Contact.AccountId from AccountContactRelation where Account.Campa_a__c = '"
    + campaña
    + "'"
)
accountContactRelation = sf.smart_query(query_accountContact)
accountContactRelation.head()

100%|██████████| 1/1 [00:04<00:00,  4.86s/it]

,Id,ContactId,AccountId,RutContact__c,Contact.AccountId
0,07k8c00000Tpx0OAAR,0038c000039Glr1AAC,0018c00002eTboVAAS,196135944,0018c00002egmtxAAA
1,07k8c00000TqGXDAA3,0038c000039Hm2EAAS,0018c00002eTboVAAS,272059918,0018c00002ehmxwAAA
2,07k8c00000Z9EOrAAN,0038c000035Cd2uAAC,0018c00002eTboVAAS,259930820,0018c00002amTMtAAM
3,07k8c00000Z9EOsAAN,0038c000039GlUjAAK,0018c00002eTboVAAS,193622518,0018c00002egmXRAAY
4,07k8c00000Z9EOtAAN,0038c000039KCauAAG,0018c00002eTboVAAS,170287509,0018c00002f0Y3LAAU

In [68]:
accountContactRelation = accountContactRelation.rename(
    columns={
        "Id": "Id AccountContactRelation",
        "ContactId": "Id Contact Paciente",
        "AccountId": "Id Account Empresa",
        "RutContact__c": "Rut",
        "Contact.AccountId": "Id Account Paciente",
    }
)
accountContactRelation.head()

,Id AccountContactRelation,Id Contact Paciente,Id Account Empresa,Rut,Id Account Paciente
0,07k8c00000Tpx0OAAR,0038c000039Glr1AAC,0018c00002eTboVAAS,196135944,0018c00002egmtxAAA
1,07k8c00000TqGXDAA3,0038c000039Hm2EAAS,0018c00002eTboVAAS,272059918,0018c00002ehmxwAAA
2,07k8c00000Z9EOrAAN,0038c000035Cd2uAAC,0018c00002eTboVAAS,259930820,0018c00002amTMtAAM
3,07k8c00000Z9EOsAAN,0038c000039GlUjAAK,0018c00002eTboVAAS,193622518,0018c00002egmXRAAY
4,07k8c00000Z9EOtAAN,0038c000039KCauAAG,0018c00002eTboVAAS,170287509,0018c00002f0Y3LAAU

In [69]:
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("-", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("–", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.upper()
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.strip()
accountContactRelation.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2268980097.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")

(4407, 5)

In [70]:
AccountContact_PacientesSF = pd.merge(
    left=accountContactRelation,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
AccountContact_PacientesSF.head()

,Id AccountContactRelation,Id Contact Paciente,Id Account Empresa,Rut_x,Id Account Paciente,Rut_y,Id Contacto
0,07k8c00000Tpx0OAAR,0038c000039Glr1AAC,0018c00002eTboVAAS,196135944,0018c00002egmtxAAA,196135944,0038c000039Glr1AAC
1,07k8c00000TqGXDAA3,0038c000039Hm2EAAS,0018c00002eTboVAAS,272059918,0018c00002ehmxwAAA,272059918,0038c000039Hm2EAAS
2,07k8c00000Z9EOrAAN,0038c000035Cd2uAAC,0018c00002eTboVAAS,259930820,0018c00002amTMtAAM,259930820,0038c000035Cd2uAAC
3,07k8c00000Z9EOsAAN,0038c000039GlUjAAK,0018c00002eTboVAAS,193622518,0018c00002egmXRAAY,193622518,0038c000039GlUjAAK
4,07k8c00000Z9EOtAAN,0038c000039KCauAAG,0018c00002eTboVAAS,170287509,0018c00002f0Y3LAAU,170287509,0038c000039KCauAAG

empresa contacto convenio

In [71]:
query_empresacontactoconvenio = (
    "select Id,Paciente__r.IdentificationId__pc, Empresa__r.P_liza__c, Empresa__c, Paciente__c,N_Documento_Titular__c from EmpresaContactoConvenios__c where Empresa__r.Campa_a__c = '"
    + campaña
    + "'"
)
empresacontactoconvenio = sf.smart_query(query_empresacontactoconvenio)
empresacontactoconvenio.head()

100%|██████████| 1/1 [00:08<00:00,  8.24s/it]

,Id,Paciente__r.IdentificationId__pc,Empresa__r.P_liza__c,Empresa__c,Paciente__c,N_Documento_Titular__c
0,a40RN000000vFNJYA2,80703805,-,a3yRN0000006rsTYAQ,0018c00002eiK4cAAE,189181051
1,a40RN000000vFNKYA2,100137550,-,a3yRN0000006rsTYAQ,0018c00002ehrSdAAI,216427351
2,a40RN000000vFNLYA2,100189267,-,a3yRN0000006rsTYAQ,0018c00002egmyMAAQ,100189267
3,a40RN000000vFNMYA2,100277476,-,a3yRN0000006rsTYAQ,0018c00002oOlgoAAC,186861884
4,a40RN000000vFNNYA2,100296977,-,a3yRN0000006rsTYAQ,0018c00002egrFvAAI,178412302

In [72]:
empresacontactoconvenio = empresacontactoconvenio.rename(
    columns={
        "Id": "Id EmpresaContactoConvenio",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Empresa__c": "Id Convenio Empresa",
        "Paciente__c": "Id Account Paciente",
        "N_Documento_Titular__c": "Rut Titular",
        "Empresa__r.P_liza__c":"Poliza",
    }
)
empresacontactoconvenio.head()

,Id EmpresaContactoConvenio,Rut,Poliza,Id Convenio Empresa,Id Account Paciente,Rut Titular
0,a40RN000000vFNJYA2,80703805,-,a3yRN0000006rsTYAQ,0018c00002eiK4cAAE,189181051
1,a40RN000000vFNKYA2,100137550,-,a3yRN0000006rsTYAQ,0018c00002ehrSdAAI,216427351
2,a40RN000000vFNLYA2,100189267,-,a3yRN0000006rsTYAQ,0018c00002egmyMAAQ,100189267
3,a40RN000000vFNMYA2,100277476,-,a3yRN0000006rsTYAQ,0018c00002oOlgoAAC,186861884
4,a40RN000000vFNNYA2,100296977,-,a3yRN0000006rsTYAQ,0018c00002egrFvAAI,178412302

In [73]:
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("-", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("–", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(" ", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.upper()
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.strip()
empresacontactoconvenio.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2240900084.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")

(3119, 6)

In [74]:
empresacontactoconvenio_PacientesSF = pd.merge(
    left=empresacontactoconvenio,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
empresacontactoconvenio_PacientesSF.head()

,Id EmpresaContactoConvenio,Rut_x,Poliza,Id Convenio Empresa,Id Account Paciente,Rut Titular,Rut_y,Id Contacto
0,a40RN000000vFNJYA2,80703805,-,a3yRN0000006rsTYAQ,0018c00002eiK4cAAE,189181051,80703805,0038c000039IJEEAA4
1,a40RN000000vFNKYA2,100137550,-,a3yRN0000006rsTYAQ,0018c00002ehrSdAAI,216427351,100137550,0038c000039HqXRAA0
2,a40RN000000vFNLYA2,100189267,-,a3yRN0000006rsTYAQ,0018c00002egmyMAAQ,100189267,100189267,0038c000039GlvaAAC
3,a40RN000000vFNMYA2,100277476,-,a3yRN0000006rsTYAQ,0018c00002oOlgoAAC,186861884,100277476,0038c00003Kr0CWAAZ
4,a40RN000000vFNNYA2,100296977,-,a3yRN0000006rsTYAQ,0018c00002egrFvAAI,178412302,100296977,0038c000039GqDGAA0

In [ ]:
""" if(campaña!="MetLife"):
    pacientePrograma.to_excel("F:/Empresas SF/reportes/paciente_programas.xlsx", index=False) """

Rescatamos todos los ruts Id con su empresa desde la campaña

In [75]:
Pacientes_Archivo.head()

,email,empleador,Service Line,Rank,Fecha de nacimiento,nacimiento,Rut Titular,Dv Titular,rut2,poliza,...,rut1,sexo,rutE,nombres,apellidos,Fecha Nacimiento,Correo,Telefono,rut,rutT
0,Valeria.Meza@cl.ey.com,EY,Assurance,Staff,1997-05-16,1997-05-16,19490703,6,19490703-6,19490703,...,19490703-6,F,TITULAR,Valeria Nicole,Meza Ureta,1997-05-16 00:00:00,Valeria.Meza@cl.ey.com,N.A,194907036,194907036
1,David.Jimenez1@cl.ey.com,EY,Assurance,Staff,2002-11-09,2002-11-09,21159688,0,21159688-0,21159688,...,21159688-0,M,TITULAR,David Isaac,Jimenez Castro,2002-11-09 00:00:00,David.Jimenez1@cl.ey.com,N.A,211596880,211596880
2,Constanza.Vasquez@cl.ey.com,EY,Assurance,Staff,2000-08-11,2000-08-11,20376617,3,20376617-3,20376617,...,20376617-3,F,TITULAR,Constanza Estefania,Vasquez Urrutia,2000-08-11 00:00:00,Constanza.Vasquez@cl.ey.com,N.A,203766173,203766173
3,Matias.Villarreal@cl.ey.com,EY,Assurance,Staff,2001-12-21,2001-12-21,20941435,K,20941435-K,20941435,...,20941435-K,M,TITULAR,Matias Camilo,Villarreal Mateau,2001-12-21 00:00:00,Matias.Villarreal@cl.ey.com,N.A,20941435K,20941435K
4,Jorge.Riquelme@cl.ey.com,EY,Assurance,Staff,2001-04-18,2001-04-18,20753185,5,20753185-5,20753185,...,20753185-5,M,TITULAR,Jorge Andres,Acuña Riquelme,2001-04-18 00:00:00,Jorge.Riquelme@cl.ey.com,N.A,207531855,207531855

Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

Pacientes_Archivo.drop_duplicates(
[
"rut",
"rutT",
"LLaveEmpresa",
"LLAveRut",
],
keep="last",
)
Pacientes_Archivo.shape

In [76]:
print(campaña)

EY

In [77]:
Pacientes_Archivo["RutEstaoNo"] = Pacientes_Archivo["rut"].isin(Pacientes_SF["Rut"])

In [ ]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo.xlsx", index=False)

In [78]:
# aca a los pacientes del archivo se les asigna sus datos en SF
Pacientes_con_id = pd.merge(
    left=Pacientes_Archivo,
    right=Pacientes_SF,
    how="left",
    left_on="rut",
    right_on="Rut",
)
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/Pacientes_con_id.xlsx", index=False)
Pacientes_con_id.shape

(33, 32)

In [79]:
Pacientes_con_id.head()

,email,empleador,Service Line,Rank,Fecha de nacimiento,nacimiento,Rut Titular,Dv Titular,rut2,poliza,...,Id Account Paciente,Rut,Nombre,Tipo de Documento,Ocupacion,Cargo,Departamento,Sexo,Telefono_y,Id Contacto
0,Valeria.Meza@cl.ey.com,EY,Assurance,Staff,1997-05-16,1997-05-16,19490703,6,19490703-6,19490703,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,David.Jimenez1@cl.ey.com,EY,Assurance,Staff,2002-11-09,2002-11-09,21159688,0,21159688-0,21159688,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Constanza.Vasquez@cl.ey.com,EY,Assurance,Staff,2000-08-11,2000-08-11,20376617,3,20376617-3,20376617,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Matias.Villarreal@cl.ey.com,EY,Assurance,Staff,2001-12-21,2001-12-21,20941435,K,20941435-K,20941435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Jorge.Riquelme@cl.ey.com,EY,Assurance,Staff,2001-04-18,2001-04-18,20753185,5,20753185-5,20753185,...,0018c00002eUjr2AAC,207531855,Jorge Andres Riquelme Acuña,RUT,None,None,None,Hombre,None,0038c000039D6C1AAK

In [ ]:
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

In [80]:
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")


def isValid(email):
    if re.fullmatch(regex, email):
        return email
    else:
        return ""


def fechaValida(fecha):
    if (len(str(fecha)) <= 9 ):
        fecha = ""
        
    fecha = str(fecha)
    fecha1 = str(fecha)
    
    #datetime.strptime(fecha, '%Y-%m-%d')
    
    try:
        fecha = datetime.strptime(fecha, '%Y-%m-%d %H:%M:%S')
        date_string = fecha1
        print("date_string =", date_string)
        print("type of date_string =", type(date_string))

        date_object = datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")

        print("date_object =", date_object)
        print("type of date_object =", type(date_object))
        return date_object
    except ValueError:
        return datetime.utcnow().strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
Pacientes_con_id["dertyuiop"] = Pacientes_con_id["nacimiento"]
Pacientes_con_id["derty"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
Pacientes_con_id.head()

In [81]:


# Final_pacientes_y_empresa = Pacientes_con_ID
Subir_pacientes = pd.DataFrame()
# Subir_pacientes["Email_Seteado__c"] = ""
Subir_pacientes["RutEstaoNo"] = Pacientes_con_id["RutEstaoNo"]
# agrupar = empresasqfaltan[empresasqfaltan['si']==False]


if ("nombres" in Pacientes_con_id.columns) == True:
    Subir_pacientes["FirstName"] = Pacientes_con_id["nombres"]
if ("apellidos" in Pacientes_con_id.columns) == True:
    Subir_pacientes["LastName"] = Pacientes_con_id["apellidos"]
if ("rut" in Pacientes_con_id.columns) == True:
    Subir_pacientes["IdentificationId__pc"] = (
        Pacientes_con_id["rut"].astype(str).str.upper()
    )


if ("email" in Pacientes_con_id.columns) == True:
    # Pacientes_con_id["email"] = Pacientes_con_id["email"].astype(str).str.lower().replace("nan","")
    Subir_pacientes["PersonEmail"] = Pacientes_con_id["email"].astype(str).str.lower()
    Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].apply(
        lambda y: isValid(y)
    )
    Subir_pacientes["Email_Seteado__c"] = np.where(
        Subir_pacientes["PersonEmail"] != "", "True", "False"
    )

    # Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].str.replace("no informado", "")
#if ("nacimiento" in Pacientes_con_id.columns) == True:    
#    Subir_pacientes["PersonBirthdate"] = pd.to_datetime(Pacientes_con_id["nacimiento"].astype(str), format="%Y-%m-%d")  
if ("nacimiento" in Pacientes_con_id.columns) == True:    
    #try:
    Subir_pacientes["PersonBirthdate"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
    Subir_pacientes["derty"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
    #except ValueError:
        #Subir_pacientes["PersonBirthdate"] = pd.to_datetime("1900-01-01", format="%Y-%m-%d")
 
if ("sexo" in Pacientes_con_id.columns) == True:
    Sexo = {
        "H": "Hombre",
        "m": "Hombre",
        "Masculino": "Hombre",
        "Femenino": "Mujer",
        "": "Prefiero no responder",
        "HOMBRE": "Hombre",
        "MUJER": "Mujer",
        "F": "Mujer",
        "O": "Prefiero no responder",
        "Ambos": "Prefiero no responder",
        "N": "Prefiero no responder",
        "Otro": "Prefiero no responder",
        "n": "Prefiero no responder",
        "N": "Prefiero no responder",
        "FEMENINO": "Mujer",
        "f": "Mujer",
        "MASCULINO": "Hombre",
        "m": "Hombre",
        "M ": "Hombre",
        "M": "Hombre",
        "F ": "Mujer",
        "Varón": "Hombre",
        "varon": "Hombre",
    }
    Pacientes_con_id.replace({"sexo": Sexo}, inplace=True)
    Subir_pacientes["HealthCloudGA__Gender__pc"] = Pacientes_con_id["sexo"]
if ("direccion" in Pacientes_con_id.columns) == True:
    Subir_pacientes["BillingStreet"] = (
        Pacientes_con_id["direccion"].str.lower().replace("nan", "")
    )
    # Subir_pacientes["BillingStreet"] = Final_pacientes_y_empresa["direccion"]
if ("comuna" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
    Subir_pacientes["BillingState"] = (
        Pacientes_con_id["comuna"].str.title().replace("NaN", "")
    )
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
if ("ciudad" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingCity"] = Final_pacientes_y_empresa["ciudad"]
    Subir_pacientes["BillingCity"] = (
        Pacientes_con_id["ciudad"].str.title().replace("NaN", "")
    )

if ("cargo" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonTitle"] = Pacientes_con_id["cargo"].str.title()

if ("division" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonDepartment"] = Pacientes_con_id["division"].str.title()

if ("celular" in Pacientes_con_id.columns) == True:
    Subir_pacientes["Phone"] = (
        Pacientes_con_id["celular"].apply(str).str.strip().replace("+", "")
    )
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NaN", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace(".", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("Nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("-", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("0", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("No Informado", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("_", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("/", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("+", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("null", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NULL", "")


Subir_pacientes["RecordTypeId"] = "0128c000002Byp4AAC"
Subir_pacientes["Cuenta_validada__c"] = "True"


if Pais == "Chile":
    Subir_pacientes["BillingCountry"] = "Chile"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtnEAE"
else:
    Subir_pacientes["BillingCountry"] = "México"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtsEAE"

Subir_pacientes_Que_no_Estan = Subir_pacientes
Subir_pacientes_Estan = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == True]
Subir_pacientes = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == False]

#Subir_pacientes["PersonBirthdate"] = Subir_pacientes["PersonBirthdate"].str.replace("0001-01-01 00:00:00", "")

# Subir_pacientes.PersonEmail = Subir_pacientes.PersonEmail.fillna('')
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)
Subir_pacientes.to_excel(
    "F:/Empresas SF/reportes/Pacientes_Que_No_Estaban.xlsx", index=False
)
Subir_pacientes.head()

date_string = 1997-05-16 00:00:00
type of date_string = <class 'str'>
date_object = 1997-05-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2002-11-09 00:00:00
type of date_string = <class 'str'>
date_object = 2002-11-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-08-11 00:00:00
type of date_string = <class 'str'>
date_object = 2000-08-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-12-21 00:00:00
type of date_string = <class 'str'>
date_object = 2001-12-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-04-18 00:00:00
type of date_string = <class 'str'>
date_object = 2001-04-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1997-02-19 00:00:00
type of date_string = <class 'str'>
date_object = 1997-02-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1995-07-07 00:00:00
type of date_string = <class 'str'>
date_object = 1995-07-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1997-09-16 00:00:00
type of date_string = <class 'str'>
date_object = 1997-09-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1994-11-04 00:00:00
type of date_string = <class 'str'>
date_object = 1994-11-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-04-21 00:00:00
type of date_string = <class 'str'>
date_object = 1998-04-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1996-03-02 00:00:00
type of date_string = <class 'str'>
date_object = 1996-03-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2002-02-11 00:00:00
type of date_string = <class 'str'>
date_object = 2002-02-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-08-13 00:00:00
type of date_string = <class 'str'>
date_object = 1998-08-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-05-19 00:00:00
type of date_string = <class 'str'>
date_object = 1998-05-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1996-05-14 00:00:00
type of date_string = <class 'str'>
date_object = 1996-05-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-11-26 00:00:00
type of date_string = <class 'str'>
date_object = 1975-11-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-09-01 00:00:00
type of date_string = <class 'str'>
date_object = 2001-09-01 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-04-05 00:00:00
type of date_string = <class 'str'>
date_object = 1998-04-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1996-08-27 00:00:00
type of date_string = <class 'str'>
date_object = 1996-08-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-12-14 00:00:00
type of date_string = <class 'str'>
date_object = 1998-12-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-08-27 00:00:00
type of date_string = <class 'str'>
date_object = 2000-08-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-09-23 00:00:00
type of date_string = <class 'str'>
date_object = 2001-09-23 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-06-29 00:00:00
type of date_string = <class 'str'>
date_object = 2001-06-29 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-02-25 00:00:00
type of date_string = <class 'str'>
date_object = 1998-02-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1985-02-10 00:00:00
type of date_string = <class 'str'>
date_object = 1985-02-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-07-18 00:00:00
type of date_string = <class 'str'>
date_object = 2000-07-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1967-12-18 00:00:00
type of date_string = <class 'str'>
date_object = 1967-12-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-12-20 00:00:00
type of date_string = <class 'str'>
date_object = 1999-12-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-05-27 00:00:00
type of date_string = <class 'str'>
date_object = 1972-05-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1955-03-03 00:00:00
type of date_string = <class 'str'>
date_object = 1955-03-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1994-03-15 00:00:00
type of date_string = <class 'str'>
date_object = 1994-03-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1989-11-13 00:00:00
type of date_string = <class 'str'>
date_object = 1989-11-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2003-11-17 00:00:00
type of date_string = <class 'str'>
date_object = 2003-11-17 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1997-05-16 00:00:00
type of date_string = <class 'str'>
date_object = 1997-05-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2002-11-09 00:00:00
type of date_string = <class 'str'>
date_object = 2002-11-09 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-08-11 00:00:00
type of date_string = <class 'str'>
date_object = 2000-08-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-12-21 00:00:00
type of date_string = <class 'str'>
date_object = 2001-12-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-04-18 00:00:00
type of date_string = <class 'str'>
date_object = 2001-04-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1997-02-19 00:00:00
type of date_string = <class 'str'>
date_object = 1997-02-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1995-07-07 00:00:00
type of date_string = <class 'str'>
date_object = 1995-07-07 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1997-09-16 00:00:00
type of date_string = <class 'str'>
date_object = 1997-09-16 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1994-11-04 00:00:00
type of date_string = <class 'str'>
date_object = 1994-11-04 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-04-21 00:00:00
type of date_string = <class 'str'>
date_object = 1998-04-21 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1996-03-02 00:00:00
type of date_string = <class 'str'>
date_object = 1996-03-02 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2002-02-11 00:00:00
type of date_string = <class 'str'>
date_object = 2002-02-11 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-08-13 00:00:00
type of date_string = <class 'str'>
date_object = 1998-08-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-05-19 00:00:00
type of date_string = <class 'str'>
date_object = 1998-05-19 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1996-05-14 00:00:00
type of date_string = <class 'str'>
date_object = 1996-05-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1975-11-26 00:00:00
type of date_string = <class 'str'>
date_object = 1975-11-26 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-09-01 00:00:00
type of date_string = <class 'str'>
date_object = 2001-09-01 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-04-05 00:00:00
type of date_string = <class 'str'>
date_object = 1998-04-05 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1996-08-27 00:00:00
type of date_string = <class 'str'>
date_object = 1996-08-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-12-14 00:00:00
type of date_string = <class 'str'>
date_object = 1998-12-14 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-08-27 00:00:00
type of date_string = <class 'str'>
date_object = 2000-08-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-09-23 00:00:00
type of date_string = <class 'str'>
date_object = 2001-09-23 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2001-06-29 00:00:00
type of date_string = <class 'str'>
date_object = 2001-06-29 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1998-02-25 00:00:00
type of date_string = <class 'str'>
date_object = 1998-02-25 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1985-02-10 00:00:00
type of date_string = <class 'str'>
date_object = 1985-02-10 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2000-07-18 00:00:00
type of date_string = <class 'str'>
date_object = 2000-07-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1967-12-18 00:00:00
type of date_string = <class 'str'>
date_object = 1967-12-18 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1999-12-20 00:00:00
type of date_string = <class 'str'>
date_object = 1999-12-20 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1972-05-27 00:00:00
type of date_string = <class 'str'>
date_object = 1972-05-27 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1955-03-03 00:00:00
type of date_string = <class 'str'>
date_object = 1955-03-03 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1994-03-15 00:00:00
type of date_string = <class 'str'>
date_object = 1994-03-15 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 1989-11-13 00:00:00
type of date_string = <class 'str'>
date_object = 1989-11-13 00:00:00
type of date_object = <class 'datetime.datetime'>
date_string = 2003-11-17 00:00:00
type of date_string = <class 'str'>
date_object = 2003-11-17 00:00:00
type of date_object = <class 'datetime.datetime'>

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,PersonEmail,Email_Seteado__c,PersonBirthdate,derty,HealthCloudGA__Gender__pc,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
0,False,Valeria Nicole,Meza Ureta,194907036,valeria.meza@cl.ey.com,True,1997-05-16,1997-05-16,Mujer,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
1,False,David Isaac,Jimenez Castro,211596880,david.jimenez1@cl.ey.com,True,2002-11-09,2002-11-09,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
2,False,Constanza Estefania,Vasquez Urrutia,203766173,constanza.vasquez@cl.ey.com,True,2000-08-11,2000-08-11,Mujer,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
3,False,Matias Camilo,Villarreal Mateau,20941435K,matias.villarreal@cl.ey.com,True,2001-12-21,2001-12-21,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
6,False,Denise Karina,Rojas Herrera,190376753,denise.rojas@cl.ey.com,True,1995-07-07,1995-07-07,Mujer,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE

In [82]:
Subir_pacientes.shape

(25, 14)

In [83]:
def traerId(rut):
    if len(rut) >= 8:
        busquedaDatos = "FIND {" + rut + "} RETURNING Account(Id,IdentificationId__pc)"
        derty = dict(sf.search(busquedaDatos))
        if derty["searchRecords"] != []:
            if derty["searchRecords"][0]["attributes"]["type"] == "Account":
                jote = derty["searchRecords"][0]["Id"]
                dertyd = derty["searchRecords"][0]["IdentificationId__pc"]
                print(jote + " " + dertyd)
                return jote
            else:
                print("no")
        else:
            print("vacio")
    else:
        return "None"


def traerContact(ide):
    ide = str(ide)
    if len(ide) >= 12:
        idcontact = sf.Account.get(ide)
        return idcontact["PersonContactId"]
    else:
        return "NONES"


def agregarPaciente(listado):
    vListado = listado.split(",")
    
    derty = None
    #vListado[9] = datetime.strptime(vListado[9], "%Y-%m-%d %H:%M:%S")
        
        
    if (vListado[9] == ""):                               
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],  
                                          
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    else:
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],
                        "PersonBirthdate": vListado[9] ,
                        #"PersonBirthdate":datetime.strptime(vListado[9], "%Y-%m-%d %H:%M:%S").formatGMT('yyyy-MM-dd\'T\'HH:mm:ss.SSS\'Z\'' + '"'),
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    # Verify that the Contact was created successfully
    # created_contact = sf.Contact.get(sf_res['id'])
    # print(created_contact)


""" sf_res =None
try:
    # Create the new Contact record in Salesforce
    sf_res = sf.Contact.create(new_contact)
except SalesforceMalformedRequest as e:
    if 'duplicateResut' in e[0]:
        print(f"Malformed request error: {e}")
        # Handle the error here as needed
        #Bypass SF Email duplicate rule by removing the email to create a SF Lead
        del new_contact['Email']
        sf_res = sf.Contact.create(new_contact)


if sf_res is not None:
    # Verify that the Contact was created successfully
    created_contact = sf.Contact.get(sf_res['id'])
    print(created_contact) """

' sf_res =None\ntry:\n    # Create the new Contact record in Salesforce\n    sf_res = sf.Contact.create(new_contact)\nexcept SalesforceMalformedRequest as e:\n    if \'duplicateResut\' in e[0]:\n        print(f"Malformed request error: {e}")\n        # Handle the error here as needed\n        #Bypass SF Email duplicate rule by removing the email to create a SF Lead\n        del new_contact[\'Email\']\n        sf_res = sf.Contact.create(new_contact)\n\n\nif sf_res is not None:\n    # Verify that the Contact was created successfully\n    created_contact = sf.Contact.get(sf_res[\'id\'])\n    print(created_contact) '

In [84]:
Subir_pacientes.head()

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,PersonEmail,Email_Seteado__c,PersonBirthdate,derty,HealthCloudGA__Gender__pc,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
0,False,Valeria Nicole,Meza Ureta,194907036,valeria.meza@cl.ey.com,True,1997-05-16,1997-05-16,Mujer,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
1,False,David Isaac,Jimenez Castro,211596880,david.jimenez1@cl.ey.com,True,2002-11-09,2002-11-09,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
2,False,Constanza Estefania,Vasquez Urrutia,203766173,constanza.vasquez@cl.ey.com,True,2000-08-11,2000-08-11,Mujer,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
3,False,Matias Camilo,Villarreal Mateau,20941435K,matias.villarreal@cl.ey.com,True,2001-12-21,2001-12-21,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
6,False,Denise Karina,Rojas Herrera,190376753,denise.rojas@cl.ey.com,True,1995-07-07,1995-07-07,Mujer,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE

In [85]:
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)

Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(
    lambda y: traerId(y)
)

Subir_pacientes.shape

vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2950418267.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(

(25, 15)

In [86]:
Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)
Subir_pacientes = Subir_pacientes[Subir_pacientes["Id"].str.len() <= 12]
# Subir_pacientes["numero"] = Subir_pacientes["Id"].str.len()
Subir_pacientes.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2892125083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)

(25, 15)

In [ ]:
#Subir_pacientes["dato_account"].head()

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/Todesffff.xlsx", index=False)

In [87]:
Subir_pacientes["dato_account"] = ""
if ("FirstName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + Subir_pacientes[
        "FirstName"
    ].astype(str)
if ("LastName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["LastName"].astype(str)
    )
if ("IdentificationId__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["IdentificationId__pc"].astype(str)
    )
if ("RecordTypeId" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["RecordTypeId"].astype(str)
    )
if ("BillingCountry" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCountry"].astype(str)
    )
if ("Identification_Type__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Identification_Type__c"].astype(str)
    )
if ("Pa_s_del_Paciente__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Pa_s_del_Paciente__c"].astype(str)
    )
if ("Cuenta_validada__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Cuenta_validada__c"].astype(str)
    )

if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["PersonEmail"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

if ("PersonBirthdate" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (Subir_pacientes["dato_account"] + "," + Subir_pacientes["PersonBirthdate"].apply(lambda x: x.isoformat() + "Z"))
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("HealthCloudGA__Gender__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["HealthCloudGA__Gender__pc"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("Phone" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["Phone"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingCity" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCity"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingState" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingState"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingStreet" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingStreet"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Email_Seteado__c"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

# Subir_pacientes["dato_account"] =  Subir_pacientes["dato_account"] =

Subir_pacientes["Id_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
)
""" Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
) """

' Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(\n    lambda x: agregarPaciente(x)\n) '

In [88]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c WHERE Empresa_Padre__r.Name = '" + campaña + "'"

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_asociadas.xlsx", index=False)
df2.head()

  0%|          | 0/1 [00:00<?, ?it/s]

100%|██████████| 1/1 [00:02<00:00,  2.69s/it]

,P_liza__c,Nombre_de_Empresa__c,Identificador__c,Rut_Empresa__c,Empresa_Padre__r.Name,Holding__c,Plan__c,Pais__c,Activo__c,Id,LLave,dato
0,-,Dado De Baja - Sin Servicio,Dado De Baja - Sin Servicio,-,EY,-,-,Chile,False,a3yRN0000006roIYAQ,-,1
1,-,EY Audit SPA,EY Audit SPA,-,EY,-,Plan Gold,Chile,True,a3yRN0000006rsTYAQ,-,1

In [89]:
df2.shape

(2, 12)

In [92]:
Pacientes_con_id_no = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == False]
Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(
    lambda y: traerId(y)
)
Pacientes_con_id_no["Id Contacto"] = Pacientes_con_id_no["Id Account Paciente"].apply(
    lambda y: traerContact(y)
)
Pacientes_con_id_no.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_no.xlsx", index=False
)

Pacientes_con_id_si = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == True]
Pacientes_con_id_si.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_si.xlsx", index=False
)

Pacientes_con_id_final = pd.concat(
    [
        Pacientes_con_id_si,
        Pacientes_con_id_no,
    ],
    axis=0,
)

Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final.xlsx", index=False
)

if campaña == "Southbridge Plan Mujer":
    VpacientePrograma = "a1WRN0000007YwD2AU"
    VempresaaAccount = "001RN000003rwVaYAI"
    VempresaConvenio = "a3yRN0000006sVTYAY"
elif campaña == "Southbridge":
    VpacientePrograma = "a1W8c0000083pM9EAI"
    VempresaaAccount = "0018c00002f3Ev2AAE"
    VempresaConvenio = "a3yRN0000006sqYYAQ"
elif campaña == "Construmart":
    VpacientePrograma = "a1W8c0000083q9TEAQ"
    VempresaaAccount = "0018c00002ghJgBAAU"
    VempresaConvenio = "a3yRN0000006rlZYAQ"
elif campaña == "EY":
    VpacientePrograma = "a1W8c0000083laZEAQ"
    VempresaaAccount = "0018c00002eTboVAAS"
    VempresaConvenio = "a3yRN0000006rsTYAQ"
elif campaña == "Colmena":
    VpacientePrograma = "a1W8c0000083j8rEAA"
    VempresaaAccount = "0018c00002cXclQAAS"
    VempresaConvenio = "a3yRN0000006rf5YAA"
elif campaña == "Pedro De Valdivia":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sVzYAI"
elif campaña == "Forum":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s3SYAQ"
elif campaña == "Cruz Verde":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rsqYAA"
elif campaña == "Milan Fajanovic":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sR4YAI"
elif campaña == "ProChile":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rpsYAA"
elif campaña == "Farmacias Ahumada":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rspYAA"
elif campaña == "Minera El Abra":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006snOYAQ"
elif campaña == "Instruvalve":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s9DYAQ"
elif campaña == "VidaCel":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006suzYAA"
elif campaña == "Care Assistance Colaboradores":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006reXYA"
elif campaña == "Nexo":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sORYAY"
elif campaña == "Talo":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006t10YAA"
else:
    VpacientePrograma = "Buscarv"
    VempresaaAccount = "Buscarv"
    VempresaConvenio = "Buscarv"

#Programas por empresas
Pacientes_con_id_final["esonoes"] = Pacientes_con_id_final["rut"].isin(
    PacientesProgramas_PacientesSF["Rut_y"]
)
Subir_programas_empresa = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes"] == False
]
Subir_programas_empresa["Paciente__c"] = Subir_programas_empresa["Id Account Paciente"]
Subir_programas_empresa["Programas_por_Empresas__c"] = VpacientePrograma
Subir_programas_empresa = Subir_programas_empresa[
    [
        # "empresa",
        "poliza",
        "Paciente__c",
        "Programas_por_Empresas__c",
    ]
]
Subir_programas_empresa.to_excel(
    "F:/Empresas SF/reportes/programas_empresa.xlsx", index=False
)

#
Pacientes_con_id_final["esonoes1"] = Pacientes_con_id_final["rut"].isin(
    AccountContact_PacientesSF["Rut_y"]
)
Subir_AccountContact = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes1"] == False
]
Subir_AccountContact["ContactId"] = Subir_AccountContact["Id Contacto"]
Subir_AccountContact["AccountId"] = VempresaaAccount

Subir_AccountContact = Subir_AccountContact[
    [
        # "empresa",
        "poliza",
        "ContactId",
        "AccountId",
    ]
]
Subir_AccountContact.to_excel(
    "F:/Empresas SF/reportes/account_Contact.xlsx", index=False
)
if(campaña == "MetLife"):
    empresacontactoconvenio_PacientesSF["llave"] = empresacontactoconvenio_PacientesSF["Poliza"] +empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llaveA"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]
    Pacientes_con_id_final["llavepa"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]
    empresacontactoconvenio_PacientesSF["polizallavepa"] = empresacontactoconvenio_PacientesSF["Poliza"] + empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
else:
    empresacontactoconvenio_PacientesSF["llave"] = empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llaveA"] = Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]    
    empresacontactoconvenio_PacientesSF["polizallavepa"] = empresacontactoconvenio_PacientesSF["Poliza"] + empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llavepa"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]




Pacientes_con_id_final["esonoes2"] = Pacientes_con_id_final["llaveA"].isin(
    empresacontactoconvenio_PacientesSF["llave"]
)
Pacientes_con_id_final["sionose"] = Pacientes_con_id_final["llavepa"].isin(
    empresacontactoconvenio_PacientesSF["polizallavepa"]
)

Subir_empresacontactoconvenio = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes2"] == False
]
Subir_empresacontactoconvenio2 = Pacientes_con_id_final[
    Pacientes_con_id_final["sionose"] == False
]


Subir_empresacontactoconvenio["Paciente__c"] = Subir_empresacontactoconvenio[
    "Id Account Paciente"
]

Subir_empresacontactoconvenio["N_Documento_Titular__c"] = Subir_empresacontactoconvenio[
    "rutT"
]
Subir_empresacontactoconvenio["Empresa__c"] = VempresaConvenio

Subir_empresacontactoconvenio = Subir_empresacontactoconvenio[
    [
        "empleador",
        "rutE",
        "poliza",
        "Paciente__c",
        "N_Documento_Titular__c",
        "Empresa__c",
    ]
]
Subir_empresacontactoconvenio.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio.xlsx", index=False)
Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final2.xlsx", index=False
    
)
Subir_empresacontactoconvenio2.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio2.xlsx", index=False)

001RN000006SRjNYAW 194907036
001RN000006SLEBYA4 211596880
001RN000006SMgfYAG 203766173
001RN000006SEkYYAW 20941435K
001RN000006SRkzYAG 190376753
001RN000006SQ90YAG 196968148
001RN000006SR57YAG 189387857
001RN000006SK5DYAW 199235648
001RN000006SQx1YAG 192742552
001RN000006SRmbYAG 207579998
001RN000006SGbAYAW 198534382
001RN000006SRoDYAW 192974542
001RN000006SIhnYAG 120781162
001RN000006SHCFYA4 205030786
001RN000006SQAcYAO 19879841K
001RN000006SH8wYAG 195134138
001RN000006SFYZYA4 244745016
001RN000006SD8dYAG 203720890
001RN000006SKupYAG 25840890K
001RN000006SMJwYAO 20678881K
001RN000006SRppYAG 196496983
001RN000006SMAKYA4 159859584
001RN000006SOLjYAO 119747465
001RN000006SRt3YAG 70871505
001RN000006SRufYAG 186663128

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2001372226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2001372226.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pacientes_con_id_no["Id Contacto"] = Pacientes_con_id_no["Id Account Paciente"].apply(
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2001372226.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_programas_empresa["Paciente__c"] = Subir_programas_empresa["Id Account Paciente"]
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2001372226.py:110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_programas_empresa["Programas_por_Empresas__c"] = VpacientePrograma
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2001372226.py:130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_AccountContact["ContactId"] = Subir_AccountContact["Id Contacto"]
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2001372226.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_AccountContact["AccountId"] = VempresaaAccount
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2001372226.py:173: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_empresacontactoconvenio["Paciente__c"] = Subir_empresacontactoconvenio[
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2001372226.py:177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_empresacontactoconvenio["N_Documento_Titular__c"] = Subir_empresacontactoconvenio[
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_16688\2001372226.py:180: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_empresacontactoconvenio["Empresa__c"] = VempresaConvenio

Cuadrar eliminar pacientes q no estan en el listado
//-----------------------------------------------------------//

In [ ]:
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "163820064")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "153298939")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "191710940")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "182470082")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16277865")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16277865K")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "HEGJ930928HMNRRL06")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16007258K")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "86676540")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "202201466")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "105233469")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "130949185")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "255356798")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "34005945")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "185410072")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "197415029")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "254468134")].index, inplace=True)



empresacontactoconvenio_PacientesSF.head()

In [ ]:
empresacontactoconvenio_PacientesSF.to_excel(
    "F:/Empresas SF/reportes/SFpacientes.xlsx", index=False)

In [ ]:
contactd = sf.Account.get("0018c00002lUyo0AAC")
contactd["PersonContactId"]

In [ ]:
# contactd["PersonContactId"]
print(datetime.now())

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/tod  es.xlsx", index=False)

query2 = "select P_liza**c, Nombre_de_Empresa**c, Rut_Empresa**c, Empresa_Padre**r.Name, Empresa**r.name,Holding**c, Plan**c, Pais**c, Activo**c, Id from Datos_Empresa**c "

df2 = sf.smart_query(query2)
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

Subir_pacientes.to_excel("F:/Empresas SF/reportes/111account.xlsx", index=False)

derty = Subir_pacientes["IdentificationId__pc"]
sf.Contact.create({"IdentificationId\_\_pc": "derty", "Email": "example@example.com"})

Subir_pacientes.head()

Subir_pacientes.head()
Subir_pacientes.to_excel("F:/Empresas SF/reportes/account\_\_l.xlsx", index=False)

In [ ]:
""" if campaña != "MetLife":
    pacientes_en_campaña = pd.merge(
        left=campaña_seleccionada,
        right=Pacientes_con_id,
        how="left",
        left_on="Id Account",
        right_on="Id Account Paciente",
    )
    pacientes_en_campaña["Paciente__c"] = "Id Pacientes"
    pacientes_en_campaña["Programas_por_Empresas__c"] = "Id Programas Por empresa"
    pacientes_en_campaña.to_excel(
        "F:/Empresas SF/reportes/campaña_empresa.xlsx", index=False
    )
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña.xlsx", index=False
    )
 """

In [ ]:
""" if campaña != "MetLife1":
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    if ("poliza" in campaña_en_pacientes.columns) == True:
        campaña_en_pacientes["poliza"] = campaña_en_pacientes["poliza"].astype(str)

    campaña_en_pacientes = campaña_en_pacientes.rename(
        columns={"Programas_por_Empresas__c": "programas por empresa"}
    )
    campaña_en_pacientes["Paciente__c"] = campaña_en_pacientes["Id Account Paciente"]
    campaña_en_pacientes["Programas_por_Empresas__c"] = campaña_en_pacientes[
        "programas por empresa"
    ]
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña2.xlsx", index=False
    ) """

In [ ]:
# apprix_1 = Pacientes_SF.iloc[:790552,:]
# apprix_2 = Pacientes_SF.iloc[790553:,:]
# apprix_1.to_excel("F:/Empresas SF/reportes/Ruts1.xlsx",index=False)
# apprix_2.to_excel("F:/Empresas SF/reportes/Ruts2.xlsx",index=False)

In [ ]:
campaña_en_pacientes2 = pd.merge(
    left=Pacientes_con_id,
    right=campaña_seleccionada,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)
if ("poliza" in campaña_en_pacientes2.columns) == True:
    campaña_en_pacientes2["poliza"] = campaña_en_pacientes2["poliza"].astype(str)

campaña_en_pacientes2 = campaña_en_pacientes2.rename(
    columns={"Programas_por_Empresas__c": "programas por empresa"}
)
campaña_en_pacientes2["Paciente__c"] = campaña_en_pacientes2["Id Account Paciente"]
campaña_en_pacientes2["Programas_por_Empresas__c"] = campaña_en_pacientes2[
    "programas por empresa"
]


""" campaña_en_pacientes2 = campaña_en_pacientes2[
    (campaña_en_pacientes2["Programas_por_Empresas__c"] == "")] """
campaña_en_pacientes2["Esta"] = campaña_en_pacientes2["programas por empresa"].isnull()
campaña_en_pacientes2 = campaña_en_pacientes2[campaña_en_pacientes2["Esta"]]
campaña_en_pacientes2.to_excel(
    "F:/Empresas SF/reportes/archivo_campaña3.xlsx", index=False
)

In [ ]:
campaña_en_pacientes2["rut"].shape

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
rutes = pd.DataFrame(columns=["rut"])
rutes["rut"] = Pacientes_Archivo["rut"]
rutes["rutT"] = Pacientes_Archivo["rut2"]
rutes["Contratante"] = Pacientes_Archivo["Contratante"]
# rutes["poliza"] = Pacientes_Archivo["poliza"]
rutes.head()

In [ ]:
rutes["rut"] = rutes["rut"].astype(str)
rutes["rut"] = rutes["rut"].str.replace(".", "")
rutes["rut"] = rutes["rut"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rut"] = rutes["rut"].str.upper()
rutes["rut"] = rutes["rut"].str.strip()

rutes["rutT"] = rutes["rutT"].astype(str)
rutes["rutT"] = rutes["rutT"].str.replace(".", "")
rutes["rutT"] = rutes["rutT"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rutT"] = rutes["rutT"].str.upper()
rutes["rutT"] = rutes["rutT"].str.strip()

""" rutes["poliza"] = rutes["poliza"].astype(str)
rutes["poliza"] = rutes["poliza"].str.replace(".", "")
rutes["poliza"] = rutes["poliza"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["poliza"] = rutes["poliza"].str.strip() """


rutes.head()

In [ ]:
# derty = rutes.to_numpy().transpose().tolist()


Pacientes_SF2 = Pacientes_SF[["Rut", "Id Account Paciente"]]

In [ ]:
rutesi = pd.merge(
    left=rutes,
    right=Pacientes_SF2,
    how="left",
    left_on="rut",
    right_on="Rut",
)
rutesi.shape
rutesi.to_excel("F:/Empresas SF/reportes/rutsyempresa.xlsx", index=False)

In [ ]:
rutesi.head()

In [ ]:
rutesi_antg = pd.merge(
    left=rutesi,
    right=empresas_unidas,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)

In [ ]:
rutesi_antg.head()

In [ ]:
# rutesi_antg .to_excel("F:/Empresas SF/reportes/ruts_empresas_antiguos.xlsx", index=False)

In [ ]:
import json
import pandas as pd
from simple_salesforce import Salesforce, format_soql, format_external_id
from json import loads, dumps
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)

In [ ]:
""" query = "select Id, Account.Name, RutContact__c from AccountContactRelation "

df1 = sf.smart_query(query) """

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
# rutes = Subir_pacientes["rut"]

In [ ]:
""" df1.head() """

In [ ]:
""" df1["rut"] = df1["RutContact__c"].astype(str)
df1["rut"] = df1["rut"].str.replace(".", "")
df1["rut"] = df1["rut"].str.replace(
    "-", ""
)  # aca se trabaja con el nuevo rut desde rut1 ojooooooo
df1["rut"] = df1["rut"].str.upper()
df1["rut"] = df1["rut"].str.strip()
df1.head() """

In [ ]:
""" rutes.head() """

In [ ]:
""" rutesi = pd.merge(
    left=rutes,
    right=df1,
    how="left",
    left_on="rut",
    right_on="rut",
) """

In [ ]:
""" rutesi.to_excel("F:/Empresas SF/reportes/rutesnuevos_accountcontactrelation.xlsx", index=False) """

In [ ]:
""" df2["P_liza__c"] = df2["P_liza__c"].astype(str)
df2["P_liza__c"] = df2["P_liza__c"].str.replace(".", "")
df2["P_liza__c"] = df2["P_liza__c"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
df2["P_liza__c"] = df2["P_liza__c"].str.upper()
df2["P_liza__c"] = df2["P_liza__c"].str.strip() """

In [ ]:
modelo_nuevo = pd.merge(
    left=rutesi,
    right=df2,
    how="left",
    left_on="poliza",
    right_on="P_liza__c",
)
modelo_nuevo.to_excel("F:/Empresas SF/reportes/modelo_nuevo.xlsx", index=False)

In [ ]:
modelo = pd.DataFrame()
modelo = modelo_nuevo[["rutT", "Id Account Paciente", "Id"]]

In [ ]:
modelo.head()