In [1]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
import shutil
import datetime
from datetime import datetime
import re
import json
from pandas.api.types import is_numeric_dtype
from simple_salesforce import Salesforce, format_soql, format_external_id
from simple_salesforce.exceptions import SalesforceMalformedRequest
import simpler_sf

simpler_sf.simple_salesforce()

In [2]:
with open("login.json", "r") as j:
    misDatos = json.load(j)

In [3]:
# para smart query
""" sf = simple_salesforce.Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
 """
# para lo demas
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
# paramiko.util.log_to_file("paramiko.log")
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")

Descarga de empresas en sistema

In [4]:
llamadaEmpresaAntiguas = "SELECT Id,Empresa__r.Id, Empresa__r.Name, Empresa__r.Holding__c, Empresa__r.Campa_a__c, Empresa__r.Id_Empresa__c, Empresa__r.Empleador__c, Empresa__r.poliza__c, Empresa__r.RUT_Empresa__c, Empresa__r.Corredor__c,Empresa__r.Padre_Empresa__c, Name FROM Programas_por_Empresas__c WHERE Empresa__r.Padre_Empresa__c = false"
vllamadaEmpresa = sf.smart_query(llamadaEmpresaAntiguas)
vllamadaEmpresa.to_excel("F:/Empresas SF/reportes/empresas_Antiguas.xlsx", index=False)
vllamadaEmpresa.head()

100%|██████████| 1/1 [00:10<00:00, 10.63s/it]

,Id,Empresa__r.Id,Empresa__r.Name,Empresa__r.Holding__c,Empresa__r.Campa_a__c,Empresa__r.Id_Empresa__c,Empresa__r.Empleador__c,Empresa__r.poliza__c,Empresa__r.RUT_Empresa__c,Empresa__r.Corredor__c,Empresa__r.Padre_Empresa__c,Name
0,a1W8c000007c5aIEAQ,0018c00002k9KwBAAU,Aldo Conti MX,-,Aldo Conti,EMP10376,Aldo Conti MX,-,-,-,False,A-9930
1,a1W8c000007c669EAA,0018c00002k9yOCAAY,Caja de Compensación de Asignación Familiar de...,Itaú,Vida Security,EMP10377,Caja de Compensación de Asignación Familiar de...,283144,81826800-9,-,False,A-9931
2,a1W8c000007c66AEAQ,0018c00002k9yODAAY,Itaú Corpbanca,Itaú,Vida Security,EMP10378,Itaú Corpbanca,283147,97023000-9,-,False,A-9932
3,a1W8c000007c66BEAQ,0018c00002k9yOEAAY,Itaú Corpbanca,Itaú - sin servicio,Vida Security,EMP10379,Itaú Corpbanca,283148,-,-,False,A-9933
4,a1W8c000007c66CEAQ,0018c00002k9yOFAAY,Itaú Corpbanca,Itaú,Vida Security,EMP10380,Itaú Corpbanca,283149,-,-,False,A-9934

vllamadaEmpresa.shape

In [5]:
# Recuperar empresas ID de salesforce desde Account
results = sf.query_all(
    """
  SELECT Id, name, Holding__c ,Campa_a__c,Id_Empresa__c,Empleador__c,poliza__c,RUT_Empresa__c  FROM account where ispersonaccount = false  AND Nueva_Estructura__c = False
    """
)
Empresas_SF = pd.DataFrame(results["records"])
Empresas_SF = Empresas_SF[
    [
        "Id",
        "Name",
        "Holding__c",
        "Campa_a__c",
        "Id_Empresa__c",
        "Empleador__c",
        "poliza__c",
        "RUT_Empresa__c",
    ]
]
Empresas_SF.shape

(8232, 8)

In [6]:
# buscar empresas desde Programas_por_Empresas__c datos de empresas
results = sf.query_all(
    """
   select Id,Empresa__c, Empresa_Padre__c,Nombre_Empresa__c, Name  from Programas_por_Empresas__c 
    """
)
Programas_por_empresa_SF = pd.DataFrame(results["records"])

Programas_por_empresa_SF = Programas_por_empresa_SF[
    ["Id", "Empresa__c", "Empresa_Padre__c", "Nombre_Empresa__c", "Name"]
]
Programas_por_empresa_SF.shape

(7912, 5)

In [7]:
# Union de Programas Empresa y empresas
Programas_empresas = pd.merge(
    left=Empresas_SF,
    right=Programas_por_empresa_SF,
    how="left",
    left_on="Id",
    right_on="Empresa__c",
)
Programas_empresas = Programas_empresas.rename(
    columns={
        "Id_x": "Id Account Empresa",
        "Name_x": "Nombre Empresa",
        "Holding__c": "Holding",
        "Campa_a__c": "Campaña",
        "Empleador__c": "Empleador",
        "poliza__c": "Poliza",
        "RUT_Empresa__c": "Rut Empresa",
        "Id_y": "Programas_por_Empresas__c",
        "Id_Empresa__c": "Codigo EMP",
        "Name_y": "Codigo A",
    }
)
Programas_empresas = Programas_empresas[
    [
        "Id Account Empresa",
        "Nombre Empresa",
        "Holding",
        "Campaña",
        "Empleador",
        "Poliza",
        "Rut Empresa",
        "Programas_por_Empresas__c",
        "Codigo EMP",
        "Codigo A",
    ]
]

Programas_empresas.shape

(8238, 10)

In [8]:
Programas_empresas.to_excel("F:/Empresas SF/reportes/empresas.xlsx", index=False)

In [15]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

100%|██████████| 1/1 [00:09<00:00,  9.20s/it]

,P_liza__c,Nombre_de_Empresa__c,Identificador__c,Rut_Empresa__c,Empresa_Padre__r.Name,Holding__c,Plan__c,Pais__c,Activo__c,Id,LLave,dato
0,Sin Póliza Asociada,Colaboradores Care Assistance Chile SPA,Colaboradores Care Assistance Chile SPA,775173998,Colaboradores,Siempre Chile SPA,Plan Gold,Chile,True,a3yRN0000006mmjYAA,775173998Sin Póliza Asociada,1
1,-,Apunto Servicios De Alimentacion,Apunto Servicios De Alimentacion,-,Consalud,Holding Consalud,-,Chile,False,a3yRN0000006rG9YAI,-,1
2,-,2M Inmobiliaria Spa.,2M Inmobiliaria Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGAYAY,-,1
3,-,360 Gms Capacitacion Spa.,360 Gms Capacitacion Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGBYAY,-,1
4,-,361 Gms Capacitacion Spa.,361 Gms Capacitacion Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGCYAY,-,1

fin empresas y comienzo de rescate de pacientes

In [10]:
# CArga de PAcientes
results = sf.query_all(
    """
    select Id, IdentificationId__pc,Name, Identification_Type__c, Ocupaci_n__c,  PersonTitle ,PersonDepartment,HealthCloudGA__Gender__pc,Phone,PersonContactId  from Account where ispersonaccount = True 
   """
)
Pacientes_SF = pd.DataFrame(results["records"])

Pacientes_SF = Pacientes_SF[
    [
        "Id",
        "IdentificationId__pc",
        "Name",
        "Identification_Type__c",
        "Ocupaci_n__c",
        "PersonTitle",
        "PersonDepartment",
        "HealthCloudGA__Gender__pc",
        "Phone",
        "PersonContactId",
    ]
]
Pacientes_SF = Pacientes_SF.rename(
    columns={
        "Id": "Id Account Paciente",
        "IdentificationId__pc": "Rut",
        "Name": "Nombre",
        "Ocupaci_n__c": "Ocupacion",
        "PersonTitle": "Cargo",
        "PersonDepartment": "Departamento",
        "HealthCloudGA__Gender__pc": "Sexo",
        "Phone": "Telefono",
        "Identification_Type__c": "Tipo de Documento",
        "PersonContactId": "Id Contacto",
    }
)
Pacientes_SF.shape

(1923323, 10)

In [11]:
def siPrimerCero(y):
    if len(y) <= 7:
        return "NONE"
    if y[0] == "0":
        y = y[1:]
    return y

In [12]:
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.upper()
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("-", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("–", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].apply(lambda y: siPrimerCero(y))
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\928634061.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")

In [13]:
Pacientes_Nones1 = Pacientes_SF[(Pacientes_SF["Rut"] == "NONE")]
Pacientes_SF = Pacientes_SF[(Pacientes_SF["Rut"] != "NONE")]
Pacientes_Nones1.to_excel("F:/Empresas SF/reportes/NONE1.xlsx", index=False)

Aca se comienzan a unir las relaciones de pacientes y empresas ya creadas.

# buscar empresas desde Paciente_Programas\_\_c relaciones de empresas con pacientes

results = sf.query_all(
"""
select Id,Paciente**c, Programas_por_Empresas**c,padre**c from Paciente_Programas**c  
 """
)
Paciente_Programas_SF = pd.DataFrame(results["records"])

Paciente_Programas_SF = Paciente_Programas_SF[
["Id", "Paciente__c", "Programas_por_Empresas__c", "padre__c"]
]
Paciente_Programas_SF = Paciente_Programas_SF.rename(
columns={
"Id": "Id Pacientes_Programas**c",
"Paciente**c": "Id Account",
"Programas_por_Empresas**c": "Programas_por_Empresas**c",
"padre\_\_c": "Nombre Campaña",
}
)
Paciente_Programas_SF.shape

# Union de Pacientes Programas y Programas por empresa

empresas_unidas = pd.merge(
left=Paciente_Programas_SF,
right=Programas_empresas,
how="left",
left_on="Programas_por_Empresas**c",
right_on="Programas_por_Empresas**c",
)
empresas_unidas.shape

Carga de Archivo carga

In [60]:
nuevos = "F:/Empresas SF/reportes/carga.xlsx"
campaña = "Lockton"
Pais = "Chile"
# Pais = "México"

Pacientes_Archivo = pd.read_excel(nuevos)
# OJO se copia rut1 a rut le saca el guoion
Pacientes_Archivo.head(5)

,poliza,rutE,RUT TITUAR,DV TITULAR,rut2,RUT CARGA,DV CARGA,rut1,nombres,AP. PATERNO,...,apellidos,sexo,RELACIÓN,FECHA INCORP.,nacimiento,RENTA CLP,email,BANCO,TIPO CUENTA,N° CUENTA
0,Copeland Chile Ltda.,77733442-5,13955419,1,13955419 1,13955419,1,13955419 1,Jaime,Galaz,...,Godoy Galaz,M,TITULAR,44593.0,1980-04-18,2527200,jaime.galaz@copeland.com,Banco Estado,Corriente,4168119.0
1,Copeland Chile Ltda.,77733442-5,13955419,1,13955419 1,21631106,K,21631106 K,Jonathan,Galaz,...,Arratia Galaz,M,HIJO/A,44593.0,2004-08-02,-,-,0,NaN,4168119.0
2,Copeland Chile Ltda.,77733442-5,13955419,1,13955419 1,21887015,5,21887015 5,Catalina,Galaz,...,Arratia Galaz,F,HIJO/A,44593.0,2005-07-17,-,-,0,NaN,4168119.0
3,Copeland Chile Ltda.,77733442-5,9033000,4,9033000 4,9033000,4,9033000 4,Andrés,Gonzalez,...,White Gonzalez,M,TITULAR,44593.0,1970-01-28,2920000,andres.gonzalez@copeland.com,Banco Santander Chile,Corriente,76645868.0
4,Copeland Chile Ltda.,77733442-5,10286284,8,10286284 8,10286284,8,10286284 8,Pablo,Ibaceta,...,Reyes Ibaceta,M,TITULAR,44593.0,1970-12-15,10000000,pablo.ibaceta@copeland.com,Banco de Crédito e Inversiones,Corriente,29807450.0

In [61]:
Pacientes_Archivo.shape

(347, 21)

In [62]:
Pacientes_IDrut = Pacientes_SF[
    [
        "Rut",
        "Id Account Paciente",
        "Id Contacto",
    ]
]

In [63]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut1"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("-", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("–", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.upper()
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.strip()

Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.upper()
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.strip()
Pacientes_Archivo.shape

Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].astype(str)
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.upper()
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("-", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("–", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\4095771799.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\4095771799.py:18: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")

(347, 22)

In [64]:
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rut2"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("-", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("–", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.upper()
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\980738941.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")

(347, 23)

In [65]:
if ("nombres" in Pacientes_Archivo.columns) == True:
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(",", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("-", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.title()
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.strip()
    # Pacientes_Archivo["empresa"] = Pacientes_Archivo["empresa"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(",", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("-", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\1579381385.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\1579381385.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")

In [66]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo

# Pacientes_Nones = Pacientes_Archivo[(Pacientes_Archivo["rut"] == "NONE") | (Pacientes_Archivo["rutT"] == "NONE")]
# Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE") | (Pacientes_Archivo["rutT"] != "NONE")]

,poliza,rutE,RUT TITUAR,DV TITULAR,rut2,RUT CARGA,DV CARGA,rut1,nombres,AP. PATERNO,...,RELACIÓN,FECHA INCORP.,nacimiento,RENTA CLP,email,BANCO,TIPO CUENTA,N° CUENTA,rut,rutT
0,COPELAND CHILE LTDA.,777334425,13955419,1,13955419 1,13955419,1,13955419 1,Jaime,Galaz,...,TITULAR,44593.0,1980-04-18,2527200,jaime.galaz@copeland.com,Banco Estado,Corriente,4168119.0,13955419 1,13955419 1
1,COPELAND CHILE LTDA.,777334425,13955419,1,13955419 1,21631106,K,21631106 K,Jonathan,Galaz,...,HIJO/A,44593.0,2004-08-02,-,-,0,NaN,4168119.0,21631106 K,13955419 1
2,COPELAND CHILE LTDA.,777334425,13955419,1,13955419 1,21887015,5,21887015 5,Catalina,Galaz,...,HIJO/A,44593.0,2005-07-17,-,-,0,NaN,4168119.0,21887015 5,13955419 1
3,COPELAND CHILE LTDA.,777334425,9033000,4,9033000 4,9033000,4,9033000 4,Andrés,Gonzalez,...,TITULAR,44593.0,1970-01-28,2920000,andres.gonzalez@copeland.com,Banco Santander Chile,Corriente,76645868.0,9033000 4,9033000 4
4,COPELAND CHILE LTDA.,777334425,10286284,8,10286284 8,10286284,8,10286284 8,Pablo,Ibaceta,...,TITULAR,44593.0,1970-12-15,10000000,pablo.ibaceta@copeland.com,Banco de Crédito e Inversiones,Corriente,29807450.0,10286284 8,10286284 8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,KAPSCH TRAFFICCOM CHILE S.A.,NAN,25820004,7,25820004 7,25820004,7,25820004-7,Yelianny,RIVERO,...,As,NaN,1988-06-24,NaN,riveroyelianny@gmail.com,NaN,NaN,NaN,258200047,25820004 7
343,KAPSCH TRAFFICCOM CHILE S.A.,NAN,26339237,K,26339237 K,26339237,K,26339237-K,Jorge Luis Eduardo,RAMIREZ,...,As,NaN,1995-10-05,NaN,jorge_rami95@hotmail.com,NaN,NaN,NaN,26339237K,26339237 K
344,KAPSCH TRAFFICCOM CHILE S.A.,NAN,26663215,0,26663215 0,26663215,0,26663215-0,Yolimar De Las Nieves,GUTIERREZ,...,As,NaN,1976-09-19,NaN,gutierrezyolimar@gmail.com,NaN,NaN,NaN,266632150,26663215 0
345,KAPSCH TRAFFICCOM CHILE S.A.,NAN,28123554,0,28123554 0,28123554,0,28123554-0,Samuel,KAPSCH,...,As,NaN,1970-03-01,NaN,sam.kapsch@gmail.com,NaN,NaN,NaN,281235540,28123554 0
346,KAPSCH TRAFFICCOM CHILE S.A.,NAN,28198496,9,28198496 9,28198496,9,28198496-9,Ricardo Javier,FUNES,...,As,NaN,1988-02-11,NaN,ricardo.funes@kapsuh.net,NaN,NaN,NaN,281984969,28198496 9

In [67]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo22.xlsx", index=False)

In [68]:
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE")]
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rutT"] != "NONE")]
# | (Pacientes_Archivo["rutT"] != "NONE")

PAcientes Programas

In [69]:
query_pacientePrograma = (
    "SELECT Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id from Paciente_Programas__c where padre__c =  '"
    + campaña
    + "'"
)
pacientePrograma = sf.smart_query(query_pacientePrograma)
pacientePrograma.head()

100%|██████████| 1/1 [00:09<00:00,  9.19s/it]

,Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id
0,0018c00002njoMgAAI,0018c00002jp2C4AAI,105548338,a1Y8c00000CzN90EAF
1,0018c00002njoMhAAI,0018c00002jp2C4AAI,107684190,a1Y8c00000CzN91EAF
2,0018c00002njoMiAAI,0018c00002jp2C4AAI,108551720,a1Y8c00000CzN92EAF
3,0018c00002njoMjAAI,0018c00002jp2C4AAI,108634227,a1Y8c00000CzN93EAF
4,0018c00002njoMkAAI,0018c00002jp2C4AAI,112918264,a1Y8c00000CzN94EAF

In [70]:
pacientePrograma = pacientePrograma.rename(
    columns={
        "Id": "Id Paciente Programas",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Programas_por_Empresas__r.Empresa__c": "Id Account Empleador",
        "Paciente__c": "Id Account Paciente",
    }
)
pacientePrograma.head()

  Id Account Paciente Id Account Empleador        Rut Id Paciente Programas
0  0018c00002njoMgAAI   0018c00002jp2C4AAI  105548338    a1Y8c00000CzN90EAF
1  0018c00002njoMhAAI   0018c00002jp2C4AAI  107684190    a1Y8c00000CzN91EAF
2  0018c00002njoMiAAI   0018c00002jp2C4AAI  108551720    a1Y8c00000CzN92EAF
3  0018c00002njoMjAAI   0018c00002jp2C4AAI  108634227    a1Y8c00000CzN93EAF
4  0018c00002njoMkAAI   0018c00002jp2C4AAI  112918264    a1Y8c00000CzN94EAF

In [71]:
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("-", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("–", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.upper()
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.strip()
pacientePrograma.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\3172767859.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")

(6726, 4)

In [72]:
PacientesProgramas_PacientesSF = pd.merge(
    left=pacientePrograma,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)

PacientesProgramas_PacientesSF.head()

,Id Account Paciente,Id Account Empleador,Rut_x,Id Paciente Programas,Rut_y,Id Contacto
0,0018c00002njoMgAAI,0018c00002jp2C4AAI,105548338,a1Y8c00000CzN90EAF,105548338,0038c00003Jm91jAAB
1,0018c00002njoMhAAI,0018c00002jp2C4AAI,107684190,a1Y8c00000CzN91EAF,107684190,0038c00003Jm91kAAB
2,0018c00002njoMiAAI,0018c00002jp2C4AAI,108551720,a1Y8c00000CzN92EAF,108551720,0038c00003Jm91lAAB
3,0018c00002njoMjAAI,0018c00002jp2C4AAI,108634227,a1Y8c00000CzN93EAF,108634227,0038c00003Jm91mAAB
4,0018c00002njoMkAAI,0018c00002jp2C4AAI,112918264,a1Y8c00000CzN94EAF,112918264,0038c00003Jm91nAAB

account contact relation

In [73]:
query_accountContact = (
    "select Id,ContactId, AccountId, RutContact__c ,Contact.AccountId from AccountContactRelation where Account.Campa_a__c = '"
    + campaña
    + "'"
)
accountContactRelation = sf.smart_query(query_accountContact)
accountContactRelation.head()

100%|██████████| 1/1 [00:09<00:00,  9.76s/it]

,Id,ContactId,AccountId,RutContact__c,Contact.AccountId
0,07k8c00000ZB4mDAAT,0038c00003EzPtAAAV,0018c00002jp2C4AAI,152897391,0018c00002kAaGwAAK
1,07k8c00000ZB4mEAAT,0038c00003EzPtBAAV,0018c00002jp2C4AAI,93635051,0018c00002kAaGxAAK
2,07k8c00000ZB4mFAAT,0038c00003EzPtCAAV,0018c00002jp2C4AAI,20158581,0018c00002kAaGyAAK
3,07k8c00000ZB4mGAAT,0038c00003EzPtDAAV,0018c00002jp2C4AAI,247812334,0018c00002kAaGzAAK
4,07k8c00000ZBDHkAAP,0038c000039D58iAAC,0018c00002jp2C4AAI,205006524,0018c00002eUinjAAC

In [74]:
accountContactRelation = accountContactRelation.rename(
    columns={
        "Id": "Id AccountContactRelation",
        "ContactId": "Id Contact Paciente",
        "AccountId": "Id Account Empresa",
        "RutContact__c": "Rut",
        "Contact.AccountId": "Id Account Paciente",
    }
)
accountContactRelation.head()

,Id AccountContactRelation,Id Contact Paciente,Id Account Empresa,Rut,Id Account Paciente
0,07k8c00000ZB4mDAAT,0038c00003EzPtAAAV,0018c00002jp2C4AAI,152897391,0018c00002kAaGwAAK
1,07k8c00000ZB4mEAAT,0038c00003EzPtBAAV,0018c00002jp2C4AAI,93635051,0018c00002kAaGxAAK
2,07k8c00000ZB4mFAAT,0038c00003EzPtCAAV,0018c00002jp2C4AAI,20158581,0018c00002kAaGyAAK
3,07k8c00000ZB4mGAAT,0038c00003EzPtDAAV,0018c00002jp2C4AAI,247812334,0018c00002kAaGzAAK
4,07k8c00000ZBDHkAAP,0038c000039D58iAAC,0018c00002jp2C4AAI,205006524,0018c00002eUinjAAC

In [75]:
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("-", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("–", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.upper()
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.strip()
accountContactRelation.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2268980097.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")

(6713, 5)

In [76]:
AccountContact_PacientesSF = pd.merge(
    left=accountContactRelation,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
AccountContact_PacientesSF.head()

,Id AccountContactRelation,Id Contact Paciente,Id Account Empresa,Rut_x,Id Account Paciente,Rut_y,Id Contacto
0,07k8c00000ZB4mDAAT,0038c00003EzPtAAAV,0018c00002jp2C4AAI,152897391,0018c00002kAaGwAAK,152897391,0038c00003EzPtAAAV
1,07k8c00000ZB4mEAAT,0038c00003EzPtBAAV,0018c00002jp2C4AAI,93635051,0018c00002kAaGxAAK,93635051,0038c00003EzPtBAAV
2,07k8c00000ZB4mFAAT,0038c00003EzPtCAAV,0018c00002jp2C4AAI,20158581,0018c00002kAaGyAAK,20158581,0038c00003EzPtCAAV
3,07k8c00000ZB4mGAAT,0038c00003EzPtDAAV,0018c00002jp2C4AAI,247812334,0018c00002kAaGzAAK,247812334,0038c00003EzPtDAAV
4,07k8c00000ZBDHkAAP,0038c000039D58iAAC,0018c00002jp2C4AAI,205006524,0018c00002eUinjAAC,205006524,0038c000039D58iAAC

empresa contacto convenio

In [77]:
query_empresacontactoconvenio = (
    "select Id,Paciente__r.IdentificationId__pc,  Empresa__c, Paciente__c,N_Documento_Titular__c from EmpresaContactoConvenios__c where Empresa__r.Campa_a__c = '"
    + campaña
    + "'"
)
empresacontactoconvenio = sf.smart_query(query_empresacontactoconvenio)
empresacontactoconvenio.head()

100%|██████████| 1/1 [00:09<00:00,  9.21s/it]

,Id,Paciente__r.IdentificationId__pc,Empresa__c,Paciente__c,N_Documento_Titular__c
0,a40RN000000zZVbYAM,87361438,a3yRN0000006rHiYAI,001RN000000TMj1YAG,87361438
1,a40RN000000zZVcYAM,113996072,a3yRN0000006rHiYAI,001RN000000TR6eYAG,87361438
2,a40RN000000zZVdYAM,209680866,a3yRN0000006rHiYAI,001RN000000TR6fYAG,87361438
3,a40RN000000zZVeYAM,90343297,a3yRN0000006rHiYAI,0018c00002amNRmAAM,90343297
4,a40RN000000zZVfYAM,104433057,a3yRN0000006rHiYAI,001RN000000TMilYAG,90343297

In [78]:
empresacontactoconvenio = empresacontactoconvenio.rename(
    columns={
        "Id": "Id EmpresaContactoConvenio",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Empresa__c": "Id Convenio Empresa",
        "Paciente__c": "Id Account Paciente",
        "N_Documento_Titular__c": "Rut Titular",
    }
)
empresacontactoconvenio.head()

,Id EmpresaContactoConvenio,Rut,Id Convenio Empresa,Id Account Paciente,Rut Titular
0,a40RN000000zZVbYAM,87361438,a3yRN0000006rHiYAI,001RN000000TMj1YAG,87361438
1,a40RN000000zZVcYAM,113996072,a3yRN0000006rHiYAI,001RN000000TR6eYAG,87361438
2,a40RN000000zZVdYAM,209680866,a3yRN0000006rHiYAI,001RN000000TR6fYAG,87361438
3,a40RN000000zZVeYAM,90343297,a3yRN0000006rHiYAI,0018c00002amNRmAAM,90343297
4,a40RN000000zZVfYAM,104433057,a3yRN0000006rHiYAI,001RN000000TMilYAG,90343297

In [79]:
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("-", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("–", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.upper()
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.strip()
empresacontactoconvenio.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2534521553.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")

(6383, 5)

In [80]:
empresacontactoconvenio_PacientesSF = pd.merge(
    left=empresacontactoconvenio,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
empresacontactoconvenio_PacientesSF.head()

,Id EmpresaContactoConvenio,Rut_x,Id Convenio Empresa,Id Account Paciente,Rut Titular,Rut_y,Id Contacto
0,a40RN000000zZVbYAM,87361438,a3yRN0000006rHiYAI,001RN000000TMj1YAG,87361438,87361438,003RN000000Q13GYAS
1,a40RN000000zZVcYAM,113996072,a3yRN0000006rHiYAI,001RN000000TR6eYAG,87361438,113996072,003RN000000QDRfYAO
2,a40RN000000zZVdYAM,209680866,a3yRN0000006rHiYAI,001RN000000TR6fYAG,87361438,209680866,003RN000000QDRgYAO
3,a40RN000000zZVeYAM,90343297,a3yRN0000006rHiYAI,0018c00002amNRmAAM,90343297,90343297,0038c000035CX7iAAG
4,a40RN000000zZVfYAM,104433057,a3yRN0000006rHiYAI,001RN000000TMilYAG,90343297,104433057,003RN000000Q130YAC

In [81]:
""" if(campaña!="MetLife"):
    pacientePrograma.to_excel("F:/Empresas SF/reportes/paciente_programas.xlsx", index=False) """

' if(campaña!="MetLife"):\n    pacientePrograma.to_excel("F:/Empresas SF/reportes/paciente_programas.xlsx", index=False) '

Rescatamos todos los ruts Id con su empresa desde la campaña

In [82]:
Pacientes_Archivo.head()

,poliza,rutE,RUT TITUAR,DV TITULAR,rut2,RUT CARGA,DV CARGA,rut1,nombres,AP. PATERNO,...,RELACIÓN,FECHA INCORP.,nacimiento,RENTA CLP,email,BANCO,TIPO CUENTA,N° CUENTA,rut,rutT
0,COPELAND CHILE LTDA.,777334425,13955419,1,13955419 1,13955419,1,13955419 1,Jaime,Galaz,...,TITULAR,44593.0,1980-04-18,2527200,jaime.galaz@copeland.com,Banco Estado,Corriente,4168119.0,13955419 1,13955419 1
1,COPELAND CHILE LTDA.,777334425,13955419,1,13955419 1,21631106,K,21631106 K,Jonathan,Galaz,...,HIJO/A,44593.0,2004-08-02,-,-,0,NaN,4168119.0,21631106 K,13955419 1
2,COPELAND CHILE LTDA.,777334425,13955419,1,13955419 1,21887015,5,21887015 5,Catalina,Galaz,...,HIJO/A,44593.0,2005-07-17,-,-,0,NaN,4168119.0,21887015 5,13955419 1
3,COPELAND CHILE LTDA.,777334425,9033000,4,9033000 4,9033000,4,9033000 4,Andrés,Gonzalez,...,TITULAR,44593.0,1970-01-28,2920000,andres.gonzalez@copeland.com,Banco Santander Chile,Corriente,76645868.0,9033000 4,9033000 4
4,COPELAND CHILE LTDA.,777334425,10286284,8,10286284 8,10286284,8,10286284 8,Pablo,Ibaceta,...,TITULAR,44593.0,1970-12-15,10000000,pablo.ibaceta@copeland.com,Banco de Crédito e Inversiones,Corriente,29807450.0,10286284 8,10286284 8

Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

Pacientes_Archivo.drop_duplicates(
[
"rut",
"rutT",
"LLaveEmpresa",
"LLAveRut",
],
keep="last",
)
Pacientes_Archivo.shape

In [83]:
print(campaña)

Lockton

In [84]:
Pacientes_Archivo["RutEstaoNo"] = Pacientes_Archivo["rut"].isin(Pacientes_SF["Rut"])

In [85]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo.xlsx", index=False)

In [86]:
# aca a los pacientes del archivo se les asigna sus datos en SF
Pacientes_con_id = pd.merge(
    left=Pacientes_Archivo,
    right=Pacientes_SF,
    how="left",
    left_on="rut",
    right_on="Rut",
)
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/Pacientes_con_id.xlsx", index=False)
Pacientes_con_id.shape

(346, 34)

In [87]:
Pacientes_con_id.head()

,poliza,rutE,RUT TITUAR,DV TITULAR,rut2,RUT CARGA,DV CARGA,rut1,nombres,AP. PATERNO,...,Id Account Paciente,Rut,Nombre,Tipo de Documento,Ocupacion,Cargo,Departamento,Sexo,Telefono,Id Contacto
0,COPELAND CHILE LTDA.,777334425,13955419,1,13955419 1,13955419,1,13955419 1,Jaime,Galaz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,COPELAND CHILE LTDA.,777334425,13955419,1,13955419 1,21631106,K,21631106 K,Jonathan,Galaz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,COPELAND CHILE LTDA.,777334425,13955419,1,13955419 1,21887015,5,21887015 5,Catalina,Galaz,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,COPELAND CHILE LTDA.,777334425,9033000,4,9033000 4,9033000,4,9033000 4,Andrés,Gonzalez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,COPELAND CHILE LTDA.,777334425,10286284,8,10286284 8,10286284,8,10286284 8,Pablo,Ibaceta,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

In [89]:
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")


def isValid(email):
    if re.fullmatch(regex, email):
        return email
    else:
        return ""

In [101]:
import datetime

# Final_pacientes_y_empresa = Pacientes_con_ID
Subir_pacientes = pd.DataFrame()
# Subir_pacientes["Email_Seteado__c"] = ""
Subir_pacientes["RutEstaoNo"] = Pacientes_con_id["RutEstaoNo"]
# agrupar = empresasqfaltan[empresasqfaltan['si']==False]


if ("nombres" in Pacientes_con_id.columns) == True:
    Subir_pacientes["FirstName"] = Pacientes_con_id["nombres"]
if ("apellidos" in Pacientes_con_id.columns) == True:
    Subir_pacientes["LastName"] = Pacientes_con_id["apellidos"]
if ("rut" in Pacientes_con_id.columns) == True:
    Subir_pacientes["IdentificationId__pc"] = (
        Pacientes_con_id["rut"].astype(str).str.upper()
    )


if ("email" in Pacientes_con_id.columns) == True:
    # Pacientes_con_id["email"] = Pacientes_con_id["email"].astype(str).str.lower().replace("nan","")
    Subir_pacientes["PersonEmail"] = Pacientes_con_id["email"].astype(str).str.lower()
    Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].apply(
        lambda y: isValid(y)
    )
    Subir_pacientes["Email_Seteado__c"] = np.where(
        Subir_pacientes["PersonEmail"] != "", "True", "False"
    )

    # Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].str.replace("no informado", "")
if ("nacimiento" in Pacientes_con_id.columns) == True:
    try:
        Subir_pacientes["PersonBirthdate"] = pd.to_datetime(
            Pacientes_con_id["nacimiento"].astype(str), format="%Y-%m-%d"
        )
    except ValueError:
        Subir_pacientes[
            "PersonBirthdate"
        ] = (
            datetime.datetime.now()
        )  # Provide a default value when the format doesn't match

if ("sexo" in Pacientes_con_id.columns) == True:
    Sexo = {
        "H": "Hombre",
        "m": "Hombre",
        "Masculino": "Hombre",
        "Femenino": "Mujer",
        "": "Prefiero no responder",
        "HOMBRE": "Hombre",
        "MUJER": "Mujer",
        "F": "Mujer",
        "O": "Prefiero no responder",
        "Ambos": "Prefiero no responder",
        "N": "Prefiero no responder",
        "Otro": "Prefiero no responder",
        "n": "Prefiero no responder",
        "N": "Prefiero no responder",
        "FEMENINO": "Mujer",
        "f": "Mujer",
        "MASCULINO": "Hombre",
        "m": "Hombre",
        "M ": "Hombre",
        "M": "Hombre",
        "F ": "Mujer",
        "Varón": "Hombre",
        "varon": "Hombre",
    }
    Pacientes_con_id.replace({"sexo": Sexo}, inplace=True)
    Subir_pacientes["HealthCloudGA__Gender__pc"] = Pacientes_con_id["sexo"]
if ("direccion" in Pacientes_con_id.columns) == True:
    Subir_pacientes["BillingStreet"] = (
        Pacientes_con_id["direccion"].str.lower().replace("nan", "")
    )
    # Subir_pacientes["BillingStreet"] = Final_pacientes_y_empresa["direccion"]
if ("comuna" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
    Subir_pacientes["BillingState"] = (
        Pacientes_con_id["comuna"].str.title().replace("NaN", "")
    )
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
if ("ciudad" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingCity"] = Final_pacientes_y_empresa["ciudad"]
    Subir_pacientes["BillingCity"] = (
        Pacientes_con_id["ciudad"].str.title().replace("NaN", "")
    )

if ("cargo" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonTitle"] = Pacientes_con_id["cargo"].str.title()

if ("division" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonDepartment"] = Pacientes_con_id["division"].str.title()

if ("celular" in Pacientes_con_id.columns) == True:
    Subir_pacientes["Phone"] = (
        Pacientes_con_id["celular"].apply(str).str.strip().replace("+", "")
    )
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NaN", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace(".", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("Nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("-", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("0", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("No Informado", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("_", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("/", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("+", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("null", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NULL", "")


Subir_pacientes["RecordTypeId"] = "0128c000002Byp4AAC"
Subir_pacientes["Cuenta_validada__c"] = "True"


if Pais == "Chile":
    Subir_pacientes["BillingCountry"] = "Chile"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtnEAE"
else:
    Subir_pacientes["BillingCountry"] = "México"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtsEAE"

Subir_pacientes_Que_no_Estan = Subir_pacientes
Subir_pacientes_Estan = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == True]
Subir_pacientes = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == False]


# Subir_pacientes.PersonEmail = Subir_pacientes.PersonEmail.fillna('')
Subir_pacientes.to_excel(
    "F:/Empresas SF/reportes/Pacientes_Que_No_Estaban.xlsx", index=False
)
Subir_pacientes.head()

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,PersonEmail,Email_Seteado__c,PersonBirthdate,HealthCloudGA__Gender__pc,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
0,False,Jaime,Godoy Galaz,13955419 1,jaime.galaz@copeland.com,True,1980-04-18,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
1,False,Jonathan,Arratia Galaz,21631106 K,,False,2004-08-02,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
2,False,Catalina,Arratia Galaz,21887015 5,,False,2005-07-17,Mujer,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
3,False,Andrés,White Gonzalez,9033000 4,andres.gonzalez@copeland.com,True,1970-01-28,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
4,False,Pablo,Reyes Ibaceta,10286284 8,pablo.ibaceta@copeland.com,True,1970-12-15,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE

In [91]:
Subir_pacientes.shape

(305, 13)

In [102]:
def traerId(rut):
    if len(rut) >= 8:
        busquedaDatos = "FIND {" + rut + "} RETURNING Account(Id,IdentificationId__pc)"
        derty = dict(sf.search(busquedaDatos))
        if derty["searchRecords"] != []:
            if derty["searchRecords"][0]["attributes"]["type"] == "Account":
                jote = derty["searchRecords"][0]["Id"]
                dertyd = derty["searchRecords"][0]["IdentificationId__pc"]
                print(jote + " " + dertyd)
                return jote
            else:
                print("no")
        else:
            print("vacio")
    else:
        return "None"


def traerContact(ide):
    ide = str(ide)
    if len(ide) >= 12:
        idcontact = sf.Account.get(ide)
        return idcontact["PersonContactId"]
    else:
        return "NONES"


def agregarPaciente(listado):
    vListado = listado.split(",")
    
    derty = None
    
        
        
    if (vListado[9] == ""):                               
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],  
                                          
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    else:
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],
                        "PersonBirthdate": vListado[9],
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    # Verify that the Contact was created successfully
    # created_contact = sf.Contact.get(sf_res['id'])
    # print(created_contact)


""" sf_res =None
try:
    # Create the new Contact record in Salesforce
    sf_res = sf.Contact.create(new_contact)
except SalesforceMalformedRequest as e:
    if 'duplicateResut' in e[0]:
        print(f"Malformed request error: {e}")
        # Handle the error here as needed
        #Bypass SF Email duplicate rule by removing the email to create a SF Lead
        del new_contact['Email']
        sf_res = sf.Contact.create(new_contact)


if sf_res is not None:
    # Verify that the Contact was created successfully
    created_contact = sf.Contact.get(sf_res['id'])
    print(created_contact) """

' sf_res =None\ntry:\n    # Create the new Contact record in Salesforce\n    sf_res = sf.Contact.create(new_contact)\nexcept SalesforceMalformedRequest as e:\n    if \'duplicateResut\' in e[0]:\n        print(f"Malformed request error: {e}")\n        # Handle the error here as needed\n        #Bypass SF Email duplicate rule by removing the email to create a SF Lead\n        del new_contact[\'Email\']\n        sf_res = sf.Contact.create(new_contact)\n\n\nif sf_res is not None:\n    # Verify that the Contact was created successfully\n    created_contact = sf.Contact.get(sf_res[\'id\'])\n    print(created_contact) '

In [93]:
Subir_pacientes.head()

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,PersonEmail,Email_Seteado__c,PersonBirthdate,HealthCloudGA__Gender__pc,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
0,False,Jaime,Godoy Galaz,13955419 1,jaime.galaz@copeland.com,True,1980-04-18,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
1,False,Jonathan,Arratia Galaz,21631106 K,,False,2004-08-02,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
2,False,Catalina,Arratia Galaz,21887015 5,,False,2005-07-17,Mujer,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
3,False,Andrés,White Gonzalez,9033000 4,andres.gonzalez@copeland.com,True,1970-01-28,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
4,False,Pablo,Reyes Ibaceta,10286284 8,pablo.ibaceta@copeland.com,True,1970-12-15,Hombre,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE

In [103]:
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)

Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(
    lambda y: traerId(y)
)

Subir_pacientes.shape

vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2950418267.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(

(305, 14)

In [104]:
Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)
Subir_pacientes = Subir_pacientes[Subir_pacientes["Id"].str.len() <= 12]
# Subir_pacientes["numero"] = Subir_pacientes["Id"].str.len()
Subir_pacientes.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\2892125083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)

(305, 14)

In [96]:
#Subir_pacientes["dato_account"].head()

In [97]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/Todesffff.xlsx", index=False)

In [106]:
Subir_pacientes["dato_account"] = ""
if ("FirstName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + Subir_pacientes[
        "FirstName"
    ].astype(str)
if ("LastName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["LastName"].astype(str)
    )
if ("IdentificationId__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["IdentificationId__pc"].astype(str)
    )
if ("RecordTypeId" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["RecordTypeId"].astype(str)
    )
if ("BillingCountry" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCountry"].astype(str)
    )
if ("Identification_Type__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Identification_Type__c"].astype(str)
    )
if ("Pa_s_del_Paciente__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Pa_s_del_Paciente__c"].astype(str)
    )
if ("Cuenta_validada__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Cuenta_validada__c"].astype(str)
    )

if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["PersonEmail"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

if ("PersonBirthdate" in Subir_pacientes.columns) == True:
    #if Subir_pacientes["dato_account"] != "":
        #fecha = pd.to_datetime(Subir_pacientes["PersonBirthdate"].astype(str) + " 00:00:00").isoformat() + "Z" 
        #fecha = pd.to_datetime(Subir_pacientes["PersonBirthdate"].astype(str) + " 00:00:00")                       
        Subir_pacientes["dato_account"] = (Subir_pacientes["dato_account"] + "," + Subir_pacientes["PersonBirthdate"].astype(str)
            
        )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("HealthCloudGA__Gender__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["HealthCloudGA__Gender__pc"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("Phone" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["Phone"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingCity" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCity"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingState" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingState"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingStreet" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingStreet"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Email_Seteado__c"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

# Subir_pacientes["dato_account"] =  Subir_pacientes["dato_account"] =

Subir_pacientes["Id_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
)
""" Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
) """

' Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(\n    lambda x: agregarPaciente(x)\n) '

In [107]:
Pacientes_con_id_no = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == False]
Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(
    lambda y: traerId(y)
)
Pacientes_con_id_no["Id Contacto"] = Pacientes_con_id_no["Id Account Paciente"].apply(
    lambda y: traerContact(y)
)
Pacientes_con_id_no.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_no.xlsx", index=False
)

Pacientes_con_id_si = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == True]
Pacientes_con_id_si.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_si.xlsx", index=False
)

Pacientes_con_id_final = pd.concat(
    [
        Pacientes_con_id_si,
        Pacientes_con_id_no,
    ],
    axis=0,
)

Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final.xlsx", index=False
)

if campaña == "Southbridge Plan Mujer":
    VpacientePrograma = "a1WRN0000007YwD2AU"
    VempresaaAccount = "001RN000003rwVaYAI"
    VempresaConvenio = "a3yRN0000006sVTYAY"
elif campaña == "Southbridge":
    VpacientePrograma = "a1W8c0000083pM9EAI"
    VempresaaAccount = "0018c00002f3Ev2AAE"
    VempresaConvenio = "a3yRN0000006sqYYAQ"
elif campaña == "Construmart":
    VpacientePrograma = "a1W8c0000083q9TEAQ"
    VempresaaAccount = "0018c00002ghJgBAAU"
    VempresaConvenio = "a3yRN0000006rlZYAQ"
elif campaña == "EY":
    VpacientePrograma = "a1W8c0000083laZEAQ"
    VempresaaAccount = "0018c00002eTboVAAS"
    VempresaConvenio = "a3yRN0000006rsTYAQ"
elif campaña == "Colmena":
    VpacientePrograma = "a1W8c0000083j8rEAA"
    VempresaaAccount = "0018c00002cXclQAAS"
    VempresaConvenio = "a3yRN0000006rf5YAA"
elif campaña == "Pedro De Valdivia":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sVzYAI"
elif campaña == "Forum":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s3SYAQ"
else:
    VpacientePrograma = "Buscarv"
    VempresaaAccount = "Buscarv"
    VempresaConvenio = "Buscarv"


Pacientes_con_id_final["esonoes"] = Pacientes_con_id_final["rut"].isin(
    PacientesProgramas_PacientesSF["Rut_y"]
)
Subir_programas_empresa = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes"] == False
]
Subir_programas_empresa["Paciente__c"] = Subir_programas_empresa["Id Account Paciente"]
Subir_programas_empresa["Programas_por_Empresas__c"] = VpacientePrograma
Subir_programas_empresa = Subir_programas_empresa[
    [
        # "empresa",
        "poliza",
        "Paciente__c",
        "Programas_por_Empresas__c",
    ]
]
Subir_programas_empresa.to_excel(
    "F:/Empresas SF/reportes/programas_empresa.xlsx", index=False
)


Pacientes_con_id_final["esonoes1"] = Pacientes_con_id_final["rut"].isin(
    AccountContact_PacientesSF["Rut_y"]
)
Subir_AccountContact = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes1"] == False
]
Subir_AccountContact["ContactId"] = Subir_AccountContact["Id Contacto"]
Subir_AccountContact["AccountId"] = VempresaaAccount

Subir_AccountContact = Subir_AccountContact[
    [
        # "empresa",
        "poliza",
        "ContactId",
        "AccountId",
    ]
]
Subir_AccountContact.to_excel(
    "F:/Empresas SF/reportes/account_Contact.xlsx", index=False
)


Pacientes_con_id_final["esonoes2"] = Pacientes_con_id_final["rut"].isin(
    empresacontactoconvenio_PacientesSF["Rut_y"]
)
Subir_empresacontactoconvenio = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes2"] == False
]
Subir_empresacontactoconvenio["Paciente__c"] = Subir_empresacontactoconvenio[
    "Id Account Paciente"
]
Subir_empresacontactoconvenio["N_Documento_Titular__c"] = Subir_empresacontactoconvenio[
    "rutT"
]
Subir_empresacontactoconvenio["Empresa__c"] = VempresaConvenio

Subir_empresacontactoconvenio = Subir_empresacontactoconvenio[
    [
        # "empresa",
        "poliza",
        "Paciente__c",
        "N_Documento_Titular__c",
        "Empresa__c",
    ]
]
Subir_empresacontactoconvenio.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio.xlsx", index=False
)

001RN000005sdWFYAY 13955419 1
001RN000005spXJYAY 21631106 K
001RN000005siajYAA 21887015 5
001RN000005spaXYAQ 9033000 4
001RN000005spc9YAA 10286284 8
001RN000005sIWaYAM 13037169 8
001RN000005sjYPYAY 21728121 0
001RN000005spfNYAQ 22867882 1
001RN000005sgHAYAY 23397277 0
001RN000005sgFcYAI 11476206 7
001RN000005spibYAA 11629341 2
001RN000005sixJYAQ 15317377 K
001RN000005sHPDYA2 14144146 9
001RN000005sgx5YAA 23405447 3
001RN000005smJRYAY 24082973 8
001RN000005sojLYAQ 17670497 7
001RN000005sjq9YAA 24798085 7
001RN000005sI8PYAU 15333003 4
001RN000005sooAYAQ 15465273 6
001RN000005sHPEYA2 65908875
001RN000005sohiYAA 96095058
001RN000005splpYAA 78174145
001RN000005sh3aYAA 208192159
001RN000005sim1YAA 84050385
001RN000005s01oYAA 84536539
001RN000005sjwaYAA 24349351K
001RN000005sm6RYAQ 250884109
001RN000005shA0YAI 136885022
001RN000005sj0VYAQ 84728950
001RN000005skr0YAA 230496943
001RN000005smb6YAA 86578859
001RN000005sm4pYAA 247568999
001RN000005sfcsYAA 217599741
001RN000005splqYAA 204715904
001RN000005spqfYAA 116237717
001RN000005sohjYAA 99620919
001RN000005rHCnYAM 99705752
001RN000005skmFYAQ 85366777
001RN000005skJ8YAI 99706627
001RN000005spicYAA 130958370
001RN000005sefCYAQ 24989916K
001RN000005skPaYAI 100325209
001RN000005sixKYAQ 103389194
001RN000005shbTYAQ 230562881
001RN000005skMQYAY 26253670K
001RN000005slf0YAA 235030020
001RN000005sih8YAA 268357297
001RN000005smhWYAQ 104042155
001RN000005spx7YAA 213521969
001RN000005spViYAI 134364688
001RN000005spyjYAA 89642043
001RN000005sojMYAQ 216266366
001RN000005sgykYAA 104160468
001RN000005seX4YAI 214953544
001RN000005shgJYAQ 105834500
001RN000005spnVYAQ 198413593
001RN000005sq0LYAQ 107144277
001RN000005sq1xYAA 220260410
001RN000005siKZYAY 10743271K
001RN000005shDEYAY 224556896
001RN000005sh1yYAA 196393625
001RN000005sq3ZYAQ 234749161
001RN000005skJ9YAI 10769157K
001RN000005shOZYAY 108556331
001RN000005sq6nYAA 199583077
001RN000005sq8PYAQ 9859082K
001RN000005sgtqYAA 229707361
001RN000005sfuZYAQ 220920453
001RN000005sZxDYAU 226433015
001RN000005si7hYAA 218229484
001RN000005sfxqYAA 108911522
001RN000005snyYYAQ 84543462
001RN000005soeUYAQ 11298612K
001RN000005seyYYAQ 23561054K
001RN000005sqA1YAI 118534751
001RN000005spnWYAQ 244042937
001RN000005smfvYAA 15888187K
001RN000005sg12YAA 118666038
001RN000005shmlYAA 119755069
001RN000005smG6YAI 122464474
001RN000005sjTYYAY 128641696
001RN000005sdmQYAQ 124895308
001RN000005sqBdYAI 157859277
001RN000005sjdDYAQ 125808255
001RN000005sb1MYAQ 254110396
001RN000005sjeoYAA 215740196
001RN000005spsIYAQ 126239319
001RN000005sllTYAQ 118250370
001RN000005shjVYAQ 246981825
001RN000005soTDYAY 202650589
001RN000005sjoVYAQ 126555539
001RN000005snqYYAQ 269665580
001RN000005snc0YAA 23206658K
001RN000005sDS3YAM 109744182
001RN000005sojNYAQ 126817878
001RN000005sn46YAA 128580115
001RN000005sjGdYAI 21971758K
001RN000005smnzYAA 130487459
001RN000005skO0YAI 129013036
001RN000005sqDFYAY 243645182
001RN000005sqErYAI 130193773
001RN000005sqGTYAY 241880354
001RN000005smb7YAA 130237150
001RN000005sfTBYAY 211836091
001RN000005shbUYAQ 13102746K
001RN000005sjmsYAA 222674700
001RN000005sjqAYAQ 131593082
001RN000005smj9YAA 222849179
001RN000005sq3aYAA 132664862
001RN000005sqLJYAY 231106146
001RN000005skChYAI 134646217
001RN000005siPPYAY 132947783
001RN000005sfrPYAQ 153367256
001RN000005sdWGYAY 248090936
001RN000005soctYAA 274947845
001RN000005sjdEYAQ 13432550K
001RN000005soWTYAY 171157919
001RN000005smsoYAA 245220200
001RN000005snnGYAQ 236626717
001RN000005sjLWYAY 134569794
001RN000005sjQLYAY 143192466
001RN000005sqMvYAI 22000385K
001RN000005snYlYAI 244211747
001RN000005shYBYAY 226840842
001RN000005sih9YAA 13484566K
001RN000005shwPYAQ 157752871
001RN000005sHfLYAU 135751618
001RN000005smCtYAI 246878609
001RN000005so0AYAQ 135974285
001RN000005snCEYAY 157319760
001RN000005sihAYAQ 213856685
001RN000005somaYAA 13668759K
001RN000005soZkYAI 211459895
001RN000005soONYAY 227853867
001RN000005slwpYAA 138811867
001RN000005snaNYAQ 240895196
001RN000005sptuYAA 275105554
001RN000005skuIYAQ 237731379
001RN000005sniQYAQ 208139770
001RN000005soHvYAI 265923232
001RN000005sqQ9YAI 139032802
001RN000005sqRlYAI 216525930
001RN000005sd39YAA 144839358
001RN000005seX5YAI 253165421
001RN000005sqQAYAY 220613097
001RN000005smMYYAY 139181875
001RN000005skXhYAI 224112041
001RN000005slqJYAQ 161972347
001RN000005sctYYAQ 257941132
001RN000005skO1YAI 248523492
001RN000005sjRyYAI 139374436
001RN000005snAaYAI 150841682
001RN000005sqTNYAY 139989945
001RN000005shUzYAI 245569491
001RN000005seddYAA 261544407
001RN000005sp2jYAA 23541046K
001RN000005snCFYAY 140354848
001RN000005sj29YAA 142017628
001RN000005skvtYAA 129120363
001RN000005shjWYAQ 227075511
001RN000005sgHCYAY 242886771
001RN000005slLkYAI 230249636
001RN000005sa5JYAQ 84747238
001RN000005spdnYAA 199601067
001RN000005siKaYAI 201035031
001RN000005spU6YAI 144992075
001RN000005snFPYAY 133253920
001RN000005sqYDYAY 249981834
001RN000005sgtrYAA 145076943
001RN000005sqbRYAQ 201188105
001RN000005sojOYAQ 84522244
001RN000005shecYAA 146756794
001RN000005sqJiYAI 219356358
001RN000005siuBYAQ 145202671
001RN000005sj0WYAQ 226405887
001RN000005skB7YAI 235554267
001RN000005sjRzYAI 151750443
001RN000005sfxrYAA 153348200
001RN000005sjF4YAI 177051411
001RN000005soQ0YAI 255832913
001RN000005spnXYAQ 153398542
001RN000005sIGSYA2 241639878
001RN000005sgibYAA 248236035
001RN000005skKmYAI 227407956
001RN000005scFAYAY 141253077
001RN000005slQVYAY 153502277
001RN000005sctZYAQ 249920266
001RN000005scn3YAA 13730922K
001RN000005sqd3YAA 155062649
001RN000005smeJYAQ 230763151
001RN000005sot1YAA 220925641
001RN000005snnHYAQ 255851683
001RN000005spXKYAY 262846029
001RN000005skhKYAQ 258062027
001RN000005spcAYAQ 273695230
001RN000005sqEsYAI 157225278
001RN000005smPoYAI 159728404
001RN000005slf1YAA 16372233K
001RN000005slLlYAI 157678752
001RN000005sqefYAA 158049503
001RN000005sm9gYAA 258174860
001RN000005sqV0YAI 158225255
001RN000005sk33YAA 260064320
001RN000005skKnYAI 161164399
001RN000005spPGYAY 225123837
001RN000005shgKYAQ 160177764
001RN000005sqgHYAQ 22267932K
001RN000005sombYAA 16037182K
001RN000005slbnYAA 16262315K
001RN000005sJinYAE 234469630
001RN000005slVKYAY 161422142
001RN000005sHVfYAM 162176293
001RN000005smhXYAQ 162398261
001RN000005sqd4YAA 256687372
001RN000005spPHYAY 242436407
001RN000005smhYYAQ 164211878
001RN000005sqhtYAA 165356055
001RN000005sqjVYAQ 275878774
001RN000005sHPFYA2 252408738
001RN000005so3OYAQ 274104988
001RN000005sk9SYAQ 166191742
001RN000005skG0YAI 166485606
001RN000005sk34YAA 268036202
001RN000005ses2YAA 232118628
001RN000005sgltYAA 256710854
001RN000005smJSYAY 166926696
001RN000005sj2AYAQ 167203396
001RN000005sqmjYAA 167316875
001RN000005sqoLYAQ 248705183
001RN000005sjepYAA 262830446
001RN000005spU7YAI 171078997
001RN000005sipFYAQ 255201344
001RN000005so1mYAA 167926886
001RN000005sp9BYAQ 221719557
001RN000005sidxYAA 162689827
001RN000005sqpxYAA 171572266
001RN000005sk7rYAA 272195234
001RN000005sq1yYAA 171679966
001RN000005sgtsYAA 171868211
001RN000005sknpYAA 241514153
001RN000005sqrZYAQ 256155419
001RN000005sgvXYAQ 17188828K
001RN000005sqtBYAQ 172816029
001RN000005soEgYAI 171964261
001RN000005squnYAA 172162800
001RN000005sb1NYAQ 173785089
001RN000005sZpAYAU 244491251
001RN000005sl0iYAA 173796218
001RN000005snddYAA 170031504
001RN000005skHYYAY 245461070
001RN000005shbVYAQ 265413560
001RN000005soWUYAY 173919050
001RN000005sqEtYAI 175024379
001RN000005smG7YAI 244707475
001RN000005skO2YAI 277063034
001RN000005sV7CYAU 175232176
001RN000005soTEYAY 184721058
001RN000005sjGfYAI 175249192
001RN000005si7iYAA 274165421
001RN000005sqwPYAQ 260199765
001RN000005smG8YAI 192012961
001RN000005siakYAA 275044377
001RN000005skXjYAI 176855169
001RN000005smHiYAI 26575838K
001RN000005sqJjYAI 176949384
001RN000005sihBYAQ 264452198
001RN000005sqTOYAY 176959207
001RN000005smWFYAY 177061786
001RN000005sqy1YAA 181991364
001RN000005sokwYAA 182992143
001RN000005slf2YAA 188425410
001RN000005soxrYAA 184050862
001RN000005soxsYAA 257548813
001RN000005skiyYAA 185246337
001RN000005sqtCYAQ 185631621
001RN000005sjeqYAA 253662069
001RN000005siKcYAI 18874981K
001RN000005sptvYAA 191399137
001RN000005so9sYAA 196569979
001RN000005snP5YAI 24763312K
001RN000005sjLXYAY 183551922
001RN000005saExYAI 201479703
001RN000005sim4YAA 246945055
001RN000005sq3fYAA 269453702
001RN000005sqzdYAA 27640475K
001RN000005sHibYAE 225106088
001RN000005sjGgYAI 236024369
001RN000005sh1zYAA 240799332
001RN000005smpbYAA 242427548
001RN000005sixLYAQ 248292733
001RN000005so1nYAA 248081589
001RN000005sm9hYAA 280986526
001RN000005spx8YAA 176469439
001RN000005skO3YAI 252511679
001RN000005sr1FYAQ 252951725
001RN000005sr1GYAQ 252951733
001RN000005sozSYAQ 25295175K
001RN000005sfwEYAQ 252951741
001RN000005sialYAA 256895234
001RN000005sp9CYAQ 254178284
001RN000005saEyYAI 266721358
001RN000005snKFYAY 258200047
001RN000005slS9YAI 26339237K
001RN000005sn0uYAA 281235540
001RN000005sqA2YAI 281984969

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_15324\1028621030.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(

In [ ]:
Pacientes_con_id_no.head()

Empty DataFrame
Columns: [rut1, rut2, nombres, Apellido Paterno, Apellido Materno, apellidos, poliza, rutE, rut, rutT, RutEstaoNo, Id Account Paciente, Rut, Nombre, Tipo de Documento, Ocupacion, Cargo, Departamento, Sexo, Telefono, Id Contacto]
Index: []

[0 rows x 21 columns]

In [ ]:
contactd = sf.Account.get("0018c00002lUyo0AAC")
contactd["PersonContactId"]

'0038c00003HhmVJAAZ'

In [ ]:
# contactd["PersonContactId"]
print(datetime.now())

AttributeError: module 'datetime' has no attribute 'now'

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/todes.xlsx", index=False)

query2 = "select P_liza**c, Nombre_de_Empresa**c, Rut_Empresa**c, Empresa_Padre**r.Name, Empresa**r.name,Holding**c, Plan**c, Pais**c, Activo**c, Id from Datos_Empresa**c "

df2 = sf.smart_query(query2)
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

Subir_pacientes.to_excel("F:/Empresas SF/reportes/111account.xlsx", index=False)

derty = Subir_pacientes["IdentificationId__pc"]
sf.Contact.create({"IdentificationId\_\_pc": "derty", "Email": "example@example.com"})

Subir_pacientes.head()

Subir_pacientes.head()
Subir_pacientes.to_excel("F:/Empresas SF/reportes/account\_\_l.xlsx", index=False)

In [ ]:
""" if campaña != "MetLife":
    pacientes_en_campaña = pd.merge(
        left=campaña_seleccionada,
        right=Pacientes_con_id,
        how="left",
        left_on="Id Account",
        right_on="Id Account Paciente",
    )
    pacientes_en_campaña["Paciente__c"] = "Id Pacientes"
    pacientes_en_campaña["Programas_por_Empresas__c"] = "Id Programas Por empresa"
    pacientes_en_campaña.to_excel(
        "F:/Empresas SF/reportes/campaña_empresa.xlsx", index=False
    )
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña.xlsx", index=False
    )
 """

In [ ]:
""" if campaña != "MetLife1":
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    if ("poliza" in campaña_en_pacientes.columns) == True:
        campaña_en_pacientes["poliza"] = campaña_en_pacientes["poliza"].astype(str)

    campaña_en_pacientes = campaña_en_pacientes.rename(
        columns={"Programas_por_Empresas__c": "programas por empresa"}
    )
    campaña_en_pacientes["Paciente__c"] = campaña_en_pacientes["Id Account Paciente"]
    campaña_en_pacientes["Programas_por_Empresas__c"] = campaña_en_pacientes[
        "programas por empresa"
    ]
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña2.xlsx", index=False
    ) """

In [ ]:
# apprix_1 = Pacientes_SF.iloc[:790552,:]
# apprix_2 = Pacientes_SF.iloc[790553:,:]
# apprix_1.to_excel("F:/Empresas SF/reportes/Ruts1.xlsx",index=False)
# apprix_2.to_excel("F:/Empresas SF/reportes/Ruts2.xlsx",index=False)

In [ ]:
campaña_en_pacientes2 = pd.merge(
    left=Pacientes_con_id,
    right=campaña_seleccionada,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)
if ("poliza" in campaña_en_pacientes2.columns) == True:
    campaña_en_pacientes2["poliza"] = campaña_en_pacientes2["poliza"].astype(str)

campaña_en_pacientes2 = campaña_en_pacientes2.rename(
    columns={"Programas_por_Empresas__c": "programas por empresa"}
)
campaña_en_pacientes2["Paciente__c"] = campaña_en_pacientes2["Id Account Paciente"]
campaña_en_pacientes2["Programas_por_Empresas__c"] = campaña_en_pacientes2[
    "programas por empresa"
]


""" campaña_en_pacientes2 = campaña_en_pacientes2[
    (campaña_en_pacientes2["Programas_por_Empresas__c"] == "")] """
campaña_en_pacientes2["Esta"] = campaña_en_pacientes2["programas por empresa"].isnull()
campaña_en_pacientes2 = campaña_en_pacientes2[campaña_en_pacientes2["Esta"]]
campaña_en_pacientes2.to_excel(
    "F:/Empresas SF/reportes/archivo_campaña3.xlsx", index=False
)

In [ ]:
campaña_en_pacientes2["rut"].shape

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
rutes = pd.DataFrame(columns=["rut"])
rutes["rut"] = Pacientes_Archivo["rut"]
rutes["rutT"] = Pacientes_Archivo["rut2"]
rutes["Contratante"] = Pacientes_Archivo["Contratante"]
# rutes["poliza"] = Pacientes_Archivo["poliza"]
rutes.head()

In [ ]:
rutes["rut"] = rutes["rut"].astype(str)
rutes["rut"] = rutes["rut"].str.replace(".", "")
rutes["rut"] = rutes["rut"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rut"] = rutes["rut"].str.upper()
rutes["rut"] = rutes["rut"].str.strip()

rutes["rutT"] = rutes["rutT"].astype(str)
rutes["rutT"] = rutes["rutT"].str.replace(".", "")
rutes["rutT"] = rutes["rutT"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rutT"] = rutes["rutT"].str.upper()
rutes["rutT"] = rutes["rutT"].str.strip()

""" rutes["poliza"] = rutes["poliza"].astype(str)
rutes["poliza"] = rutes["poliza"].str.replace(".", "")
rutes["poliza"] = rutes["poliza"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["poliza"] = rutes["poliza"].str.strip() """


rutes.head()

In [ ]:
# derty = rutes.to_numpy().transpose().tolist()


Pacientes_SF2 = Pacientes_SF[["Rut", "Id Account Paciente"]]

In [ ]:
rutesi = pd.merge(
    left=rutes,
    right=Pacientes_SF2,
    how="left",
    left_on="rut",
    right_on="Rut",
)
rutesi.shape
rutesi.to_excel("F:/Empresas SF/reportes/rutsyempresa.xlsx", index=False)

In [ ]:
rutesi.head()

In [ ]:
rutesi_antg = pd.merge(
    left=rutesi,
    right=empresas_unidas,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)

In [ ]:
rutesi_antg.head()

In [ ]:
# rutesi_antg .to_excel("F:/Empresas SF/reportes/ruts_empresas_antiguos.xlsx", index=False)

In [ ]:
import json
import pandas as pd
from simple_salesforce import Salesforce, format_soql, format_external_id
from json import loads, dumps
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)

In [ ]:
""" query = "select Id, Account.Name, RutContact__c from AccountContactRelation "

df1 = sf.smart_query(query) """

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
# rutes = Subir_pacientes["rut"]

In [ ]:
""" df1.head() """

In [ ]:
""" df1["rut"] = df1["RutContact__c"].astype(str)
df1["rut"] = df1["rut"].str.replace(".", "")
df1["rut"] = df1["rut"].str.replace(
    "-", ""
)  # aca se trabaja con el nuevo rut desde rut1 ojooooooo
df1["rut"] = df1["rut"].str.upper()
df1["rut"] = df1["rut"].str.strip()
df1.head() """

In [ ]:
""" rutes.head() """

In [ ]:
""" rutesi = pd.merge(
    left=rutes,
    right=df1,
    how="left",
    left_on="rut",
    right_on="rut",
) """

In [ ]:
""" rutesi.to_excel("F:/Empresas SF/reportes/rutesnuevos_accountcontactrelation.xlsx", index=False) """

In [ ]:
""" df2["P_liza__c"] = df2["P_liza__c"].astype(str)
df2["P_liza__c"] = df2["P_liza__c"].str.replace(".", "")
df2["P_liza__c"] = df2["P_liza__c"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
df2["P_liza__c"] = df2["P_liza__c"].str.upper()
df2["P_liza__c"] = df2["P_liza__c"].str.strip() """

In [ ]:
modelo_nuevo = pd.merge(
    left=rutesi,
    right=df2,
    how="left",
    left_on="poliza",
    right_on="P_liza__c",
)
modelo_nuevo.to_excel("F:/Empresas SF/reportes/modelo_nuevo.xlsx", index=False)

In [ ]:
modelo = pd.DataFrame()
modelo = modelo_nuevo[["rutT", "Id Account Paciente", "Id"]]

In [ ]:
modelo.head()