In [882]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
import shutil
import datetime
from datetime import datetime
import re
import json
from pandas.api.types import is_numeric_dtype
from simple_salesforce import Salesforce, format_soql, format_external_id
from simple_salesforce.exceptions import SalesforceMalformedRequest
import simpler_sf

simpler_sf.simple_salesforce()

In [883]:
with open("login.json", "r") as j:
    misDatos = json.load(j)

In [884]:
# para smart query
""" sf = simple_salesforce.Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
 """
# para lo demas
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
# paramiko.util.log_to_file("paramiko.log")
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")

Descarga de empresas en sistema

In [885]:
llamadaEmpresaAntiguas = "SELECT Id,Empresa__r.Id, Empresa__r.Name, Empresa__r.Holding__c, Empresa__r.Campa_a__c, Empresa__r.Id_Empresa__c, Empresa__r.Empleador__c, Empresa__r.poliza__c, Empresa__r.RUT_Empresa__c, Empresa__r.Corredor__c,Empresa__r.Padre_Empresa__c, Name FROM Programas_por_Empresas__c WHERE Empresa__r.Padre_Empresa__c = false"
vllamadaEmpresa = sf.smart_query(llamadaEmpresaAntiguas)
vllamadaEmpresa.to_excel("F:/Empresas SF/reportes/empresas_Antiguas.xlsx", index=False)
vllamadaEmpresa.head()

100%|██████████| 1/1 [00:11<00:00, 11.43s/it]

,Id,Empresa__r.Id,Empresa__r.Name,Empresa__r.Holding__c,Empresa__r.Campa_a__c,Empresa__r.Id_Empresa__c,Empresa__r.Empleador__c,Empresa__r.poliza__c,Empresa__r.RUT_Empresa__c,Empresa__r.Corredor__c,Empresa__r.Padre_Empresa__c,Name
0,a1W8c000007c5aIEAQ,0018c00002k9KwBAAU,Aldo Conti MX,-,Aldo Conti,EMP10376,Aldo Conti MX,-,-,-,False,A-9930
1,a1W8c000007c669EAA,0018c00002k9yOCAAY,Caja de Compensación de Asignación Familiar de...,Itaú,Vida Security,EMP10377,Caja de Compensación de Asignación Familiar de...,283144,81826800-9,-,False,A-9931
2,a1W8c000007c66AEAQ,0018c00002k9yODAAY,Itaú Corpbanca,Itaú,Vida Security,EMP10378,Itaú Corpbanca,283147,97023000-9,-,False,A-9932
3,a1W8c000007c66BEAQ,0018c00002k9yOEAAY,Itaú Corpbanca,Itaú - sin servicio,Vida Security,EMP10379,Itaú Corpbanca,283148,-,-,False,A-9933
4,a1W8c000007c66CEAQ,0018c00002k9yOFAAY,Itaú Corpbanca,Itaú,Vida Security,EMP10380,Itaú Corpbanca,283149,-,-,False,A-9934

vllamadaEmpresa.shape

In [886]:
# Recuperar empresas ID de salesforce desde Account
results = sf.query_all(
    """
  SELECT Id, name, Holding__c ,Campa_a__c,Id_Empresa__c,Empleador__c,poliza__c,RUT_Empresa__c  FROM account where ispersonaccount = false  AND Nueva_Estructura__c = False
    """
)
Empresas_SF = pd.DataFrame(results["records"])
Empresas_SF = Empresas_SF[
    [
        "Id",
        "Name",
        "Holding__c",
        "Campa_a__c",
        "Id_Empresa__c",
        "Empleador__c",
        "poliza__c",
        "RUT_Empresa__c",
    ]
]
Empresas_SF.shape

(8285, 8)

In [887]:
# buscar empresas desde Programas_por_Empresas__c datos de empresas
results = sf.query_all(
    """
   select Id,Empresa__c, Empresa_Padre__c,Nombre_Empresa__c, Name  from Programas_por_Empresas__c 
    """
)
Programas_por_empresa_SF = pd.DataFrame(results["records"])

Programas_por_empresa_SF = Programas_por_empresa_SF[
    ["Id", "Empresa__c", "Empresa_Padre__c", "Nombre_Empresa__c", "Name"]
]
Programas_por_empresa_SF.shape

(7913, 5)

In [888]:
# Union de Programas Empresa y empresas
Programas_empresas = pd.merge(
    left=Empresas_SF,
    right=Programas_por_empresa_SF,
    how="left",
    left_on="Id",
    right_on="Empresa__c",
)
Programas_empresas = Programas_empresas.rename(
    columns={
        "Id_x": "Id Account Empresa",
        "Name_x": "Nombre Empresa",
        "Holding__c": "Holding",
        "Campa_a__c": "Campaña",
        "Empleador__c": "Empleador",
        "poliza__c": "Poliza",
        "RUT_Empresa__c": "Rut Empresa",
        "Id_y": "Programas_por_Empresas__c",
        "Id_Empresa__c": "Codigo EMP",
        "Name_y": "Codigo A",
    }
)
Programas_empresas = Programas_empresas[
    [
        "Id Account Empresa",
        "Nombre Empresa",
        "Holding",
        "Campaña",
        "Empleador",
        "Poliza",
        "Rut Empresa",
        "Programas_por_Empresas__c",
        "Codigo EMP",
        "Codigo A",
    ]
]

Programas_empresas.shape

(8291, 10)

In [889]:
Programas_empresas.to_excel("F:/Empresas SF/reportes/empresas.xlsx", index=False)

In [890]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

100%|██████████| 1/1 [00:10<00:00, 10.52s/it]

,P_liza__c,Nombre_de_Empresa__c,Identificador__c,Rut_Empresa__c,Empresa_Padre__r.Name,Holding__c,Plan__c,Pais__c,Activo__c,Id,LLave,dato
0,Sin Póliza Asociada,Colaboradores Care Assistance Chile SPA,Colaboradores Care Assistance Chile SPA,775173998,Colaboradores,Siempre Chile SPA,Plan Gold,Chile,False,a3yRN0000006mmjYAA,775173998Sin Póliza Asociada,1
1,-,Apunto Servicios De Alimentacion,Apunto Servicios De Alimentacion,-,Consalud,Holding Consalud,-,Chile,False,a3yRN0000006rG9YAI,-,1
2,-,2M Inmobiliaria Spa.,2M Inmobiliaria Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGAYAY,-,1
3,-,360 Gms Capacitacion Spa.,360 Gms Capacitacion Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGBYAY,-,1
4,-,361 Gms Capacitacion Spa.,361 Gms Capacitacion Spa.,-,THB Seguros COVID,Solo Titulares,-,Chile,True,a3yRN0000006rGCYAY,-,1

fin empresas y comienzo de rescate de pacientes

In [891]:
# CArga de PAcientes
results = sf.query_all(
    """
    select Id, IdentificationId__pc,Name, Identification_Type__c, Ocupaci_n__c,  PersonTitle ,PersonDepartment,HealthCloudGA__Gender__pc,Phone,PersonContactId  from Account where ispersonaccount = True 
   """
)
Pacientes_SF = pd.DataFrame(results["records"])

Pacientes_SF = Pacientes_SF[
    [
        "Id",
        "IdentificationId__pc",
        "Name",
        "Identification_Type__c",
        "Ocupaci_n__c",
        "PersonTitle",
        "PersonDepartment",
        "HealthCloudGA__Gender__pc",
        "Phone",
        "PersonContactId",
    ]
]
Pacientes_SF = Pacientes_SF.rename(
    columns={
        "Id": "Id Account Paciente",
        "IdentificationId__pc": "Rut",
        "Name": "Nombre",
        "Ocupaci_n__c": "Ocupacion",
        "PersonTitle": "Cargo",
        "PersonDepartment": "Departamento",
        "HealthCloudGA__Gender__pc": "Sexo",
        "Phone": "Telefono",
        "Identification_Type__c": "Tipo de Documento",
        "PersonContactId": "Id Contacto",
    }
)
Pacientes_SF.shape

(1934084, 10)

In [892]:
def siPrimerCero(y):
    if len(y) <= 7:
        return "NONE"
    if y[0] == "0":
        y = y[1:]
    return y

In [893]:
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.upper()
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("-", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace("–", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].astype(str)
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].apply(lambda y: siPrimerCero(y))
Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\928634061.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_SF["Rut"] = Pacientes_SF["Rut"].str.replace(".", "")

In [894]:
Pacientes_Nones1 = Pacientes_SF[(Pacientes_SF["Rut"] == "NONE")]
Pacientes_SF = Pacientes_SF[(Pacientes_SF["Rut"] != "NONE")]
Pacientes_Nones1.to_excel("F:/Empresas SF/reportes/NONE1.xlsx", index=False)

Aca se comienzan a unir las relaciones de pacientes y empresas ya creadas.

# buscar empresas desde Paciente_Programas\_\_c relaciones de empresas con pacientes

results = sf.query_all(
"""
select Id,Paciente**c, Programas_por_Empresas**c,padre**c from Paciente_Programas**c  
 """
)
Paciente_Programas_SF = pd.DataFrame(results["records"])

Paciente_Programas_SF = Paciente_Programas_SF[
["Id", "Paciente__c", "Programas_por_Empresas__c", "padre__c"]
]
Paciente_Programas_SF = Paciente_Programas_SF.rename(
columns={
"Id": "Id Pacientes_Programas**c",
"Paciente**c": "Id Account",
"Programas_por_Empresas**c": "Programas_por_Empresas**c",
"padre\_\_c": "Nombre Campaña",
}
)
Paciente_Programas_SF.shape

# Union de Pacientes Programas y Programas por empresa

empresas_unidas = pd.merge(
left=Paciente_Programas_SF,
right=Programas_empresas,
how="left",
left_on="Programas_por_Empresas**c",
right_on="Programas_por_Empresas**c",
)
empresas_unidas.shape

Carga de Archivo carga

In [934]:
nuevos = "F:/Empresas SF/reportes/carga.xlsx"
campaña = "BCI Seguros Colectivos"
Pais = "Chile"
baseFinal = True
#Pais = "México"

Pacientes_Archivo = pd.read_excel(nuevos)
# OJO se copia rut1 a rut le saca el guoion
Pacientes_Archivo.head(5)

,poliza,empleador,rutE,titular,gbng,DV_ASEGURADO,rut2,rut1,NOMBRE DEL ASEGURADO,nombres,apellidos,RELACIÓN,llae,Unnamed: 13
0,2480472,INGENIERIA Y CONSTRUCCION FERROMINING LIMITADA,ING. Y CONSTR. FERROMINING LTDA,9998781.0,9998781,2,9998781-2,9998781-2,ENRIQUE IPARCO RIQUELME CAMAÑO,ENRIQUE IPARCO,RIQUELME CAMAÑO,Titular,24804729998781299987812,1
1,2473598,SISTEMAS DE TRANSMISION DEL SUR S A,SISTEMAS DE TRANSMISION DEL SUR SA,9997825.0,9997825,2,9997825-2,9997825-2,ORLANDO ENRIQUE MENA MARTINEZ,ORLANDO ENRIQUE,MENA MARTINEZ,Titular,24735989997825299978252,1
2,776122,COMERCIALIZADORA IBEROAMERICANA RADIO CHILE S.A.,FAST NET COMUNICACIONES S.A.,9994542.0,9994542,7,9994542-7,9994542-7,DANIEL REYES ROMERO,DANIEL REYES,ROMERO,Titular,7761229994542799945427,1
3,1113875,UNIVERSIDAD DE LOS LAGOS,UNIVERSIDAD DE LOS LAGOS,9994463.0,9994463,3,9994463-3,9994463-3,ALEJANDRA LAZO CORVALAN,ALEJANDRA LAZO,CORVALAN,Titular,11138759994463399944633,1
4,360327,CORP.DE EDUCACION Y SALUD DE LAS CONDES,CONSULTORIO ANIBAL ARIZTIA,9994285.0,9994285,1,9994285-1,9994285-1,PAMELA ANDREA VALLADARES GONZALEZ,PAMELA ANDREA,VALLADARES GONZALEZ,Titular,3603279994285199942851,1

In [935]:
Pacientes_Archivo.shape

(33589, 14)

In [936]:
Pacientes_IDrut = Pacientes_SF[
    [
        "Rut",
        "Id Account Paciente",
        "Id Contacto",
    ]
]

In [937]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut1"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("-", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace("–", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].astype(str)
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.upper()
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.strip()

Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace("-", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace("–", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].astype(str)
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(".", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(" ", "")
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.upper()
Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.strip()
Pacientes_Archivo.shape

Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].astype(str)
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.upper()
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("-", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace("–", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")
Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\1490231206.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\1490231206.py:14: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["poliza"] = Pacientes_Archivo["poliza"].str.replace(".", "")

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\1490231206.py:24: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutE"] = Pacientes_Archivo["rutE"].str.replace(".", "")

(33589, 15)

In [938]:
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rut2"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("-", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace("–", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].astype(str)
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].str.replace(" ", "")
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.upper()
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.strip()
Pacientes_Archivo.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2296516763.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].str.replace(".", "")

(33589, 16)

In [939]:
if ("nombres" in Pacientes_Archivo.columns) == True:
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(",", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("-", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("┐", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("═", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("╔", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace("┌", "")
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.title()
    Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.strip()
    # Pacientes_Archivo["empresa"] = Pacientes_Archivo["empresa"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(",", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("-", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("┐", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("═", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("╔", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace("┌", "")
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.title()
    Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.strip()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\3410721566.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["nombres"] = Pacientes_Archivo["nombres"].str.replace(".", "")
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\3410721566.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Pacientes_Archivo["apellidos"] = Pacientes_Archivo["apellidos"].str.replace(".", "")

In [940]:
Pacientes_Archivo["rut"] = Pacientes_Archivo["rut"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo["rutT"] = Pacientes_Archivo["rutT"].apply(lambda y: siPrimerCero(y))
Pacientes_Archivo

# Pacientes_Nones = Pacientes_Archivo[(Pacientes_Archivo["rut"] == "NONE") | (Pacientes_Archivo["rutT"] == "NONE")]
# Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE") | (Pacientes_Archivo["rutT"] != "NONE")]

,poliza,empleador,rutE,titular,gbng,DV_ASEGURADO,rut2,rut1,NOMBRE DEL ASEGURADO,nombres,apellidos,RELACIÓN,llae,Unnamed: 13,rut,rutT
0,2480472,INGENIERIA Y CONSTRUCCION FERROMINING LIMITADA,ING Y CONSTR FERROMINING LTDA,9998781.0,9998781,2,9998781-2,9998781-2,ENRIQUE IPARCO RIQUELME CAMAÑO,Enrique Iparco,Riquelme Camaño,Titular,24804729998781299987812,1,99987812,99987812
1,2473598,SISTEMAS DE TRANSMISION DEL SUR S A,SISTEMAS DE TRANSMISION DEL SUR SA,9997825.0,9997825,2,9997825-2,9997825-2,ORLANDO ENRIQUE MENA MARTINEZ,Orlando Enrique,Mena Martinez,Titular,24735989997825299978252,1,99978252,99978252
2,776122,COMERCIALIZADORA IBEROAMERICANA RADIO CHILE S.A.,FAST NET COMUNICACIONES SA,9994542.0,9994542,7,9994542-7,9994542-7,DANIEL REYES ROMERO,Daniel Reyes,Romero,Titular,7761229994542799945427,1,99945427,99945427
3,1113875,UNIVERSIDAD DE LOS LAGOS,UNIVERSIDAD DE LOS LAGOS,9994463.0,9994463,3,9994463-3,9994463-3,ALEJANDRA LAZO CORVALAN,Alejandra Lazo,Corvalan,Titular,11138759994463399944633,1,99944633,99944633
4,360327,CORP.DE EDUCACION Y SALUD DE LAS CONDES,CONSULTORIO ANIBAL ARIZTIA,9994285.0,9994285,1,9994285-1,9994285-1,PAMELA ANDREA VALLADARES GONZALEZ,Pamela Andrea,Valladares Gonzalez,Titular,3603279994285199942851,1,99942851,99942851
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33584,2690243,CLINICA COLONIAL SA,CLINICA COLONIAL ROL GENERAL,26955568.0,25974415,6,26955568-8,25974415-6,ALI KLARSCHEENSKY SYLVAIN WORLD,Ali Klarscheensky,Sylvain World,Hija,2690243269555688259744156,1,259744156,269555688
33585,2690243,CLINICA COLONIAL SA,CLINICA COLONIAL ROL GENERAL,26955568.0,28134847,7,26955568-8,28134847-7,LIAM SYLVAIN WORLD,Liam Sylvain,World,Hijo,2690243269555688281348477,1,281348477,269555688
33586,2690243,CLINICA COLONIAL SA,CLINICA COLONIAL ROL GENERAL,26955568.0,25967064,0,26955568-8,25967064-0,WETZPHALIE WORLD,Wetzphalie World,Wetzphalie World,Esposa,2690243269555688259670640,1,259670640,269555688
33587,2690243,CLINICA COLONIAL SA,CLINICA COLONIAL ROL GENERAL,27052212.0,28010500,7,27052212-2,28010500-7,LENDER GUTIERREZ PEREIA,Lender Gutierrez,Pereia,Hijo,2690243270522122280105007,1,280105007,270522122
33588,2690243,CLINICA COLONIAL SA,CLINICA COLONIAL ROL GENERAL,27486919.0,500834249,2,27486919-4,500834249-2,ALBANY PULIDO PEREIRA,Albany Pulido,Pereira,Hija,26902432748691945008342492,1,5008342492,274869194

In [ ]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo22.xlsx", index=False)

In [941]:
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rut"] != "NONE")]
Pacientes_Archivo = Pacientes_Archivo[(Pacientes_Archivo["rutT"] != "NONE")]
# | (Pacientes_Archivo["rutT"] != "NONE")

In [ ]:
Pacientes_Archivo["Llave"] = Pacientes_Archivo["rutT"] + Pacientes_Archivo["rut"]
Pacientes_Archivo["PolizaLlave"] = Pacientes_Archivo["poliza"] +  Pacientes_Archivo["rutT"] + Pacientes_Archivo["rut"]

Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/eliminar2.xlsx", index=False)

PAcientes Programas

In [942]:
query_pacientePrograma = (
    "SELECT Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id from Paciente_Programas__c where padre__c =  '"
    + campaña
    + "'"
)
pacientePrograma = sf.smart_query(query_pacientePrograma)
pacientePrograma.head()

100%|██████████| 1/1 [00:11<00:00, 11.12s/it]

,Paciente__c,Programas_por_Empresas__r.Empresa__c,Paciente__r.IdentificationId__pc,Id
0,0018c00002b05eoAAA,0018c00002axQgeAAE,140211559,a1Y8c00000CyyzYEAR
1,0018c00002mV93pAAC,0018c00002axQgeAAE,241216594,a1Y8c00000CyyzZEAR
2,0018c00002mV93qAAC,0018c00002axQgeAAE,280578800,a1Y8c00000CyyzaEAB
3,0018c00002ay1CCAAY,0018c00002axQgeAAE,182068969,a1Y8c00000Dyu5cEAB
4,0018c00002ay1AnAAI,0018c00002axQgeAAE,106647097,a1Y8c00000Dyu5dEAB

In [943]:
pacientePrograma = pacientePrograma.rename(
    columns={
        "Id": "Id Paciente Programas",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Programas_por_Empresas__r.Empresa__c": "Id Account Empleador",
        "Paciente__c": "Id Account Paciente",
    }
)
pacientePrograma.head()

  Id Account Paciente Id Account Empleador        Rut Id Paciente Programas
0  0018c00002b05eoAAA   0018c00002axQgeAAE  140211559    a1Y8c00000CyyzYEAR
1  0018c00002mV93pAAC   0018c00002axQgeAAE  241216594    a1Y8c00000CyyzZEAR
2  0018c00002mV93qAAC   0018c00002axQgeAAE  280578800    a1Y8c00000CyyzaEAB
3  0018c00002ay1CCAAY   0018c00002axQgeAAE  182068969    a1Y8c00000Dyu5cEAB
4  0018c00002ay1AnAAI   0018c00002axQgeAAE  106647097    a1Y8c00000Dyu5dEAB

In [944]:
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("-", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace("–", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].astype(str)
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.upper()
pacientePrograma["Rut"] = pacientePrograma["Rut"].str.strip()
pacientePrograma.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\3172767859.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  pacientePrograma["Rut"] = pacientePrograma["Rut"].str.replace(".", "")

(36499, 4)

In [945]:
PacientesProgramas_PacientesSF = pd.merge(
    left=pacientePrograma,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)

PacientesProgramas_PacientesSF.head()

,Id Account Paciente,Id Account Empleador,Rut_x,Id Paciente Programas,Rut_y,Id Contacto
0,0018c00002b05eoAAA,0018c00002axQgeAAE,140211559,a1Y8c00000CyyzYEAR,140211559,0038c000035sFaQAAU
1,0018c00002mV93pAAC,0018c00002axQgeAAE,241216594,a1Y8c00000CyyzZEAR,241216594,0038c00003If9Y3AAJ
2,0018c00002mV93qAAC,0018c00002axQgeAAE,280578800,a1Y8c00000CyyzaEAB,280578800,0038c00003If9Y4AAJ
3,0018c00002ay1CCAAY,0018c00002axQgeAAE,182068969,a1Y8c00000Dyu5cEAB,182068969,0038c000035qAmfAAE
4,0018c00002ay1AnAAI,0018c00002axQgeAAE,106647097,a1Y8c00000Dyu5dEAB,106647097,0038c000035qAlGAAU

account contact relation

In [946]:
query_accountContact = (
    "select Id,ContactId, AccountId, RutContact__c ,Contact.AccountId from AccountContactRelation where Account.Campa_a__c = '"
    + campaña
    + "'"
)
accountContactRelation = sf.smart_query(query_accountContact)
accountContactRelation.head()

100%|██████████| 1/1 [00:11<00:00, 11.72s/it]

,Id,ContactId,AccountId,RutContact__c,Contact.AccountId
0,07k8c00000RXaN6AAL,0038c000035qGn8AAE,0018c00002axQgeAAE,218672264,0018c00002ay7C1AAI
1,07k8c00000RXaN7AAL,0038c000035qGn9AAE,0018c00002axQgeAAE,79177482,0018c00002ay7C2AAI
2,07k8c00000RXaN8AAL,0038c000035qGnAAAU,0018c00002axQgeAAE,119284481,0018c00002ay7C3AAI
3,07k8c00000RXaN9AAL,0038c000035qGnBAAU,0018c00002axQgeAAE,59124730,0018c00002ay7C4AAI
4,07k8c00000RXaNAAA1,0038c000035qGnCAAU,0018c00002axQgeAAE,199639595,0018c00002ay7C5AAI

In [947]:
accountContactRelation = accountContactRelation.rename(
    columns={
        "Id": "Id AccountContactRelation",
        "ContactId": "Id Contact Paciente",
        "AccountId": "Id Account Empresa",
        "RutContact__c": "Rut",
        "Contact.AccountId": "Id Account Paciente",
    }
)
accountContactRelation.head()

,Id AccountContactRelation,Id Contact Paciente,Id Account Empresa,Rut,Id Account Paciente
0,07k8c00000RXaN6AAL,0038c000035qGn8AAE,0018c00002axQgeAAE,218672264,0018c00002ay7C1AAI
1,07k8c00000RXaN7AAL,0038c000035qGn9AAE,0018c00002axQgeAAE,79177482,0018c00002ay7C2AAI
2,07k8c00000RXaN8AAL,0038c000035qGnAAAU,0018c00002axQgeAAE,119284481,0018c00002ay7C3AAI
3,07k8c00000RXaN9AAL,0038c000035qGnBAAU,0018c00002axQgeAAE,59124730,0018c00002ay7C4AAI
4,07k8c00000RXaNAAA1,0038c000035qGnCAAU,0018c00002axQgeAAE,199639595,0018c00002ay7C5AAI

In [948]:
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("-", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace("–", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].astype(str)
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.upper()
accountContactRelation["Rut"] = accountContactRelation["Rut"].str.strip()
accountContactRelation.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2268980097.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  accountContactRelation["Rut"] = accountContactRelation["Rut"].str.replace(".", "")

(33591, 5)

In [949]:
AccountContact_PacientesSF = pd.merge(
    left=accountContactRelation,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
AccountContact_PacientesSF.head()

,Id AccountContactRelation,Id Contact Paciente,Id Account Empresa,Rut_x,Id Account Paciente,Rut_y,Id Contacto
0,07k8c00000RXaN6AAL,0038c000035qGn8AAE,0018c00002axQgeAAE,218672264,0018c00002ay7C1AAI,218672264,0038c000035qGn8AAE
1,07k8c00000RXaN7AAL,0038c000035qGn9AAE,0018c00002axQgeAAE,79177482,0018c00002ay7C2AAI,79177482,0038c000035qGn9AAE
2,07k8c00000RXaN8AAL,0038c000035qGnAAAU,0018c00002axQgeAAE,119284481,0018c00002ay7C3AAI,119284481,0038c000035qGnAAAU
3,07k8c00000RXaN9AAL,0038c000035qGnBAAU,0018c00002axQgeAAE,59124730,0018c00002ay7C4AAI,59124730,0038c000035qGnBAAU
4,07k8c00000RXaNAAA1,0038c000035qGnCAAU,0018c00002axQgeAAE,199639595,0018c00002ay7C5AAI,199639595,0038c000035qGnCAAU

empresa contacto convenio

In [950]:
query_empresacontactoconvenio = (
    "select Id,Paciente__r.IdentificationId__pc, Empresa__r.P_liza__c, Empresa__c, Paciente__c,N_Documento_Titular__c from EmpresaContactoConvenios__c where Empresa__r.Campa_a__c = '"
    + campaña
    + "'"
)
empresacontactoconvenio = sf.smart_query(query_empresacontactoconvenio)
empresacontactoconvenio.head()

100%|██████████| 1/1 [00:10<00:00, 10.70s/it]

,Id,Paciente__r.IdentificationId__pc,Empresa__r.P_liza__c,Empresa__c,Paciente__c,N_Documento_Titular__c
0,a40RN000000oqmuYAA,221976614,2668538,a3yRN0000006rGRYAY,001RN000003r5VMYAY,161467847
1,a40RN000000oqmvYAA,262685411,2668538,a3yRN0000006rGRYAY,001RN000003r5VSYAY,262685411
2,a40RN000000oqmwYAA,144432495,2668538,a3yRN0000006rGRYAY,001RN000003r5VVYAY,144432495
3,a40RN000000oqmxYAA,124872812,2668538,a3yRN0000006rGRYAY,001RN000003r5VNYAY,124872812
4,a40RN000000oqmyYAA,136912879,2668538,a3yRN0000006rGRYAY,001RN000003r5ViYAI,136912879

In [951]:
empresacontactoconvenio = empresacontactoconvenio.rename(
    columns={
        "Id": "Id EmpresaContactoConvenio",
        "Paciente__r.IdentificationId__pc": "Rut",
        "Empresa__c": "Id Convenio Empresa",
        "Paciente__c": "Id Account Paciente",
        "N_Documento_Titular__c": "Rut Titular",
        "Empresa__r.P_liza__c":"Poliza",
    }
)
empresacontactoconvenio.head()

,Id EmpresaContactoConvenio,Rut,Poliza,Id Convenio Empresa,Id Account Paciente,Rut Titular
0,a40RN000000oqmuYAA,221976614,2668538,a3yRN0000006rGRYAY,001RN000003r5VMYAY,161467847
1,a40RN000000oqmvYAA,262685411,2668538,a3yRN0000006rGRYAY,001RN000003r5VSYAY,262685411
2,a40RN000000oqmwYAA,144432495,2668538,a3yRN0000006rGRYAY,001RN000003r5VVYAY,144432495
3,a40RN000000oqmxYAA,124872812,2668538,a3yRN0000006rGRYAY,001RN000003r5VNYAY,124872812
4,a40RN000000oqmyYAA,136912879,2668538,a3yRN0000006rGRYAY,001RN000003r5ViYAI,136912879

In [952]:
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("-", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace("–", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].astype(str)
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(" ", "")
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.upper()
empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.strip()
empresacontactoconvenio.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2240900084.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  empresacontactoconvenio["Rut"] = empresacontactoconvenio["Rut"].str.replace(".", "")

(30363, 6)

In [953]:
empresacontactoconvenio_PacientesSF = pd.merge(
    left=empresacontactoconvenio,
    right=Pacientes_IDrut,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account Paciente",
)
empresacontactoconvenio_PacientesSF.head()

,Id EmpresaContactoConvenio,Rut_x,Poliza,Id Convenio Empresa,Id Account Paciente,Rut Titular,Rut_y,Id Contacto
0,a40RN000000oqmuYAA,221976614,2668538,a3yRN0000006rGRYAY,001RN000003r5VMYAY,161467847,221976614,003RN00000AhJIfYAN
1,a40RN000000oqmvYAA,262685411,2668538,a3yRN0000006rGRYAY,001RN000003r5VSYAY,262685411,262685411,003RN00000AhJIlYAN
2,a40RN000000oqmwYAA,144432495,2668538,a3yRN0000006rGRYAY,001RN000003r5VVYAY,144432495,144432495,003RN00000AhJIoYAN
3,a40RN000000oqmxYAA,124872812,2668538,a3yRN0000006rGRYAY,001RN000003r5VNYAY,124872812,124872812,003RN00000AhJIgYAN
4,a40RN000000oqmyYAA,136912879,2668538,a3yRN0000006rGRYAY,001RN000003r5ViYAI,136912879,136912879,003RN00000AhJJ1YAN

In [ ]:
""" if(campaña!="MetLife"):
    pacientePrograma.to_excel("F:/Empresas SF/reportes/paciente_programas.xlsx", index=False) """

Rescatamos todos los ruts Id con su empresa desde la campaña

In [954]:
Pacientes_Archivo.head()

,poliza,empleador,rutE,titular,gbng,DV_ASEGURADO,rut2,rut1,NOMBRE DEL ASEGURADO,nombres,apellidos,RELACIÓN,llae,Unnamed: 13,rut,rutT
0,2480472,INGENIERIA Y CONSTRUCCION FERROMINING LIMITADA,ING Y CONSTR FERROMINING LTDA,9998781.0,9998781,2,9998781-2,9998781-2,ENRIQUE IPARCO RIQUELME CAMAÑO,Enrique Iparco,Riquelme Camaño,Titular,24804729998781299987812,1,99987812,99987812
1,2473598,SISTEMAS DE TRANSMISION DEL SUR S A,SISTEMAS DE TRANSMISION DEL SUR SA,9997825.0,9997825,2,9997825-2,9997825-2,ORLANDO ENRIQUE MENA MARTINEZ,Orlando Enrique,Mena Martinez,Titular,24735989997825299978252,1,99978252,99978252
2,776122,COMERCIALIZADORA IBEROAMERICANA RADIO CHILE S.A.,FAST NET COMUNICACIONES SA,9994542.0,9994542,7,9994542-7,9994542-7,DANIEL REYES ROMERO,Daniel Reyes,Romero,Titular,7761229994542799945427,1,99945427,99945427
3,1113875,UNIVERSIDAD DE LOS LAGOS,UNIVERSIDAD DE LOS LAGOS,9994463.0,9994463,3,9994463-3,9994463-3,ALEJANDRA LAZO CORVALAN,Alejandra Lazo,Corvalan,Titular,11138759994463399944633,1,99944633,99944633
4,360327,CORP.DE EDUCACION Y SALUD DE LAS CONDES,CONSULTORIO ANIBAL ARIZTIA,9994285.0,9994285,1,9994285-1,9994285-1,PAMELA ANDREA VALLADARES GONZALEZ,Pamela Andrea,Valladares Gonzalez,Titular,3603279994285199942851,1,99942851,99942851

Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

Pacientes_Archivo.drop_duplicates(
[
"rut",
"rutT",
"LLaveEmpresa",
"LLAveRut",
],
keep="last",
)
Pacientes_Archivo.shape

In [955]:
print(campaña)

BCI Seguros Colectivos

In [956]:
Pacientes_Archivo["RutEstaoNo"] = Pacientes_Archivo["rut"].isin(Pacientes_SF["Rut"])

In [ ]:
# Pacientes_Archivo.to_excel("F:/Empresas SF/reportes/Pacientes_Archivo.xlsx", index=False)

In [957]:
# aca a los pacientes del archivo se les asigna sus datos en SF
Pacientes_con_id = pd.merge(
    left=Pacientes_Archivo,
    right=Pacientes_SF,
    how="left",
    left_on="rut",
    right_on="Rut",
)
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/Pacientes_con_id.xlsx", index=False)
Pacientes_con_id.shape

(33587, 27)

In [958]:
Pacientes_con_id.head()

,poliza,empleador,rutE,titular,gbng,DV_ASEGURADO,rut2,rut1,NOMBRE DEL ASEGURADO,nombres,...,Id Account Paciente,Rut,Nombre,Tipo de Documento,Ocupacion,Cargo,Departamento,Sexo,Telefono,Id Contacto
0,2480472,INGENIERIA Y CONSTRUCCION FERROMINING LIMITADA,ING Y CONSTR FERROMINING LTDA,9998781.0,9998781,2,9998781-2,9998781-2,ENRIQUE IPARCO RIQUELME CAMAÑO,Enrique Iparco,...,001RN000002bBoBYAU,99987812,Enrique Iparco Riquelme Camaño,RUT,None,None,None,None,None,003RN000005k9BsYAI
1,2473598,SISTEMAS DE TRANSMISION DEL SUR S A,SISTEMAS DE TRANSMISION DEL SUR SA,9997825.0,9997825,2,9997825-2,9997825-2,ORLANDO ENRIQUE MENA MARTINEZ,Orlando Enrique,...,0018c00002efdtWAAQ,99978252,Mena Martinez Orlando Enrique,RUT,None,None,None,Hombre,None,0038c000039FcYLAA0
2,776122,COMERCIALIZADORA IBEROAMERICANA RADIO CHILE S.A.,FAST NET COMUNICACIONES SA,9994542.0,9994542,7,9994542-7,9994542-7,DANIEL REYES ROMERO,Daniel Reyes,...,0018c00002egWMvAAM,99945427,Reyes Romero Daniel Fernando,RUT,None,None,None,Hombre,None,0038c000039GVDwAAO
3,1113875,UNIVERSIDAD DE LOS LAGOS,UNIVERSIDAD DE LOS LAGOS,9994463.0,9994463,3,9994463-3,9994463-3,ALEJANDRA LAZO CORVALAN,Alejandra Lazo,...,0018c00002f4LnMAAU,99944633,Alejandra Lazo Corvalan,RUT,None,None,None,Mujer,None,0038c00003AvCRvAAN
4,360327,CORP.DE EDUCACION Y SALUD DE LAS CONDES,CONSULTORIO ANIBAL ARIZTIA,9994285.0,9994285,1,9994285-1,9994285-1,PAMELA ANDREA VALLADARES GONZALEZ,Pamela Andrea,...,0018c00002egWMuAAM,99942851,Valladares Gonzalez Pamela Andrea,RUT,None,None,None,Hombre,None,0038c000039GVDvAAO

In [ ]:
# Pacientes_con_id.to_excel("F:/Empresas SF/reportes/id.xlsx", index=False)

In [959]:
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")


def isValid(email):
    if re.fullmatch(regex, email):
        return email
    else:
        return ""


def fechaValida(fecha):
    if (len(str(fecha)) <= 9 ):
        fecha = ""
        
    fecha = str(fecha)
    fecha1 = str(fecha)
    
    #datetime.strptime(fecha, '%Y-%m-%d')
    
    try:
        fecha = datetime.strptime(fecha, '%Y-%m-%d %H:%M:%S')
        date_string = fecha1
        print("date_string =", date_string)
        print("type of date_string =", type(date_string))

        date_object = datetime.strptime(date_string, "%Y-%m-%d %H:%M:%S")

        print("date_object =", date_object)
        print("type of date_object =", type(date_object))
        return date_object
    except ValueError:
        return datetime.utcnow().strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
Pacientes_con_id["dertyuiop"] = Pacientes_con_id["nacimiento"]
Pacientes_con_id["derty"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
Pacientes_con_id.head()

In [960]:


# Final_pacientes_y_empresa = Pacientes_con_ID
Subir_pacientes = pd.DataFrame()
# Subir_pacientes["Email_Seteado__c"] = ""
Subir_pacientes["RutEstaoNo"] = Pacientes_con_id["RutEstaoNo"]
# agrupar = empresasqfaltan[empresasqfaltan['si']==False]


if ("nombres" in Pacientes_con_id.columns) == True:
    Subir_pacientes["FirstName"] = Pacientes_con_id["nombres"]
if ("apellidos" in Pacientes_con_id.columns) == True:
    Subir_pacientes["LastName"] = Pacientes_con_id["apellidos"]
if ("rut" in Pacientes_con_id.columns) == True:
    Subir_pacientes["IdentificationId__pc"] = (
        Pacientes_con_id["rut"].astype(str).str.upper()
    )


if ("email" in Pacientes_con_id.columns) == True:
    # Pacientes_con_id["email"] = Pacientes_con_id["email"].astype(str).str.lower().replace("nan","")
    Subir_pacientes["PersonEmail"] = Pacientes_con_id["email"].astype(str).str.lower()
    Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].apply(
        lambda y: isValid(y)
    )
    Subir_pacientes["Email_Seteado__c"] = np.where(
        Subir_pacientes["PersonEmail"] != "", "True", "False"
    )

    # Subir_pacientes["PersonEmail"] = Subir_pacientes["PersonEmail"].str.replace("no informado", "")
#if ("nacimiento" in Pacientes_con_id.columns) == True:    
#    Subir_pacientes["PersonBirthdate"] = pd.to_datetime(Pacientes_con_id["nacimiento"].astype(str), format="%Y-%m-%d")  
if ("nacimiento" in Pacientes_con_id.columns) == True:    
    #try:
    Subir_pacientes["PersonBirthdate"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
    Subir_pacientes["derty"] = Pacientes_con_id["nacimiento"].apply(lambda y: fechaValida(y))
    #except ValueError:
        #Subir_pacientes["PersonBirthdate"] = pd.to_datetime("1900-01-01", format="%Y-%m-%d")
 
if ("sexo" in Pacientes_con_id.columns) == True:
    Sexo = {
        "H": "Hombre",
        "m": "Hombre",
        "Masculino": "Hombre",
        "Femenino": "Mujer",
        "": "Prefiero no responder",
        "HOMBRE": "Hombre",
        "MUJER": "Mujer",
        "F": "Mujer",
        "O": "Prefiero no responder",
        "Ambos": "Prefiero no responder",
        "N": "Prefiero no responder",
        "Otro": "Prefiero no responder",
        "n": "Prefiero no responder",
        "N": "Prefiero no responder",
        "FEMENINO": "Mujer",
        "f": "Mujer",
        "MASCULINO": "Hombre",
        "m": "Hombre",
        "M ": "Hombre",
        "M": "Hombre",
        "F ": "Mujer",
        "Varón": "Hombre",
        "varon": "Hombre",
    }
    Pacientes_con_id.replace({"sexo": Sexo}, inplace=True)
    Subir_pacientes["HealthCloudGA__Gender__pc"] = Pacientes_con_id["sexo"]
if ("direccion" in Pacientes_con_id.columns) == True:
    Subir_pacientes["BillingStreet"] = (
        Pacientes_con_id["direccion"].str.lower().replace("nan", "")
    )
    # Subir_pacientes["BillingStreet"] = Final_pacientes_y_empresa["direccion"]
if ("comuna" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
    Subir_pacientes["BillingState"] = (
        Pacientes_con_id["comuna"].str.title().replace("NaN", "")
    )
    # Subir_pacientes["BillingState"] = Final_pacientes_y_empresa["comuna"]
if ("ciudad" in Pacientes_con_id.columns) == True:
    # Subir_pacientes["BillingCity"] = Final_pacientes_y_empresa["ciudad"]
    Subir_pacientes["BillingCity"] = (
        Pacientes_con_id["ciudad"].str.title().replace("NaN", "")
    )

if ("cargo" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonTitle"] = Pacientes_con_id["cargo"].str.title()

if ("division" in Pacientes_con_id.columns) == True:
    Subir_pacientes["PersonDepartment"] = Pacientes_con_id["division"].str.title()

if ("celular" in Pacientes_con_id.columns) == True:
    Subir_pacientes["Phone"] = (
        Pacientes_con_id["celular"].apply(str).str.strip().replace("+", "")
    )
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NaN", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace(".", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("Nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("-", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("0", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("No Informado", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("_", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("/", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("+", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("nan", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("null", "")
    Subir_pacientes["Phone"] = Subir_pacientes["Phone"].str.replace("NULL", "")


Subir_pacientes["RecordTypeId"] = "0128c000002Byp4AAC"
Subir_pacientes["Cuenta_validada__c"] = "True"


if Pais == "Chile":
    Subir_pacientes["BillingCountry"] = "Chile"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtnEAE"
else:
    Subir_pacientes["BillingCountry"] = "México"
    Subir_pacientes["Identification_Type__c"] = "RUT"
    Subir_pacientes["Pa_s_del_Paciente__c"] = "a1U8c000005dAtsEAE"

Subir_pacientes_Que_no_Estan = Subir_pacientes
Subir_pacientes_Estan = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == True]
Subir_pacientes = Subir_pacientes[Subir_pacientes["RutEstaoNo"] == False]

#Subir_pacientes["PersonBirthdate"] = Subir_pacientes["PersonBirthdate"].str.replace("0001-01-01 00:00:00", "")

# Subir_pacientes.PersonEmail = Subir_pacientes.PersonEmail.fillna('')
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)
Subir_pacientes.to_excel(
    "F:/Empresas SF/reportes/Pacientes_Que_No_Estaban.xlsx", index=False
)
Subir_pacientes.head()

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
18,False,Maria Teresa,Gomez Torres,99827254,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
140,False,Gloria Maria,Donoso Perez,98976957,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
229,False,Claudia Alejandra,Olate Aguilera,98239227,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
254,False,Juan Carlos,Garrido Perez,97999228,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
366,False,Hugo Fernando,Leiva Marquez,97022321,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE

In [961]:
Subir_pacientes.shape

(662, 9)

In [962]:
def traerId(rut):
    if len(rut) >= 8:
        busquedaDatos = "FIND {" + rut + "} RETURNING Account(Id,IdentificationId__pc)"
        derty = dict(sf.search(busquedaDatos))
        if derty["searchRecords"] != []:
            if derty["searchRecords"][0]["attributes"]["type"] == "Account":
                jote = derty["searchRecords"][0]["Id"]
                dertyd = derty["searchRecords"][0]["IdentificationId__pc"]
                print(jote + " " + dertyd)
                return jote
            else:
                print("no")
        else:
            print("vacio")
    else:
        return "None"


def traerContact(ide):
    ide = str(ide)
    if len(ide) >= 12:
        idcontact = sf.Account.get(ide)
        return idcontact["PersonContactId"]
    else:
        return "NONES"


def agregarPaciente(listado):
    vListado = listado.split(",")
    
    derty = None
    #vListado[9] = datetime.strptime(vListado[9], "%Y-%m-%d %H:%M:%S")
        
        
    if (vListado[9] == ""):                               
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],  
                                          
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    else:
        try:
            derty = dict(
                sf.Account.create(
                    # derty = sf.Account.create(
                    {
                        "FirstName": vListado[0],
                        "LastName": vListado[1],
                        "IdentificationId__pc": vListado[2],
                        "RecordTypeId": vListado[3],
                        "BillingCountry": vListado[4],
                        "Identification_Type__c": vListado[5],
                        "Pa_s_del_Paciente__c": vListado[6],
                        "Cuenta_validada__c": True,
                        "PersonEmail": vListado[8],
                        "PersonBirthdate": vListado[9] ,
                        #"PersonBirthdate":datetime.strptime(vListado[9], "%Y-%m-%d %H:%M:%S").formatGMT('yyyy-MM-dd\'T\'HH:mm:ss.SSS\'Z\'' + '"'),
                        "HealthCloudGA__Gender__pc": vListado[10],
                        "Phone": vListado[11],
                        "BillingCity": vListado[12],
                        "BillingState": vListado[13],
                        "BillingStreet": vListado[14],
                        "Email_Seteado__c": bool(vListado[15]),
                    }
                )
            )
            # return derty["id"]
        except SalesforceMalformedRequest as e:
            print(f"Malformed request error: {e}")
            error = {e}

        if derty is not None:
            return derty["id"]
        else:
            traerId(vListado[2])
    # Verify that the Contact was created successfully
    # created_contact = sf.Contact.get(sf_res['id'])
    # print(created_contact)


""" sf_res =None
try:
    # Create the new Contact record in Salesforce
    sf_res = sf.Contact.create(new_contact)
except SalesforceMalformedRequest as e:
    if 'duplicateResut' in e[0]:
        print(f"Malformed request error: {e}")
        # Handle the error here as needed
        #Bypass SF Email duplicate rule by removing the email to create a SF Lead
        del new_contact['Email']
        sf_res = sf.Contact.create(new_contact)


if sf_res is not None:
    # Verify that the Contact was created successfully
    created_contact = sf.Contact.get(sf_res['id'])
    print(created_contact) """

' sf_res =None\ntry:\n    # Create the new Contact record in Salesforce\n    sf_res = sf.Contact.create(new_contact)\nexcept SalesforceMalformedRequest as e:\n    if \'duplicateResut\' in e[0]:\n        print(f"Malformed request error: {e}")\n        # Handle the error here as needed\n        #Bypass SF Email duplicate rule by removing the email to create a SF Lead\n        del new_contact[\'Email\']\n        sf_res = sf.Contact.create(new_contact)\n\n\nif sf_res is not None:\n    # Verify that the Contact was created successfully\n    created_contact = sf.Contact.get(sf_res[\'id\'])\n    print(created_contact) '

In [963]:
Subir_pacientes.head()

,RutEstaoNo,FirstName,LastName,IdentificationId__pc,RecordTypeId,Cuenta_validada__c,BillingCountry,Identification_Type__c,Pa_s_del_Paciente__c
18,False,Maria Teresa,Gomez Torres,99827254,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
140,False,Gloria Maria,Donoso Perez,98976957,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
229,False,Claudia Alejandra,Olate Aguilera,98239227,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
254,False,Juan Carlos,Garrido Perez,97999228,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE
366,False,Hugo Fernando,Leiva Marquez,97022321,0128c000002Byp4AAC,True,Chile,RUT,a1U8c000005dAtnEAE

In [964]:
Subir_pacientes.drop_duplicates(
    [
        "IdentificationId__pc",
    ],
    keep="last",
)

Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(
    lambda y: traerId(y)
)

Subir_pacientes.shape

vacio

vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio
vacio

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2950418267.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_pacientes["Id"] = Subir_pacientes["IdentificationId__pc"].apply(

(662, 10)

In [965]:
Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)
Subir_pacientes = Subir_pacientes[Subir_pacientes["Id"].str.len() <= 12]
# Subir_pacientes["numero"] = Subir_pacientes["Id"].str.len()
Subir_pacientes.shape

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2892125083.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_pacientes["Id"] = Subir_pacientes["Id"].astype(str)

(662, 10)

In [ ]:
#Subir_pacientes["dato_account"].head()

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/Todesffff.xlsx", index=False)

In [966]:
Subir_pacientes["dato_account"] = ""
if ("FirstName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + Subir_pacientes[
        "FirstName"
    ].astype(str)
if ("LastName" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["LastName"].astype(str)
    )
if ("IdentificationId__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["IdentificationId__pc"].astype(str)
    )
if ("RecordTypeId" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["RecordTypeId"].astype(str)
    )
if ("BillingCountry" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCountry"].astype(str)
    )
if ("Identification_Type__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Identification_Type__c"].astype(str)
    )
if ("Pa_s_del_Paciente__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Pa_s_del_Paciente__c"].astype(str)
    )
if ("Cuenta_validada__c" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Cuenta_validada__c"].astype(str)
    )

if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["PersonEmail"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

if ("PersonBirthdate" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (Subir_pacientes["dato_account"] + "," + Subir_pacientes["PersonBirthdate"].apply(lambda x: x.isoformat() + "Z"))
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("HealthCloudGA__Gender__pc" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["HealthCloudGA__Gender__pc"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("Phone" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"] + "," + Subir_pacientes["Phone"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingCity" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingCity"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingState" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingState"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("BillingStreet" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["BillingStreet"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","
if ("PersonEmail" in Subir_pacientes.columns) == True:
    Subir_pacientes["dato_account"] = (
        Subir_pacientes["dato_account"]
        + ","
        + Subir_pacientes["Email_Seteado__c"].astype(str)
    )
else:
    Subir_pacientes["dato_account"] = Subir_pacientes["dato_account"] + ","

# Subir_pacientes["dato_account"] =  Subir_pacientes["dato_account"] =

Subir_pacientes["Id_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
)
""" Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(
    lambda x: agregarPaciente(x)
) """

Malformed request error: Malformed request https://careassistance.my.salesforce.com/services/data/v42.0/sobjects/Account/. Response content: [{'message': 'Faltan campos obligatorios: [LastName]', 'errorCode': 'REQUIRED_FIELD_MISSING', 'fields': ['LastName']}]
vacio
Malformed request error: Malformed request https://careassistance.my.salesforce.com/services/data/v42.0/sobjects/Account/. Response content: [{'message': 'se encontró un valor duplicado: IdentificationId__c duplica el valor en el registro con Id.: 003RN00000JKbgSYAT', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
001RN000006RrZWYA0 165585291
Malformed request error: Malformed request https://careassistance.my.salesforce.com/services/data/v42.0/sobjects/Account/. Response content: [{'message': 'se encontró un valor duplicado: IdentificationId__c duplica el valor en el registro con Id.: 003RN00000JKiZqYAL', 'errorCode': 'DUPLICATE_VALUE', 'fields': []}]
vacio

' Subir_pacientes["Contact_creado"] = Subir_pacientes["dato_account"].apply(\n    lambda x: agregarPaciente(x)\n) '

In [967]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c WHERE Empresa_Padre__r.Name = '" + campaña + "'"

df2 = sf.smart_query(query2)
df2["LLave"] = df2["Rut_Empresa__c"].str.upper().str.replace("-", "") + df2["P_liza__c"]
df2["dato"] = 1
df2.to_excel("F:/Empresas SF/reportes/empresas_asociadas.xlsx", index=False)
df2.head()

100%|██████████| 1/1 [00:03<00:00,  3.78s/it]

,P_liza__c,Nombre_de_Empresa__c,Identificador__c,Rut_Empresa__c,Empresa_Padre__r.Name,Holding__c,Plan__c,Pais__c,Activo__c,Id,LLave,dato
0,2668538,A&B Pacific Logistics Ltda.,BCI Seguros,-,BCI Seguros Colectivos,-,Plan Gold,Chile,True,a3yRN0000006rGRYAY,2668538,1
1,2071817,Abastecedora Del Comercio SPA,BCI Seguros,-,BCI Seguros Colectivos,Gibraltar,Plan Gold,Chile,True,a3yRN0000006rGYYAY,2071817,1
2,2072897,Abastecedora Del Comercio SPA,BCI Seguros,-,BCI Seguros Colectivos,Gibraltar,Plan Gold,Chile,True,a3yRN0000006rGZYAY,2072897,1
3,2072881,Administración Y Asesorías Ltda.,BCI Seguros,-,BCI Seguros Colectivos,Gibraltar,Plan Gold,Chile,True,a3yRN0000006rH2YAI,2072881,1
4,2071798,Administración Y Asesorías Ltda.,BCI Seguros,-,BCI Seguros Colectivos,Gibraltar,Plan Gold,Chile,True,a3yRN0000006rH3YAI,2071798,1

In [968]:
df2.shape

(272, 12)

In [969]:
Pacientes_con_id_no = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == False]
Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(
    lambda y: traerId(y)
)
Pacientes_con_id_no["Id Contacto"] = Pacientes_con_id_no["Id Account Paciente"].apply(
    lambda y: traerContact(y)
)
Pacientes_con_id_no.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_no.xlsx", index=False
)

Pacientes_con_id_si = Pacientes_con_id[Pacientes_con_id["RutEstaoNo"] == True]
Pacientes_con_id_si.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_si.xlsx", index=False
)

Pacientes_con_id_final = pd.concat(
    [
        Pacientes_con_id_si,
        Pacientes_con_id_no,
    ],
    axis=0,
)

Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final.xlsx", index=False
)

if campaña == "Southbridge Plan Mujer":
    VpacientePrograma = "a1WRN0000007YwD2AU"
    VempresaaAccount = "001RN000003rwVaYAI"
    VempresaConvenio = "a3yRN0000006sVTYAY"
elif campaña == "Southbridge":
    VpacientePrograma = "a1W8c0000083pM9EAI"
    VempresaaAccount = "0018c00002f3Ev2AAE"
    VempresaConvenio = "a3yRN0000006sqYYAQ"
elif campaña == "Construmart":
    VpacientePrograma = "a1W8c0000083q9TEAQ"
    VempresaaAccount = "0018c00002ghJgBAAU"
    VempresaConvenio = "a3yRN0000006rlZYAQ"
elif campaña == "EY":
    VpacientePrograma = "a1W8c0000083laZEAQ"
    VempresaaAccount = "0018c00002eTboVAAS"
    VempresaConvenio = "a3yRN0000006rsTYAQ"
elif campaña == "Colmena":
    VpacientePrograma = "a1W8c0000083j8rEAA"
    VempresaaAccount = "0018c00002cXclQAAS"
    VempresaConvenio = "a3yRN0000006rf5YAA"
elif campaña == "Pedro De Valdivia":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sVzYAI"
elif campaña == "Forum":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s3SYAQ"
elif campaña == "Cruz Verde":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rsqYAA"
elif campaña == "Milan Fajanovic":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sR4YAI"
elif campaña == "ProChile":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rpsYAA"
elif campaña == "Farmacias Ahumada":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006rspYAA"
elif campaña == "Minera El Abra":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006snOYAQ"
elif campaña == "Instruvalve":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006s9DYAQ"
elif campaña == "VidaCel":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006suzYAA"
elif campaña == "Care Assistance Colaboradores":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006reXYA"
elif campaña == "Nexo":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006sORYAY"
elif campaña == "Talo":
    VpacientePrograma = "a1W8c0000083iWiEAI"
    VempresaaAccount = "0018c00002cXJTsAAO"
    VempresaConvenio = "a3yRN0000006t10YAA"
else:
    VpacientePrograma = "Buscarv"
    VempresaaAccount = "Buscarv"
    VempresaConvenio = "Buscarv"

#Programas por empresas
Pacientes_con_id_final["esonoes"] = Pacientes_con_id_final["rut"].isin(
    PacientesProgramas_PacientesSF["Rut_y"]
)
Subir_programas_empresa = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes"] == False
]
Subir_programas_empresa["Paciente__c"] = Subir_programas_empresa["Id Account Paciente"]
Subir_programas_empresa["Programas_por_Empresas__c"] = VpacientePrograma
Subir_programas_empresa = Subir_programas_empresa[
    [
        # "empresa",
        "poliza",
        "Paciente__c",
        "Programas_por_Empresas__c",
    ]
]
Subir_programas_empresa.to_excel(
    "F:/Empresas SF/reportes/programas_empresa.xlsx", index=False
)

#
Pacientes_con_id_final["esonoes1"] = Pacientes_con_id_final["rut"].isin(
    AccountContact_PacientesSF["Rut_y"]
)
Subir_AccountContact = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes1"] == False
]
Subir_AccountContact["ContactId"] = Subir_AccountContact["Id Contacto"]
Subir_AccountContact["AccountId"] = VempresaaAccount

Subir_AccountContact = Subir_AccountContact[
    [
        # "empresa",
        "poliza",
        "ContactId",
        "AccountId",
    ]
]
Subir_AccountContact.to_excel(
    "F:/Empresas SF/reportes/account_Contact.xlsx", index=False
)
if(campaña == "MetLife"):
    empresacontactoconvenio_PacientesSF["llave"] = empresacontactoconvenio_PacientesSF["Poliza"] +empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llaveA"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]
    Pacientes_con_id_final["llavepa"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]
    empresacontactoconvenio_PacientesSF["polizallavepa"] = empresacontactoconvenio_PacientesSF["Poliza"] + empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
else:
    empresacontactoconvenio_PacientesSF["llave"] = empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llaveA"] = Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]    
    empresacontactoconvenio_PacientesSF["polizallavepa"] = empresacontactoconvenio_PacientesSF["Poliza"] + empresacontactoconvenio_PacientesSF["Rut Titular"] + empresacontactoconvenio_PacientesSF["Rut_y"]
    Pacientes_con_id_final["llavepa"] = Pacientes_con_id_final["poliza"] + Pacientes_con_id_final["rutT"] + Pacientes_con_id_final["rut"]




Pacientes_con_id_final["esonoes2"] = Pacientes_con_id_final["llaveA"].isin(
    empresacontactoconvenio_PacientesSF["llave"]
)
Pacientes_con_id_final["sionose"] = Pacientes_con_id_final["llavepa"].isin(
    empresacontactoconvenio_PacientesSF["polizallavepa"]
)

Subir_empresacontactoconvenio = Pacientes_con_id_final[
    Pacientes_con_id_final["esonoes2"] == False
]
Subir_empresacontactoconvenio2 = Pacientes_con_id_final[
    Pacientes_con_id_final["sionose"] == False
]


Subir_empresacontactoconvenio["Paciente__c"] = Subir_empresacontactoconvenio[
    "Id Account Paciente"
]

Subir_empresacontactoconvenio["N_Documento_Titular__c"] = Subir_empresacontactoconvenio[
    "rutT"
]
Subir_empresacontactoconvenio["Empresa__c"] = VempresaConvenio

Subir_empresacontactoconvenio = Subir_empresacontactoconvenio[
    [
        "empleador",
        "rutE",
        "poliza",
        "Paciente__c",
        "N_Documento_Titular__c",
        "Empresa__c",
    ]
]
Subir_empresacontactoconvenio.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio.xlsx", index=False)
Pacientes_con_id_final.to_excel(
    "F:/Empresas SF/reportes/Pacientes_con_id_final2.xlsx", index=False
    
)
Subir_empresacontactoconvenio2.to_excel(
    "F:/Empresas SF/reportes/empresacontactoconvenio2.xlsx", index=False)

001RN000006RvBeYAK 99827254
001RN000006RyzGYAS 98976957
001RN000006RrEcYAK 98239227
001RN000006RzSAYA0 97999228
001RN000006RwsVYAS 97022321
001RN000006Rz3yYAC 96671741
001RN000006Ryj0YAC 96260970
001RN000006RmBfYAK 9561051K
001RN000006S149YAC 93508211
001RN000006RxAFYA0 91951371
001RN000006RtzUYAS 91376571
001RN000006RwvoYAC 90839608
001RN000006RypUYAS 90501348
001RN000006RwKcYAK 89696445
001RN000006S15lYAC 86090627
001RN000006RuKSYA0 85862383
001RN000006Rz3zYAC 85359681
001RN000006Ruh3YAC 81093717
001RN000006S17NYAS 75774389
001RN000006Ru14YAC 74530109
001RN000006S086YAC 71027414
001RN000006RzC4YAK 69731627
001RN000006Ro3mYAC 69397662
001RN000006Rw7lYAC 62998172
001RN000006RvwRYAS 281445901
001RN000006RvTOYA0 277642425
001RN000006RsgqYAC 274869194
001RN000006S09jYAC 270699197
001RN000006RwSlYAK 27061275K
001RN000006S18zYAC 270522122
001RN000006RvI7YAK 269756780
001RN000006S1AbYAK 269555688
001RN000006RnyvYAC 269362413
001RN000006RtgAYAS 269090952
001RN000006S1CDYA0 268470735
001RN000006RtMpYAK 267536945
001RN000006S1FRYA0 267211167
001RN000006S0OEYA0 266911009
001RN000006Rw1KYAS 265305741
001RN000006S0uUYAS 264792053
001RN000006RsddYAC 264167914
001RN000006RxYTYA0 263434471
001RN000006RyKqYAK 262162478
001RN000006Rs5mYAC 261928647
001RN000006S1H4YAK 261821672
001RN000006RrmPYAS 260292390
001RN000006S1KHYA0 260091735
001RN000006RvzhYAC 259387906
001RN000006Rz2NYAS 257922979
001RN000006RxjlYAC 257502406
001RN000006RpeBYAS 255623931
001RN000006REBbYAO 255082639
001RN000006S1LtYAK 254796077
001RN000006Rp4eYAC 253786825
vacio
001RN000006Rw4YYAS 252551166
001RN000006S1NVYA0 252348336
001RN000006RqTwYAK 250869452
001RN000006S1P7YAK 250169949
001RN000006Ry1SYAS 24532183K
001RN000006Rw31YAC 245212976
001RN000006RsSRYA0 244188591
001RN000006RzyRYAS 241951820
001RN000006RyBAYA0 240422980
001RN000006S1QjYAK 238839165
001RN000006RvTPYA0 229877674
001RN000006RqTxYAK 227622733
001RN000006RwAxYAK 225198829
001RN000006Rs5oYAC 218731805
001RN000006Rr9hYAC 213042408
001RN000006RxF4YAK 208531409
001RN000006RvBfYAK 207980854
001RN000006Ry6JYAS 204991189
001RN000006S0ssYAC 204656991
001RN000006S1SLYA0 203727704
001RN000006RsSSYA0 203322062
001RN000006S0T6YAK 203291124
001RN000006RuQvYAK 203281234
001RN000006S1TxYAK 203132107
001RN000006S1VZYA0 201864577
001RN000006RzSBYA0 201488877
001RN000006RtZhYAK 201284163
001RN000006S0PrYAK 200602374
001RN000006S1YnYAK 200340426
001RN000006Rv5EYAS 199842331
001RN000006S1NWYA0 199442570
001RN000006Rq0lYAC 199398199
001RN000006RxJuYAK 199324209
001RN000006S1aPYAS 199264362
001RN000006Rv20YAC 199253271
001RN000006RtTCYA0 199131001
001RN000006RnywYAC 198920304
001RN000006REErYAO 198605603
001RN000006S0stYAC 19818876K
001RN000006S1c1YAC 19794076K
001RN000006Rxn1YAC 197496711
001RN000006S1ddYAC 197334959
001RN000006S1fFYAS 197305576
001RN000006S0suYAC 197046716
001RN000006RndyYAC 196880011
001RN000006S1iTYAS 196380728
001RN000006RzjwYAC 19622453K
001RN000006RqwoYAC 195926905
001RN000006RvlEYAS 195826765
001RN000006RxbeYAC 195809410
001RN000006RmraYAC 195650594
001RN000006RyZMYA0 195577358
001RN000006S1lhYAC 195464359
001RN000006RwPSYA0 195461449
001RN000006S1nJYAS 195277583
001RN000006Rv21YAC 19423662K
001RN000006RwSmYAK 194125070
001RN000006S0T7YAK 193877982
001RN000006S06VYAS 193643965
001RN000006Rw1LYAS 193601723
001RN000006S1ovYAC 193431240
001RN000006RyZNYA0 193418945
001RN000006Rx8dYAC 193240933
001RN000006RoweYAC 193170188
001RN000006S14AYAS 192378648
001RN000006RvgLYAS 191616448
001RN000006Rr04YAC 19144034K
001RN000006Rr05YAC 19135981K
001RN000006RwirYAC 19125712K
001RN000006S0OFYA0 190697401
001RN000006Rw1MYAS 190612422
001RN000006RmBgYAK 190562700
001RN000006RuQwYAK 190337677
001RN000006RuqiYAC 190314170
001RN000006Ry4oYAC 190279944
001RN000006RyEQYA0 190266478
001RN000006RrchYAC 19025853K
001RN000006RwyxYAC 190228622
001RN000006Rt9wYAC 190166961
001RN000006S1s9YAC 190051161
001RN000006RxYUYA0 189685505
001RN000006S1tlYAC 189636490
001RN000006S1vNYAS 189588135
001RN000006RrUfYAK 189460163
001RN000006RslfYAC 189021232
001RN000006RrciYAC 188712525
001RN000006S1wzYAC 188616712
001RN000006RwXWYA0 188522939
001RN000006S1ybYAC 188396372
001RN000006RwCbYAK 188294448
001RN000006RkHsYAK 188191584
001RN000006RnKbYAK 187878853
001RN000006S20DYAS 18766439K
001RN000006RyW7YAK 187315972
001RN000006Rsk8YAC 186933591
001RN000006RuqjYAC 186546571
001RN000006RnyxYAC 186398149
001RN000006RuZ0YAK 18539770K
001RN000006RwnfYAC 185396517
001RN000006Rw7mYAC 18463953K
001RN000006RrL1YAK 184557401
001RN000006Ru7aYAC 184254395
001RN000006RpfmYAC 184018136
001RN000006RxLWYA0 183955381
001RN000006Ruh4YAC 183488953
001RN000006S0uVYAS 18329816K
001RN000006RvwSYAS 182756849
001RN000006RvJkYAK 182593036
001RN000006S0GAYA0 182515388
001RN000006S253YAC 182477923
001RN000006RvtDYAS 181928166
001RN000006S29tYAC 181444924
001RN000006RxesYAC 18128756K
001RN000006RqaAYAS 180595619
001RN000006RqaBYAS 180390936
001RN000006S2D7YAK 180198903
001RN000006RyKrYAK 18018743K
001RN000006S2EjYAK 179912600
001RN000006RxwdYAC 179723212
001RN000006RvhuYAC 179287226
001RN000006RtYAYA0 179252635
001RN000006S1vPYAS 179117916
001RN000006S2GLYA0 179104105
001RN000006RtrOYAS 178487647
001RN000006RvgMYAS 178260561
001RN000006RqaCYAS 178232037
001RN000006S0CwYAK 178064444
001RN000006RstiYAC 177783064
001RN000006Rr9iYAC 177523631
001RN000006S2HxYAK 177513628
001RN000006RotVYAS 177402257
001RN000006Rlp5YAC 177268771
001RN000006S2JZYA0 177023868
001RN000006S04sYAC 176692642
001RN000006RmzdYAC 176667605
001RN000006RtRcYAK 176439947
001RN000006RxdHYAS 176203900
001RN000006S2LBYA0 176024925
001RN000006RtoDYAS 175899499
001RN000006S2MnYAK 17534764K
001RN000006S0koYAC 175340254
001RN000006RuE2YAK 175311580
001RN000006RvMzYAK 175043551
001RN000006S2Q1YAK 174215782
001RN000006S0PsYAK 173801432
001RN000006RoAIYA0 173622171
001RN000006RxF5YAK 173474733
001RN000006RruWYAS 173406053
001RN000006Rmt8YAC 173242719
001RN000006RwMFYA0 17255573K
001RN000006RxWqYAK 172485200
001RN000006S2TFYA0 172321690
001RN000006Rq7AYAS 172291775
001RN000006RwSoYAK 171990726
001RN000006S2HyYAK 171939798
001RN000006RxOkYAK 171885779
001RN000006S2UrYAK 171622638
001RN000006RtQ4YAK 171254752
001RN000006RppWYAS 170683714
001RN000006S2Y5YAK 170299450
001RN000006Rzf4YAC 170281357
001RN000006RqqLYAS 169702101
001RN000006RqdSYAS 169626820
001RN000006RmpyYAC 169557713
001RN000006Rq0mYAC 169360375
001RN000006RpeCYAS 168625618
001RN000006RwvpYAC 168240872
001RN000006RxvAYAS 168008619
001RN000006RvQBYA0 167179487
001RN000006S0GBYA0 166634466
001RN000006S2ZhYAK 166189829
001RN000006RtTEYA0 166173620
001RN000006RrZWYA0 165585291
001RN000006RmpzYAC 165295749
001RN000006S2bJYAS 164771369
001RN000006RuynYAC 164137104
001RN000006S1XCYA0 163886537
001RN000006S2cvYAC 163370050
001RN000006RiBGYA0 162725785
001RN000006S0PtYAK 161737445
001RN000006S0XuYAK 160942940
001RN000006RzYdYAK 160027320
001RN000006RqYfYAK 159926575
001RN000006RtReYAK 159667146
001RN000006RyzIYAS 159577953
001RN000006S1DqYAK 157771345
001RN000006S0eNYAS 156421863
001RN000006RsSTYA0 156337005
001RN000006S0MdYAK 156240834
001RN000006RzNKYA0 156077658
001RN000006RufVYAS 156003166
001RN000006RyzJYAS 155913681
001RN000006S2HzYAK 155047534
001RN000006RobfYAC 154825126
001RN000006S1x0YAC 154469036
001RN000006RoqCYAS 154096809
001RN000006RvOaYAK 153700893
001RN000006Rt8GYAS 153662290
001RN000006Rv22YAC 153578788
001RN000006S2eXYAS 153569975
001RN000006S1k9YAC 153549575
001RN000006RxtRYAS 153174814
001RN000006S2MpYAK 153140278
001RN000006RvI8YAK 153095825
001RN000006S2g9YAC 152969627
001RN000006Rmt9YAC 152329695
001RN000006S0MeYAK 15173796K
001RN000006S0phYAC 151722229
001RN000006RwUKYA0 151592716
001RN000006S2ReYAK 151480403
001RN000006RrpcYAC 151154913
001RN000006RsfLYAS 150721504
001RN000006RuidYAC 150710944
001RN000006S2hlYAC 150332435
001RN000006RzATYA0 147612591
001RN000006S0OGYA0 146286682
001RN000006RtTFYA0 145808588
001RN000006Rx0YYAS 144981448
001RN000006S2jNYAS 144774876
001RN000006S01fYAC 144730682
001RN000006RmBhYAK 143620263
001RN000006RpkaYAC 143561941
001RN000006S2kzYAC 143435245
001RN000006RvBgYAK 142750996
001RN000006RiuPYAS 142092131
001RN000006S2mbYAC 141973800
001RN000006S1fGYAS 141813986
001RN000006S2oDYAS 140515817
001RN000006S2ppYAC 139626958
001RN000006S2THYA0 139034783
001RN000006Rx0ZYAS 139033582
001RN000006RxQQYA0 139029461
001RN000006Rpz9YAC 139025636
001RN000006RrbJYAS 138813045
001RN000006RrL2YAK 137252252
001RN000006S1DrYAK 137113732
001RN000006S2rRYAS 136808338
001RN000006RreLYAS 136788221
001RN000006RxS1YAK 136784331
001RN000006RwXXYA0 135062502
001RN000006S2t3YAC 134329394
001RN000006RrbKYAS 134030291
001RN000006RqTyYAK 132663068
001RN000006Rzn9YAC 132448108
001RN000006RxOlYAK 131426690
001RN000006S2ufYAC 130964249
001RN000006Rvy5YAC 130822452
001RN000006Ro0ZYAS 130785018
001RN000006RmzeYAC 130337503
001RN000006RycZYAS 130222609
001RN000006RzjxYAC 128906274
001RN000006RxYWYA0 12788028K
001RN000006RzK6YAK 127208875
001RN000006RznAYAS 126898045
001RN000006Rwe1YAC 12647122K
001RN000006Rwm3YAC 126281080
001RN000006RvEtYAK 125454992
001RN000006RqaDYAS 124856183
001RN000006RzOwYAK 124744598
001RN000006RyuMYAS 124599350
001RN000006RnXUYA0 123904303
001RN000006RzQZYA0 123235983
001RN000006RzTmYAK 122981630
001RN000006RziIYAS 121863065
001RN000006RzvDYAS 121567199
001RN000006RulsYAC 121397625
001RN000006RwHPYA0 120843788
001RN000006RqVSYA0 120341499
001RN000006RrxeYAC 120012436
001RN000006RoAJYA0 119587166
001RN000006S2wHYAS 118696530
001RN000006RwXYYA0 117605310
001RN000006Rw1NYAS 116168413
001RN000006RzokYAC 114563587
001RN000006S0piYAC 114122947
001RN000006S09kYAC 114025011
001RN000006RyZOYA0 114009059
001RN000006S0UgYAK 113400897
001RN000006S2xtYAC 112065288
001RN000006RyPmYAK 109624764
001RN000006Rwe2YAC 108726865
001RN000006Rv0RYAS 107480927
001RN000006RpMPYA0 107304118
001RN000006RzYeYAK 10636429K
001RN000006S26gYAC 103822114
001RN000006Rs7NYAS 102507487
001RN000006RvlFYAS 101977870
001RN000006RyG0YAK 100703416
001RN000006RuSWYA0 100626144
001RN000006S1TyYAK 10014218K
001RN000006RotWYAS 283087247
001RN000006S2UsYAK 206528559
001RN000006RoqDYAS 283194884
001RN000006RwFrYAK 283049256
001RN000006RyJGYA0 270503330
001RN000006RpO0YAK 240433028
001RN000006S29uYAC 251986541
001RN000006S09lYAC 142500817
001RN000006RmBiYAK 228427675
001RN000006RzX1YAK 134754605
001RN000006RuPGYA0 245584164
001RN000006S1SMYA0 250761287
001RN000006S2zVYAS 245242387
001RN000006S2l0YAC 164278875
001RN000006S317YAC 250834357
001RN000006RtrPYAS 273522700
001RN000006RvZrYAK 171629616
001RN000006RtjNYAS 264693659
001RN000006RzVQYA0 276329561
001RN000006RrMaYAK 235541785
001RN000006RnKcYAK 247403868
001RN000006S06WYAS 230023433
001RN000006S32jYAC 223874568
001RN000006RxAGYA0 223874363
001RN000006S2UtYAK 278320790
001RN000006S2UuYAK 262730107
001RN000006RwFsYAK 171660688
001RN000006RpFxYAK 283153495
001RN000006RqDdYAK 214342901
001RN000006Rz7FYAS 185935876
001RN000006RtgBYAS 258377591
001RN000006S03GYAS 198045349
001RN000006RvQCYA0 252609164
001RN000006S1kAYAS 211304545
001RN000006RpXuYAK 249537160
001RN000006RrmSYAS 282825767
001RN000006RudnYAC 281104632
001RN000006RkzQYAS 270686028
001RN000006RxjnYAC 277137941
001RN000006RunVYAS 246995966
001RN000006RuyoYAC 228494526
001RN000006RpHbYAK 153803196
001RN000006RuE3YAK 142392755
001RN000006RsgrYAC 217203112
001RN000006S34LYAS 224510594
001RN000006S35xYAC 234149431
001RN000006RzVRYA0 250812558
001RN000006RrUgYAK 212646067
001RN000006S39BYAS 128627820
001RN000006Ry6KYAS 207679259
001RN000006Rq7BYAS 225339228
001RN000006RxYXYA0 129475781
001RN000006Rw4aYAC 282879174
001RN000006RqTzYAK 283219356
001RN000006S0rHYAS 219258283
001RN000006RrBHYA0 247721711
001RN000006RwAyYAK 126872909
001RN000006RzIUYA0 283137082
001RN000006RwR6YAK 85498509
001RN000006RtpmYAC 283247562
001RN000006S1c2YAC 282433486
001RN000006RtWbYAK 202932304
001RN000006S23TYAS 235065878
001RN000006S1owYAC 120282816
001RN000006RwKeYAK 245564341
001RN000006RzaEYAS 237476360
001RN000006S2xxYAC 282223309
001RN000006S3CPYA0 279027213
001RN000006S0zKYAS 283086291
001RN000006RsAZYA0 221595432
001RN000006RvoRYAS 261991888
001RN000006Rwe4YAC 205796053
001RN000006S2RfYAK 275897779
001RN000006S1YoYAK 240353504
001RN000006Ru7bYAC 277205939
001RN000006S2ORYA0 245796188
001RN000006RuE4YAK 101519929
001RN000006RxS2YAK 173766254
001RN000006S2mcYAC 24105067K
001RN000006RvYJYA0 229048503
001RN000006S0o2YAC 263177525
001RN000006S17OYAS 265717845
001RN000006S2EkYAK 127490295
001RN000006S2xyYAC 282631741
001RN000006RuHCYA0 255943030
001RN000006S3E1YAK 281612158
001RN000006RvwUYAS 255598376
001RN000006S1AcYAK 235535629
001RN000006RsAaYAK 250705689
001RN000006Rr1hYAC 139245660
001RN000006S0ckYAC 243872219
001RN000006RuM3YAK 175896945
001RN000006RyzKYAS 23809495K
001RN000006RqaEYAS 229763709
001RN000006S15mYAC 226002588
001RN000006S1c3YAC 152665768
001RN000006RsdeYAC 172199526
001RN000006RnyyYAC 251222436
001RN000006RsSUYA0 282510944
001RN000006RrCuYAK 28319129K
001RN000006S3HFYA0 205369325
001RN000006S2BWYA0 130593895
001RN000006RsdfYAC 222908361
001RN000006RsdgYAC 283200256
001RN000006RtLAYA0 283199436
001RN000006S2LCYA0 168823045
001RN000006RpiwYAC 283096246
001RN000006S0zLYAS 283081648
001RN000006S1IgYAK 282267667
001RN000006S06XYAS 198657379
001RN000006S2pqYAC 253862459
001RN000006S0kpYAC 245606885
001RN000006RtTGYA0 229378732
001RN000006RuZ1YAK 18015387K
001RN000006RxOmYAK 25616079K
001RN000006RsAbYAK 232330341
001RN000006RpmIYAS 241591859
001RN000006RyJHYA0 222207320
001RN000006S3KTYA0 197593237
001RN000006RvelYAC 282958783
001RN000006RzC6YAK 259524164
001RN000006RsIdYAK 18341657K
001RN000006RyazYAC 253920777
001RN000006RxGgYAK 282824779
001RN000006S3E2YAK 251941718
001RN000006Rs49YAC 193536336
001RN000006RvemYAC 282264552
001RN000006RrkoYAC 22922705K
001RN000006RvdBYAS 169793476
001RN000006Rss7YAC 152564902
001RN000006RxGhYAK 246207046
001RN000006RndzYAC 246616175
001RN000006RoVKYA0 265551297
001RN000006RyhPYAS 188346421
001RN000006S1dfYAC 225859779
001RN000006RwsYYAS 160187549
001RN000006S3M5YAK 272696780
001RN000006RvwVYAS 256537281
001RN000006RickYAC 172581625
001RN000006S3NhYAK 248680881
001RN000006Rw7nYAC 24578774K
001RN000006RthjYAC 260619187
001RN000006RtZjYAK 278444759
001RN000006RynrYAC 281882538
001RN000006S0JOYA0 215361438
001RN000006S3PJYA0 219070594
001RN000006S3QvYAK 156080756
001RN000006RrMbYAK 266111118
001RN000006RppXYAS 266110790
001RN000006S3U9YAK 264792568
001RN000006Rz0kYAC 275653063
001RN000006RrZWYA0 165585291
001RN000006Rz0kYAC 275653063
001RN000006S1iUYAS 26009291K
001RN000006RuM4YAK 280052418
001RN000006S0jDYAS 276339664
001RN000006RoF1YAK 282158671
001RN000006RxN9YAK 28242424K
001RN000006RsQjYAK 282815192
001RN000006RxtSYAS 283156974
001RN000006S21qYAC 200752139
001RN000006S3QwYAK 107021035
001RN000006S2JaYAK 207618373
001RN000006RuAmYAK 122480895
001RN000006S2ElYAK 92336573
001RN000006RxweYAC 91528800
001RN000006S3YzYAK 130707580
001RN000006S2prYAC 225681953
001RN000006RxjoYAC 245666373
001RN000006S3cDYAS 130362397
001RN000006RtoEYAS 231140441
001RN000006RvV0YAK 202892558
001RN000006S26hYAC 97424594
001RN000006S3dpYAC 220256022
001RN000006S3fRYAS 262828905
001RN000006RlNfYAK 104850472
001RN000006RultYAC 126345607
001RN000006RrpdYAC 221099044
001RN000006RvZsYAK 240023687
001RN000006S09mYAC 208352237
001RN000006S0eOYAS 220109615
001RN000006Rn9NYAS 161780308
001RN000006RrzNYAS 21832360K
001RN000006RwfaYAC 20474212K
001RN000006RpzBYAS 22072011K
001RN000006RsaVYAS 217853923
001RN000006Rx73YAC 153360979
001RN000006RxAJYA0 247430091
001RN000006S2WUYA0 234151991
001RN000006S0o3YAC 263801261
001RN000006RvwWYAS 211753390
001RN000006RtYBYA0 224129211
001RN000006RuU8YAK 170270754
001RN000006S3h3YAC 247795022
001RN000006RtjOYAS 23491166K
001RN000006Rv8UYAS 163464888
001RN000006S2MqYAK 92162079
001RN000006RnSfYAK 231971947
001RN000006Rq0nYAC 221866738
001RN000006RmtAYAS 234908197
001RN000006S3ifYAC 219642237
001RN000006S23dYAC 210713565
001RN000006RziJYAS 231073914
001RN000006RqaFYAS 204971501
001RN000006RzIVYA0 222148596
001RN000006Rz8rYAC 242149262
001RN000006S3ltYAC 257149404
001RN000006S26iYAC 240970996
001RN000006S3nVYAS 221748441
001RN000006RnXVYA0 128891900
001RN000006Rx5PYAS 217222524
001RN000006Rxi8YAC 22951427K
001RN000006RsDnYAK 205260897
001RN000006Rw4bYAC 143082865
001RN000006RvgNYAS 219395167
001RN000006S3p7YAC 25288727K
001RN000006RyzLYAS 218756476
001RN000006S0JPYA0 140788945
001RN000006S0rMYAS 153705704
001RN000006S1NXYA0 248391324
001RN000006RuIrYAK 266154445
001RN000006RzIWYA0 120334891
001RN000006RuPHYA0 242022890
001RN000006S3E3YAK 234294598
001RN000006S0svYAC 272840415
001RN000006RtZkYAK 275422541
001RN000006Rxi9YAC 268439676
001RN000006RlcHYAS 156376272
001RN000006RycaYAC 236014568
001RN000006S3E4YAK 267365539
001RN000006RyZPYA0 244146554
001RN000006Rx8fYAC 218775519
001RN000006S2rUYAS 239175341
001RN000006S3qjYAC 84304336
001RN000006Ru7cYAC 223058000
001RN000006S2xzYAC 257955427
001RN000006RvI9YAK 276356879
001RN000006S1XDYA0 139206355
001RN000006S2TIYA0 27757263K
001RN000006S3sLYAS 224307195
001RN000006RpmKYAS 265162592
001RN000006S1NYYA0 279642708
001RN000006S2Y6YAK 273131159
001RN000006S2oFYAS 169764638
001RN000006RsSVYA0 241116301
001RN000006RufWYAS 232749784
001RN000006S3nWYAS 242065530
001RN000006RwHQYA0 247996788
001RN000006RvDKYA0 279703685
001RN000006S3vZYAS 222246075
001RN000006S3xBYAS 268745610
001RN000006S2jOYAS 271979215
001RN000006RuNhYAK 165230493
001RN000006RzIXYA0 281702963
001RN000006RwqvYAC 25845331K
001RN000006S0xiYAC 251201951
001RN000006RznBYAS 269978724
001RN000006RwSpYAK 25915670K
001RN000006S3ynYAC 237312104
001RN000006RwqwYAC 174149593
001RN000006RppYYAS 255275089
001RN000006RvJlYAK 238919754
001RN000006S40PYAS 255309552
001RN000006RuZ2YAK 233683590
001RN000006S3nXYAS 238245575
001RN000006RvA7YAK 274473843
001RN000006S0pjYAC 280405973
001RN000006S40QYAS 24488220K
001RN000006RxNAYA0 245820089
001RN000006S421YAC 272007837
001RN000006RunWYAS 242118952
001RN000006S2GRYA0 279928148
001RN000006S2WVYA0 177785741
001RN000006S43dYAC 273389903
001RN000006S0MfYAK 155401109
001RN000006S45FYAS 241638995
001RN000006S422YAC 239087833
001RN000006S46rYAC 281703250
001RN000006Rw4cYAC 233831638
001RN000006RrzOYAS 262362310
001RN000006S318YAC 178504738
001RN000006S10zYAC 276961020
001RN000006Ru4IYAS 172796745
001RN000006S2y0YAC 276892738
001RN000006Ryr6YAC 260409271
001RN000006S0PuYAK 186982304
001RN000006Ryr7YAC 277400952
001RN000006S09nYAC 277400863
001RN000006S1P8YAK 279838149
001RN000006RxiAYAS 249457957
001RN000006Rs2iYAC 242867742
001RN000006RzYgYAK 266902506
001RN000006S1iVYAS 280448834
001RN000006S1tmYAC 26119239K
001RN000006RnSgYAK 28104849K
001RN000006S3tyYAC 256134144
001RN000006RvgOYAS 23118922K
001RN000006S12YYAS 225190658
001RN000006Rl60YAC 241467082
001RN000006RppZYAS 238838908
001RN000006RqYgYAK 247139443
001RN000006S0zOYAS 76910863
001RN000006S43eYAC 268808922
001RN000006RuNiYAK 262621731
001RN000006S1TzYAK 27240030K
001RN000006RsqXYAS 254795909
001RN000006RobgYAC 253795697
001RN000006RyslYAC 273605061
001RN000006S48TYAS 267211574
001RN000006RsqYYAS 26956945K
001RN000006RzlWYAS 269569832
001RN000006S3HGYA0 269547995
001RN000006RrkpYAC 259744156
001RN000006RqvGYAS 281348477
001RN000006RuNjYAK 259670640
001RN000006S3cEYAS 280105007
001RN000006RppaYAC 5008342492

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pacientes_con_id_no["Id Account Paciente"] = Pacientes_con_id_no["rut"].apply(
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Pacientes_con_id_no["Id Contacto"] = Pacientes_con_id_no["Id Account Paciente"].apply(
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:109: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_programas_empresa["Paciente__c"] = Subir_programas_empresa["Id Account Paciente"]
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_programas_empresa["Programas_por_Empresas__c"] = VpacientePrograma
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:130: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_AccountContact["ContactId"] = Subir_AccountContact["Id Contacto"]
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:131: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_AccountContact["AccountId"] = VempresaaAccount
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:173: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_empresacontactoconvenio["Paciente__c"] = Subir_empresacontactoconvenio[
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:177: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_empresacontactoconvenio["N_Documento_Titular__c"] = Subir_empresacontactoconvenio[
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_23292\2001372226.py:180: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Subir_empresacontactoconvenio["Empresa__c"] = VempresaConvenio

Cuadrar eliminar pacientes q no estan en el listado
//-----------------------------------------------------------//

In [ ]:
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "163820064")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "153298939")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "191710940")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "182470082")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16277865")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16277865K")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "HEGJ930928HMNRRL06")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "16007258K")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "86676540")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "202201466")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "105233469")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "130949185")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "255356798")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "34005945")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "185410072")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "197415029")].index, inplace=True)
empresacontactoconvenio_PacientesSF.drop(empresacontactoconvenio_PacientesSF[(empresacontactoconvenio_PacientesSF["Rut_y"] == "254468134")].index, inplace=True)



empresacontactoconvenio_PacientesSF.head()

In [ ]:
empresacontactoconvenio_PacientesSF.to_excel(
    "F:/Empresas SF/reportes/SFpacientes.xlsx", index=False)

In [ ]:
contactd = sf.Account.get("0018c00002lUyo0AAC")
contactd["PersonContactId"]

In [ ]:
# contactd["PersonContactId"]
print(datetime.now())

In [ ]:
Subir_pacientes.to_excel("F:/Empresas SF/reportes/tod  es.xlsx", index=False)

query2 = "select P_liza**c, Nombre_de_Empresa**c, Rut_Empresa**c, Empresa_Padre**r.Name, Empresa**r.name,Holding**c, Plan**c, Pais**c, Activo**c, Id from Datos_Empresa**c "

df2 = sf.smart_query(query2)
df2.to_excel("F:/Empresas SF/reportes/empresas_nuevas.xlsx", index=False)
df2.head()

Subir_pacientes.to_excel("F:/Empresas SF/reportes/111account.xlsx", index=False)

derty = Subir_pacientes["IdentificationId__pc"]
sf.Contact.create({"IdentificationId\_\_pc": "derty", "Email": "example@example.com"})

Subir_pacientes.head()

Subir_pacientes.head()
Subir_pacientes.to_excel("F:/Empresas SF/reportes/account\_\_l.xlsx", index=False)

In [ ]:
""" if campaña != "MetLife":
    pacientes_en_campaña = pd.merge(
        left=campaña_seleccionada,
        right=Pacientes_con_id,
        how="left",
        left_on="Id Account",
        right_on="Id Account Paciente",
    )
    pacientes_en_campaña["Paciente__c"] = "Id Pacientes"
    pacientes_en_campaña["Programas_por_Empresas__c"] = "Id Programas Por empresa"
    pacientes_en_campaña.to_excel(
        "F:/Empresas SF/reportes/campaña_empresa.xlsx", index=False
    )
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña.xlsx", index=False
    )
 """

In [ ]:
""" if campaña != "MetLife1":
    campaña_en_pacientes = pd.merge(
        left=Pacientes_con_id,
        right=campaña_seleccionada,
        how="left",
        left_on="Id Account Paciente",
        right_on="Id Account",
    )
    if ("poliza" in campaña_en_pacientes.columns) == True:
        campaña_en_pacientes["poliza"] = campaña_en_pacientes["poliza"].astype(str)

    campaña_en_pacientes = campaña_en_pacientes.rename(
        columns={"Programas_por_Empresas__c": "programas por empresa"}
    )
    campaña_en_pacientes["Paciente__c"] = campaña_en_pacientes["Id Account Paciente"]
    campaña_en_pacientes["Programas_por_Empresas__c"] = campaña_en_pacientes[
        "programas por empresa"
    ]
    campaña_en_pacientes.to_excel(
        "F:/Empresas SF/reportes/archivo_campaña2.xlsx", index=False
    ) """

In [ ]:
# apprix_1 = Pacientes_SF.iloc[:790552,:]
# apprix_2 = Pacientes_SF.iloc[790553:,:]
# apprix_1.to_excel("F:/Empresas SF/reportes/Ruts1.xlsx",index=False)
# apprix_2.to_excel("F:/Empresas SF/reportes/Ruts2.xlsx",index=False)

In [ ]:
campaña_en_pacientes2 = pd.merge(
    left=Pacientes_con_id,
    right=campaña_seleccionada,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)
if ("poliza" in campaña_en_pacientes2.columns) == True:
    campaña_en_pacientes2["poliza"] = campaña_en_pacientes2["poliza"].astype(str)

campaña_en_pacientes2 = campaña_en_pacientes2.rename(
    columns={"Programas_por_Empresas__c": "programas por empresa"}
)
campaña_en_pacientes2["Paciente__c"] = campaña_en_pacientes2["Id Account Paciente"]
campaña_en_pacientes2["Programas_por_Empresas__c"] = campaña_en_pacientes2[
    "programas por empresa"
]


""" campaña_en_pacientes2 = campaña_en_pacientes2[
    (campaña_en_pacientes2["Programas_por_Empresas__c"] == "")] """
campaña_en_pacientes2["Esta"] = campaña_en_pacientes2["programas por empresa"].isnull()
campaña_en_pacientes2 = campaña_en_pacientes2[campaña_en_pacientes2["Esta"]]
campaña_en_pacientes2.to_excel(
    "F:/Empresas SF/reportes/archivo_campaña3.xlsx", index=False
)

In [ ]:
campaña_en_pacientes2["rut"].shape

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
rutes = pd.DataFrame(columns=["rut"])
rutes["rut"] = Pacientes_Archivo["rut"]
rutes["rutT"] = Pacientes_Archivo["rut2"]
rutes["Contratante"] = Pacientes_Archivo["Contratante"]
# rutes["poliza"] = Pacientes_Archivo["poliza"]
rutes.head()

In [ ]:
rutes["rut"] = rutes["rut"].astype(str)
rutes["rut"] = rutes["rut"].str.replace(".", "")
rutes["rut"] = rutes["rut"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rut"] = rutes["rut"].str.upper()
rutes["rut"] = rutes["rut"].str.strip()

rutes["rutT"] = rutes["rutT"].astype(str)
rutes["rutT"] = rutes["rutT"].str.replace(".", "")
rutes["rutT"] = rutes["rutT"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["rutT"] = rutes["rutT"].str.upper()
rutes["rutT"] = rutes["rutT"].str.strip()

""" rutes["poliza"] = rutes["poliza"].astype(str)
rutes["poliza"] = rutes["poliza"].str.replace(".", "")
rutes["poliza"] = rutes["poliza"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
rutes["poliza"] = rutes["poliza"].str.strip() """


rutes.head()

In [ ]:
# derty = rutes.to_numpy().transpose().tolist()


Pacientes_SF2 = Pacientes_SF[["Rut", "Id Account Paciente"]]

In [ ]:
rutesi = pd.merge(
    left=rutes,
    right=Pacientes_SF2,
    how="left",
    left_on="rut",
    right_on="Rut",
)
rutesi.shape
rutesi.to_excel("F:/Empresas SF/reportes/rutsyempresa.xlsx", index=False)

In [ ]:
rutesi.head()

In [ ]:
rutesi_antg = pd.merge(
    left=rutesi,
    right=empresas_unidas,
    how="left",
    left_on="Id Account Paciente",
    right_on="Id Account",
)

In [ ]:
rutesi_antg.head()

In [ ]:
# rutesi_antg .to_excel("F:/Empresas SF/reportes/ruts_empresas_antiguos.xlsx", index=False)

In [ ]:
import json
import pandas as pd
from simple_salesforce import Salesforce, format_soql, format_external_id
from json import loads, dumps
import simpler_sf

simpler_sf.simple_salesforce()

In [ ]:
with open("login.json", "r") as j:
    misDatos = json.load(j)
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)

In [ ]:
""" query = "select Id, Account.Name, RutContact__c from AccountContactRelation "

df1 = sf.smart_query(query) """

In [ ]:
# nuevosrutes = "F:/Empresas SF/reportes/rut.xlsx"
# campaña = "BCI Seguros Colectivos"
# Pais = "Chile"
# Pais = "México"

# rutes = pd.read_excel(nuevosrutes)
# rutes = Subir_pacientes["rut"]

In [ ]:
""" df1.head() """

In [ ]:
""" df1["rut"] = df1["RutContact__c"].astype(str)
df1["rut"] = df1["rut"].str.replace(".", "")
df1["rut"] = df1["rut"].str.replace(
    "-", ""
)  # aca se trabaja con el nuevo rut desde rut1 ojooooooo
df1["rut"] = df1["rut"].str.upper()
df1["rut"] = df1["rut"].str.strip()
df1.head() """

In [ ]:
""" rutes.head() """

In [ ]:
""" rutesi = pd.merge(
    left=rutes,
    right=df1,
    how="left",
    left_on="rut",
    right_on="rut",
) """

In [ ]:
""" rutesi.to_excel("F:/Empresas SF/reportes/rutesnuevos_accountcontactrelation.xlsx", index=False) """

In [ ]:
""" df2["P_liza__c"] = df2["P_liza__c"].astype(str)
df2["P_liza__c"] = df2["P_liza__c"].str.replace(".", "")
df2["P_liza__c"] = df2["P_liza__c"].str.replace("-", "")
# aca se trabaja con el nuevo rut desde rut1 ojooooooo
df2["P_liza__c"] = df2["P_liza__c"].str.upper()
df2["P_liza__c"] = df2["P_liza__c"].str.strip() """

In [ ]:
modelo_nuevo = pd.merge(
    left=rutesi,
    right=df2,
    how="left",
    left_on="poliza",
    right_on="P_liza__c",
)
modelo_nuevo.to_excel("F:/Empresas SF/reportes/modelo_nuevo.xlsx", index=False)

In [ ]:
modelo = pd.DataFrame()
modelo = modelo_nuevo[["rutT", "Id Account Paciente", "Id"]]

In [ ]:
modelo.head()