In [1]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
from simple_salesforce import Salesforce
import shutil
import datetime
from datetime import datetime

In [2]:
sf = Salesforce(
    username="jmartinez@careassistance.com",
    password="Jcmm01041983*",
    security_token="dxbNevVOmgmoQS4Zllh3DpNDj",
)

In [3]:
# CArga de PAcientes
results = sf.query_all(
    """
    select Id, IdentificationId__pc from Account where ispersonaccount = True
   """
)
Pacientes_SF = pd.DataFrame(results["records"])

Pacientes_SF = Pacientes_SF[
    [
        "Id",
        "IdentificationId__pc",
    ]
]
Pacientes_SF = Pacientes_SF.rename(
    columns={
        "Id": "Id Account Paciente",
        "IdentificationId__pc": "Rut",
    }
)
Pacientes_SF.shape

(1809640, 2)

In [20]:
nuevos = "F:/Empresas SF/reportes/accuhealth.xlsx"
Archivo = pd.read_excel(nuevos,sheet_name='Accuhealth')

# OJO se copia rut1 a rut le saca el guoion
Archivo.head()

,patient_id,patient_lot_id,RUT,name,surname,date,severity,BG,bienestar,DBP,Medicacion,SBP
0,25785,9512321,06060944-6,Juan Guillermo,Bernstein,2023-01-02T10:05:32.000Z,Baja,117,Bien,75,Sí,106
1,25785,9515540,06060944-6,Juan Guillermo,Bernstein,2023-01-04T08:45:32.000Z,Baja,133,Bien,70,Sí,109
2,25785,9519833,06060944-6,Juan Guillermo,Bernstein,2023-01-06T08:45:43.000Z,Baja,128,Bien,74,Sí,118
3,25785,9524222,06060944-6,Juan Guillermo,Bernstein,2023-01-09T08:45:05.000Z,Alta,97,Bien,79,Sí,113
4,25785,9525982,06060944-6,Juan Guillermo,Bernstein,2023-01-09T20:45:06.000Z,Incompleto,Observación faltante,Bien,Observación faltante,Sí,Observación faltante

In [21]:
Archivo["RUT"] = Archivo["RUT"].astype(str)
Archivo["RUT"] = Archivo["RUT"].str.replace("-", "")
Archivo["RUT"] = Archivo["RUT"].str.replace(".", "")
Archivo["RUT"] = Archivo["RUT"].str.upper()

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_18184\3527352582.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Archivo["RUT"] = Archivo["RUT"].str.replace(".", "")

In [22]:
Archivo.dtypes

patient_id         int64
patient_lot_id     int64
RUT               object
name              object
surname           object
date              object
severity          object
BG                object
bienestar         object
DBP               object
Medicacion        object
SBP               object
dtype: object

In [23]:
Archivo['RUT2'] = Archivo['RUT'].apply(lambda x: str(x)[1:])
Archivo.head()

,patient_id,patient_lot_id,RUT,name,surname,date,severity,BG,bienestar,DBP,Medicacion,SBP,RUT2
0,25785,9512321,060609446,Juan Guillermo,Bernstein,2023-01-02T10:05:32.000Z,Baja,117,Bien,75,Sí,106,60609446
1,25785,9515540,060609446,Juan Guillermo,Bernstein,2023-01-04T08:45:32.000Z,Baja,133,Bien,70,Sí,109,60609446
2,25785,9519833,060609446,Juan Guillermo,Bernstein,2023-01-06T08:45:43.000Z,Baja,128,Bien,74,Sí,118,60609446
3,25785,9524222,060609446,Juan Guillermo,Bernstein,2023-01-09T08:45:05.000Z,Alta,97,Bien,79,Sí,113,60609446
4,25785,9525982,060609446,Juan Guillermo,Bernstein,2023-01-09T20:45:06.000Z,Incompleto,Observación faltante,Bien,Observación faltante,Sí,Observación faltante,60609446