In [1]:
import encodings
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import openpyxl

In [2]:
#ususaarios de base de datos local

#usuario = 'care_consulta'
#contrasena = 'CareAssistance!10'
#url_servidor = '10.0.10.22'
#puerto = '3306'
#esquema = 'EspoCRM2'
#plugin_autenticacion = 'mysql_native_password'

#usuarios de base de datos Simtastic ##########################################

usuario = 'siempreread'
contrasena = 'S13mpr3_Ch1l3'
url_servidor = '209.151.148.250'
puerto = '3306'
esquema = 'EspoCRM2'
plugin_autenticacion = 'mysql_native_password'

# Conexi√≥n a la base de datos

c_conexion = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
c_conexion = c_conexion.format(usuario, contrasena, url_servidor, puerto,
                               esquema, plugin_autenticacion)
motor_mysql_mariadb = create_engine(c_conexion)

In [3]:
nuevosql='SELECT * FROM `case`'
data20 = pd.read_sql_query(nuevosql, motor_mysql_mariadb)
archivocase = 'C:/Users/jmartinez/Desktop/casos nuevos/casos/1/casos.xlsx'
data20.head()

,id,name,deleted,number,status,priority,type,description,created_at,modified_at,...,contacto_estrecho,agenda_nombre_profesional,agenda_hora_atencion,nombre_mascota,vet_especie,vetprox_control,vetsexo,vet_raza,vet_edad,vet_meses
0,5d8e26041b667879c,prueba 1,1,1,New,Normal,Question,Prueba 1,2019-09-27 15:08:52,2019-09-27 19:26:15,...,None,,NaT,None,None,None,,None,NaN,NaN
1,5d8e67f40895e5fce,Test,1,2,New,Normal,Primera Consulta,AAA,2019-09-27 19:50:12,2019-09-27 19:53:29,...,None,,NaT,None,None,None,,None,NaN,NaN
2,5d911861d75997566,test,1,3,New,Normal,Primera Consulta,test,2019-09-29 20:47:29,2019-09-30 14:17:46,...,None,,NaT,None,None,None,,None,NaN,NaN
3,5d912bacac319c66b,test 2,1,4,New,Normal,Primera Consulta,test 2,2019-09-29 22:09:48,2019-09-30 14:17:46,...,None,,NaT,None,None,None,,None,NaN,NaN
4,5d9140e1894ba64a3,test03,1,5,New,Normal,Primera Consulta,None,2019-09-29 23:40:17,2019-09-30 14:17:46,...,None,,NaT,None,None,None,,None,NaN,NaN

In [4]:
 #saca los espacios de todo el dataframe
data20 = data20.replace(r"^ +| +$",r"",regex=True)

#cambia los valores nulos por vacios
#data20 = data20.replace(np.nan, '', regex=True)

data20['name'] = data20['name'].str.lower()
data20['description'] = data20['description'].str.lower()
data20['channel'] = data20['channel'].str.title()
data20['confidential_description'] = data20['confidential_description'].str.lower()
#data20['confidential_description'] = data20['confidential_description'].str.replace('nan', '')
data20['action'] = data20['action'].str.title()
data20['request'] = data20['request'].str.title()
data20['area'] = data20['area'].str.title()
data20['consultation_reason'] = data20['consultation_reason'].str.upper()
data20['treatment_location'] = data20['treatment_location'].str.title()
data20['patologia_ges'] = data20['patologia_ges'].str.upper()
data20['descripcion_medicina'] = data20['descripcion_medicina'].str.lower()
data20['indicaciones_medicas'] = data20['indicaciones_medicas'].str.lower()
data20['cad_turno'] = data20['cad_turno'].str.lower()
data20['cad_sector'] = data20['cad_sector'].str.title()
data20['cad_origen_foco'] = data20['cad_origen_foco'].str.lower()
data20['nombre_mascota'] = data20['nombre_mascota'].str.title()
data20['vet_especie'] = data20['vet_especie'].str.title()
data20['vet_raza'] = data20['vet_raza'].str.title()

In [5]:
data20.to_excel(archivocase, index=False)