In [1]:
import pandas as pd
import numpy as np

In [2]:
empresas = ("F:/SalesForce/Carga Empresas/Empresas.xlsx")
clinicas = ("F:/SalesForce/Carga Empresas/Clinicas MetLife.xlsx")
salida = ("F:/SalesForce/Carga Empresas/salida.xlsx")

In [3]:

derty = pd.read_excel(empresas)
df = pd.read_excel(clinicas)
total = pd.DataFrame(columns=['Account__c', 'Work_Type_Group__c'])

In [4]:
df.head(10)

                   Id
0  0VS8c000000obNUGAY
1  0VS8c000000obNVGAY
2  0VS8c000000obNWGAY
3  0VS8c000000obNXGAY
4  0VS8c000000obNYGAY
5  0VS8c000000obNZGAY
6  0VS8c000000obNaGAI
7  0VS8c000000obNbGAI
8  0VS8c000000obNcGAI
9  0VS8c000000ob8BGAQ

In [5]:
#total = pd.merge(left=derty,right=df,  how='outer',on='Id')

In [6]:
a = 0
for i in range(len(derty)):
    
    for k in range(len(df)):
        print (derty.iloc[i])
        print (df.iloc[k])
        #total.iloc[0:a] = derty.iloc[i]

        total.loc[a]=  [derty.iloc[i]['Id'],df.iloc[k]['Id']]
        #total.append['uno']=  df.iloc[k]['Id']
        #total[a]['dos'] = df.iloc[k]['Id']
        #total.append(col[i] + col[i + 1])
        a = a+1

Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJGYA4
Name: 0, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJHYA4
Name: 1, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJIYA4
Name: 2, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJJYA4
Name: 3, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJKYA4
Name: 4, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJLYA4
Name: 5, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJMYA4
Name: 6, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJNYA4
Name: 7, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJOYA4
Name: 8, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJPYA4
Name: 9, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJQYA4
Name: 10, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJRYA4
Name: 11, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJSYA4
Name: 12, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJTYA4
Name: 13, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object
Id    001RN000006KSJUYA4
Name: 14, dtype: object
Id    0VS8c000000ob1yGAA
Name: 12, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VSRN00000000o14AA
Name: 10, dtype: object
Id    001RN000006KSJVYA4
Name: 15, dtype: object
Id    0VS8c000000ob23GAA
Name: 11, dtype: object

In [7]:
total.to_excel(salida, index=False)
total.head(30)

            Account__c  Work_Type_Group__c
0   001RN000006KSJGYA4  0VS8c000000obNUGAY
1   001RN000006KSJGYA4  0VS8c000000obNVGAY
2   001RN000006KSJGYA4  0VS8c000000obNWGAY
3   001RN000006KSJGYA4  0VS8c000000obNXGAY
4   001RN000006KSJGYA4  0VS8c000000obNYGAY
5   001RN000006KSJGYA4  0VS8c000000obNZGAY
6   001RN000006KSJGYA4  0VS8c000000obNaGAI
7   001RN000006KSJGYA4  0VS8c000000obNbGAI
8   001RN000006KSJGYA4  0VS8c000000obNcGAI
9   001RN000006KSJGYA4  0VS8c000000ob8BGAQ
10  001RN000006KSJGYA4  0VSRN00000000o14AA
11  001RN000006KSJGYA4  0VS8c000000ob23GAA
12  001RN000006KSJGYA4  0VS8c000000ob1yGAA
13  001RN000006KSJHYA4  0VS8c000000obNUGAY
14  001RN000006KSJHYA4  0VS8c000000obNVGAY
15  001RN000006KSJHYA4  0VS8c000000obNWGAY
16  001RN000006KSJHYA4  0VS8c000000obNXGAY
17  001RN000006KSJHYA4  0VS8c000000obNYGAY
18  001RN000006KSJHYA4  0VS8c000000obNZGAY
19  001RN000006KSJHYA4  0VS8c000000obNaGAI
20  001RN000006KSJHYA4  0VS8c000000obNbGAI
21  001RN000006KSJHYA4  0VS8c000000obNcGAI
22  001RN000006KSJHYA4  0VS8c000000ob8BGAQ
23  001RN000006KSJHYA4  0VSRN00000000o14AA
24  001RN000006KSJHYA4  0VS8c000000ob23GAA
25  001RN000006KSJHYA4  0VS8c000000ob1yGAA
26  001RN000006KSJIYA4  0VS8c000000obNUGAY
27  001RN000006KSJIYA4  0VS8c000000obNVGAY
28  001RN000006KSJIYA4  0VS8c000000obNWGAY
29  001RN000006KSJIYA4  0VS8c000000obNXGAY

In [8]:
total.shape

(715, 2)