In [1]:
import pandas as pd
import numpy as np

In [2]:
empresas = ("F:/SalesForce/Carga Empresas/Empresas.xlsx")
clinicas = ("F:/SalesForce/Carga Empresas/Clinicas MetLife.xlsx")
salida = ("F:/SalesForce/Carga Empresas/salida.xlsx")

In [3]:

derty = pd.read_excel(empresas)
df = pd.read_excel(clinicas)
total = pd.DataFrame(columns=['Account__c', 'Work_Type_Group__c'])

In [4]:
df.head(10)

                   Id
0  0VS8c000000obNUGAY
1  0VS8c000000obNVGAY
2  0VS8c000000obNWGAY
3  0VS8c000000obNXGAY
4  0VS8c000000obNYGAY
5  0VS8c000000obNZGAY
6  0VS8c000000obNaGAI
7  0VS8c000000obNbGAI
8  0VS8c000000obNcGAI
9  0VS8c000000ob8BGAQ

In [5]:
#total = pd.merge(left=derty,right=df,  how='outer',on='Id')

In [6]:
a = 0
for i in range(len(derty)):
    
    for k in range(len(df)):
        print (derty.iloc[i])
        print (df.iloc[k])
        #total.iloc[0:a] = derty.iloc[i]

        total.loc[a]=  [derty.iloc[i]['Id'],df.iloc[k]['Id']]
        #total.append['uno']=  df.iloc[k]['Id']
        #total[a]['dos'] = df.iloc[k]['Id']
        #total.append(col[i] + col[i + 1])
        a = a+1

Id    0018c00002nlDZWAA2
Name: 0, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZWAA2
Name: 0, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZWAA2
Name: 0, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZWAA2
Name: 0, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZWAA2
Name: 0, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZWAA2
Name: 0, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZWAA2
Name: 0, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZWAA2
Name: 0, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZWAA2
Name: 0, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZWAA2
Name: 0, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZXAA2
Name: 1, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZXAA2
Name: 1, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZXAA2
Name: 1, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZXAA2
Name: 1, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZXAA2
Name: 1, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZXAA2
Name: 1, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZXAA2
Name: 1, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZXAA2
Name: 1, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZXAA2
Name: 1, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZXAA2
Name: 1, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZYAA2
Name: 2, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZYAA2
Name: 2, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZYAA2
Name: 2, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZYAA2
Name: 2, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZYAA2
Name: 2, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZYAA2
Name: 2, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZYAA2
Name: 2, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZYAA2
Name: 2, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZYAA2
Name: 2, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZYAA2
Name: 2, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZZAA2
Name: 3, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZZAA2
Name: 3, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZZAA2
Name: 3, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZZAA2
Name: 3, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZZAA2
Name: 3, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZZAA2
Name: 3, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZZAA2
Name: 3, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZZAA2
Name: 3, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZZAA2
Name: 3, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZZAA2
Name: 3, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZaAAM
Name: 4, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZaAAM
Name: 4, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZaAAM
Name: 4, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZaAAM
Name: 4, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZaAAM
Name: 4, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZaAAM
Name: 4, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZaAAM
Name: 4, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZaAAM
Name: 4, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZaAAM
Name: 4, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZaAAM
Name: 4, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZbAAM
Name: 5, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZbAAM
Name: 5, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZbAAM
Name: 5, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZbAAM
Name: 5, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZbAAM
Name: 5, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZbAAM
Name: 5, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZbAAM
Name: 5, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZbAAM
Name: 5, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZbAAM
Name: 5, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZbAAM
Name: 5, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZcAAM
Name: 6, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZcAAM
Name: 6, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZcAAM
Name: 6, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZcAAM
Name: 6, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZcAAM
Name: 6, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZcAAM
Name: 6, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZcAAM
Name: 6, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZcAAM
Name: 6, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZcAAM
Name: 6, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZcAAM
Name: 6, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZdAAM
Name: 7, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZdAAM
Name: 7, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZdAAM
Name: 7, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZdAAM
Name: 7, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZdAAM
Name: 7, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZdAAM
Name: 7, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZdAAM
Name: 7, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZdAAM
Name: 7, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZdAAM
Name: 7, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZdAAM
Name: 7, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZeAAM
Name: 8, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZeAAM
Name: 8, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZeAAM
Name: 8, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZeAAM
Name: 8, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZeAAM
Name: 8, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZeAAM
Name: 8, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZeAAM
Name: 8, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZeAAM
Name: 8, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZeAAM
Name: 8, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZeAAM
Name: 8, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZfAAM
Name: 9, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZfAAM
Name: 9, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZfAAM
Name: 9, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZfAAM
Name: 9, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZfAAM
Name: 9, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZfAAM
Name: 9, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZfAAM
Name: 9, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZfAAM
Name: 9, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZfAAM
Name: 9, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZfAAM
Name: 9, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZgAAM
Name: 10, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZgAAM
Name: 10, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZgAAM
Name: 10, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZgAAM
Name: 10, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZgAAM
Name: 10, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZgAAM
Name: 10, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZgAAM
Name: 10, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZgAAM
Name: 10, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZgAAM
Name: 10, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZgAAM
Name: 10, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZhAAM
Name: 11, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZhAAM
Name: 11, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZhAAM
Name: 11, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZhAAM
Name: 11, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZhAAM
Name: 11, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZhAAM
Name: 11, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZhAAM
Name: 11, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZhAAM
Name: 11, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZhAAM
Name: 11, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZhAAM
Name: 11, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZiAAM
Name: 12, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZiAAM
Name: 12, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZiAAM
Name: 12, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZiAAM
Name: 12, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZiAAM
Name: 12, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZiAAM
Name: 12, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZiAAM
Name: 12, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZiAAM
Name: 12, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZiAAM
Name: 12, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZiAAM
Name: 12, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZjAAM
Name: 13, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZjAAM
Name: 13, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZjAAM
Name: 13, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZjAAM
Name: 13, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZjAAM
Name: 13, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZjAAM
Name: 13, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZjAAM
Name: 13, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZjAAM
Name: 13, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZjAAM
Name: 13, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZjAAM
Name: 13, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZkAAM
Name: 14, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZkAAM
Name: 14, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZkAAM
Name: 14, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZkAAM
Name: 14, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZkAAM
Name: 14, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZkAAM
Name: 14, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZkAAM
Name: 14, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZkAAM
Name: 14, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZkAAM
Name: 14, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZkAAM
Name: 14, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZlAAM
Name: 15, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZlAAM
Name: 15, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZlAAM
Name: 15, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZlAAM
Name: 15, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZlAAM
Name: 15, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZlAAM
Name: 15, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZlAAM
Name: 15, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZlAAM
Name: 15, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZlAAM
Name: 15, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZlAAM
Name: 15, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZmAAM
Name: 16, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZmAAM
Name: 16, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZmAAM
Name: 16, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZmAAM
Name: 16, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZmAAM
Name: 16, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZmAAM
Name: 16, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZmAAM
Name: 16, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZmAAM
Name: 16, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZmAAM
Name: 16, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZmAAM
Name: 16, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZnAAM
Name: 17, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZnAAM
Name: 17, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZnAAM
Name: 17, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZnAAM
Name: 17, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZnAAM
Name: 17, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZnAAM
Name: 17, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZnAAM
Name: 17, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZnAAM
Name: 17, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZnAAM
Name: 17, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZnAAM
Name: 17, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZoAAM
Name: 18, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZoAAM
Name: 18, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZoAAM
Name: 18, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZoAAM
Name: 18, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZoAAM
Name: 18, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZoAAM
Name: 18, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZoAAM
Name: 18, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZoAAM
Name: 18, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZoAAM
Name: 18, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZoAAM
Name: 18, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZpAAM
Name: 19, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZpAAM
Name: 19, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZpAAM
Name: 19, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZpAAM
Name: 19, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZpAAM
Name: 19, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZpAAM
Name: 19, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZpAAM
Name: 19, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object
Id    0018c00002nlDZpAAM
Name: 19, dtype: object
Id    0VS8c000000obNbGAI
Name: 7, dtype: object
Id    0018c00002nlDZpAAM
Name: 19, dtype: object
Id    0VS8c000000obNcGAI
Name: 8, dtype: object
Id    0018c00002nlDZpAAM
Name: 19, dtype: object
Id    0VS8c000000ob8BGAQ
Name: 9, dtype: object
Id    0018c00002nlDZqAAM
Name: 20, dtype: object
Id    0VS8c000000obNUGAY
Name: 0, dtype: object
Id    0018c00002nlDZqAAM
Name: 20, dtype: object
Id    0VS8c000000obNVGAY
Name: 1, dtype: object
Id    0018c00002nlDZqAAM
Name: 20, dtype: object
Id    0VS8c000000obNWGAY
Name: 2, dtype: object
Id    0018c00002nlDZqAAM
Name: 20, dtype: object
Id    0VS8c000000obNXGAY
Name: 3, dtype: object
Id    0018c00002nlDZqAAM
Name: 20, dtype: object
Id    0VS8c000000obNYGAY
Name: 4, dtype: object
Id    0018c00002nlDZqAAM
Name: 20, dtype: object
Id    0VS8c000000obNZGAY
Name: 5, dtype: object
Id    0018c00002nlDZqAAM
Name: 20, dtype: object
Id    0VS8c000000obNaGAI
Name: 6, dtype: object

In [7]:
total.to_excel(salida, index=False)
total.head(30)

            Account__c  Work_Type_Group__c
0   0018c00002nlDZWAA2  0VS8c000000obNUGAY
1   0018c00002nlDZWAA2  0VS8c000000obNVGAY
2   0018c00002nlDZWAA2  0VS8c000000obNWGAY
3   0018c00002nlDZWAA2  0VS8c000000obNXGAY
4   0018c00002nlDZWAA2  0VS8c000000obNYGAY
5   0018c00002nlDZWAA2  0VS8c000000obNZGAY
6   0018c00002nlDZWAA2  0VS8c000000obNaGAI
7   0018c00002nlDZWAA2  0VS8c000000obNbGAI
8   0018c00002nlDZWAA2  0VS8c000000obNcGAI
9   0018c00002nlDZWAA2  0VS8c000000ob8BGAQ
10  0018c00002nlDZXAA2  0VS8c000000obNUGAY
11  0018c00002nlDZXAA2  0VS8c000000obNVGAY
12  0018c00002nlDZXAA2  0VS8c000000obNWGAY
13  0018c00002nlDZXAA2  0VS8c000000obNXGAY
14  0018c00002nlDZXAA2  0VS8c000000obNYGAY
15  0018c00002nlDZXAA2  0VS8c000000obNZGAY
16  0018c00002nlDZXAA2  0VS8c000000obNaGAI
17  0018c00002nlDZXAA2  0VS8c000000obNbGAI
18  0018c00002nlDZXAA2  0VS8c000000obNcGAI
19  0018c00002nlDZXAA2  0VS8c000000ob8BGAQ
20  0018c00002nlDZYAA2  0VS8c000000obNUGAY
21  0018c00002nlDZYAA2  0VS8c000000obNVGAY
22  0018c00002nlDZYAA2  0VS8c000000obNWGAY
23  0018c00002nlDZYAA2  0VS8c000000obNXGAY
24  0018c00002nlDZYAA2  0VS8c000000obNYGAY
25  0018c00002nlDZYAA2  0VS8c000000obNZGAY
26  0018c00002nlDZYAA2  0VS8c000000obNaGAI
27  0018c00002nlDZYAA2  0VS8c000000obNbGAI
28  0018c00002nlDZYAA2  0VS8c000000obNcGAI
29  0018c00002nlDZYAA2  0VS8c000000ob8BGAQ