In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [2]:
pacientes_arriba1 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes1.xlsx"
pacientes_arriba2 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes2.xlsx"
pacientes_arriba3 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes3.xlsx"
pacientes_arriba4 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes4.xlsx"
pacientes_arriba5 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes5.xlsx"
pacientes_arriba6 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes6.xlsx"

pacientes_sf1 = pd.read_excel(pacientes_arriba1) 
pacientes_sf2 = pd.read_excel(pacientes_arriba2)
pacientes_sf3 = pd.read_excel(pacientes_arriba3)
pacientes_sf4 = pd.read_excel(pacientes_arriba4)
pacientes_sf5 = pd.read_excel(pacientes_arriba5)
pacientes_sf6 = pd.read_excel(pacientes_arriba6)

In [3]:
pacientes_uni = pd.concat([pacientes_sf1, pacientes_sf2], ignore_index=True, sort=False)

In [4]:
pacientes_uni2 = pd.concat([pacientes_sf4, pacientes_sf3], ignore_index=True, sort=False)

In [5]:
pacientes_arriba = pd.concat([pacientes_uni, pacientes_uni2], ignore_index=True, sort=False)

In [6]:
pacientes_nuestros = pd.concat([pacientes_arriba,pacientes_sf5],ignore_index=True,sort=False)

In [7]:
pacientes_totales = pd.concat([pacientes_nuestros,pacientes_sf6],ignore_index=True,sort=False)

In [8]:
si_verdad = pacientes_totales[(pacientes_totales['campana_paciente']=='Ey')]

In [9]:
si_verdad.head()

,rut,id,deleted,salutation_name,first_name,last_name,description,address_street,address_city,address_state,...,Unnamed: 25,Unnamed: 26,sdfgds,LLave,checks,Unnamed: 17,chkeorut,LLave_Empresa,llave,Clave
6,16933292-4,61e4f5ba3283db598,0.0,NaN,Deayan Nicole,Parra Peralta,NaN,Av. Ecuador 5079,Estacion Central,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,19421916-4,61e4f5bc9141dd8f3,0.0,NaN,Ignacio Andrés,Torres Sanzana,NaN,"Diego De Almagro 4885B, Ñuñoa",Santiago,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,13951817-9,61e4f5c2e32bdc711,0.0,NaN,Rene Alejandro,Sanchez Fuentealba,NaN,"Av. Los Libertadores 7401, Casa 132; Huechuraba",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,14415385-5,61e4f5bc5f98fdc81,0.0,NaN,Hector,Herrera Pino,NaN,"Valenzuela Castilla 1565, Providencia",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,18396855-6,62c464397bd75d27c,0.0,NaN,Andrés Gabriel,Barros Cortés,NaN,Ricardo Lyon 619 Dpto 23,Providencia,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
si_verdad.shape

(3377, 52)

In [11]:
si_verdad.to_excel("C:/Users/jmartinez/Desktop/validaciones/enviados/ey.xlsx")