In [80]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [81]:
archivo2 = 'C:/Users/jmartinez/Downloads/pamela metlife.xlsx'
data20 = pd.read_excel(archivo2)

In [82]:
data20.shape

(66801, 12)

In [83]:
def cambiarSa(x):      
    #subcadena = 'Sa' #la subcadena que queremos
    #if subcadena in x and x.index(subcadena) != 0:
    
    if x[len(x)-2:] == 'Sa':
        x = x.replace('Sa','S.A.')
    if x[len(x)-2:] == 'S.':
        x = x.replace('S.','S.A.')
    if x[len(x)-3:] == 'S A':
        x = x.replace('S A','S.A.')
    if x[len(x)-3:] == 'SA.':
        x = x.replace('SA.','S.A.')
    if x[len(x)-3:] == 'S.A':
        x = x.replace('S.A','S.A.') 
    if x[len(x)-4:] == 'S. A': 
        x = x.replace('S. A','S.A.') 
    return x

def cambiarIn(y):
    
    if y[0:4] == 'Soc ':
        y = y.replace('Soc ','Soc. ')
    if y[0:5] == 'Serv ':
        y = y.replace('Serv ','Serv. ')
    if y[0:5] == 'Asoc ':
        y = y.replace('Asoc ','Asoc. ')
    return y

In [84]:
#ingresar data20 segun Campaña


data20['empleador'] = data20['empleador'].astype(str)


#saca espacios

data20['empleador'] = data20['empleador'].str.strip()
data20['empleador'] = data20['empleador'].str.strip('.')
#data20['holding'] = data20['holding'].str.strip('0123456789-_.,')
data20['holding'] = data20['holding'].str.strip()
data20['holding'] = data20['holding'].str.strip('.')



#los deja en mayuscula
data20['empleador'] = data20['empleador'].str.upper()
#los deja con la primera letra con mayuscula y el resto minuscula en todas las palabras
#data20['empleador'] = data20['empleador'].str.replace('S A','S.A.')
#data20['empleador'] = data20['empleador'].str.replace('SA.','S.A.')
#data20['empleador'] = data20['empleador'].str.replace('S.A','S.A.')
data20['empleador'] = data20['empleador'].str.replace('LTDA','Ltda.')
data20['empleador'] = data20['empleador'].str.replace('SAEZA.','SAESA.')
#data20['empleador'] = data20['empleador'].str.replace('s.A.','sa')

data20['empleador'] = data20['empleador'].str.replace('Á','A')
data20['empleador'] = data20['empleador'].str.replace('É','E')
data20['empleador'] = data20['empleador'].str.replace('Í','I')
data20['empleador'] = data20['empleador'].str.replace('Ó','O')
data20['empleador'] = data20['empleador'].str.replace('Ú','U')


data20['empleador'] = data20['empleador'].str.title()
data20['empleador'] = data20['empleador'].str.replace('Spa','Spa.')
data20['empleador'] = data20['empleador'].str.replace('Ltda..','Ltda.')
data20['empleador'] = data20['empleador'].str.replace('Limitada','Ltda.')
data20['empleador'] = data20['empleador'].str.replace('Siempre Chile','Care Assistance')
data20['empleador'] = data20['empleador'].str.replace('Colaboradores Empresas','Care Assistance')
data20['empleador'] = data20['empleador'].str.replace('Clalemana','Clinica Alemana')
data20['empleador'] = data20['empleador'].str.replace('Bancodechile','Banco de Chile')
data20['empleador'] = data20['empleador'].str.replace('Bancochile','Banco de Chile')
data20['empleador'] = data20['empleador'].str.replace('Conchaytoro','Concha y Toro')
data20['empleador'] = data20['empleador'].str.replace('Prueba Empresas','Testing De Ejecutivos')
data20['empleador'] = data20['empleador'].str.replace('Serv_Vicio','Servicio')
data20['empleador'] = data20['empleador'].str.replace('Socidad','Sociedad')
data20['empleador'] = data20['empleador'].str.replace('Serv.Bienestar','Serv. Bienestar')
data20['empleador'] = data20['empleador'].str.replace('S.P.A','Spa.')
data20['empleador'] = data20['empleador'].str.replace('10 Uf Asegurados En Evaluacion','Asegurados En Evaluacion')
data20['empleador'] = data20['empleador'].str.replace('Citroen Chile S.A.C','Citroen Chile S.A.C.')
data20['empleador'] = data20['empleador'].str.replace('Cla','Clinica Alemana')
data20['empleador'] = data20['empleador'].str.replace('La Araucana Ccaf','La Araucana C.C.A.F.')

data20['empleador'] = data20['empleador'].str.replace('Lmtda','Ltda.')

data20['empleador'] = data20['empleador'].apply(lambda x: cambiarSa(x))
data20['empleador'] = data20['empleador'].apply(lambda y: cambiarIn(y))



#data20.convenio.fillna(data20.Campaña + 'convenio', inplace=True)
#data20['convenio'] = data20['convenio'].str.lower()
convenios = {
     'metlifeconvenio':'Orienta',
     '3spconvenio':'3SP',
     'ambar mxconvenio':'Ambar',
     'asismedconvenio':'Asismed',
     'bciconvenio':'BCI',
     'burgos - consorcioconvenio':'Burgos - Consorcio'

}
campana_dicc = {
     'Thbseguroscovid':'Thb Seguros Covid'
     
}
data20.replace({'Campaña':campana_dicc}, inplace=True)
#data20.replace({'convenio': convenios}, inplace=True)
#data20['convenio'] = data20['convenio'].str.lower()
data20['Campaña'] = data20['Campaña'].str.title() 
data20['holding'] = data20['holding'].str.title()

data20.empleador.fillna(data20.Campaña + ' empresa', inplace=True)
data20.holding.fillna('Holding ' + data20.Campaña, inplace=True)

data20['rut'] = data20['rut'].astype(str)
data20['rut'] = data20['rut'].str.lower()
#data20['rut_asegurado'] = data20['rut_asegurado'].str.lower()

#llave del sistema
data20['LLave'] = data20['rut'].astype(str) + data20['Campaña'].astype(str) + data20['empleador'].astype(str)

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_17820\2117681083.py:24: FutureWarning: The default value of regex will change from True to False in a future version.
  data20['empleador'] = data20['empleador'].str.replace('SAEZA.','SAESA.')
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_17820\2117681083.py:36: FutureWarning: The default value of regex will change from True to False in a future version.
  data20['empleador'] = data20['empleador'].str.replace('Ltda..','Ltda.')
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_17820\2117681083.py:47: FutureWarning: The default value of regex will change from True to False in a future version.
  data20['empleador'] = data20['empleador'].str.replace('Serv.Bienestar','Serv. Bienestar')
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_17820\2117681083.py:48: FutureWarning: The default value of regex will change from True to False in a future version.
  data20['empleador'] = data20['empleador'].str.replace('S.P.A','Spa.')
C:\Users\jmartinez\AppData\Local\Temp\ipykernel_17820\2117681083.py:50: FutureWarning: The default value of regex will change from True to False in a future version.
  data20['empleador'] = data20['empleador'].str.replace('Citroen Chile S.A.C','Citroen Chile S.A.C.')

In [85]:
remplazahombremujer = {'Femenino': 'F', 'Masculino': 'M', '': 'O','Hombre':'M','Mujer':'F','M':'M','F':'F','O':'O','Ambos':'O','N':'O','Otro':'O','FEMENINO':'F','MASCULINO':'M'}
data20.replace({'sex': remplazahombremujer}, inplace=True)
remplazo = {'F':'Femenino','M':'Masculino','O':'Otros'}
data20.replace({'sex': remplazo}, inplace=True)

data20['empleador'] = data20['empleador'].str.lower()
data20['holding'] = data20['empleador'].apply(lambda x:'clinica alemana' if x=='clinica alemana' )
data20['holding'] = data20['empleador'].apply(lambda x:'vulco' if x=='vulco' else x ) 
data20['empleador'] = data20['empleador'].str.title()

In [86]:
data20.head()

,año,dayname(ca.created_at),rut,empleador,holding,Fecha,number,sex,Area,Relacion,Campaña,Mes,LLave
0,2021,Monday,16114659-5,Frutera San Fernando S.A.,frutera san fernando s.a.,01-11-2021,137816,Femenino,Telemedicina,Titulares,Metlife,Noviembre,16114659-5MetlifeFrutera San Fernando S.A.
1,2021,Monday,22466447-8,C.C.A.F. De Los Andes,c.c.a.f. de los andes,01-11-2021,137818,Femenino,Psicología,Cargas,Metlife,Noviembre,22466447-8MetlifeC.C.A.F. De Los Andes
2,2021,Monday,15765476-4,Komatsu,komatsu,01-11-2021,137821,Masculino,Telemedicina,Titulares,Metlife,Noviembre,15765476-4MetlifeKomatsu
3,2021,Monday,16143504-k,Komatsu,komatsu,01-11-2021,137822,Femenino,Telemedicina,Cargas,Metlife,Noviembre,16143504-kMetlifeKomatsu
4,2021,Monday,17713565-8,Komatsu,komatsu,01-11-2021,137823,Masculino,Telemedicina,Titulares,Metlife,Noviembre,17713565-8MetlifeKomatsu

In [87]:
data20.to_excel('C:/Users/jmartinez/Downloads/1111.xlsx',index=False,sheet_name='Sheet1')