In [11]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [62]:
#usuario = 'siempreread'
#contrasena = 'S13mpr3_Ch1l3'
#url_servidor = '209.151.148.250'
puerto = '3306'
esquema = 'Test_infogram'
plugin_autenticacion = 'mysql_native_password'

usuario = 'care_consulta'
contrasena = 'CareAssistance!10'
url_servidor = '10.0.10.22'

# Conexión a la base de datos

c_conexion = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
c_conexion = c_conexion.format(usuario, contrasena, url_servidor, puerto,
                               esquema, plugin_autenticacion)
motor_mysql_mariadb = create_engine(c_conexion)


#archivo de salida modificar segun archivo
#archivo = 'C:/Users/jmartinez/Desktop/casos nuevos/clientes/1/casos_faltantes_segun_archivo.xlsx'

In [41]:
nuevos = "F:/Reportes SF/Metlife/Metlife_Base.xlsx"
MetLife = pd.read_excel(nuevos)
MetLife.head()

,Codigo Ficha,Rut,Nombre,Sexo,Ocupacion,Cargo,Departamento,Campaña,Holding,Empleador,...,Meses,Canal,Clínica,Motivo de consulta,Nombre Empresa,Codigo EMP,Codigo A,Vigente,Corredor,Pais
0,FFF-0088,164841448,Maria Sofia Eberl Muñoz,Mujer,NaN,NaN,NaN,MetLife,Sin Holding Asociado,Evaluaserve Chile S.A.,...,Enero,Entrante - Chat Online,Orientación Médica,0,Evaluaserve Chile S.A.,EMP5716,A-0341,NO,Valorcapital Corredores De Seguros SPA,Chile
1,FFF-0076,195034931,Cristian Alexis Droguett Araya,Hombre,NaN,NaN,NaN,MetLife,Sacyr,Sacyr Operación Y Servicios Saopse,...,Enero,Entrante - Chat Online,Orientación Médica,0,Sacyr Operación Y Servicios Saopse,EMP5897,A-0084,SI,Aon Risk Services (Chile) Corred. De Seg.,Chile
2,FFF-0037,184478412,Ana Belen Orellana Catalan,Mujer,NaN,NaN,NaN,MetLife,ACHS,Asociación Chilena De Seguridad,...,Enero,Saliente - Llamada,Orientación Médica,0,Asociación Chilena De Seguridad,EMP5684,A-0352,SI,Willis Towers Watson S.A. Corred. De Seg.,Chile
3,FFF-0038,150356237,Sergio Francisc De Casacuberta Gonzalez,Hombre,NaN,NaN,NaN,MetLife,ACHS,Asociación Chilena De Seguridad,...,Enero,Saliente - Llamada,Orientación Médica,0,Asociación Chilena De Seguridad,EMP5684,A-0352,SI,Willis Towers Watson S.A. Corred. De Seg.,Chile
4,FFF-0036,154370366,Manuel Alejandro Garrido Marquez,Hombre,NaN,NaN,NaN,MetLife,ACHS,Asociación Chilena De Seguridad,...,Enero,Saliente - Llamada,Orientación Médica,0,Asociación Chilena De Seguridad,EMP5684,A-0352,SI,Willis Towers Watson S.A. Corred. De Seg.,Chile

In [51]:
#MetLife.to_sql(name='Metlife General',con=motor_mysql_mariadb,if_exists = 'replace')


# Crea un PeriodIndex a partir de la columna de fechas
trimestres = pd.PeriodIndex(MetLife['Fecha'], freq='Q')


# Agrega la columna de trimestres al DataFrame
MetLife['Trimestre'] = trimestres
MetLife['Un']=1

In [36]:
MetLife.head()
salida = "C:/Users/jmartinez/Documents/semestre.xlsx"
MetLife.to_excel(salida, index=False)

In [74]:
derty = MetLife.pivot_table(
    index="Clínica", columns="Trimestre", values="Un", aggfunc=np.sum
)
derty2 = MetLife.pivot_table(
    index="Meses", columns="Clínica", values="Un", aggfunc=sum
)

In [76]:
derty3 = MetLife.pivot_table( index='Clínica', columns="Meses",values="Un",aggfunc=sum)
derty3.rename(columns={'Un': 'Cantidad De Uso'}, inplace=True)
derty3.to_sql(name='MetLife3',con=motor_mysql_mariadb,if_exists = 'replace')

9

In [80]:
derty5 = MetLife.pivot_table(
    index="Meses", values="Un", aggfunc=sum
)
derty5.to_sql(name='MetLife6',con=motor_mysql_mariadb,if_exists = 'replace')

7

In [82]:
derty.to_sql(name='MetLife5',con=motor_mysql_mariadb,if_exists = 'replace')
derty2.to_sql(name='MetLife66',con=motor_mysql_mariadb,if_exists = 'replace')

7

In [71]:
derty.head()

Trimestre                             2022Q4  2023Q1  2023Q2
Clínica
Asesoría Psicológica en Salud Sexual     4.0    24.0     8.0
Clínica Del Sueño                      305.0   448.0   213.0
Clínica de Orientación LGBT+             NaN     2.0     1.0
Deporte                               1625.0  2096.0   943.0
Nutrición                             1955.0  3910.0  1942.0

In [89]:
tabla_pivote = pd.pivot_table(MetLife, values='Rut', index='Clínica', columns='Trimestre', aggfunc='count')

In [90]:
tabla_pivote.head()

Trimestre                             2022Q4  2023Q1  2023Q2
Clínica
Asesoría Psicológica en Salud Sexual     4.0    24.0     8.0
Clínica Del Sueño                      305.0   448.0   213.0
Clínica de Orientación LGBT+             NaN     2.0     1.0
Deporte                               1625.0  2096.0   943.0
Nutrición                             1955.0  3910.0  1942.0

In [92]:
tabla_pivote.to_sql(name='MetLife99',con=motor_mysql_mariadb,if_exists = 'replace')

9