In [ ]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [ ]:
#usuario = 'siempreread'
#contrasena = 'S13mpr3_Ch1l3'
#url_servidor = '209.151.148.250'
puerto = '3306'
esquema = 'Test_infogram'
plugin_autenticacion = 'mysql_native_password'

usuario = 'care_consulta'
contrasena = 'CareAssistance!10'
url_servidor = '10.0.10.22'

# Conexión a la base de datos

c_conexion = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
c_conexion = c_conexion.format(usuario, contrasena, url_servidor, puerto,
                               esquema, plugin_autenticacion)
motor_mysql_mariadb = create_engine(c_conexion)


#archivo de salida modificar segun archivo
#archivo = 'C:/Users/jmartinez/Desktop/casos nuevos/clientes/1/casos_faltantes_segun_archivo.xlsx'

In [ ]:
nuevos = "F:/Reportes SF/Metlife/Metlife_Base.xlsx"
MetLife = pd.read_excel(nuevos)
MetLife.head()

In [ ]:
#MetLife.to_sql(name='Metlife General',con=motor_mysql_mariadb,if_exists = 'replace')


# Crea un PeriodIndex a partir de la columna de fechas
trimestres = pd.PeriodIndex(MetLife['Fecha'], freq='Q')


# Agrega la columna de trimestres al DataFrame
MetLife['Trimestre'] = trimestres
MetLife['Un']=1

In [ ]:
MetLife.head()
salida = "C:/Users/jmartinez/Documents/semestre.xlsx"
MetLife.to_excel(salida, index=False)

In [ ]:
derty = MetLife.pivot_table(
    index="Clínica", columns="Trimestre", values="Un", aggfunc=np.sum
)
derty2 = MetLife.pivot_table(
    index="Meses", columns="Clínica", values="Un", aggfunc=sum
)

In [ ]:
derty55 = MetLife.pivot_table( index='Holding', columns="Año",values="Un",aggfunc=sum)
#derty55.rename(columns={'Un': 'Cantidad De Uso'}, inplace=True)
derty55.to_sql(name='MetLife555',con=motor_mysql_mariadb,if_exists = 'replace')

In [ ]:
derty55.head()

In [ ]:
derty3 = MetLife.pivot_table( index='Clínica', columns="Meses",values="Un",aggfunc=sum)
derty3.rename(columns={'Un': 'Cantidad De Uso'}, inplace=True)
derty3.to_sql(name='MetLife3',con=motor_mysql_mariadb,if_exists = 'replace')

In [ ]:
derty5 = MetLife.pivot_table(
    index="Meses", values="Un", aggfunc=sum
)
derty5.to_sql(name='MetLife6',con=motor_mysql_mariadb,if_exists = 'replace')

In [ ]:
derty.to_sql(name='MetLife5',con=motor_mysql_mariadb,if_exists = 'replace')
derty2.to_sql(name='MetLife66',con=motor_mysql_mariadb,if_exists = 'replace')

In [ ]:
derty.head()

In [ ]:
tabla_pivote = pd.pivot_table(MetLife, values='Rut', index='Clínica', columns='Trimestre', aggfunc='count')

In [ ]:
tabla_pivote.head()

In [ ]:
tabla_pivote.to_sql(name='MetLife99',con=motor_mysql_mariadb,if_exists = 'replace')

Sintec

In [ ]:
nuevos = "F:/Reportes SF/Mexico/Sintec/Sintec_Base.xlsx"
MetLife = pd.read_excel(nuevos)
MetLife.head()

In [94]:
df.columns

Index(['Codigo Ficha', 'Rut', 'Nombre', 'Sexo', 'Ocupacion', 'Cargo',
       'Departamento', 'Campaña', 'Holding', 'Empleador', 'Poliza', 'Fecha',
       'Fecha_chilena', 'Fecha_chilena2', 'Dia', 'Mes', 'Año', 'Meses',
       'Canal', 'Clínica', 'Motivo de consulta', 'Nombre Empresa',
       'Codigo EMP', 'Codigo A', 'Vigente', 'Corredor', 'Pais', 'cantidad'],
      dtype='object')

In [108]:
# importing required libraries
import pandas as pd
import matplotlib.pyplot as plt

# creating dataframe
df = MetLife
df["cantidad"] = 1
df = df.sort_values(['Fecha'])

meses = df[
    [
        'Clínica','Meses','cantidad'
    ]
]
meses = meses.sort_values(['Meses'])

# creating pivot table
table = pd.pivot_table(meses, index=["Meses"],columns=['Clínica'], values='cantidad',aggfunc='count')
table2 = pd.pivot_table(meses,index=["Clínica"],values='cantidad',aggfunc=np.count_nonzero,fill_value=0)
table4 = pd.pivot_table(meses,columns=["Clínica"],values='cantidad',aggfunc=np.count_nonzero,fill_value=0)

#table3 = pd.pivot_table(meses,index=['Clínica'],columns=['Meses'], values='cantidad',aggfunc=np.count_nonzero, margins=True, fill_value=0).pipe(lambda d: d.div(d['All'], axis='columns')).applymap('{:.0%}'.format)
table3 = pd.pivot_table(meses,index=['Clínica'],columns=['Meses'], values='cantidad',fill_value=0,aggfunc=np.count_nonzero)
# calculating percentage
#table["% Income"] = (table["Salary(in $)"] / table["Salary(in $)"].sum()) * 100

# display table
print('table')
print(table)
print('table2')
print(table2)
print ('table3')
print (table3)
print ('table4')
print (table4)
#table.to_sql(name="prueba", con=motor_mysql_mariadb, if_exists="replace")

table
Clínica  Clínica Del Sueño  Deporte  Nutrición  Orientación Médica  \
Meses
Abril                  NaN      2.0        9.0                24.0
Marzo                  1.0      3.0        3.0                15.0
Mayo                   NaN      1.0       18.0                35.0

Clínica  Psicología  Telemedicina
Meses
Abril          30.0          12.0
Marzo          13.0           2.0
Mayo           44.0          11.0
table2
                    cantidad
Clínica
Clínica Del Sueño          1
Deporte                    6
Nutrición                 30
Orientación Médica        74
Psicología                87
Telemedicina              25
table3
Meses               Abril  Marzo  Mayo
Clínica
Clínica Del Sueño       0      1     0
Deporte                 2      3     1
Nutrición               9      3    18
Orientación Médica     24     15    35
Psicología             30     13    44
Telemedicina           12      2    11
table4
Clínica   Clínica Del Sueño  Deporte  Nutrición  Orientación Médica  \
cantidad                  1        6         30                  74

Clínica   Psicología  Telemedicina
cantidad          87            25

In [107]:
table.to_sql(name='prueba',con=motor_mysql_mariadb,if_exists = 'replace')
table2.to_sql(name='prueba2',con=motor_mysql_mariadb,if_exists = 'replace')
table3.to_sql(name='prueba3',con=motor_mysql_mariadb,if_exists = 'replace')
table4.to_sql(name='prueba4',con=motor_mysql_mariadb,if_exists = 'replace')

1

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# creating dataframe
df = pd.DataFrame(
    {
        "Name": ["John", "Emily", "Smith", "Joe"],
        "Gender": ["Male", "Female", "Male", "Female"],
        "Salary(in $)": [20, 40, 35, 28],
    }
)

print("Dataset")
print(df)
print("-" * 40)

In [ ]:
table = pd.pivot_table(df, index=["Gender", "Name"])
table