In [4]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [5]:
#usuario = 'siempreread'
#contrasena = 'S13mpr3_Ch1l3'
#url_servidor = '209.151.148.250'
puerto = '3306'
esquema = 'Test_infogram'
plugin_autenticacion = 'mysql_native_password'

usuario = 'care_consulta'
contrasena = 'CareAssistance!10'
url_servidor = '10.0.10.22'

# Conexión a la base de datos

c_conexion = 'mysql+mysqlconnector://{0}:{1}@{2}:{3}/{4}?auth_plugin={5}'
c_conexion = c_conexion.format(usuario, contrasena, url_servidor, puerto,
                               esquema, plugin_autenticacion)
motor_mysql_mariadb = create_engine(c_conexion)


#archivo de salida modificar segun archivo
#archivo = 'C:/Users/jmartinez/Desktop/casos nuevos/clientes/1/casos_faltantes_segun_archivo.xlsx'

In [6]:
nuevos = "F:/Reportes SF/Metlife/Metlife_Base.xlsx"
MetLife = pd.read_excel(nuevos)
MetLife.head()

,Codigo Ficha,Rut,Nombre,Sexo,Ocupacion,Cargo,Departamento,Campaña,Holding,Empleador,...,Meses,Canal,Clínica,Motivo de consulta,Nombre Empresa,Codigo EMP,Codigo A,Vigente,Corredor,Pais
0,FFF-0009,174839182,Perez Cordova Catherine Fernanda,Mujer,NaN,Gerencia Enológica,Enología,MetLife,Concha Y Toro,Viña Concha Y Toro S.A.,...,Enero,Entrante - Llamada,Orientación Médica,0,Viña Concha Y Toro S.A.,EMP5685,A-0354,SI,Willis Towers Watson S.A. Corred. De Seg.,Chile
1,FFF-0010,150235456,Katherine Evelyn Yong Leyton,Mujer,NaN,NaN,NaN,MetLife,Rol General SMU,Rendic Hnos. S.A.,...,Enero,Entrante - Llamada,Orientación Médica,0,Rendic Hnos. S.A.,EMP5631,A-0313,SI,THB Chile Corredores De Seguros S.A.,Chile
2,FFF-0012,197272031,Rojo Collao Sebastian,Hombre,NaN,NaN,NaN,MetLife,Agrosuper,Agrícola Super Ltda.,...,Enero,Entrante - Chat Online,Orientación Médica,0,Agrícola Super Ltda.,EMP5805,A-0225,SI,Mercer Corredores De Seguros Ltda.,Chile
3,FFF-0014,153308950,David Aaron Diaz Garcia,Hombre,NaN,NaN,NaN,MetLife,ACHS,Asociación Chilena De Seguridad,...,Enero,Saliente - Llamada,Orientación Médica,0,Asociación Chilena De Seguridad,EMP5684,A-0352,SI,Willis Towers Watson S.A. Corred. De Seg.,Chile
4,FFF-0015,150210534,Angelica Lisett Cortes Chavarria,Mujer,NaN,NaN,NaN,MetLife,ACHS,Asociación Chilena De Seguridad,...,Enero,Entrante - Llamada,Orientación Médica,0,Asociación Chilena De Seguridad,EMP5684,A-0352,SI,Willis Towers Watson S.A. Corred. De Seg.,Chile

In [7]:
#MetLife.to_sql(name='Metlife General',con=motor_mysql_mariadb,if_exists = 'replace')


# Crea un PeriodIndex a partir de la columna de fechas
trimestres = pd.PeriodIndex(MetLife['Fecha'], freq='Q')


# Agrega la columna de trimestres al DataFrame
MetLife['Trimestre'] = trimestres
MetLife['Un']=1

In [8]:
MetLife.head()
salida = "C:/Users/jmartinez/Documents/semestre.xlsx"
MetLife.to_excel(salida, index=False)

In [9]:
derty = MetLife.pivot_table(
    index="Clínica", columns="Trimestre", values="Un", aggfunc=np.sum
)
derty2 = MetLife.pivot_table(
    index="Meses", columns="Clínica", values="Un", aggfunc=sum
)

In [10]:
derty55 = MetLife.pivot_table( index='Holding', columns="Año",values="Un",aggfunc=sum)
#derty55.rename(columns={'Un': 'Cantidad De Uso'}, inplace=True)
derty55.to_sql(name='MetLife555',con=motor_mysql_mariadb,if_exists = 'replace')

150

In [11]:
derty55.head()

Año                 2022    2023
Holding
ACHAP               41.0    30.0
ACHS              1146.0  1545.0
Agema EECC - DCH    15.0     NaN
Agema EECC - DET    46.0   135.0
Agema EECC - DGM    12.0     8.0

In [12]:
derty3 = MetLife.pivot_table( index='Clínica', columns="Meses",values="Un",aggfunc=sum)
derty3.rename(columns={'Un': 'Cantidad De Uso'}, inplace=True)
derty3.to_sql(name='MetLife3',con=motor_mysql_mariadb,if_exists = 'replace')

9

In [13]:
derty5 = MetLife.pivot_table(
    index="Meses", values="Un", aggfunc=sum
)
derty5.to_sql(name='MetLife6',con=motor_mysql_mariadb,if_exists = 'replace')

7

In [14]:
derty.to_sql(name='MetLife5',con=motor_mysql_mariadb,if_exists = 'replace')
derty2.to_sql(name='MetLife66',con=motor_mysql_mariadb,if_exists = 'replace')

7

In [15]:
derty.head()

Trimestre                             2022Q4  2023Q1  2023Q2
Clínica
Asesoría Psicológica en Salud Sexual     4.0    24.0    10.0
Clínica Del Sueño                      305.0   449.0   318.0
Clínica de Orientación LGBT+             NaN     2.0     1.0
Deporte                               1615.0  2086.0  1235.0
Nutrición                             1956.0  3919.0  2645.0

In [16]:
tabla_pivote = pd.pivot_table(MetLife, values='Rut', index='Clínica', columns='Trimestre', aggfunc='count')

In [17]:
tabla_pivote.head()

Trimestre                             2022Q4  2023Q1  2023Q2
Clínica
Asesoría Psicológica en Salud Sexual     4.0    24.0    10.0
Clínica Del Sueño                      305.0   449.0   318.0
Clínica de Orientación LGBT+             NaN     2.0     1.0
Deporte                               1615.0  2086.0  1235.0
Nutrición                             1956.0  3919.0  2645.0

In [18]:
tabla_pivote.to_sql(name='MetLife99',con=motor_mysql_mariadb,if_exists = 'replace')

9