In [1]:
import pandas as pd

In [4]:
salida = ("F:/SalesForce/Carga Empresas/salida.xlsx")
entrada = ("F:/SalesForce/Carga Empresas/Pogramas Por Empresa.xlsx")

In [35]:
derty = pd.read_excel(entrada)
#df = pd.read_excel(clinicas)
total = pd.DataFrame(columns=['1', '2','3', '4','5', '6','7', '8','9', '10','11', '12'])

In [42]:
a=0
for i in range(len(derty)):
    print(derty.iloc[i])
    total.loc[a]= derty.iloc[i]['Account__c'],derty.iloc[i]['__Id'],derty.iloc[i+1]['__Id']
    a=a+1

Account__c    0018c00002gi3JnAAI
__Id          a1R8c000009FLMVEA4
Name: 0, dtype: object

ValueError: Must have equal len keys and value when setting with an iterable

In [43]:
total.head()

,1,2,3,4,5,6,7,8,9,10,11,12
0,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI
1,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI
2,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI
3,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI
4,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI,0018c00002gi3JnAAI

In [ ]:
for k in range(len(df)):
        print (derty.iloc[i])
        print (df.iloc[k])
        #total.iloc[0:a] = derty.iloc[i]

        total.loc[a]=  [derty.iloc[i]['Id'],df.iloc[k]['Id']]
        #total.append['uno']=  df.iloc[k]['Id']
        #total[a]['dos'] = df.iloc[k]['Id']
        #total.append(col[i] + col[i + 1])
        a = a+1

In [ ]:
[
            derty.iloc[i]["Account__c"],
            derty.iloc[i + 1]["__Id"],
            derty.iloc[i + 2]["__Id"],
            derty.iloc[i + 3]["__Id"],
            derty.iloc[i + 4]["__Id"],
            derty.iloc[i + 5]["__Id"],
            derty.iloc[i + 6]["__Id"],
            derty.iloc[i + 7]["__Id"],
            derty.iloc[i + 8]["__Id"],
            derty.iloc[i + 9]["__Id"],
        ]