In [1]:
from pathlib import Path 
import requests
import pandas as pd
import numpy as np
from io import StringIO
from simple_salesforce import Salesforce
import shutil
import datetime

In [2]:
sf = Salesforce(
    username="jmartinez@careassistance.com",
    password="Jcmm0104",
    security_token="EwVPSL02qXM8XQ2pkUdA13aW",
)

In [3]:

# Recuperar empresas ID de salesforce
results = sf.query_all(
    """
   select Id,Empresa__c, Empresa_Padre__c,  Name, Nombre_Empresa__c from Programas_por_Empresas__c
    """
)
programas_empresas = pd.DataFrame(results["records"])
programas_empresas = programas_empresas[
    ["Id", "Empresa__c", "Empresa_Padre__c", "Name", "Nombre_Empresa__c", "Empresa_Padre__c"]
]
programas_empresas.shape

(7880, 6)

In [4]:
# Recuperar empresas ID de salesforce
results = sf.query_all(
    """
   select Id, Name, IdentificationId__pc, Identification_Type__c,Holding__c ,Pa_s_del_Paciente__c,Campa_a__c,AccountNumber,Id_Empresa__c,poliza__c,Empleador__c  from account where ispersonaccount = false 
    """
)
Empresas_SF = pd.DataFrame(results["records"])
Empresas_SF = Empresas_SF[
    ["Id", "Name", "IdentificationId__pc", "Identification_Type__c", "Holding__c", "Pa_s_del_Paciente__c",'Campa_a__c','AccountNumber','Id_Empresa__c','Empleador__c','poliza__c']
]
Empresas_SF.shape

(7875, 11)

In [5]:
Empresas_SF_grande = pd.merge(
    left=programas_empresas,
    right=Empresas_SF,
    how="left",
    left_on="Empresa__c",
    right_on="Id",
)
Empresas_SF_grande.head()

,Id_x,Empresa__c,Empresa_Padre__c,Name_x,Nombre_Empresa__c,Empresa_Padre__c,Id_y,Name_y,IdentificationId__pc,Identification_Type__c,Holding__c,Pa_s_del_Paciente__c,Campa_a__c,AccountNumber,Id_Empresa__c,Empleador__c,poliza__c
0,a1W8c000007vDN8EAM,0018c00002axQXrAAM,Metlife,A-0000,Metlife Holding Metlife Laboratorio Maver Ltda.,Metlife,0018c00002axQXrAAM,Metlife Holding Metlife Laboratorio Maver Ltda.,None,None,Holding Metlife,a1U8c000005dAtnEAE,Metlife,None,EMP5813,None,None
1,a1W8c000007vDN9EAM,0018c00002axQXsAAM,Metlife,A-0001,Metlife Holding Metlife Aguas Del Valle S.A.,Metlife,0018c00002axQXsAAM,Metlife Holding Metlife Aguas Del Valle S.A.,None,None,Holding Metlife,a1U8c000005dAtnEAE,Metlife,None,EMP5814,None,None
2,a1W8c000007vDNAEA2,0018c00002axQXtAAM,Metlife,A-0002,Metlife Holding Metlife Berliam Spa.,Metlife,0018c00002axQXtAAM,Metlife Holding Metlife Berliam Spa.,None,None,Holding Metlife,a1U8c000005dAtnEAE,Metlife,None,EMP5815,None,None
3,a1W8c000007vDNBEA2,0018c00002axQXuAAM,Metlife,A-0003,Metlife Holding Metlife Besalco Maquinarias S.A.,Metlife,0018c00002axQXuAAM,Metlife Holding Metlife Besalco Maquinarias S.A.,None,None,Holding Metlife,a1U8c000005dAtnEAE,Metlife,None,EMP5816,None,None
4,a1W8c000007vDNCEA2,0018c00002axQXvAAM,Metlife,A-0004,Metlife Holding Metlife Carlos Escarate Y Cia ...,Metlife,0018c00002axQXvAAM,Metlife Holding Metlife Carlos Escarate Y Cia ...,None,None,Holding Metlife,a1U8c000005dAtnEAE,Metlife,None,EMP5817,None,None

In [6]:
results = sf.query_all(
    """
   select Id,Paciente__c,Programas_por_Empresas__c from Paciente_Programas__c
    """
)
pacientes_programas = pd.DataFrame(results["records"])
pacientes_programas = pacientes_programas[
    ["Id", "Paciente__c", "Programas_por_Empresas__c"]
]
pacientes_programas.shape