In [63]:

import requests
import pandas as pd
import numpy as np
from io import StringIO
from simple_salesforce import Salesforce

In [64]:
sf = Salesforce(
    username="jmartinez@careassistance.com",
    password="Jcmm0104",
    security_token="EwVPSL02qXM8XQ2pkUdA13aW",
)

Recuperacion de pacientes

In [65]:
# recuperar todos los pacientes ID
results = sf.query_all(
    """
   select Id, IdentificationId__pc,Name from Account 
    """
)
Pacientes_SF = pd.DataFrame(results["records"])

Pacientes_SF = Pacientes_SF[["Id", "IdentificationId__pc", "Name"]]
Pacientes_SF.shape

(1540175, 3)

Empresas de Sales Force

In [66]:
# Recuperar empresas ID de salesforce
results = sf.query_all(
    """
   select Id,Empresa__c, Empresa_Padre__c,  Name, Nombre_Empresa__c from Programas_por_Empresas__c
    """
)
Empresas_SF = pd.DataFrame(results["records"])
Empresas_SF = Empresas_SF[
    ["Id", "Empresa__c", "Empresa_Padre__c", "Name", "Nombre_Empresa__c", "Empresa_Padre__c"]
]
Empresas_SF.shape

(7879, 6)

In [67]:
# Recuperar empresas ID de salesforce
results = sf.query_all(
    """
   select Id, Name, IdentificationId__pc, Identification_Type__c,Holding__c ,Pa_s_del_Paciente__c,Campa_a__c,AccountNumber,Id_Empresa__c  from account where ispersonaccount = false 
    """
)
Empresas_SF_HL = pd.DataFrame(results["records"])
Empresas_SF_HL = Empresas_SF_HL[
    ["Id", "Name", "IdentificationId__pc", "Identification_Type__c", "Holding__c", "Pa_s_del_Paciente__c",'Campa_a__c','AccountNumber','Id_Empresa__c']
]
Empresas_SF_HL.shape

(7874, 9)

In [68]:
Empresas_SF = pd.merge(
    left=Empresas_SF_HL,
    right=Empresas_SF,
    how="left",
    left_on="Id",
    right_on="Empresa__c",
)
Empresas_SF.head()

,Id_x,Name_x,IdentificationId__pc,Identification_Type__c,Holding__c,Pa_s_del_Paciente__c,Campa_a__c,AccountNumber,Id_Empresa__c,Id_y,Empresa__c,Empresa_Padre__c,Name_y,Nombre_Empresa__c,Empresa_Padre__c
0,0018c00002eTcCQAA0,Vida Camara Holding Vida Camara Cintegral Sist...,None,None,Holding Vida Camara,a1U8c000005dAtnEAE,Vida Camara,None,EMP879,a1W8c0000083l2BEAQ,0018c00002eTcCQAA0,Vida Camara,A-2357,Vida Camara Holding Vida Camara Cintegral Sist...,Vida Camara
1,0018c00002eTcCRAA0,Vida Camara Holding Vida Camara Civil Agro S.A.,None,None,Holding Vida Camara,a1U8c000005dAtnEAE,Vida Camara,None,EMP891,a1W8c0000083l2CEAQ,0018c00002eTcCRAA0,Vida Camara,A-2358,Vida Camara Holding Vida Camara Civil Agro S.A.,Vida Camara
2,0018c00002eTcCSAA0,Vida Camara Holding Vida Camara Civilplas S.A.,None,None,Holding Vida Camara,a1U8c000005dAtnEAE,Vida Camara,None,EMP893,a1W8c0000083l2DEAQ,0018c00002eTcCSAA0,Vida Camara,A-2359,Vida Camara Holding Vida Camara Civilplas S.A.,Vida Camara
3,0018c00002eTcCTAA0,Vida Camara Holding Vida Camara Cj Traffic Chi...,None,None,Holding Vida Camara,a1U8c000005dAtnEAE,Vida Camara,None,EMP894,a1W8c0000083l2EEAQ,0018c00002eTcCTAA0,Vida Camara,A-2360,Vida Camara Holding Vida Camara Cj Traffic Chi...,Vida Camara
4,0018c00002eTcCUAA0,Vida Camara Holding Vida Camara Clinda Ltda.,None,None,Holding Vida Camara,a1U8c000005dAtnEAE,Vida Camara,None,EMP895,a1W8c0000083l2FEAQ,0018c00002eTcCUAA0,Vida Camara,A-2361,Vida Camara Holding Vida Camara Clinda Ltda.,Vida Camara

In [69]:
Empresas_SF.shape

(7881, 15)

Relacionj pacientes y empresas

In [70]:
#Relacion Pacientes Empresa
results = sf.query_all(
    """
  select Id,Paciente__c,Programas_por_Empresas__c from Paciente_Programas__c 
    """
)
#df = pd.DataFrame(results)
#df.shape


Pacientes_empresas = pd.DataFrame(results["records"])
Pacientes_empresas = Pacientes_empresas[
    ["Paciente__c", "Programas_por_Empresas__c"]
]
Pacientes_empresas.shape

(1220331, 2)

Consulta de Recordtype son los codigos de atencion de las distintas ficvhas segunda pantalla ingreso derivacion esas cosas

In [71]:
# Consulta de Servicios
results = sf.query_all(
    """
 select Id, Name from recordtype
    """
)
recordtype = pd.DataFrame(results["records"])
# Pacientes_empresas = Pacientes_empresas[
#   ["Id", "RUT__c",'CreatedDate','Name','Nombre_Empresa__c','Empresa__c','Tipo_de_Ficha__c','Account__c']
# ]

Pacientes_empresas.head()

          Paciente__c Programas_por_Empresas__c
0  0018c00002amLbpAAE        a1W8c000007vDPvEAM
1  0018c00002amLbqAAE        a1W8c000007vDSpEAM
2  0018c00002amLbrAAE        a1W8c000007vDSpEAM
3  0018c00002amLbsAAE        a1W8c000007vDSpEAM
4  0018c00002amLc2AAE        a1W8c000007vDSpEAM

In [72]:
Pacientes_con_ID = pd.merge(
    left=Pacientes_empresas,
    right=Pacientes_SF,
    how="left",
    left_on="Paciente__c",
    right_on="Id",
)
Pacientes_con_ID.head()

,Paciente__c,Programas_por_Empresas__c,Id,IdentificationId__pc,Name
0,0018c00002amLbpAAE,a1W8c000007vDPvEAM,0018c00002amLbpAAE,224488556,Genesis Antonia Gutierrez Abarca
1,0018c00002amLbqAAE,a1W8c000007vDSpEAM,0018c00002amLbqAAE,113376066,Claudia Silva
2,0018c00002amLbrAAE,a1W8c000007vDSpEAM,0018c00002amLbrAAE,79476161,Maria Lorenza Garay
3,0018c00002amLbsAAE,a1W8c000007vDSpEAM,0018c00002amLbsAAE,181854227,Estolaza Vidal Jean Patrick Moises
4,0018c00002amLc2AAE,a1W8c000007vDSpEAM,0018c00002amLc2AAE,126899823,Rivas Correa Claudia

In [73]:
Pacientes_con_ID = pd.merge(
    left=Pacientes_con_ID,
    right=Empresas_SF,
    how="left",
    left_on="Programas_por_Empresas__c",
    right_on="Id_y",
)
Pacientes_con_ID.head()

,Paciente__c,Programas_por_Empresas__c,Id,IdentificationId__pc_x,Name,Id_x,Name_x,IdentificationId__pc_y,Identification_Type__c,Holding__c,Pa_s_del_Paciente__c,Campa_a__c,AccountNumber,Id_Empresa__c,Id_y,Empresa__c,Empresa_Padre__c,Name_y,Nombre_Empresa__c,Empresa_Padre__c
0,0018c00002amLbpAAE,a1W8c000007vDPvEAM,0018c00002amLbpAAE,224488556,Genesis Antonia Gutierrez Abarca,0018c00002axQaeAAE,Metlife Holding Metlife Serv. De Comerc Y Ases...,None,None,Holding Metlife,a1U8c000005dAtnEAE,Metlife,None,EMP6008,a1W8c000007vDPvEAM,0018c00002axQaeAAE,Metlife,A-0173,Metlife Holding Metlife Serv. De Comerc Y Ases...,Metlife
1,0018c00002amLbqAAE,a1W8c000007vDSpEAM,0018c00002amLbqAAE,113376066,Claudia Silva,0018c00002axQecAAE,Metlife Clinica Alemana Clinica Alemana,None,None,Clinica Alemana,a1U8c000005dAtnEAE,Metlife,None,EMP6274,a1W8c000007vDSpEAM,0018c00002axQecAAE,Metlife,A-0353,Metlife Clinica Alemana Clinica Alemana,Metlife
2,0018c00002amLbrAAE,a1W8c000007vDSpEAM,0018c00002amLbrAAE,79476161,Maria Lorenza Garay,0018c00002axQecAAE,Metlife Clinica Alemana Clinica Alemana,None,None,Clinica Alemana,a1U8c000005dAtnEAE,Metlife,None,EMP6274,a1W8c000007vDSpEAM,0018c00002axQecAAE,Metlife,A-0353,Metlife Clinica Alemana Clinica Alemana,Metlife
3,0018c00002amLbsAAE,a1W8c000007vDSpEAM,0018c00002amLbsAAE,181854227,Estolaza Vidal Jean Patrick Moises,0018c00002axQecAAE,Metlife Clinica Alemana Clinica Alemana,None,None,Clinica Alemana,a1U8c000005dAtnEAE,Metlife,None,EMP6274,a1W8c000007vDSpEAM,0018c00002axQecAAE,Metlife,A-0353,Metlife Clinica Alemana Clinica Alemana,Metlife
4,0018c00002amLc2AAE,a1W8c000007vDSpEAM,0018c00002amLc2AAE,126899823,Rivas Correa Claudia,0018c00002axQecAAE,Metlife Clinica Alemana Clinica Alemana,None,None,Clinica Alemana,a1U8c000005dAtnEAE,Metlife,None,EMP6274,a1W8c000007vDSpEAM,0018c00002axQecAAE,Metlife,A-0353,Metlife Clinica Alemana Clinica Alemana,Metlife

In [74]:
results = sf.query_all(
    """
  select Id,RUT__c, CreatedDate, Clinica__c,Interacci_n__c, AppointmentNumber from ServiceAppointment 
    """
)
df = pd.DataFrame(results)
df.shape
citas_de_servicio = pd.DataFrame(results["records"])
citas_de_servicio = citas_de_servicio[
    ["RUT__c",'CreatedDate','Clinica__c','AppointmentNumber','Interacci_n__c']
]
citas_de_servicio.head()

,RUT__c,CreatedDate,Clinica__c,AppointmentNumber,Interacci_n__c
0,183552252,2022-12-02T16:23:05.000+0000,Clínica de Nutrición,SA-3124,Seguimiento
1,224488556,2022-12-21T21:28:49.000+0000,Clínica de Nutrición,SA-4987,Seguimiento
2,185384799,2022-12-12T15:34:28.000+0000,Clínica de Deporte,SA-3905,Explicacion Plan de Intervención
3,187821444,2022-12-12T12:21:02.000+0000,Clínica de Psicología,SA-3871,Ingreso al programa
4,167466923,2022-12-12T15:04:05.000+0000,Clínica de Nutrición,SA-3898,Ingreso

In [75]:
citas_de_servicio = pd.merge(
    left=citas_de_servicio,
    right=Pacientes_con_ID,
    how="left",
    left_on="RUT__c",
    right_on="IdentificationId__pc",
)
citas_de_servicio.head()

KeyError: 'IdentificationId__pc'

In [ ]:
#Nutricion
results = sf.query_all(
    """
 select Id,RUT__c, CreatedDate, Name, Nombre_Empresa__c, Empresa__c,Tipo_de_Ficha__c,Account__c,Motivo__c, Motivo_de_consulta__c,  RecordTypeId from Ficha_Clinica_Nutrici_n__c
    """
)

nutricion = pd.DataFrame(results["records"])
nutricion = nutricion[
    ["RUT__c",'CreatedDate','Name','Nombre_Empresa__c','Empresa__c','Tipo_de_Ficha__c','Account__c','Motivo__c','Motivo_de_consulta__c','RecordTypeId']
]

nutricion.head()

In [ ]:
nutricion = pd.merge(
    left=nutricion,
    right=Pacientes_con_ID,
    how="left",
    left_on="RUT__c",
    right_on="IdentificationId__pc",
)
nutricion.head()

In [ ]:
Empresas_SF.to_excel(
    "C:/Users/jmartinez/Documents/cargas/empresas.xlsx", index=False
)