In [2]:

import requests
import pandas as pd
import numpy as np
from io import StringIO
from simple_salesforce import Salesforce

In [3]:
sf = Salesforce(
    username="jmartinez@careassistance.com",
    password="Jcmm0104",
    security_token="EwVPSL02qXM8XQ2pkUdA13aW",
)

In [4]:
# recuperar todos los pacientes ID
results = sf.query_all(
    """
   select Id, IdentificationId__pc,Name from Account 
    """
)
df = pd.DataFrame(results["records"])
df.shape
Pacientes_SF = df[["Id", "IdentificationId__pc", "Name"]]
Pacientes_SF.head()

                   Id IdentificationId__pc                             Name
0  0018c00002amLTMAA2            173805004    Ximena Alejandra Muñoz Tudela
1  0018c00002amLUGAA2            153338949   Juana Andrea Gallardo Espinoza
2  0018c00002amLUHAA2            177735213   Valentina Jahdai Gonzalez Diaz
3  0018c00002amLUIAA2            169332924      Deayan Nicole Parra Peralta
4  0018c00002amLUJAA2            172957692  Camila Fernanda Velásquez Rojas

In [5]:
# Recuperar empresas ID de salesforce
results = sf.query_all(
    """
   select id,Name,Nombre_Empresa__c,Empresa__c, Empresa_Padre__c from Programas_por_Empresas__c
    """
)
df = pd.DataFrame(results["records"])
df.shape
Empresas_SF = df[["Id", "Nombre_Empresa__c", "Name", "Empresa__c","Empresa_Padre__c"]]
Empresas_SF.head()

,Id,Nombre_Empresa__c,Name,Empresa__c,Empresa_Padre__c
0,a1W8c000007vDN8EAM,Metlife Holding Metlife Laboratorio Maver Ltda.,A-0000,0018c00002axQXrAAM,Metlife
1,a1W8c000007vDN9EAM,Metlife Holding Metlife Aguas Del Valle S.A.,A-0001,0018c00002axQXsAAM,Metlife
2,a1W8c000007vDNAEA2,Metlife Holding Metlife Berliam Spa.,A-0002,0018c00002axQXtAAM,Metlife
3,a1W8c000007vDNBEA2,Metlife Holding Metlife Besalco Maquinarias S.A.,A-0003,0018c00002axQXuAAM,Metlife
4,a1W8c000007vDNCEA2,Metlife Holding Metlife Carlos Escarate Y Cia ...,A-0004,0018c00002axQXvAAM,Metlife

In [6]:
#Relacion Pacientes Empresa
results = sf.query_all(
    """
  select Id,Paciente__c,Programas_por_Empresas__c from Paciente_Programas__c 
    """
)
df = pd.DataFrame(results)
df.shape
Pacientes_empresas = pd.DataFrame(results["records"])
Pacientes_empresas = Pacientes_empresas[
    ["Paciente__c", "Programas_por_Empresas__c"]
]
Pacientes_empresas.head()

          Paciente__c Programas_por_Empresas__c
0  0018c00002amLbpAAE        a1W8c000007vDPvEAM
1  0018c00002amLbqAAE        a1W8c000007vDSpEAM
2  0018c00002amLbrAAE        a1W8c000007vDSpEAM
3  0018c00002amLbsAAE        a1W8c000007vDSpEAM
4  0018c00002amLc2AAE        a1W8c000007vDSpEAM

In [9]:
results = sf.query_all(
    """
  select Id,RUT__c, CreatedDate, Clinica__c,Interacci_n__c, AppointmentNumber from ServiceAppointment 
    """
)
df = pd.DataFrame(results)
df.shape
citas_de_servicio = pd.DataFrame(results["records"])
citas_de_servicio = citas_de_servicio[
    ["Id", "RUT__c",'CreatedDate','Clinica__c','AppointmentNumber','Interacci_n__c']
]
citas_de_servicio.shape

(5529, 5)

In [18]:
#Nutricion
results = sf.query_all(
    """
 select Id,RUT__c, CreatedDate, Name, Nombre_Empresa__c, Empresa__c,Tipo_de_Ficha__c,Account__c,Motivo__c, Motivo_de_consulta__c, Motivo2__c, RecordTypeId,SystemModstamp  from Ficha_Clinica_Nutrici_n__c
    """
)
df = pd.DataFrame(results)
df.shape
Pacientes_empresas = pd.DataFrame(results["records"])
#Pacientes_empresas = Pacientes_empresas[
#   ["Id", "RUT__c",'CreatedDate','Name','Nombre_Empresa__c','Empresa__c','Tipo_de_Ficha__c','Account__c']
#]

Pacientes_empresas.head()

,attributes,Id,RUT__c,CreatedDate,Name,Nombre_Empresa__c,Empresa__c,Tipo_de_Ficha__c,Account__c,Motivo__c,Motivo_de_consulta__c,Motivo2__c,RecordTypeId,SystemModstamp
0,"{'type': 'Ficha_Clinica_Nutrici_n__c', 'url': ...",a1X8c000007PLOPEA4,185957101,2022-12-30T16:53:43.000+0000,FCN-0001009,Metlife Holding Metlife Komatsu,a1Y8c00000CmtlZEAR,Nutrición Adulto,0018c00002bK2Y9AAK,None,None,No contesta,0128c000002wOXWAA2,2022-12-30T16:53:44.000+0000
1,"{'type': 'Ficha_Clinica_Nutrici_n__c', 'url': ...",a1X8c000007OP4tEAG,15601592K,2022-11-28T12:57:18.000+0000,FCN-0000117,Metlife Holding Metlife Serv. De Comerc Y Ases...,a1Y8c00000ClkVEEAZ,Nutrición Adulto,0018c00002azU7BAAU,None,None,None,0128c000002wOXVAA2,2022-12-15T23:57:28.000+0000
2,"{'type': 'Ficha_Clinica_Nutrici_n__c', 'url': ...",a1X8c000007OtY7EAK,19899202K,2022-12-21T12:24:13.000+0000,FCN-0000718,Ey Holding Ey Ey,a1Y8c00000C6Vv8EAF,Nutrición Adulto,0018c00002amLUYAA2,None,None,None,0128c000002wOXVAA2,2022-12-21T12:24:13.000+0000
3,"{'type': 'Ficha_Clinica_Nutrici_n__c', 'url': ...",a1X8c000007OtYCEA0,135600814,2022-12-21T12:25:58.000+0000,FCN-0000719,Metlife Holding Metlife Principal,a1Y8c00000CktGaEAJ,Nutrición Adulto,0018c00002axYIqAAM,None,None,None,0128c000002wOXOAA2,2022-12-21T12:25:58.000+0000
4,"{'type': 'Ficha_Clinica_Nutrici_n__c', 'url': ...",a1X8c000007OP4yEAG,128956166,2022-11-28T13:16:01.000+0000,FCN-0000118,Metlife Clinica Alemana Clinica Alemana,a1Y8c00000C5atLEAR,Nutrición Adulto,0018c00002amLd4AAE,None,None,None,0128c000002wOXOAA2,2022-12-15T23:57:28.000+0000

In [19]:
# Consulta de Servicios
results = sf.query_all(
    """
 select Id, Name from recordtype
    """
)
df = pd.DataFrame(results)
df.shape
Pacientes_empresas = pd.DataFrame(results["records"])
# Pacientes_empresas = Pacientes_empresas[
#   ["Id", "RUT__c",'CreatedDate','Name','Nombre_Empresa__c','Empresa__c','Tipo_de_Ficha__c','Account__c']
# ]

Pacientes_empresas.head()

,attributes,Id,Name
0,"{'type': 'RecordType', 'url': '/services/data/...",0128c000002ByozAAC,Customer Account
1,"{'type': 'RecordType', 'url': '/services/data/...",0128c000002Byp4AAC,Cuenta personal
2,"{'type': 'RecordType', 'url': '/services/data/...",0128c000002CJ3RAAW,Business
3,"{'type': 'RecordType', 'url': '/services/data/...",0128c000002CJ3SAAW,Household
4,"{'type': 'RecordType', 'url': '/services/data/...",0128c000002CJ3TAAW,Individual