In [ ]:
import datetime
import requests
from bs4 import BeautifulSoup
import pandas as pd
from openpyxl import workbook

In [ ]:
base_url = "https://center.accuhealth.cl/?mod=Patient"
response = requests.get(base_url)
soup = BeautifulSoup(response.content,"html.parser")
#soup = BeautifulSoup(response.text)
data = soup.find_all('div')[0]
#df_population = pd.read_html(data)[0]
#df_population.head()
print(data)

In [21]:
#from tabula.io import read_pdf
from tabulate import tabulate
import pandas as pd
from tabula.io import read_pdf

In [36]:
pdf = "C:/Users/jmartinez/Documents/cargas/1.pdf"
data = read_pdf(pdf,pages='all',multiple_tables=True)

In [47]:
print(data)

[              Fecha  Valor  Alertas
0  15/05/2023 21:20     88      NaN
1  17/05/2023 21:04     85      NaN
2  31/05/2023 21:12     84      NaN,    Fecha        Unnamed: 0  Valor  Unnamed: 1  Alertas
0    NaN  15/05/2023 21:20    NaN         139      NaN
1    NaN  17/05/2023 21:04    NaN         136      NaN
2    NaN  31/05/2023 21:12    NaN         148      NaN,    Fecha        Unnamed: 0  Valor  Unnamed: 1  Alertas
0    NaN  15/05/2023 21:20    NaN         134      NaN
1    NaN  17/05/2023 21:05    NaN         137      NaN
2    NaN  31/05/2023 21:13    NaN         123      NaN,    Fecha        Unnamed: 0  Valor  Unnamed: 1  Alertas
0    NaN  15/05/2023 21:20    NaN          63      NaN
1    NaN  17/05/2023 21:04    NaN          61      NaN
2    NaN  31/05/2023 21:12    NaN          65      NaN,    Fecha        Unnamed: 0  Valor  Unnamed: 1  Alertas
0    NaN  15/05/2023 21:20    NaN         105      NaN
1    NaN  17/05/2023 21:04    NaN         102      NaN
2    NaN  31/05/2023 21:12    NaN         105      NaN]

In [51]:
df1 = data
df11 = pd.DataFrame(df1[1]) 
df11.head()

   Fecha        Unnamed: 0  Valor  Unnamed: 1  Alertas
0    NaN  15/05/2023 21:20    NaN         139      NaN
1    NaN  17/05/2023 21:04    NaN         136      NaN
2    NaN  31/05/2023 21:12    NaN         148      NaN