In [15]:
import encodings
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import openpyxl

In [16]:
data = 'C:/Users/jmartinez/Desktop/base de datos/filas cero/2019.xlsx'
data2 = 'C:/Users/jmartinez/Desktop/base de datos/2019.xlsx'
df = pd.read_excel(data2)

In [17]:
df['address_city'] = df['address_city'].str.strip('1234567890.#/}{)(¥|xX')
df['address_state'] = df['address_state'].str.strip('1234567890.#/}{)(¥|xX')
df['address_country'] = df['address_country'].str.strip('1234567890.#/}{)(¥|xX')

df.head()

,id,deleted,salutation_name,first_name,last_name,description,address_street,address_city,address_state,address_country,...,active,marca_estado_c19,turno,created_by_id,modified_by_id,assigned_user_id,holding,horariopreferente,division,ubicacion
0,5d8e16fceadc380d8,1,NaN,Alonso,Vitta,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,1,5d913afa6ebee8f3b,NaN,NaN,NaN,NaN,NaN
1,5d8e1a10b63d1c301,1,NaN,Ana María,Urzúa,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,1,5d913afa6ebee8f3b,1,NaN,NaN,NaN,NaN
2,5d921143610a7bbd7,0,NaN,Alonso Vitta,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,5d913afa6ebee8f3b,1,NaN,NaN,NaN,NaN,NaN
3,5d92114362735cdad,0,NaN,Ana Maria Figueroa,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,5d913afa6ebee8f3b,system,NaN,NaN,NaN,NaN,NaN
4,5d92114364507bf43,0,NaN,Ana Maria Urzúa,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,5d913afa6ebee8f3b,1,NaN,NaN,NaN,NaN,NaN

In [18]:
df.to_excel(data, index=False)