In [60]:
import encodings
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import openpyxl

In [61]:

archivo1 = 'C:/Users/jmartinez/Downloads/empresas martin.xlsx'
emmartin = pd.read_excel(archivo1)
emmartin.head()

                      empresas  campana  holding
0       Laboratorio Maver Ltda  MetLife  Orienta
1         Aguas Del Valle S.A.  MetLife  Orienta
2                  Berliam Spa  MetLife  Orienta
3     Besalco Maquinarias S.A.  MetLife  Orienta
4  Carlos Escarate Y Cia Ltda.  MetLife  Orienta

In [62]:
archivo2 = 'C:/Users/jmartinez/Desktop/base de datos/empresas/semifinal/final/2022.xlsx'
em2022 = pd.read_excel(archivo2)
em2022.head()

,id,deleted,salutation_name,first_name,last_name,description,address_street,address_city,address_state,address_country,...,modified_by_id,assigned_user_id,horariopreferente,division,ubicacion,email,campana_paciente,holding,empleador,convenio
0,63487025ef8acf204,0,NaN,Carlos Alfonso,Hernandez Yañez,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,THBSEGUROS COVID,Holding Thbseguros Covid,Buro Est Ltda.,solo titular
1,63487025eea9fc2e4,0,NaN,María José,Rojas Pujol,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,THBSEGUROS COVID,Holding Thbseguros Covid,Buro Est Ltda.,solo titular
2,62f41956368643770,0,NaN,Ancheo,Vargas Mario Leonidas,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,THBSEGUROS COVID,Holding Thbseguros Covid,"Transportes, Equipos Y Suministros S.A.",asistencia emocional
3,63344af2df4c73a48,0,NaN,Constanza,Angelica Barriga San Martin,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,THBSEGUROS COVID,Holding Thbseguros Covid,Stripes Chile Spa.,thbseguros covidconvenio
4,62fe6dc3186c5249e,0,NaN,Esperanza,Marianela León Pizarro,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,THBSEGUROS COVID,Holding Thbseguros Covid,Burotemps Est Ltda.,asistencia emocional

In [63]:
def cambiarSa(x):      
    #subcadena = 'Sa' #la subcadena que queremos
    #if subcadena in x and x.index(subcadena) != 0:
    if x[len(x)-2:] == 'Sa':
        x = x.replace('Sa','S.A.')
    if x[len(x)-2:] == 'S.':
        x = x.replace('S.','S.A.')
    if x[len(x)-3:] == 'S A':
        x = x.replace('S A','S.A.')
    if x[len(x)-3:] == 'SA.':
        x = x.replace('SA.','S.A.')
    if x[len(x)-3:] == 'S.A':
        x = x.replace('S.A','S.A.') 
    if x[len(x)-4:] == 'S. A': 
        x = x.replace('S. A','S.A.') 
    return x

In [64]:
emmartin['empresas'] = emmartin['empresas'].str.upper()
em2022['empleador'] = em2022['empleador'].str.upper()
emmartin['empresas'] = emmartin['empresas'].str.replace('Á','A')
emmartin['empresas'] = emmartin['empresas'].str.replace('É','E')
emmartin['empresas'] = emmartin['empresas'].str.replace('Í','I')
emmartin['empresas'] = emmartin['empresas'].str.replace('Ó','O')
emmartin['empresas'] = emmartin['empresas'].str.replace('Ú','U')
emmartin['empresas'] = emmartin['empresas'].apply(lambda x: cambiarSa(x))
#emmartin['empresas'] = emmartin['empresas'].str.replace('LTDA.','LTDA.')
emmartin['empresas'] = emmartin['empresas'].str.replace('SPA','SPA.')
emmartin['empresas'] = emmartin['empresas'].str.replace('LIMITADA','Ltda.')
emmartin['empresas'] = emmartin['empresas'].str.replace('LTDA','LTDA.')
emmartin['empresas'] = emmartin['empresas'].str.replace('PARQUE  ARAUCO S.A.','PARQUE ARAUCO S.A.')
emmartin['empresas'] = emmartin['empresas'].str.replace('GOODYEAR  DE CHILE S.A.I.C.','GOODYEAR DE CHILE S.A.I.C.')

emmartin['empresas'] = emmartin['empresas'].str.replace('SPA..','SPA.')


emmartin['chek'] = emmartin.empresas.isin(em2022.empleador)

In [65]:
ar2022 = 'C:/Users/jmartinez/Desktop/ultimo/martin.xlsx'
emmartin.head(9)
emmartin.to_excel(ar2022,index=False)