In [1]:
import pandas as pd
import numpy as np

In [2]:
pacientes_arriba1 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes1.xlsx"
pacientes_arriba2 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes2.xlsx"
pacientes_arriba3 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes3.xlsx"
pacientes_arriba4 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes4.xlsx"
pacientes_arriba5 = "C:/Users/jmartinez/Desktop/validaciones/enviados/Pacientes5.xlsx"

pacientes_sf1 = pd.read_excel(pacientes_arriba1) 
pacientes_sf2 = pd.read_excel(pacientes_arriba2)
pacientes_sf3 = pd.read_excel(pacientes_arriba3)
pacientes_sf4 = pd.read_excel(pacientes_arriba4)
pacientes_sf5 = pd.read_excel(pacientes_arriba5)

In [3]:
pacientes_sf1.shape

(987, 35)

In [4]:
pacientes_sf2.shape

(13400, 37)

In [5]:
pacientes_sf3.shape

(209965, 34)

In [6]:
pacientes_sf4.shape

(630104, 28)

In [37]:
pacientes_uni = pd.concat([pacientes_sf1, pacientes_sf2], ignore_index=True, sort=False)

In [36]:
pacientes_uni2 = pd.concat([pacientes_sf4, pacientes_sf3], ignore_index=True, sort=False)

In [9]:
pacientes_arriba = pd.concat([pacientes_uni, pacientes_uni2], ignore_index=True, sort=False)

In [10]:
pacientes_nuestros = pd.concat([pacientes_arriba,pacientes_sf5],ignore_index=True,sort=False)

In [11]:
#pacientes_arriba.to_excel("C:/Users/jmartinez/Desktop/validaciones/enviados/final.xlsx",index=False)

In [12]:
pacientes_nuestros.rut = pacientes_nuestros['rut'].astype(str)
pacientes_nuestros['rut'] = pacientes_nuestros['rut'].str.replace('-','').str.lower().str.strip()
pacientes_nuestros['rut'].head()

0    173805004
1    173805004
2    153338949
3    182474266
4    177735213
Name: rut, dtype: object

In [13]:
dato_sf = "C:/Users/jmartinez/Desktop/validaciones/pacientes2.xlsx"
datos_sf = pd.read_excel(dato_sf)
datos_sf.rut = datos_sf['rut'].astype(str)
datos_sf['rut'] = datos_sf['rut'].str.lower()

datos_sf['rut'].head()

0    173805004
1    153338949
2    177735213
3    169332924
4    172957692
Name: rut, dtype: object

In [14]:
datos_sf['check_ruts'] = datos_sf['rut'].isin(pacientes_nuestros['rut'])

In [15]:
datos_sf.to_excel("C:/Users/jmartinez/Desktop/validaciones/final.xlsx",index=False)

In [16]:
pacientes_nuestros['check_ruts'] = pacientes_nuestros['rut'].isin(datos_sf['rut'])

In [17]:
pacientes_nuestros.to_excel("C:/Users/jmartinez/Desktop/validaciones/subidos_conok.xlsx",index=False)

In [18]:
pacientes_nuestros.shape

(857715, 48)

In [19]:
dato_sf = "C:/Users/jmartinez/Desktop/validaciones/enviados/pacientes_nuevos4.xlsx"
pacientes_nuevos = pd.read_excel(dato_sf)
pacientes_nuevos.shape

(794270, 34)

In [20]:
pacientes_nuevos.rut = pacientes_nuevos['rut'].astype(str)
pacientes_nuevos['rut'] = pacientes_nuevos['rut'].str.lower()
pacientes_nuevos['chkeorut'] = pacientes_nuevos['rut'].isin(datos_sf['rut'])
pacientes_nuevos['rut'].head()

0     88174453
1    176563249
2    106399341
3    179196611
4     91489406
Name: rut, dtype: object

In [21]:
pacientes_nuevos.to_excel("C:/Users/jmartinez/Desktop/validaciones/nuevos_conok.xlsx",index=False)

In [22]:
si_verdad = pacientes_nuevos[(pacientes_nuevos['chkeorut']==False)]

In [23]:
si_verdad['LLave_Empresa'] = si_verdad['campana_paciente'].astype(str) + " " + si_verdad['holding'].astype(str) + " " + si_verdad['empleador'].astype(str)

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_8580\1740477804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  si_verdad['LLave_Empresa'] = si_verdad['campana_paciente'].astype(str) + " " + si_verdad['holding'].astype(str) + " " + si_verdad['empleador'].astype(str)

In [24]:
si_verdad.head()

,id,deleted,salutation_name,first_name,last_name,description,address_street,address_city,address_state,address_country,...,turno,created_by_id,modified_by_id,assigned_user_id,horariopreferente,division,ubicacion,email,chkeorut,LLave_Empresa
0,5f6ab5cc33d2d0c79,0,NaN,Janina,Rodriguez Arancibia,NaN,NaN,Santiago,Las Condes,Chile,...,NaN,system,5ffda3398e497e70b,NaN,NaN,NaN,NaN,NaN,False,Prueba Testing 4 Life Seguros De Vida S.A.
1,5d9f87c1cb076c044,0,Ms.,María Paulina,Guerrero Bonilla,NaN,Paso Del Roble 269,Santiago,La Florida,Chile,...,NaN,5d94ad31da3022bc2,system,5d94ad31da3022bc2,NaN,NaN,NaN,mguerrerob17@gmail.com,False,Metlife Holding Metlife Metlife
2,5da61e1528350b211,0,Mrs.,Zunilda,Silva,NaN,"Portales 5488\nLo Prado, Santiago",NaN,NaN,Chile,...,NaN,5d94ad31da3022bc2,1,5d94ad31da3022bc2,NaN,NaN,NaN,lauranicolepinilla@gmail.com,False,Metlife Holding Metlife Metlife
3,5da7841288a769174,0,Ms.,Alexandra,Rodriguez Norambuena,NaN,Conde Del Maule 4175,Estacion Central,NaN,Chile,...,NaN,5d921a0defd6b2274,system,5d921a0defd6b2274,NaN,NaN,NaN,alexandrarodn@hotmail.com,False,Colaboradores Care Assistance Care Assistance
4,5e4f97b7ead35f796,0,NaN,Mauricio,Eugenio Balbontin Oryan,NaN,NaN,Santiago,Lo Barnechea,Chile,...,NaN,system,5ffda3398e497e70b,NaN,NaN,NaN,NaN,macura@manquehue.net,False,Prueba Testing 4Life

In [25]:
si_verdad.shape

(792973, 36)

In [26]:
dato_sf = "C:/Users/jmartinez/Desktop/validaciones/enviados/empresas_nuevas.xlsx"
empresas_nuevas = pd.read_excel(dato_sf)
empresas_nuevas.shape

(5616, 4)

In [27]:
empresas_nuevas['llave'] = empresas_nuevas['CLIENTE'].astype(str) + " " + empresas_nuevas['Holding'].astype(str) + " " + empresas_nuevas['empresas'].astype(str)

In [28]:
empresas_nuevas.shape

(5616, 5)

In [31]:
empresas_nuevas2 = empresas_nuevas[['llave','Clave']]
empresas_nuevas2.head()

                                               llave Clave
0         Contufuturo Holding Contufuturo A3Arq Spa.  EMP1
1     Contufuturo Holding Contufuturo A3D Chile S.A.  EMP2
2  Contufuturo Holding Contufuturo Abastecedora D...  EMP3
3  Contufuturo Holding Contufuturo Abastecedora D...  EMP4
4              Consalud Holding Consalud Acf Nitrato  EMP5