In [4]:
import json
import pandas as pd
import numpy as np
from simple_salesforce import Salesforce, format_soql, format_external_id
from json import loads, dumps
import simpler_sf
simpler_sf.simple_salesforce()
from sqlalchemy import create_engine

In [5]:
with open("../login.json", "r") as j:
    misDatos = json.load(j)
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)

In [6]:
#ruts = "F:/martin/MetLife SFTP/ORIENTA_02022024.xlsx"
#rutsMetlife = pd.read_excel(ruts)

In [7]:
rutsMetlife.head()

NameError: name 'rutsMetlife' is not defined

In [8]:
rutsMetlife = rutsMetlife[
    [
        "POLIZA",
        "RUTASEGURADO",
        "DV",
        "RUTBENEFICIARIO",
        "RUTBENEFIARIO_DV",
        "RELACION",
    ]
]
rutsMetlife.shape

NameError: name 'rutsMetlife' is not defined

In [9]:
rutsMetlife["Poliza"] = rutsMetlife["POLIZA"].astype(str)
rutsMetlife["Poliza"] = rutsMetlife["Poliza"].str.replace("-", "")
rutsMetlife["Poliza"] = rutsMetlife["Poliza"].str.replace("–", "")
rutsMetlife["Poliza"] = rutsMetlife["Poliza"].astype(str)
rutsMetlife["Poliza"] = rutsMetlife["Poliza"].str.replace(".", "")
rutsMetlife["Poliza"] = rutsMetlife["Poliza"].str.replace(" ", "")
rutsMetlife["Poliza"] = rutsMetlife["Poliza"].str.upper()
rutsMetlife["Poliza"] = rutsMetlife["Poliza"].str.strip()

rutsMetlife["Rut_Titular"] = rutsMetlife["RUTASEGURADO"].astype(str) + rutsMetlife["DV"].astype(str)
rutsMetlife["Rut_Titular"] = rutsMetlife["Rut_Titular"].astype(str)
rutsMetlife["Rut_Titular"] = rutsMetlife["Rut_Titular"].str.replace("-", "")
rutsMetlife["Rut_Titular"] = rutsMetlife["Rut_Titular"].str.replace("–", "")
rutsMetlife["Rut_Titular"] = rutsMetlife["Rut_Titular"].astype(str)
rutsMetlife["Rut_Titular"] = rutsMetlife["Rut_Titular"].str.replace(".", "")
rutsMetlife["Rut_Titular"] = rutsMetlife["Rut_Titular"].str.replace(" ", "")
rutsMetlife["Rut_Titular"] = rutsMetlife["Rut_Titular"].str.upper()
rutsMetlife["Rut_Titular"] = rutsMetlife["Rut_Titular"].str.strip()

rutsMetlife["Rut_Beneficiario"] = rutsMetlife["RUTBENEFICIARIO"].astype(str) + rutsMetlife["RUTBENEFIARIO_DV"].astype(str)
rutsMetlife["Rut_Beneficiario"] = rutsMetlife["Rut_Beneficiario"].astype(str)
rutsMetlife["Rut_Beneficiario"] = rutsMetlife["Rut_Beneficiario"].str.replace("-", "")
rutsMetlife["Rut_Beneficiario"] = rutsMetlife["Rut_Beneficiario"].str.replace("–", "")
rutsMetlife["Rut_Beneficiario"] = rutsMetlife["Rut_Beneficiario"].astype(str)
rutsMetlife["Rut_Beneficiario"] = rutsMetlife["Rut_Beneficiario"].str.replace(".", "")
rutsMetlife["Rut_Beneficiario"] = rutsMetlife["Rut_Beneficiario"].str.replace(" ", "")
rutsMetlife["Rut_Beneficiario"] = rutsMetlife["Rut_Beneficiario"].str.upper()
rutsMetlife["Rut_Beneficiario"] = rutsMetlife["Rut_Beneficiario"].str.strip()

rutsMetlife["Relación"] = rutsMetlife["RELACION"].astype(str)
rutsMetlife["Relación"] = np.where(rutsMetlife["Relación"]== "AS","Titular", "Carga")

rutsMetlife["llave"] = rutsMetlife["Poliza"] + rutsMetlife["Rut_Titular"] + rutsMetlife["Rut_Beneficiario"]


rutsMetlife = rutsMetlife[
    ["Poliza",	"Rut_Titular",	"Rut_Beneficiario",	"Relación","llave",
       
    ]
]
rutsMetlife = rutsMetlife.drop_duplicates(
    [
        "Poliza","Rut_Titular",	"Rut_Beneficiario",	"Relación",
    ],
    keep="last",
)
rutsMetlife.shape

NameError: name 'rutsMetlife' is not defined

In [ ]:

#ruts_metlife = rutsMetlife
#ruts_metlife.to_excel("F:/martin/MetLife SFTP/ruts_metlife.xlsx", index=False)

In [10]:
ruts_metlife = pd.concat([ruts_metlife, rutsMetlife], axis=0)
ruts_metlife = ruts_metlife.drop_duplicates(
    [
        "Poliza","Rut_Titular",	"Rut_Beneficiario",	"Relación",
    ],
    keep="last",
)
ruts_metlife.shape

NameError: name 'ruts_metlife' is not defined

In [11]:

reportes_metlife = "C:/Users/jmartinez/Documents/Metlife_derty.xlsx"
reportes_metlife_fredy = pd.read_excel(reportes_metlife)

In [12]:
reportes_metlife_fredy["llave"] =  reportes_metlife_fredy["Rut"]
ruts_metlife["LLave"] = ruts_metlife["Rut_Beneficiario"]

NameError: name 'ruts_metlife' is not defined

In [ ]:
reportes_metlife_fredy = pd.merge(
    left=reportes_metlife_fredy,
    right=ruts_metlife,
    how="left",
    left_on="llave",
    right_on="LLave",
)

C:\Users\jmartinez\AppData\Local\Temp\ipykernel_21136\418009904.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'llave_x'} in the result is deprecated and will raise a MergeError in a future version.
  reportes_metlife_fredy = pd.merge(

In [ ]:
reportes_metlife_fredy.head(5)

,Codigo Ficha,Rut,Nombre,Sexo,Ocupacion,Cargo,Departamento,Campaña,Holding,Empleador,...,Relación_x,llave_y,LLave_x,llave_x,Poliza,Rut_Titular_y,Rut_Beneficiario_y,Relación_y,llave_y,LLave_y
0,FFF-0009,174839182,Perez Cordova Catherine Fernanda,Mujer,NaN,Gerencia Enológica,Enología,MetLife,Concha Y Toro,Viña Concha Y Toro S.A.,...,NaN,NaN,NaN,174839182,340009745,174839182,174839182,Titular,340009745174839182174839182,174839182
1,FFF-0009,174839182,Perez Cordova Catherine Fernanda,Mujer,NaN,Gerencia Enológica,Enología,MetLife,Concha Y Toro,Viña Concha Y Toro S.A.,...,NaN,NaN,NaN,174839182,340002495,174839182,174839182,Titular,340002495174839182174839182,174839182
2,FFF-0010,150235456,Katherine Evelyn Yong Leyton,Mujer,NaN,NaN,NaN,MetLife,Rol General SMU,Rendic Hnos. S.A.,...,Titular,340008362150235456150235456,340008362150235456,150235456,340009888,150235456,150235456,Titular,340009888150235456150235456,150235456
3,FFF-0010,150235456,Katherine Evelyn Yong Leyton,Mujer,NaN,NaN,NaN,MetLife,Rol General SMU,Rendic Hnos. S.A.,...,Titular,340008362150235456150235456,340008362150235456,150235456,340008362,150235456,150235456,Titular,340008362150235456150235456,150235456
4,FFF-0012,197272031,Rojo Collao Sebastian,Hombre,NaN,NaN,NaN,MetLife,Agrosuper,Agrícola Super Ltda.,...,NaN,NaN,NaN,197272031,340011941,197272031,197272031,Titular,340011941197272031197272031,197272031

In [ ]:
#reportes_metlife_fredy.to_excel("C:/Users/jmartinez/Documents/reportes_metlife2.xlsx", index=False)