In [23]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
import shutil
import datetime
from datetime import datetime
import re
import json
from pandas.api.types import is_numeric_dtype
from simple_salesforce import Salesforce, format_soql, format_external_id
from simple_salesforce.exceptions import SalesforceMalformedRequest
import simpler_sf

simpler_sf.simple_salesforce()
with open("../login.json", "r") as j:
    misDatos = json.load(j)
# para smart query
""" sf = simple_salesforce.Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
 """
# para lo demas
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
# paramiko.util.log_to_file("paramiko.log")
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")

In [7]:
sql = "select Id,Empresa__r.P_liza__c, Empresa__r.Name  from EmpresaContactoConvenios__c where Campa_a__c = 'MetLife'"
empresacontactoconvenio = sf.smart_query(sql)

100%|██████████| 1/1 [02:05<00:00, 125.09s/it]

In [4]:
query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "
empresas = sf.smart_query(query2)

100%|██████████| 1/1 [00:09<00:00,  9.15s/it]

In [24]:
query2 = "select Name, Id,Account__r.Pa_s_del_Paciente__r.Name, Account__r.IdentificationId__pc,EmpresaContactoConvenio__c,Canal__c from Ficha_Cl_nica_Seg_Paciente_Cr_nico__c where Name = 'FCSC-12264' "
empresas = sf.smart_query(query2)

100%|██████████| 1/1 [00:03<00:00,  3.17s/it]

In [32]:
def Splitaer(empresas):
    derty = empresas.split(",")
    for i in range(0, len(derty)):
        print(derty[i])



derty4 = empresas["EmpresaContactoConvenio__c"].apply(lambda y: Splitaer(y))
derty4.head()

empresas.head()

a40RN000000qahbYAA
a40RN000000qahcYAA
a40RN000001E9LXYA0
a40RN000001EPhnYAG

,Name,Id,Account__r.IdentificationId__pc,EmpresaContactoConvenio__c,Canal__c
0,FCSC-12264,a1fRN000000NBkLYAW,130554601,"a40RN000000qahbYAA,a40RN000000qahcYAA,a40RN000...",Llamada

In [18]:
df_resume = pd.pivot_table(empresacontactoconvenio,
    index=('Empresa__r.P_liza__c','Empresa__r.Name'),
    #columns='mes',
    values='Id',
    aggfunc='count'
)

In [19]:
df_resume.to_excel("F:/Empresas SF/reportes/metlife_ricardo.xlsx", index=False)

In [20]:
df_resume.head(9)

                                        Id
Empresa__r.P_liza__c Empresa__r.Name
-                    Convenio 7407       9
330000004            Convenio 5833    6053
340000508            Convenio 5053     904
340000577            Convenio 6992    1956
340000585            Convenio 5057     301
340000644            Convenio 6035    7304
340001374            Convenio 8361     740
340001375            Convenio 8362      27
340001376            Convenio 6794    1184

In [21]:
df_resume.shape

(2862, 1)