In [126]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
import shutil
import datetime
from datetime import datetime
import re
import json
from pandas.api.types import is_numeric_dtype
from simple_salesforce import Salesforce, format_soql, format_external_id
from simple_salesforce.exceptions import SalesforceMalformedRequest
import simpler_sf

simpler_sf.simple_salesforce()

In [127]:
with open("../login.json", "r") as j:
    misDatos = json.load(j)

In [128]:
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)

In [129]:
nombrePersonalizado = "Programa Nutricional"
pacienteId = "0018c00002anTmeAAE"
queryPrograma = "SELECT Id FROM HealthCloudGA__Program__c WHERE Name = '" + nombrePersonalizado + "' AND Paciente__c = '" + pacienteId + "' LIMIT 1" 
vllamadaEmpresa = sf.smart_query(queryPrograma)
#vllamadaEmpresa.head()

100%|██████████| 1/1 [00:03<00:00,  3.05s/it]

In [130]:

queryPrograma = "SELECT Id FROM case WHERE Program__c = '" + vllamadaEmpresa["Id"][0] + "'"
vllamadaEmpresa = sf.smart_query(queryPrograma)
vllamadaEmpresa.head()
cntdCase = len(vllamadaEmpresa.index)
#print (len(vllamadaEmpresa.index))

100%|██████████| 1/1 [00:02<00:00,  2.99s/it]

In [137]:
print (len(vllamadaEmpresa.index))

2

In [150]:
vllamadaEmpresa

                   Id
0  500RN000005VKNlYAO
1  500RN000005VKNmYAO

In [131]:
#idGoal2 = pd.DataFrame()
def traerGoal(iD):
    idGoalDF = pd.DataFrame()
    #idGoalTotal = pd.DataFrame()
    idCase = iD
    queryGoal = "SELECT Id FROM HealthCloudGA__CarePlanGoal__c WHERE Etapa__c = '" + idCase + "'"
    idGoalDF = sf.smart_query(queryGoal)
    #print (len(idGoalDF.index))
    #print (idGoalDF)
    return idGoalDF

In [153]:
derty

                   Id
0  a0HRN0000013AVJ2A2
1  a0HRN0000013AVK2A2
2  a0HRN0000013AVL2A2
3  a0HRN0000013AVM2A2
4  a0HRN0000013AVN2A2
5  a0HRN0000013AVO2A2
6  a0HRN0000013AVP2A2
0  500RN000005VKNlYAO
0  500RN000005VKNmYAO

In [132]:
idGoal2 = pd.DataFrame()  # Declare idGoal2 as a global variable
derty = pd.DataFrame()

#idGoal2 = vllamadaEmpresa["Id"].apply(lambda y: traerGoal(y))
for registros in range(cntdCase):
    idGoal2= traerGoal(vllamadaEmpresa["Id"][registros])
    derty = pd.concat([derty, idGoal2], axis=0)
cntdGoal = len(derty.index)
#derty.head(10)

100%|██████████| 1/1 [00:07<00:00,  7.66s/it]
100%|██████████| 1/1 [00:02<00:00,  2.52s/it]

In [133]:
def traerActividad(iD):
    idGoalDF = pd.DataFrame()
    #idGoalTotal = pd.DataFrame()
    idCase = iD
    queryGoal = "SELECT Id FROM Actividad_Programa__c WHERE Goal__c = '" + idCase + "'"
    idGoalDF = sf.smart_query(queryGoal)
    #print (len(idGoalDF.index))
    #print (idGoalDF)
    return idGoalDF

In [134]:
derty.reset_index(drop=True, inplace=True)
derty["Id"][0]

'a0HRN0000013AVJ2A2'

In [135]:
dfActividad = pd.DataFrame()  # Declare idGoal2 as a global variable
dertyActividad = pd.DataFrame()

#idGoal2 = vllamadaEmpresa["Id"].apply(lambda y: traerGoal(y))
for registros in range(cntdGoal):
    dfActividad = traerActividad(derty["Id"][registros])
    dertyActividad = pd.concat([dertyActividad, dfActividad], axis=0)
#cntdGoal = len(derty.index)
dertyActividad.head(10)

100%|██████████| 1/1 [00:08<00:00,  8.62s/it]
100%|██████████| 1/1 [00:03<00:00,  3.19s/it]
100%|██████████| 1/1 [00:02<00:00,  2.55s/it]
100%|██████████| 1/1 [00:02<00:00,  2.41s/it]
100%|██████████| 1/1 [00:02<00:00,  2.07s/it]
100%|██████████| 1/1 [00:02<00:00,  2.51s/it]
100%|██████████| 1/1 [00:02<00:00,  2.42s/it]

                   Id
0  a43RN0000001EnJYAU
1  a43RN0000001EnKYAU
0  a43RN0000001EnLYAU
1  a43RN0000001EnMYAU
2  a43RN0000001EnNYAU
3  a43RN0000001EnOYAU
4  a43RN0000001EnPYAU
5  a43RN0000001EnQYAU
6  a43RN0000001EnRYAU
7  a43RN0000001EnSYAU

In [136]:
dertyActividad.reset_index(drop=True, inplace=True)
dertyActividad["Id"][0]
dertyActividad.head()

                   Id
0  a43RN0000001EnJYAU
1  a43RN0000001EnKYAU
2  a43RN0000001EnLYAU
3  a43RN0000001EnMYAU
4  a43RN0000001EnNYAU

In [147]:
def GoalCompleto(iD):
    idGoalDF = pd.DataFrame()
    #idGoalTotal = pd.DataFrame()
    idCase = iD
    queryGoal = "SELECT FIELDS(ALL) FROM case WHERE Id = '" + idCase + "'"
    idGoalDF = sf.smart_query(queryGoal)
    #print (len(idGoalDF.index))
    #print (idGoalDF)
    return idGoalDF

In [148]:

goalDF = pd.DataFrame()
goalTotalDF = pd.DataFrame()
for registros in range(len(vllamadaEmpresa.index)):
    goalDF= GoalCompleto(vllamadaEmpresa["Id"][registros])
    goalTotalDF = pd.concat([goalTotalDF, goalDF], axis=0)
#cntdGoal = len(derty.index)

100%|██████████| 1/1 [00:02<00:00,  2.71s/it]
100%|██████████| 1/1 [00:02<00:00,  2.87s/it]

In [155]:
contact = sf.Actividad_Programa__c.get('a43RN0000001EnOYAU')
contact

OrderedDict([('attributes',
              OrderedDict([('type', 'Actividad_Programa__c'),
                           ('url',
                            '/services/data/v42.0/sobjects/Actividad_Programa__c/a43RN0000001EnOYAU')])),
             ('Id', 'a43RN0000001EnOYAU'),
             ('IsDeleted', False),
             ('Name', 'A-0000000132'),
             ('CreatedDate', '2024-01-23T19:33:45.000+0000'),
             ('CreatedById', '0058c00000DSxZmAAL'),
             ('LastModifiedDate', '2024-01-23T19:33:46.000+0000'),
             ('LastModifiedById', '0058c00000DSxZmAAL'),
             ('SystemModstamp', '2024-01-23T19:33:46.000+0000'),
             ('LastActivityDate', None),
             ('LastViewedDate', '2024-01-23T19:33:46.000+0000'),
             ('LastReferencedDate', '2024-01-23T19:33:46.000+0000'),
             ('Goal__c', 'a0HRN0000013AVK2A2'),
             ('Archivo_o_imagen__c', None),
             ('Calcular_puntos_flow__c', False),
             ('Descripcion_Corta__c', 'La cantidad recomendada es:'),
             ('Estado__c', 'No iniciada'),
             ('Favorita__c', False),
             ('Favorito_App__c', False),
             ('Forma_de_ingesta__c', None),
             ('Horario__c', None),
             ('Id_Actividad_Concatenada_Template__c', 'a0LRN000001csrm2AA'),
             ('Informacion_adicional__c', None),
             ('Instrucciones__c', None),
             ('Nombre__c', 'Lácteos'),
             ('Puntos_de_la_Actividad__c', 5.0),
             ('Repeticion_Tiempo__c', None),
             ('Revisar_por_el_profesional__c', True),
             ('Series__c', None),
             ('Total_Task_Com_Template__c', 2.0),
             ('Total_Task_Completion__c', None),
             ('Id_Actividad_Concatenada_Enrolamiento__c', None),
             ('Id_Actividad_Concatenada__c', None),
             ('Actividad_Invisible__c', False),
             ('Descripcion_Larga__c',
              'Completa la cantidad de lácteos consumidas durante el día.\n\nEste paso es crucial para seguir tu progreso y ajustar tu plan según tus necesidades.'),
             ('Mostrar_Si_Es_Un_Solo_Registro__c', False),
             ('Nombre_Personalizado__c', 'Lácteos')])

In [161]:
contact["LastReferencedDate"]

'2024-01-23T19:33:46.000+0000'