In [1]:
from pathlib import Path
import requests
import pandas as pd
import numpy as np
from io import StringIO
#from simple_salesforce import Salesforce
#import shutil
#import datetime
#from datetime import date
import json, re
#from pathlib import Path
#import pandas as pd
#import numpy as np
#from io import StringIO
import shutil
import datetime
from datetime import datetime,date
#import re
#import json
from pandas.api.types import is_numeric_dtype
from simple_salesforce import Salesforce, format_soql, format_external_id
from simple_salesforce.exceptions import SalesforceMalformedRequest
import simpler_sf

simpler_sf.simple_salesforce()


""" sf = Salesforce(
    username="jmartinez@careassistance.com",
    password="Jcmm01041983*",
    security_token="dxbNevVOmgmoQS4Zllh3DpNDj",
) """

' sf = Salesforce(\n    username="jmartinez@careassistance.com",\n    password="Jcmm01041983*",\n    security_token="dxbNevVOmgmoQS4Zllh3DpNDj",\n) '

In [2]:
with open("../login.json", "r") as j:
    misDatos = json.load(j)

In [3]:
# para smart query
""" sf = simple_salesforce.Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
 """
# para lo demas
sf = Salesforce(
    username=misDatos["username"],
    password=misDatos["password"],
    security_token=misDatos["security_token"],
)
# paramiko.util.log_to_file("paramiko.log")
regex = re.compile(r"([A-Za-z0-9]+[.-_])*[A-Za-z0-9]+@[A-Za-z0-9-]+(\.[A-Z|a-z]{2,})+")

In [4]:
query = "SELECT Id,Empresa__c,Paciente__c, N_Documento_Titular__c,Relaci_n_Con_Asegurado__c,Paciente__r.IdentificationId__pc, Nombre_del_Paciente__c from EmpresaContactoConvenios__c"
#query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

df2 = sf.smart_query(query)

100%|██████████| 1/1 [04:21<00:00, 261.84s/it]

In [5]:
df2.shape

(1312720, 7)

In [6]:
query2 = "SELECT Id,Rut_Titular__c,Empresa__c,Paciente__c,Relacion__c  from Reporte__c where Rut_Titular__c = ''"
#query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

df22 = sf.smart_query(query2)
df22.shape

100%|██████████| 1/1 [00:08<00:00,  8.03s/it]

(32, 5)

In [7]:
paciente = "SELECT Id,IdentificationId__pc from Account where IsPersonAccount = true "
#query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

pacienteSF = sf.smart_query(paciente)

100%|██████████| 1/1 [02:34<00:00, 154.01s/it]

In [8]:
empresa = "SELECT Id,Campa_a__c, Compania__c, Identificador__c, P_liza__c,Empresa__c,Empresa__r.Name from Datos_Empresa__c  "
#query2 = "select P_liza__c, Nombre_de_Empresa__c,Identificador__c, Rut_Empresa__c, Empresa_Padre__r.Name, Empresa__r.name,Holding__c, Plan__c, Pais__c, Activo__c, Id from Datos_Empresa__c "

empresaSF = sf.smart_query(empresa)

100%|██████████| 1/1 [00:09<00:00,  9.90s/it]

In [9]:
df2["llave2"] = df2["Empresa__c"] + df2["Paciente__c"] +   df2["Relaci_n_Con_Asegurado__c"]

In [10]:
df22["llave2"] = df22["Empresa__c"]+ df22["Paciente__c"]  + df22["Relacion__c"]

In [11]:
df2["esta4"] = df2["llave2"].isin(
    df22["llave2"]
)

In [12]:
df23 = df2[df2["esta4"] == True]
df23.shape

(0, 9)

In [13]:
df22["esta3"] = df22["llave2"].isin(
    df2["llave2"]
)
#df22 = df22[df22["esta2"] == False]

In [15]:
df22.head()
#df22 = df22[df22["esta2"] == False]

,Id,Rut_Titular__c,Empresa__c,Paciente__c,Relacion__c,llave2,esta3
0,a4JRN0000000iUb2AI,-,a3yRN0000006rsTYAQ,001RN0000018ZfaYAE,Carga,a3yRN0000006rsTYAQ001RN0000018ZfaYAECarga,False
1,a4JRN0000000iqW2AQ,-,a3yRN0000006sgLYAQ,001RN000000qjGQYAY,Carga,a3yRN0000006sgLYAQ001RN000000qjGQYAYCarga,False
2,a4JRN0000000ivA2AQ,-,a3yRN0000006rsTYAQ,001RN000002jia2YAA,Carga,a3yRN0000006rsTYAQ001RN000002jia2YAACarga,False
3,a4JRN0000000j2a2AA,-,a3yRN0000006s9KYAQ,0018c00002egqOWAAY,Carga,a3yRN0000006s9KYAQ0018c00002egqOWAAYCarga,False
4,a4JRN0000000ntz2AA,-,a3yRN0000006rlZYAQ,0018c00002giO5rAAE,Carga,a3yRN0000006rlZYAQ0018c00002giO5rAAECarga,False

In [16]:
df22.shape

(32, 7)

In [17]:
df22.to_excel("F:/Empresas SF/reportes/11111.xlsx", index=False)

In [18]:
df223 = pd.merge(
    left=df22,
    right=pacienteSF,
    how="left",
    left_on="Paciente__c",
    right_on="Id",
)

In [19]:
df223.to_excel("F:/Empresas SF/reportes/222222.xlsx", index=False)

In [ ]:
df2233 = pd.merge(
    left=df223,
    right=empresaSF,
    how="left",
    left_on="Empresa__c",
    right_on="Id",
)

In [ ]:
df2233.to_excel("F:/Empresas SF/reportes/rutes3.xlsx", index=False)

In [ ]:
datos = pd.merge(
    left=df2233,
    right=df2,
    how="left",
    left_on="Paciente__c",
    right_on="Paciente__c",
)

In [ ]:
df223.head()

In [ ]:
datos2.shape

In [ ]:
datos.head()

In [ ]:
datos.Empresa__c_x.fillna("FARSO", inplace=True)

#Pacientes_SF = Pacientes_SF[(Pacientes_SF["Rut"] != "NONE")]

In [ ]:
datos2 = datos[(datos["Empresa__c_x"]!="FARSO")]

In [ ]:
datos2.to_excel("F:/Empresas SF/reportes/rutes.xlsx", index=False)